[2019-09-05 11:44] dhruvkb opened #21 "Develop a programmatic API to access tokens"
A programmatic API to access and deal with tokens would be very beneficial.

Currently tokens are shipped as Stylus and SCSS variables as well as a JSON data file. This means any manipulation of the tokens, such as that performed in the token showcasing components, must be performed by parsing the JSON and going over all filters over and over again.

The API for colors, to begin with, could make i

[2019-09-05 12:46] dhruvkb opened #5 "Convert the colors to an HSL-based implementation"
Currently all our of [color tokens](https://opensource.creativecommons.org/cc-vocabulary/styleguide/#/Tokens/Colors) are defined as fixed [hexadecimal values](https://github.com/creativecommons/cc-vocabulary/blob/master/src/tokens/color.yml) taken from a [Wiki entry](https://wiki.creativecommons.org/wiki/Colors) written all the way back in 2014.

Hex values are notoriously human unreadable and are

[2019-09-06 07:04] dhruvkb opened #9 "Increase stylistic diversity in components"
Most components have a default version and two simplified versions, namely `slight`ly simple and `extreme`ly simple. The SwitchField is one that does not have these variants. The goal is to develop them.

[2019-10-07 21:44] kgodey commented on #1
@alexiaOkarabi Please post whatever questions you have about the work here. We've posted the details that we think are relevant to the issue in the issue description but it's possible we've missed something – however we don't know what those are unless you ask us more detailed questions.

[2019-10-31 11:58] dhruvkb opened #4 "Make Vocabulary compliant with the CC style guide"
The new [CC style guide](https://creativecommons.org/wp-content/uploads/2019/10/Creative-Commons-Style-Guide-2019.pdf) (from the [blog post](https://creativecommons.org/2019/10/30/cc-style-guide/) by @victoriaheath) contains a lot of differences from Vocabulary, notable in the color palette and typoraphical departments). Moreover, while the document outlines the guidelines for the copy and imagery

[2019-10-31 17:18] dhruvkb opened #8 "Sanitise license badges"
The license badges added in #146 have some issues that need to be addressed. See [below](https://github.com/creativecommons/vocabulary/issues/8#issuecomment-598049968).

<details>
<summary>Outdated issue description</summary>
<div>
A number of SVGs are embedded in the project.

- `icons/`
  - `license/`
    - `badges_full/`
      - by-nc-nd
      - by-nc-sa
      - by-nc
      - by-nd
      - by-s

[2019-11-13 05:53] dhruvkb opened #10 "Create the Vocabulary brand guidelines"
**Description**
We might need our styleguide to also present the brand identity of Creative Commons and Vocabulary. This will help us distinguish the functions of the styleguide from the storybook.

**References:**
- [Firefox brand](https://mozilla.design/firefox)
- [Mozilla brand](https://mozilla.design/mozilla/)

[2019-11-18 14:09] hugosolar opened #3 "Global stylus file"
**Description**
Create a single stylus file that imports all the single stylus files containing general styling and components. The idea is to have a global style file to automatically compile it using gulp

[2019-11-18 14:21] hugosolar opened #12 "Review components JS script files"
**Description**
Check and review components scripts to verify if they can be used outside Vue. If not, they may need to be converted to Vanilla JS in order to use them on any website (eg. Wordpress).

An automated process to minify and concatenate them should be needed as well

[2019-11-18 14:29] hugosolar opened #6 "Automate style compilation and script minification"
**Description**
Use gulp or another automation tool to :

- Compile stylus global file
- Watch stylus files when style changes were made
- Minify and concatenate JS files

[2019-11-21 14:35] dhruvkb opened #7 "Customize Theo output format to use HSL instead of RGB"
[Theo](https://github.com/salesforce-ux/theo) is currently configured to use the `web` transform, which causes all colors to be transformed to RGB, regardless of the format used in the `.yml` files. Going forward, as we migrate to the HSL scheme with creativecommons/vocabulary#5, Theo will need to be configured differently to preseve hue and saturation information in the final transformed tokens.

[2019-11-25 17:07] dhruvkb opened #2 "Create Figma/Zeplin components for prototyping"
**Description**
Designers prefer tools like Figma, Adobe XD, InVision and Zeplin for UI prototyping. Having components and a playground is okay but for actual speedy prototyping we need these assets available readily.

**Problems solved**
Having assets for one or two of the most popular of these tools would greatly simplify using Vocabulary in other apps while also making it easier to ideate chang

[2019-12-02 19:43] TimidRobot opened #1 "Need lightweight self-contained HTML error pages"
## Issue Description

We need lightweight self-contained HTML error pages that use the Creative Commons brand.
- should use CC [vo·cab·u·lar·y](https://opensource.creativecommons.org/cc-vocabulary/)
- should be simple and informative
- must be completely self-contained (all assets inlined)
- must be small (must not exceed 1.43MB)
- may provide instructions or next steps

For use on hosts:
- **403

[2019-12-03 04:09] dhruvkb commented on #1
Work done by @techievivek on creativecommons/creativecommons.github.io-source#131 can be used for reference as it has a very minimal design aesthetic.

[2019-12-03 06:44] dhruvkb opened #11 "Remove Vue.js and convert this to a styling only library"
Vocabulary is being split into two repositories, a styling only library (this) and a Vue.js component library internally dependent on the styling library ([creativecommons/vue-vocabulary](https://github.com/creativecommons/vue-vocabulary)).

This library has been built from the codebase of Vue Vocabulary so as to preserve the history of contributions upto the split. The goal is to strip the reposi

[2019-12-03 06:50] dhruvkb commented on #1
This had come up earlier too at https://github.com/creativecommons/vue-vocabulary/issues/7#issuecomment-558615367.

[2019-12-03 23:03] kgodey commented on #1
I assume this ticket's output should include both developing a component and automation to generate fully self-contained HTML pages from that component. @dhruvkb, if it would make more sense to split the issues up into two separate ones, please go ahead and do so.

[2019-12-03 23:06] kgodey commented on #5
Will this issue be updated with the new colors we decided on?

[2019-12-03 23:06] kgodey commented on #4
Will this issue be updated with the new colors we decided on?

[2019-12-04 06:19] dhruvkb commented on #5
We haven't decided on new functional hues as far as I'm aware. Removing the shades of the brand colours, leaving only the _default_, is on the roadmap. Tagging @panchovm to initiate a discussion on a new _shaded_ functional colour palette.

[2019-12-04 06:41] dhruvkb commented on #4
This issue is redundant considering #5.

[2019-12-04 06:41] #4 closed

[2019-12-04 20:35] panchovm commented on #2
I have discussed with the team to move from Sketch to Figma. The public component library will be a useful feature for future designs. However, right now, we just started by using Vocabulary in mockups.

[2019-12-04 20:39] panchovm commented on #5
For now, we only need to update the brand colors. The possible shades of brand colors and grayscale are still in discussion and will be defined after testing CC Search with users.

[2019-12-04 20:43] kgodey commented on #5
I think we're going to need some functional colors sooner for @hugosolar's work on the various website redesigns.

[2019-12-04 20:48] panchovm commented on #5
I understand. We can start trying new variations for the websites and then arrange a session to make definitions about which ones include or eliminate. It is essential to start from the look and feel based on the style guide document instead of a technical definition. In that form, we will achieve the design consistency desired.

[2019-12-05 01:15] dhruvkb commented on #2
Figma is actually pretty great! 👍

[2019-12-05 02:20] kgodey commented on #5
Sounds good. @hugosolar, please go ahead and use whatever colors you think make sense for now and we can discuss and add to Vocabulary once you have a first version done.

[2019-12-05 02:45] dhruvkb commented on #5
Can we use the old colours as our interim functional palette? There were [some really nice ones](https://github.com/creativecommons/vocabulary/issues/4#issuecomment-548341902) in that set.

[2019-12-05 02:49] kgodey commented on #5
What would the utility of an _interim_ functional palette be?

[2019-12-05 03:15] dhruvkb commented on #5
I am under the impression that having a clearly separate palette would allow @chidexebere to begin working on Outreachy (starting with creativecommons/vue-vocabulary#6) without the constant threat of his efforts getting overwritten, or worse invalided, by another round of breaking changes in the way we organise our colours.

Having an interim palette with placeholder colours allows us, specificall

[2019-12-05 03:18] kgodey commented on #5
That makes sense. Feel free to use an interim palette of your choice, but please mark it clearly as interim.

[2019-12-05 07:11] dhruvkb commented on #6
The 'build' part of the task been accomplished with e3fb559. Setting up Stylus to run with watch and auto-rebuild is already a part of the [Stylus CLI](http://stylus-lang.com/docs/executable.html) using the `-w` flag so no Gulp pipeline is required for this.

[2019-12-05 07:11] #6 closed

[2019-12-05 07:13] dhruvkb commented on #3
This was accomplished in 7456ddb and automated in e3fb559.

[2019-12-05 07:13] #3 closed

[2019-12-05 07:19] dhruvkb commented on #11
This has been achieved in d1128a9.

[2019-12-05 07:19] #11 closed

[2019-12-07 00:49] dhruvkb opened #13 "Vendor prefixes are missing from compiled CSS"
**Description**
The new compiled CSS files are lacking vendor prefixes. This should be addressed within the build process using Stylus plugins or otherwise.

**Reproduction**
Compile Stylus to CSS using
[code]
to see the absence of vendor prefixes in `output.css`.

**Expected behavior**
The output CSS should have vendor prefixes such as `-moz-` or `-webkit`.

[2019-12-16 16:10] brenoferreira opened #28 "Restyle buttons"
Restyle buttons according to this design document https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Vocabulary.-Design-Library?node-id=0%3A222

[2020-01-05 21:20] dhruvkb opened #22 "Consistent priority of color, brand, tone and indication"
**Description**
Almost all components support functional colours (and shades), brand colours, tonal colours and contextual colours as means of customisation. These are implemented in Stylus using the mixins `colors()`, `brands()`, `tones()` and `indications()` respectively. The order in which they are invoked in the Stylus files determines the priority order should conflicts arise.

**Reproduction

[2020-01-06 08:27] dhruvkb opened #14 "Theo output as CSS custom properties"
Theo currently outputs tokens as JSON (good for use in JS), Stylus files (good for apps built with Stylus) and SCSS files (good for apps built with Sass). But apps that do not use a pre-processor or framework are at a terrible loss due to a lack of token support.

Providing plain CSS tokens using modern CSS features like custom properties would allow apps without pre-processors to take advantage o

[2020-01-06 09:07] dhruvkb opened #15 "Transfer assets over from Vue Vocabulary"
Since Vue Vocabulary is only meant to be a Vue wrapper over the generalised Vocabulary design system, having SVG assets there is not a good idea.

The goal is to develop a build process for assets in Vocabulary and replace all assets from Vue Vocabulary with references to those assets from base Vocabulary, effectively adding Vocabulary to Vue Vocabulary's list of dependencies.

[2020-01-08 12:35] hugosolar opened #17 "Add new / modifying existent components to vocabulary according to new design"
Since we are working on a major redesign, some of the components need to be modified and others need to be added

These changes are taking place in the `vocabulary-framework` branch

### Existent components
- [x] Modifying header - [view on Figma](https://www.figma.com/file/V0nHqFuIeWvXjOyyxfzFiT/Library-tests.-Internal-use?node-id=38%3A229)
- [ ] Modifying navigation
- [ ] Modifying footer - [vie

[2020-01-08 23:12] dhruvkb commented on #17
I hope you will sync the changes to [creativecommons/vue-vocabulary](https://github.com/creativecommons/vue-vocabulary). That's because Vue Vocabulary is constantly being updated thanks to Outreachy and new GSoC aspirants and this repo has already gotten behind in syncing those changes.

[2020-01-08 23:15] kgodey commented on #17
@dhruvkb could you document somewhere the current workflow for making changes to these repos while they still have duplicated code?

[2020-01-09 00:10] dhruvkb opened #18 "Create a Storybook"
We need a [Storybook](https://storybook.js.org/docs/guides/guide-html/) to preview components as they would look and work without Vue. The goal is to use just Stylus and just plain JavaScript to build functional components that can be previewed with Storybook.

The storybook would contain the same components as the [Vue Storybook](https://cc-vue-vocabulary.netlify.com/storybook) but without using

[2020-01-10 14:09] dhruvkb commented on #13
[Autoprefixer](https://github.com/postcss/autoprefixer) and [Nib](https://github.com/stylus/nib) seem to be two viable candidates.

[2020-01-12 04:35] dhruvkb opened #20 "Switch to declarative Storybook syntax"
The Storybook that has been set up in the project uses the old Storybook configuration syntax consisting of `config.js` and `addons.js`. With the new release, Storybook is moving towards a new syntax with the old one to be deprecated and eventually discontinued.

The goal is to implement the [new syntax](https://medium.com/storybookjs/declarative-storybook-configuration-49912f77b78) so that there

[2020-01-12 04:47] dhruvkb commented on #15
This has been effectively achieved.

[2020-01-12 04:47] #15 closed

[2020-01-12 04:48] dhruvkb commented on #5
Issue #7 more accurately represents the end goal, plus a lot of the concepts in this issue statement here are misguided.

[2020-01-12 04:48] #5 closed

[2020-01-13 15:27] dhruvkb commented on #14
[This](https://github.com/salesforce-ux/theo#custom-propertiescss) might help.

[2020-01-13 15:41] #13 closed

[2020-01-13 16:10] dhruvkb opened #24 "Integrate JavaScript Standard Style with ESLint"
**Description**
The project follows [JavaScript Standard Style](https://standardjs.com) but doesn't configure it in ESLint. This causes new developers to either manually configure Standard or end up following their linter and submit problematic changes involving spaces, semicolons and the like.

**Reproduction**
Set up the repository in a fresh editor or IDE. Run code format. A number of code styl

[2020-01-14 02:22] dhruvkb opened #26 "Update Docker Compose configuration file"
The [Docker Compose file](https://github.com/creativecommons/vocabulary/blob/master/Dockerfile) for the project, written in the initial days of the project has now gone out of sync with the capabilities and features of the project. The goal is to update the file in accordance with the current state and eventually push for it to the the standard development environment for the project.

[2020-01-14 03:24] dhruvkb opened #27 "Make brand asset SVGs colorable"
**Description**
Since brand assets are SVGs, there is no reason for their colour to be restricted to black or white. SVGs can take the colour of surrounding content (see `FontAwesomeIcon`) and that should be the case with `BrandImagery` too.

**Problems solved**
This feature would allow brand assets to be coloured just like text, opening a whole new set of styling possibilities.

[2020-01-14 03:54] #14 closed

[2020-01-14 14:35] sharmaaditya570191 commented on #24
Hello @dhruvkb . Can I take this issue?

[2020-01-14 15:33] dhruvkb commented on #24
Sure @sharmaaditya570191, please go ahread.

[2020-01-15 21:00] annatuma opened #30 "Vocabulary logo (top left) in storybook goes to Open Source 404"
**Description**
Within Vue Vocabulary Storybook, e.g. here:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/vocabulary-welcome--welcome

The top left logo is linked to https://creativecommons.github.io/vue-vocabulary which redirects to https://opensource.creativecommons.org/vue-vocabulary which is a 404.

The logo should instead just take users to the Vue Vocabulary Storybook welcome

[2020-01-15 21:02] annatuma commented on #30
@hugosolar and @dhruvkb heads up on this minor navigational detail. Perhaps Chidi can get this sorted?

[2020-01-15 21:04] annatuma opened #31 "Remove Vocabulary Styleguide"
**Description**
The Vocabulary Styleguide is still online:
https://cc-vue-vocabulary.netlify.com/styleguide/

Let's remove this. If we can set a redirect on the URL, let's send it to the Storybook instead. It's confusing to have the Styleguide still live.

[2020-01-16 13:09] chidexebere commented on #30
I will take this up

[2020-01-17 13:27] dhruvkb commented on #31
@annatuma the Styleguide is still live because it is in the process of being ported over. We'll pull it down once the transfer to Storybook is complete.

[2020-01-17 16:54] #28 closed

[2020-01-17 19:27] annatuma opened #34 "Move Hover Colors from Figma LT to DL"
**Description**
Hover Colors are currently defined in Figma LT. They are approved.

Please:
1. Move to DL
2. Create a GitHub ticket for integration of Hover colors, assign to Breno.

[2020-01-17 19:29] annatuma opened #35 "Determine Negative/Positive/Probably Ranges & Add to Figma DL"
**Description**
We need to:
1. Review the currently named Negative/Positive/Probably colors in Vocabulary:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/tokens-colors--contexts
(Note, they will be moved to "Functional" shortly, so the link may change).
2. Determine which gradients of each color we will keep (currently 10, should be 3).
3. Add those colors to Figma DL
4. Create a tic

[2020-01-17 19:30] annatuma opened #36 "Updates to Colors"
**Description**
Within Tokens, we have Colors. Within Colors, we have Layers. We want to combine all Colors information into one page, i.e. no longer have Layers.

We will make the following updates:
1. Remove "Functional" layer and all its content/colors.
2. Add "Neutral Colors" (currently called "Grayscale") and "Binary" from Figma Design Library to Colors page.
3. Rename colors in "Contexts" la

[2020-01-17 19:40] annatuma opened #37 "Color Usage Guidelines Work"
**Description**
We need to:
1. Complete Color Usage Guidelines in Figma LT
2. Transfer to Color page in Figma DL
3. Create ticket for Breno to update the Color page in Vocabulary to include the newly added documentation. _We will try to have the Vocabulary page reflect Figma as closely as possible, exact outcome TBD._

[2020-01-17 20:05] annatuma opened #38 "Changes to Fonts & Typography"
**Description**
1. Move Typography documented from Figma LT to Figma DL.
2. Create ticket to make changes to Fonts in Vocabulary, assign to Breno.

**Ticket for Breno should contain the following:**
1. Rename "Fonts" page to "Typography" in Vocabulary.
2. Delete "Sizes" layer and "Weights" layer from "Fonts" component.
3. Integrate everything from Typography page in Figma DL into renamed "Typograp

[2020-01-17 20:14] annatuma opened #39 "Define Default Borders (e.g. in Buttons) & Radii"
**Description**
We need to define what our default borders are, for example, for buttons, and document that in Figma DL.

We also need to review each of the current Radii components (three layers: Rem, Em, Special), to determine which ones we want to keep versus remove at this time. **We must keep the necessary radius for buttons, based on our current button design.** There may be other use cases.

[2020-01-17 20:15] annatuma commented on #39
@brenoferreira and @hugosolar please review the Radii components in Vocabulary and think about which ones we need to keep and which ones we can remove:https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/tokens-radii--rem-based

Please indicate your views here.

@panchovm will define our default borders for buttons in these terms, and think about other uses cases.

[2020-01-17 20:25] annatuma opened #40 "Remove Shadows page/components"
**Description**
We want to remove the Shadows components from Vocabulary:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/tokens-shadows--standard

[2020-01-17 20:31] annatuma opened #41 "Add Spacing tokens"
**Reference**: Spacing in the Figma Library: https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A190

We need to set up spacing tokens in Vocabulary that match the spacing in the Design Library.

We should also add the documentation around Spacing to Vocabulary, probably as a Figma embed.

[2020-01-17 20:32] annatuma commented on #41
@brenoferreira  and @hugosolar please think about this and weight in on whether this approach to Spaces, and their use cases, in Vocabulary makes sense.

[2020-01-20 20:11] panchovm opened #43 "Integrate interaction colors"
Integrate the new palette called **Interaction** available on Design Library

[2020-01-20 20:11] panchovm commented on #34
Colors published in Figma's Design Library

[2020-01-20 20:11] #34 closed

[2020-01-20 23:05] panchovm commented on #35
After trying the colors in feedback messages, I decided to keep one green gradient for success feedback. However, errors and warnings color have changed. This because of accessibility contrast check and color saturation.

[2020-01-20 23:07] panchovm commented on #35
The three final colors meet the AAA accessibility contrast.

[2020-01-20 23:14] panchovm opened #44 "Update the context colors"
The changes are as follows:
1. Change the color category name to "Feedback"
2. Update the colors based on the Design Library version
3. Remove all the other colors left

[2020-01-20 23:15] #35 closed

[2020-01-21 04:11] #30 closed

[2020-01-21 11:22] hugosolar commented on #39
I'm in favor of using just 1 radio value, and that will be the button radius. I don't think we need more than that.
Also, I think we should use just `rem` units (but maybe that's part of another discussion)

[2020-01-21 15:51] panchovm opened #46 "Add font & typography definition"
**Reference**: "Typography" page in our Figma Design Library: https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A110

We need to integrate everything from the Typography page in Figma Design Library into a new "Typography" page in Vocabulary.

[2020-01-21 15:51] #38 closed

[2020-01-21 16:39] panchovm commented on #39
In the case of Figma, it is not allowed to keep borders blocked. That means, no matter our definition, it will be only documented as text instead of blocked by component (i.e., buttons and entries)

[2020-01-21 18:21] nilshah98 opened #47 "Issue with building documentation & library"
**Description**

After installing all dependencies and devDependencies using - `npm i --dev`
When I tried to build documentation using the command - `npm run build:documentation`
Also, produces the same error while trying to build library - `npm run build:library`

**Reproduction**

- Create a folder having space in the name like - `Creative Commons`
- Also folders having non ASCII values such as

[2020-01-21 18:39] dhruvkb commented on #47
You’re welcome to work on it @nilshah98. The build process is all inside `documentation/build.js`.

[2020-01-21 20:10] nilshah98 commented on #47
Thank you I'll try to work on the same.
Although at this stage I am unsure whether this is a bug in the `documentation/build.js` or developer dependencies for the application.

But, I'd like to claim this issue.

[2020-01-22 16:10] annatuma opened #48 "Updates to Vocabulary buttons"
**Description**
We need to make a series of updates to the Buttons in Vocabulary.

There should only be four button styles in Vocabulary:
- Primary
- Secondary
- Tags
- Donate

We should use Knobs to manage the: color, size, font style for _all_ buttons except tags. Tags should allow for changes to size and font style, but not color, they should always be White and Gray (gray on hover). The choice

[2020-01-22 16:12] annatuma opened #49 "Define hover colors for buttons"
**Description**
Currently there is insufficient contrast for Tomato and Forest Green buttons, as shown in Figma DL.

Contrast for Gold and White is sufficient.

We need to change the contrast color for Tomato and Forest Green, before we can work on this ticket: https://github.com/creativecommons/vocabulary/issues/48

[2020-01-22 16:13] annatuma commented on #48
@brenoferreira do not start work on this until you see that https://github.com/creativecommons/vocabulary/issues/49 is complete.

[2020-01-22 16:13] annatuma commented on #49
@panchovm when this ticket is complete, go to https://github.com/creativecommons/vocabulary/issues/48 and remove the "blocked" tag and leave a comment for Breno to indicate he can start work on that ticket. Thank you!

[2020-01-22 16:20] annatuma opened #50 "Add Form elements to Vocabulary"
**Description**
We want to create a Form element in Vocabulary that includes styles for Checkbox, Text Input, and Select per the Figma DL.

We should use Bulma styles if we can.

Figma DL:
https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A250

[2020-01-22 16:24] annatuma opened #51 "Remove Emoji element from Vocabulary"
**Description**
We want to remove the Emoji Elements (both styles - Outputs and With Text) from Vocabulary, as there is no use case at present.

[2020-01-22 16:35] annatuma opened #52 "Add GitHub Corners to Vocabulary Storybook"
**Description**
We want to:
1. Add GitHub Corners into the Vocabulary Storybook.
2. Update Invertible to have two knobs: Black on white, or White on black.
3. Keep Corners (they can be left or right).

Related ticket: https://github.com/creativecommons/vue-vocabulary/issues/118

THIS IS BLOCKED BY https://github.com/creativecommons/vocabulary/issues/62

[2020-01-22 16:50] brenoferreira opened #53 "Migrate to Sass"
Stylus and its CSS3 extension compiler [Nib](http://stylus.github.io/nib/) don't seem to be so actively maintained. Moreover, many CC websites use Sass as their CSS preprocessor. To standardize, we decided to migrate away from Stylus and adopt Sass SCSS syntax for Vocabulary.

[2020-01-22 19:52] panchovm commented on #37
The **Color page** has been transferred to DL. I will put a note on the new ticket that **Interaction colors** are in review based on the second work session's outcomes.

[2020-01-22 19:59] panchovm opened #54 "Add color tokens to Vocabulary"
**Reference**: "Color" page in our Figma Design Library: https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A72

We need to:
- Add all the color tokens under "Palettes" from the Design Library to Vocabulary so that they can be easily used in various components. We probably want Sass variables for these.
     - The token set names should match those in Figma (Brand, Neutral

[2020-01-22 19:59] #37 closed

[2020-01-22 20:25] panchovm commented on #49
I checked the contrast of Tomato with @hugosolar and worked well in code. The problem was Figma's color rendering. In the case of **Forest Green**, I defined a new color that is now available on Design Library. I will create a ticket.

[2020-01-22 20:25] #49 closed

[2020-01-22 20:26] panchovm commented on #48
The **blocked tag** has been removed. The new Forest green color for interaction is up to date. Now you can start @brenoferreira

[2020-01-23 14:11] dhruvkb commented on #24
@sharmaaditya570191 as we discovered in creativecommons/vue-vocabulary#109, this was actually a problem with `npm` rather than with ESLint or Standard. Closing.

[2020-01-23 14:11] #24 closed

[2020-01-23 14:13] dhruvkb commented on #9
Given the reversed focus of the design efforts in actually decreasing the stylistic diversity of the components, this issue doesn't make much sense. Closing.

[2020-01-23 14:13] #9 closed

[2020-01-23 14:14] dhruvkb commented on #18
A storybook has been created and deployed. Now the only remaining goal is to add components to it.

[2020-01-23 14:14] #18 closed

[2020-01-23 18:30] #36 closed

[2020-01-24 11:36] chidexebere commented on #53
Can I take this up?

[2020-01-24 14:15] dhruvkb commented on #53
@brenoferreira and @hugosolar can we start working on this making PRs component by component? We could start with `Button` since you've redesigned it according to @panchovm's specifications.

[2020-01-24 16:54] annatuma opened #56 "Bulma use - Proof of concept"

[2020-01-24 18:23] annatuma opened #57 "Remove Heading element and all styles from Vocabulary"
**Description**
We want to remove the Heading element, and all of its styles - Branded, Colored, Indicating, With Text, Levels.

We want to do this because we are using the Typography section for anything relevant to headings (size, color, etc.)

[2020-01-24 18:32] annatuma opened #58 "Add Image component to Vocabulary"
Figma reference: https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=576%3A0

We want to add an Image component with a hover style as shown in Figma to Vocabulary.

[2020-01-24 18:33] annatuma opened #59 "Add Hoverable and Circleable styles to Figma DL"
**Description**
We have this in Vocabulary, and it needs to match in Figma:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-imageview--scaled

[2020-01-24 18:41] annatuma opened #60 "Remove InputField Element & All Styles"
**Description**
We'd like to remove the InputField element and all associated styles:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-inputfield--branded

We are doing this because we are instead making use of the ChoiceField element, renaming it, and adding text input as an option there.

[2020-01-24 18:44] annatuma opened #61 "Changes to Form Elements"
**Description**
1.  Create Disabled Text Input:
We are missing the Disabled state from here:
https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A250
It needs to be added.

2. Create Hover version of Text Input.

[2020-01-24 18:54] annatuma commented on #61
Leave comments on these tickets indicating unblocked, when this ticket is complete:
https://github.com/creativecommons/vocabulary/issues/50
https://github.com/creativecommons/vue-vocabulary/issues/117

[2020-01-24 18:56] annatuma opened #62 "Add GitHub Corners to Figma DL"
**Description**
We want to:
Add GitHub Corners into Figma DL, based on what is in Vue Vocabulary, with the following exceptions:

-  Remove the Branded and Colored options.
- Maintain Black on White, or White on Black
- Maintain Corners (they can be left or right).
-  Remove Positions.

See: https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-githubcorner--branded

Related ticket

[2020-01-24 19:01] annatuma opened #63 "Add LicenseIconography to Vocabulary"
**Description**
We want to add the LicenseIconography element, currently in Vue Vocabulary, to Vocabulary.
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-licenseiconography--creative-commons

Once we have added this element and associated styles into Vocabulary, we'd like to do the following:

1. Break each icon into individual Styles, to match the Downloads page:
https://cr

[2020-01-24 19:05] panchovm opened #64 "Create a License Iconography page"
Create a License Iconography page in Figma. Separate them from all other icons

[2020-01-25 15:52] nilshah98 commented on #47
The same issue exists for - `npm run build:library`.
![image](https://user-images.githubusercontent.com/22821480/73123699-a56ae580-3fb8-11ea-9047-08ff7e328d6b.png)

Whereas - `npm run build:tokens` run perfectly well.

Should I open a new issue, for `npm run build:library` ?

[2020-01-27 15:39] annatuma opened #66 "Remove Paragraph Element and styles"
**Description**
We'd like to remove the Paragraph element and associated styles from Vocabulary. The use cases are captured in Typography.

[2020-01-27 15:43] annatuma opened #67 "Add Steps / Progress Bar to Figma DL"
**Description**
We're redesigning the Progress Bar style for Vocabulary. Currently the only use case is the License Chooser, where the progress bar looks completely different from the existing styles in Vue Vocabulary.

We want to:
1. Add new design of progress bar to Figma DL
2. Create tickets in Vocabulary & Vue Vocabulary to add this new style. (Francisco to do this once design work complete).

[2020-01-27 15:45] annatuma opened #68 "Remove Rating element & styles"
**Description**
We'd like to remove the Rating element and associated styles from Vocabulary. There is currently no use case for Rating.

[2020-01-27 15:57] annatuma opened #70 "Remove SelectField element and styles"
Blocked by: https://github.com/creativecommons/vue-vocabulary/issues/117

We are moving one SelectField style up to a new "Form" element. The rest we should remove. This should not happen until issue #117 is complete.

[2020-01-27 16:00] annatuma opened #71 "Remove Shield element & styles"
**Description**
We want to remove the Shield element and all associated styles from Vocabulary. There is presently no use case: https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-shield--scaled

[2020-01-27 16:03] annatuma opened #72 "Remove Statistic element and associated styles"
**Description**
We'd like to remove the Statistic element and associated styles:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-statistic--branded

The use case for number styling is captured in Typography.

[2020-01-27 16:06] annatuma opened #73 "Remove SwitchField & associated elements"
**Description**
We'd like to remove the SwitchField and all associated elements:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/elements-switchfield--branded

There's currently no use case.

[2020-01-27 16:11] annatuma opened #74 "Remove Container, Grid, GridCell"
**Description**
We'd like to remove Container, Grid, and GridCell elements and associated styles. We intend to replace them with a Grid from a third-party library.

Note: before this work happens we'll research a new system, and update the existing Vocabulary site.

[2020-01-27 16:13] annatuma opened #75 "Create way to use Bulma Grid System in Vocabulary"
**Description**
We plan to make use of Bulma's Grid instead of building it ourselves. We should update the Vocabulary storybook to document how to use Bulma's grid.

[2020-01-27 16:13] annatuma opened #76 "Update grid on Vocabulary site"
**Description**
After we decide on a new Grid system to use, we need to update the grid on the Vocabulary site.

This ticket is blocked by the research phase:
https://github.com/creativecommons/vocabulary/issues/75

[2020-01-27 16:16] annatuma commented on #75
Note, currently evaluating Bulma separately: https://github.com/creativecommons/vocabulary/issues/56 so further research should not duplicate that effort.

[2020-01-27 16:22] annatuma opened #77 "Remove Section (from Layouts) and Associated Styles"
We'd like to remove Section (from Layouts) and all associated styles:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/layouts-section--indicating

[2020-01-27 16:29] annatuma opened #78 "Add TabbedPane to Figma DL & Update Design"
**Description**
We need to:
1. Add TabbedPane to the Figma DL:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/layouts-tabbedpane--branded

2. Update the style of TabbedPane to be in line with our new overall look and feel.

3. Create tickets in Vocabulary and Vue Vocabulary to apply updates to TabbedPane, once the above steps are complete. (Francisco to create these tickets, assign t

[2020-01-27 16:31] annatuma opened #79 "Remove Tabbed (from Layouts) and Associated Styles"
**Description**
We'd like to remove Tabbed (from Layouts) and all associate styles:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/layouts-tabbed--branded

Note that we are maintaining TabbedPane (in use by Extension), and will be making design updates to it, to reflect use cases in License Chooser and CC Search.

[2020-01-27 16:35] annatuma opened #80 "Add Table to Figma DL, Redesign"
**Description**
We have Table (Layouts) in Vocabulary:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/layouts-table--bordered

We need to:
1. Add these to Figma DL
2. Redesign based on use cases (discuss, approve, etc.)
3. Create tickets in Vue Vocabulary and Vocabulary (assigned to Dhruv and Hugo) to update the existing Table (Layouts) to match what's in Figma DL.

[2020-01-27 16:36] annatuma opened #81 "Remove TableCell (Layouts) and style"
**Description**
We want to remove TableCell from Layouts in Vocabulary, as well as its one associated style (Indicating): https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/layouts-tablecell--indicating

[2020-01-27 16:42] annatuma opened #82 "Add Logos (formerly BrandImagery) to Vocabulary"
Blocked by: https://github.com/creativecommons/vue-vocabulary/issues/135

**Description**
In Vue Vocabulary, we are going to change the name of the BrandImagery (in Patterns) to be "Logos", and we are going to move it from Patterns to Elements.

Once this is done, we'd like to add the updated section, Logos, to Elements, in Vocabulary.

[2020-01-28 14:39] hugosolar commented on #17
Closing this in favor of new individual issues recently created

[2020-01-28 14:39] #17 closed

[2020-01-28 14:39] panchovm commented on #59
The hoverable image has been created on a new page, called **Images**, in Design Library. The circleable image is a Figma's feature that can not be blocked

[2020-01-28 14:39] #59 closed

[2020-01-29 15:44] panchovm commented on #50
The form page in Design Library has been updated with the above changes

[2020-01-29 15:46] panchovm commented on #61
Done. The new form page is available on Design Library

[2020-01-29 15:46] #61 closed

[2020-01-29 20:19] annatuma opened #86 "Move Cards from Figma LT to Figma DL"
**Description**
We need to move the Cards page to the Figma Design Library. Card names have been discussed and approved.

[2020-01-29 20:20] annatuma opened #87 "Add Cards from Figma DL to Vocabulary"
Blocked by: https://github.com/creativecommons/vocabulary/issues/86

**Description**
After the Cards are moved from Figma LT to Figma DL (documented in ticket above), we want to add each of the Cards to the Patterns section of the Vocabulary storybook. Note the names of the cards in Figma, and ensure those match as "Styles" in Vocabulary.

[2020-01-29 20:31] annatuma opened #88 "Add Definition (Patterns)"
**Description**
We want to make changes to the Definition (in Patterns).

First, we will make updates to Definition in Vue Vocabulary:
https://github.com/creativecommons/vue-vocabulary/issues/136

These updates are as follows:
1. Remove Colored and Indicating.
2. Rename Branded to be "Default"
3. Rework "Default" to only match the style necessary for the Vocabulary homepage.

Once these update are

[2020-01-30 12:35] hugosolar commented on #12
Closing this in favor of new individual tickets made for each elements

[2020-01-30 12:35] #12 closed

[2020-01-30 16:28] #56 closed

[2020-01-30 19:43] annatuma opened #91 "Add Header to Vocabulary"
Blocked by https://github.com/creativecommons/vocabulary/issues/100 where we just need to wrap up language changes to the Header.

We need to add the Header to Vocabulary to match the Figma DL: https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=179%3A0

[2020-01-30 19:45] annatuma opened #92 "Add Footer to Vocabulary"
We need to add the Footer to Vocabulary to match the Figma DL: https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=639%3A24

[2020-01-30 19:50] annatuma opened #93 "Add License Badges to License Iconography page in Figma DL"
**Description**
We need to add the License Badges, visible here:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/patterns-licensebadge--licenses

To the License Iconography page in Figma DL. (We will also be moving the License Badges into Vocabulary).

[2020-01-30 19:56] annatuma opened #94 "Add Locale into Figma DL"
**Description**
We need to create a new page, Locale, and add it to the Figma DL.

The current Locale in Vue Vocabulary looks like this:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/patterns-locale--standard

A potential alternate/similar style is that on the license pages:
https://creativecommons.org/licenses/by/4.0/

After this has been added to Figma DL, we need to create two ne

[2020-01-30 20:13] annatuma opened #95 "Create Icons page in Vocabulary"
**Description**
We need to create an Icons page in Vocabulary, based on the Icons page in the Figma DL:
https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135

[2020-01-31 21:01] annatuma opened #98 "Add existing CC product logos to Figma DL"
**Description**
Let's create a new page in the Figma DL, called "Product logos", and add all of CC's individual product logos into the Figma DL. For high-res versions, if those even exist, it's possible you'll have to sync with Hugo/Breno. Note, this is just an addition of the **existing** logos.

Products:
https://opensource.creativecommons.org/
https://summit.creativecommons.org/
https://certifi

[2020-01-31 21:02] annatuma opened #99 "Add Product Logos from Figma DL to Vocabulary"
Blocked by https://github.com/creativecommons/vocabulary/issues/98

**Description**
We need to create a new page in Vocabulary, called "Product logos", and add all of CC's individual product logos from the corresponding page in Figma DL.

[2020-01-31 21:05] annatuma opened #100 "Update Header language in Figma DL"
**Description**
We have approved language for the big header in the Figma DL. The language needs to be updated:
https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=650%3A1081

Approved language was pasted (in a dummy header) above the Big Header page.

[2020-02-01 01:19] kgodey commented on #43
I'm going to close this issue in favor of one issue for all colors: https://github.com/creativecommons/vocabulary/issues/54

[2020-02-01 01:20] kgodey commented on #44
I'm going to close this issue in favor of one issue for all colors: https://github.com/creativecommons/vocabulary/issues/54

[2020-02-01 01:20] #44 closed

[2020-02-01 01:20] #43 closed

[2020-02-01 01:27] kgodey opened #101 "Audit current Vocabulary issues."
Audit all current Vocabulary issues and PRs and make sure they are:
(1) accurate
(2) descriptive
(3) tagged correctly
(4) relevant

Make updates and close as needed.

[2020-02-01 01:30] kgodey commented on #71
This is no longer relevant with the new repo structure.

[2020-02-01 01:30] #71 closed

[2020-02-01 01:30] kgodey commented on #74
This is no longer relevant with the new repo structure.

[2020-02-01 01:30] #74 closed

[2020-02-01 01:30] kgodey commented on #68
This is no longer relevant with the new repo structure.

[2020-02-01 01:30] #68 closed

[2020-02-01 01:36] kgodey commented on #77
No longer relevant with new repo changes.

[2020-02-01 01:36] #77 closed

[2020-02-01 01:36] kgodey commented on #79
No longer relevant with new repo changes.

[2020-02-01 01:36] #79 closed

[2020-02-01 01:36] kgodey commented on #81
No longer relevant with new repo changes.

[2020-02-01 01:36] #81 closed

[2020-02-01 01:36] kgodey commented on #70
No longer relevant with new repo changes.

[2020-02-01 01:36] #70 closed

[2020-02-01 01:37] kgodey commented on #66
No longer relevant with new repo changes.

[2020-02-01 01:37] #66 closed

[2020-02-01 01:37] kgodey commented on #72
No longer relevant with new repo changes.

[2020-02-01 01:37] #72 closed

[2020-02-01 01:37] kgodey commented on #73
No longer relevant with new repo changes.

[2020-02-01 01:37] #73 closed

[2020-02-01 01:37] kgodey commented on #57
No longer relevant with new repo changes.

[2020-02-01 01:37] #57 closed

[2020-02-01 01:38] kgodey commented on #53
No longer relevant with new repo changes, we've moved to Sass.

[2020-02-01 01:38] #53 closed

[2020-02-01 01:38] kgodey commented on #51
No longer relevant with new repo changes.

[2020-02-01 01:38] #51 closed

[2020-02-01 01:39] kgodey commented on #40
No longer relevant with new repo changes.

[2020-02-01 01:39] #40 closed

[2020-02-01 01:43] kgodey commented on #39
I don't think we need radii since we're styling each element on its own. If we do, we can create a new issue.

[2020-02-01 01:43] #39 closed

[2020-02-01 01:54] kgodey opened #102 "Add Emoji to Vocabulary"
We need to add an Emoji component to Vocabulary. It can be based on the same Emoji component as the previous version of Vocabulary.

[2020-02-01 02:12] kgodey commented on #60
No longer relevant.

[2020-02-01 02:12] #60 closed

[2020-02-01 02:20] kgodey commented on #76
Closing in favor of #75, which I updated with actually implementing the grid. We're no longer going to be researching, we'll just use Bulma.

[2020-02-01 02:20] #76 closed

[2020-02-01 02:26] kgodey opened #103 "Add CC heart and circle logos to "Logos" in Figma DL"
See "Lettermark" and "Letterheart" in the knobs here:
https://cc-vue-vocabulary.netlify.com/storybook/?path=/story/patterns-brandimagery--creative-commons

They need to be added to the "Logos" in the Figma DL.

[2020-02-01 02:51] kgodey opened #104 "Update Vocabulary Plan with linked GitHub issues"
The plan for Vocabulary over the next month is documented here:
https://docs.google.com/spreadsheets/d/156knZdp1SmIweBemB19QWFOcxJ3bKjquRihM_tENcng/edit#gid=0

Please go through the list and create GitHub issues or link existing ones for any items that don't have a GitHub issue. This includes some items in Phase 1 as well as all items in Phase 2C, 3, and 4. You can leave the items missing in Phase

[2020-02-03 18:14] annatuma commented on #100
This is all set!

[2020-02-03 18:14] #100 closed

[2020-02-03 18:14] annatuma commented on #91
#100 is now complete, this ticket is no longer blocked by anything.

[2020-02-04 13:27] panchovm commented on #103
Done. The icons are in the file

[2020-02-04 13:27] #103 closed

[2020-02-04 16:48] brenoferreira commented on #102
I was looking at https://github.com/creativecommons/vue-vocabulary/issues/9

Are we going to be using Emoji so extensively to require use of Twemoji? What do you think about we using native emojis for now and if we realise later that we're having issues that Twemoji might fix, we can adopt it later

[2020-02-04 19:43] panchovm commented on #93
Done. All badges are now available on the same page in Design Library

[2020-02-04 19:43] #93 closed

[2020-02-05 07:04] adrijshikhar opened #106 "Link for the github repo in README is wrong"
Can someone provide me the right repo link so that I can fix it?

[2020-02-05 11:59] panchovm commented on #94
The element is in the Design Library

[2020-02-05 12:05] panchovm opened #107 "Add Locale element"
Add the **Locale** element based on the Design Library definition.

[2020-02-05 12:05] #94 closed

[2020-02-06 13:32] panchovm commented on #64
The icons are in the Design Library

[2020-02-06 13:32] #64 closed

[2020-02-06 14:40] panchovm commented on #86
Done. The cards have been moved.

[2020-02-06 14:40] #86 closed

[2020-02-06 16:11] panchovm commented on #98
Done. The product logos are in the Design Library

[2020-02-06 16:11] #98 closed

[2020-02-07 15:26] dhruvkb commented on #106
@adrijshikhar could you be a little more specific as to which link is wrong?

[2020-02-07 16:02] dhruvkb commented on #107
@panchovm the Locale element is essentially just a select field right? That is already been styled with Vocabulary. The rest of the component has no discernable CSS properties. Can we close?

[2020-02-08 12:42] Blackcipher101 commented on #106
@dhruvkb this one
![ ](https://media.giphy.com/media/kfLJSIDykkX7e5CuXM/giphy.gif)

[2020-02-08 13:03] Blackcipher101 opened #109 "The image links of creative commons,vocabulary are broken"
**Description**
The image links are broken

**Screenshots**
![Screenshot from 2020-02-08 18-33-03](https://user-images.githubusercontent.com/33775493/74085668-83399300-4aa1-11ea-87d3-282c860808ad.png)

**Want to take up?**
Yes

[2020-02-08 18:17] aashimgarg opened #111 "Adding the contributing guidelines in the readme"

[2020-02-08 18:18] aashimgarg commented on #111
I am working on this issue!

[2020-02-10 12:07] panchovm commented on #107
Select field but I will add an icon inside. Maybe it should be a new element, something called **select icon** or similar.

[2020-02-10 12:14] panchovm commented on #67
The progress section, and its components, are in the Design Library file.

[2020-02-10 12:14] #67 closed

[2020-02-10 12:15] fcoveram opened #112 "Add the Progress layout"
Add the Progress layout and its components: the white boxes to indicate the different states. The section is in Design Library.

[2020-02-10 12:22] panchovm commented on #2
Can we @kgodey close this issue? I think this belongs to our current workflow rather than a specific task.

[2020-02-10 12:24] panchovm commented on #62
Done. The components are available in Design Library

[2020-02-10 12:24] #62 closed

[2020-02-10 13:04] panchovm commented on #107
The component is updated. The sentence has changed and there is an icon.

[2020-02-10 16:34] dhruvkb commented on #107
Select fields with icon should also a variant of the select element itself. `Locale` as en element seems to be like a component in Vue-Vocabulary with no counterpart in Vocabulary.

[2020-02-10 16:37] dhruvkb commented on #2
Since @panchovm is already making the Figma DL which is our SSOT, and I opened the issue for exactly that purpose, I'll close it.

[2020-02-10 16:37] #2 closed

[2020-02-11 12:29] brenoferreira opened #113 "Add a column layout system"
Import Bulma's [flexbox column system](https://bulma.io/documentation/columns/) into Vocabulary and make it available in the built CSS bundle

[2020-02-11 12:32] brenoferreira opened #114 "Copy .scss files on build"
To allow a more flexible use of Vocabulary, we should during build time copy the .scss files to the `dist/` directory, so users of Vocabulary who also use SASS can import individual modules without having to import the full library if they choose to. They would also be able to use Vocabulary's defined variables like colors and spaces and font sizes

[2020-02-11 13:16] brenoferreira opened #116 "Update documentation deployment"
Currently, the automated build for all PRs are not passing 100% because of the Netlify automated documentation deployment, which was available in the old Vocabulary codebase, but is not currently available in this new codebase.

We should, initially, build and deploy the Storybook to Netlify and automate its deployment during the build phase of all PRs

[2020-02-11 14:45] #106 closed

[2020-02-11 17:22] #114 closed

[2020-02-11 17:23] #113 closed

[2020-02-11 18:04] panchovm opened #118 "Document the grid definition in Design Library"
Create a page for the grid and its uses. The document should consider responsiveness and full-screen cases like CC Search.

[2020-02-11 18:46] kgodey commented on #107
I'm fine with select fields with icons being a variation of the select element rather than a separate element. @brenoferreira thoughts?

[2020-02-12 08:22] dhruvkb opened #119 "Get landing page up"
The landing page for Vocabulary was deleting when adopting Bulma. The goal is to bring the landing page back up.

[2020-02-12 08:25] dhruvkb opened #120 "Update usage and contribution guidelines"
Once Vocabulary has been redeveloped, the usage and contribution guidelines will be out of date and will need major rewritings to be in sync with the new codebase. The goal is to update these guidelines and instruction documents.

[2020-02-12 08:31] dhruvkb commented on #120
References creativecommons/vue-vocabulary#167.

[2020-02-12 08:37] dhruvkb opened #121 "Set up continuous deployment"
Currently Vocabulary is being manually pushed to `npm`. This can be automated with CircleCI so that it can automatically build and publish the package once all tests pass successfully.

Best way to do this is to use some mechanism on Github Actions to detect when a new *tag* is pushed and trigger the run the [deploy script](https://github.com/creativecommons/vocabulary/blob/master/deploy.sh). It c

[2020-02-12 08:38] dhruvkb commented on #121
References creativecommons/vue-vocabulary#5.

[2020-02-12 18:33] brenoferreira opened #122 "Change link color"
Vocabulary overrides Bulma's color palette, including its link color. Code for that is [here](https://github.com/creativecommons/vocabulary/blob/master/src/styles/colors.scss#L42).

The `$color-turquoise` looks a bit too light in white backgrounds, with little contrast (see screenshot below).

<img width="579" alt="Screen Shot 2020-02-12 at 15 33 10" src="https://user-images.githubusercontent.com/

[2020-02-12 18:56] #122 closed

[2020-02-12 21:36] panchovm commented on #80
I forgot what we meant with "discuss, approve, etc…"

[2020-02-13 12:38] brenoferreira commented on #107
I'm not sure exactly how Bulma `select` component handles icons in it. When someone decides to implement this feature, they can find out. If it's out of the box, then we can just close this. But I'd keep this open until then

[2020-02-13 18:45] brenoferreira commented on #107
Bulma does support selects with icons, so we can use that https://bulma.io/documentation/form/select/#with-icons

[2020-02-13 18:48] brenoferreira opened #125 "Implement Navbar and Footer redesigns"
Designs: https://scene.zeplin.io/project/5dc5a56e81baec82fe6f7851

Implement only navbar and footer.

[2020-02-13 20:21] panchovm commented on #80
The table styles are in the Design Library file

[2020-02-13 20:21] #80 closed

[2020-02-13 20:24] panchovm opened #126 "Update the Table styles"
Update the Table's styles following the design in Design Library. The styles applied are only for cells.

[2020-02-13 20:53] panchovm commented on #78
Done. The Tab component is in Design Library now

[2020-02-13 20:53] #78 closed

[2020-02-13 20:55] panchovm opened #127 "Update the style of Tab component"
Update the style of Tab component based on the element available on [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=933%3A0&viewport=25%2C233%2C0.47611111402511597).

[2020-02-13 21:28] sharmaaditya570191 opened #128 "Update INSTRUCTIONS.md for vocabulary"
**Description**

The `INSTRUCTIONS.md` file contains instructions which are not relevant to `vocabulary` like `$ git clone https://github.com/creativecommmons/vue-vocabulary.git` and `$ cd vue-vocabulary/`. Also the scripts to start the servers - `$ npm run serve:website` and `$ npm run serve:styleguide` are not present in the `package.json` and need to be updated.

**Want to take up?**

Yes

[2020-02-13 22:30] sharmaaditya570191 opened #129 "Add webpack-dev-server as a development dependency"
**Description**

The `webpack-dev-server` provides us with a simple web server and the ability to use live reloading.  If we now change any of the source files and save them, the web server will automatically reload after the code has been compiled.

**Problems solved**

Currently we do not have any development tool for `vocabulary` and would have to refresh our browser every time we make changes

[2020-02-14 06:59] jshreyans opened #130 "Update Github-Corner stylesheets"
**Description**
Update the stylesheets for the `GithubCorner` component defined in [vue-vocabulary](https://github.com/creativecommons/vue-vocabulary) in accordance with changes requested in [#118](https://github.com/creativecommons/vue-vocabulary/issues/118) and discussed with @dhruvkb

**Problems solved**
Updates the configuration of the GithubCorner component as suggested by @annatuma

**Altern

[2020-02-14 17:59] dhruvkb commented on #129
@sharmaaditya570191 this is actually incorrect. Vocabulary when run with Storybook using the two commands
[code]
and
[code]
updates automatically without the need to refresh the browser. Let me know if this fixes the issue for you.

[2020-02-14 17:59] #129 closed

[2020-02-14 18:02] dhruvkb commented on #128
This is actually part of #120.

[2020-02-14 18:04] dhruvkb commented on #125
This is already assigned to @chidexebere in the plan.

[2020-02-14 18:47] kgodey commented on #125
This is an old issue for the footer in the Zeplin designs which has since been redesigned. @brenoferreira, @chidexebere is already working on implementing the footer component in Vocabulary, please coordinate with him.

[2020-02-14 21:37] sharmaaditya570191 commented on #129
I am able to run `Storybook` with the above commands but the main website is not running.

[2020-02-18 16:41] dhruvkb commented on #129
If by main website you mean the landing page, that's no longer present in the library. It was removed by a commit and will be re-added later on. Since that's a different topic we will not discuss more on that here.

[2020-02-20 20:34] dhruvkb commented on #99
This has been implemented in 34138fd.

[2020-02-20 20:37] dhruvkb commented on #63
`LicenseIconography` was actually just a wrapper on `FontAwesomeIcon`, so it cannot have a counterpart in Vocabulary. `LicenseBadge` assets can definitely be added to Vocabulary though, in a manner similar to the product logos.

[2020-02-20 23:19] dhruvkb commented on #82
All product logos are SVGs, so they will have no corresponding element in Vocabulary. The assets however will be added by the PR #131.

[2020-02-21 08:07] ravisaxena23 commented on #116
How Can I help in this. where should i start

[2020-02-21 08:10] ravisaxena23 commented on #126
which table want to be updated please direct me I'm new

[2020-02-21 08:13] ravisaxena23 commented on #120
is this issue over?

[2020-02-21 09:09] theprover97 commented on #22
Hi @dhruvkb , this issue is labelled 'blocked', but can I work on it. Or should I work on an issue that is preventing this from progressing.

[2020-02-21 15:37] kgodey commented on #116
This should be done now, @dhruvkb please confirm.

[2020-02-21 18:57] dhruvkb commented on #22
@theprover97 this issue is marked blocked because some other work on the repo will cause work on it to become redundant. It would actually be good if you took up something else.

[2020-02-21 18:57] #22 closed

[2020-02-21 20:19] dhruvkb commented on #116
Yep this is actually ready now.

[2020-02-21 20:19] #116 closed

[2020-02-21 20:23] dhruvkb commented on #120
Yeah @ravisaxena23, the PR #128 actually addresses the contribution guidelines. The usage guidelines can only be updated once the project is ready so there's nothing to do on this at the moment.

[2020-02-21 20:24] dhruvkb commented on #126
@ravisaxena23 this actually refers to the new designs for the `Table` and `TableCell` component that @panchovm has created. Let's take the conversation of finding a good issue to work on to Slack.

[2020-02-21 20:53] ravisaxena23 commented on #120
okay

[2020-02-21 21:06] kgodey commented on #82
@dhruvkb we'd like to show the logos in the Storybook for Vocabulary, is that not possible?

[2020-02-21 21:28] #99 closed

[2020-02-21 23:33] #128 closed

[2020-02-21 23:41] dhruvkb commented on #82
They're already shown in the Storybook. See for example, [this](https://cc-vocabulary.netlify.com/?path=/story/logos--cc-logomark) and [this](https://cc-vocabulary.netlify.com/?path=/story/logos--cc-vocabulary).

[2020-02-23 06:45] Dhruvi16 commented on #63
Hey! Can I take this up?
Thank you

[2020-02-23 13:31] dhruvkb commented on #129
The lack of autoreload was indeed present in the Storybook. Sorry @sharmaaditya570191 for dismissing the issue without a thorough check. It's now been addressed.

[2020-02-23 16:51] dhruvkb commented on #63
@Dhruvi16 this is still under discussion so it's not ready for work.

[2020-02-24 07:31] Dhruvi16 commented on #63
Cool! Will start working on `LicenseBadge`.
Thank you!

[2020-02-24 10:57] ravisaxena23 opened #138 "reducing build complexity."
**Description**
scripts build dist folder. when the build script is run it create SCSS files as well as CSS files. we only need css files during build.
Thus it increase the weight of build and increases space complexity and inconsisteny.

**Reproduction**
to check run current vocabulary repo.
**Expected behavior**
We Dont need scss in build as our everything is present in vocabulary.css

**Screens

[2020-02-24 17:50] dhruvkb commented on #138
This issue is not valid as the SCSS files are actually needed by Vue Vocabulary in the components. Just shipping the CSS files is not enough.

[2020-02-24 17:50] #138 closed

[2020-02-24 18:16] hugosolar opened #140 "Add Global Header component"
**Description**
Add the global header component from Figma DL

[2020-02-24 18:28] ravisaxena23 commented on #138
thanks for review

[2020-02-24 18:34] dhruvkb commented on #63
The stories in Vue Vocabulary have been taken down so as to avoid confusing caused from seeing two versions of a component (Vocabulary showing the new version and Vue Vocabulary showing the old ones). The stories are still present in the code though.

[2020-02-24 18:41] dhruvkb commented on #111
The guidelines are already present in `INSTRUCTIONS.md`.

[2020-02-25 09:30] kushaggarwal commented on #127
Hello,
I am Kush Aggarwal
I would also like to work towards the development of components for vocabulary library  and contribute so, can you please help as if how can I proceed for the same
Thanks

[2020-02-25 13:26] Dhruvi16 commented on #118
I could take this up.
Thank you.

[2020-02-27 00:10] kgodey commented on #118
I'll leave this up to @panchovm and @annatuma to decide if this is suitable for community work.

[2020-02-27 05:55] Dhruvi16 commented on #58
Hey! I would like to work on this.
Thank you.

[2020-02-27 18:43] dhruvkb commented on #118
@Dhruvi16 I've assigned to you a different issue which isn't blocked by time-consuming design and planning work.

[2020-02-27 21:26] panchovm opened #149 "Update the Header component"
We need to update the Header component based on the current version of Design Library in Figma. The new version updates the black section where all CC products are shown in a new layout.

The interactions should be applied as follow:
1. The product name should show an underline text style for the hover state
2. The donate button changes its background-color to GoldBrighter (found it in the interac

[2020-02-28 04:31] Dhruvi16 commented on #118
Yeah! Thanks for assigning me an available issue. Apologies for the multiple requests.

[2020-02-28 18:18] annatuma opened #151 "CC Open Source Homepage Wireframes"
_This task is open for community contribution during the application periods for GSoC and Outreachy, and will remain open until the application deadline has passed. Multiple people may complete this task._

**Description**
An upcoming internship project at CC is to integrate Vocabulary into CC Open Source and CC Global Network sites: https://opensource.creativecommons.org/internships/project-ideas

[2020-02-29 13:29] #130 closed

[2020-03-01 07:40] kushaggarwal commented on #151
Hello,
As in the issue mentioned above we have to redesign the look and feel of the CC Open Source and CC Global Network Site without any content change so, does the components of the site have to be aligned as per the vocabulary components
Can you please help

[2020-03-02 15:50] dhruvkb opened #153 "Integrate Figma with the storybook"
**Description**
The Figma file for design library contains a lot of instructions on the usage and development of more components. The contents of the Figma file make a valuable addition to the Storybook. A simple plugin embeds portions of the file in the storybook, so integrating it should meet our needs.

**Additional context**
- [Storybook addon](https://github.com/pocka/storybook-addon-designs)

[2020-03-02 17:05] annatuma commented on #151
@kushaggarwal the redesigns during the internship will require the use of Vocabulary.

This ticket is for wireframes, and only for CC Open Source. As mentioned you could use e.g. Moqups or Balsamiq for this. The first step in this redesign, which does not include content changes, is designing the layout/flow of the CC Open Source homepage.

[2020-03-02 17:05] pranshuls12 commented on #151
Hi, Can I help  with this issue ?

[2020-03-02 18:01] Tanuj22 commented on #153
@dhruvkb I would like to work on this.

[2020-03-02 18:17] kgodey commented on #151
Go ahead @pranshuls12, post your wireframes here. This issue is open to multiple contributors, which means others can also do the same.

[2020-03-02 18:32] kushaggarwal commented on #151
Thank you for your help will start working for the  same

[2020-03-03 14:50] Vineet-Sharma29 opened #156 "Dotted outline in buttons in firefox"
**Description**

**Reproduction**
- Click on a button

**Expected behavior**
There shouldn't any outline around button

**Screenshots**
![Screenshot from 2020-03-03 20-11-56](https://user-images.githubusercontent.com/35156299/75787233-6afd2100-5d8c-11ea-8e1b-3ae3056b47a1.png)

**Conditions:**

 - OS: Ubuntu18.04
 - Browser : Firefox
 - Version : 73.0.1 (64-bit)

**Want to take up?**

Yes. Can CC t

[2020-03-03 17:39] GeekBoySupreme commented on #151
This looks really interesting. Getting on this one.
We cannot change the contents but can change the visual hierarchy of the pages.
Is that right?

[2020-03-03 23:20] kgodey commented on #151
@GeekBoySupreme Yes. You can update the presentation of the content itself, but just not the actual content.

[2020-03-04 09:24] kushaggarwal commented on #127
Hello @dhruvkb please find the attached screenshot for the above element and guide if its fine so, that I can submit for the pull request of the same
Thank You

[2020-03-04 09:24] kushaggarwal commented on #127
![Screenshot 2020-03-04 at 2 51 15 PM](https://user-images.githubusercontent.com/44523552/75864485-17d8ac00-5e28-11ea-865b-05db9049e80d.png)

[2020-03-04 09:38] kushaggarwal commented on #153
If this issue is still open I would like to go for same
Thank You

[2020-03-04 16:41] dhruvkb commented on #153
@kushaggarwal we have a 7-day of inactivity rule before an assigned issue is re-assigned. Can you work on some other issue in the meantime? @Tanuj22 I didn't formally assign it to you immediately, sorry for that. Please go ahead and work on it.

[2020-03-04 17:05] kushaggarwal commented on #153
Okay sure no problem

[2020-03-04 18:55] #104 closed

[2020-03-04 18:56] #101 closed

[2020-03-04 20:10] kgodey commented on #82
Closing per @dhruvkb's comment.

[2020-03-04 20:10] #82 closed

[2020-03-04 20:14] kgodey commented on #75
@brenoferreira did this in https://github.com/creativecommons/vocabulary/pull/115

[2020-03-04 20:14] #75 closed

[2020-03-04 20:42] kgodey commented on #7
We're no longer using Theo.

[2020-03-04 20:42] #7 closed

[2020-03-04 20:45] kgodey commented on #10
We no longer use the styleguide.

[2020-03-04 20:45] #10 closed

[2020-03-04 20:48] kgodey commented on #119
We have a landing page now, as part of the Storybook.

[2020-03-04 20:48] #119 closed

[2020-03-05 02:31] dhruvkb commented on #27
This has been fixed by #131.

[2020-03-05 02:31] #27 closed

[2020-03-05 02:32] dhruvkb commented on #21
Since we've toned down the scope of functionality provided by Tokens, and completely eliminated Theo, the issue is no longer valid.

[2020-03-05 02:32] #21 closed

[2020-03-05 02:34] dhruvkb commented on #8
Logos have been sanitised. Licesnse badges, both large and small will be sanitised and added in #146.

[2020-03-05 02:38] dhruvkb commented on #47
It's all working fine now. We have the Netlify build and `npm` deployment both working as expected.

[2020-03-05 02:38] #47 closed

[2020-03-05 02:41] dhruvkb commented on #109
This has been fixed now.

[2020-03-05 02:41] #109 closed

[2020-03-05 06:28] kushaggarwal commented on #151
Hello @annatuma @kgodey as per the development of new wireframes for CC opensource do we have have to represent the updated design for all the pages at once or we can share some of the developed part with you prior to designing of all pages for feedback and suggestions
Can you please help
Thank you

[2020-03-05 19:31] Romicodes commented on #151
@kgodey  @dhruvkb  Any chance I could pick this up for Outreachy May 2020?

[2020-03-05 19:33] kgodey commented on #151
@Romicodes go ahead, this issue is open to multiple contributors.

@kushaggarwal sharing one page at a time is fine.

[2020-03-05 22:48] annlinros commented on #52
Hi, I am an Outreachy applicant for May 2020. Can I work on this?

[2020-03-06 05:27] kushaggarwal commented on #151
Okay @kgodey will do so

[2020-03-06 06:33] dhruvkb commented on #52
Yes, sure. Go ahead.

[2020-03-06 13:44] Bob160 commented on #151
Hello @annatuma and @kgodey,

As this issue is open to multiple contributors, I would like to take part in it.

Can I go ahead?

Thanks

[2020-03-06 16:27] dhruvkb commented on #151
@Bob160 sure, please and thank you.
@kgodey I do think there should be a way for everybody to get involved with this without conflicting with each other.

[2020-03-06 16:38] kushaggarwal commented on #127
@dhruvkb please see for the above pull request and advise if something needs to be rectified.
And also as there are many other components in figma design library which are yet to be implemented in vocabulary so, can I take up another component and start working for the same please help
Thank you

[2020-03-06 18:19] snunnington commented on #151
I would like to take a look at this too if possible?

[2020-03-07 06:00] 676308067 commented on #151
I am interested in this task, can I go ahead?

[2020-03-07 11:37] tinaShyp commented on #46
Hi, my name Tina. I am an Outreachy applicant for May 2020. I would like to work on your project. Can I please work on this issue, if it's still available?

[2020-03-07 11:52] mercyikpe commented on #112
Add the Progress layout  (#112 & #165)

https://github.com/creativecommons/vue-vocabulary/issues/165
https://github.com/creativecommons/vocabulary/issues/112

I'm working on this issue.
Thank you.

[2020-03-07 12:51] kushaggarwal commented on #151
Hello @kgodey @annatuma
Please find the below link for the wireframes of the CC Open Source and advise for any changes and improvements in the same. It currently consist of three pages of the current site
Link - https://www.figma.com/file/gN3puDIwMJXER8jxHEpuKR/CC-Open-Source?node-id=0%3A1
Thank you

[2020-03-07 14:39] terrifricker commented on #151
Here are some of my first ideas.  I really like the icons, so I would increase their size as well as making them color. (I used the 2019 Style Guide)  Above the navigation bar, add a photograph that uses many of the colors.  Scrolling down the page would hide the image, but the navigation bar should stay at the top.  Get rid of the links under the icons and just link to whichever page was most com

[2020-03-07 15:20] terrifricker commented on #151
Contribution Page - Based on the Open Source page with same navigation bar, same or different image using the same colors.  Then three or four obvious choices with large colorful buttons.

https://app.moqups.com/RQ6fQZsfhm/edit/page/ae2e7c544

[2020-03-07 15:47] terrifricker commented on #151
If traffic to current projects is important, it should have its own icon on the front page.
![Screen Shot 2020-03-07 at 7 45 06 AM](https://user-images.githubusercontent.com/51532684/76146457-c4dd3f80-6047-11ea-9d59-5b9c4fb57324.png)

[2020-03-07 19:34] kushaggarwal commented on #149
If this issue is still open I would like to go for the same @hugosolar @dhruvkb @kgodey
Thank you

[2020-03-07 19:57] 676308067 commented on #151
I think a top fixed header. a side scrollable navigation bar will be pretty good.
https://www.figma.com/file/rJMgwmq0SMHsX2SKh2vsR6/Updated-homepage-for-CC-Open-Source?node-id=0%3A1
![image](https://user-images.githubusercontent.com/61872891/76151529-ca984c80-606a-11ea-8481-0b2b33c191ed.png)

[2020-03-08 02:08] khelvn commented on #156
Hello, I would like to work on this.

[2020-03-08 04:48] terrifricker commented on #151
@kushaggarwal  I like the look of yours.

[2020-03-08 08:36] Kirti2502 commented on #20
I am an outreachy applicant and would like to work on it.
@dhruvkb may I take this issue?

[2020-03-08 12:24] dhruvkb commented on #20
Unfortunately @Kirti2502 this has already been implemented. Please pick another issue to work on.

[2020-03-08 12:24] #20 closed

[2020-03-08 12:30] dhruvkb commented on #151
I'm no designer but @kushaggarwal you are on the right track with regards to the appropriate use of Vocabulary. I would recommend all contributors to please go through the [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library) as that contains a lot of helpful guidelines to keep in mind while designing a new website.

[2020-03-08 15:30] jahnvigupta commented on #151
Hi everyone, I would like to know why do you want to change the design? What are the features you are looking for in the design?

[2020-03-08 16:03] mercyikpe commented on #112
@dhruvkb

![image](https://user-images.githubusercontent.com/29842348/76166421-b897d600-615e-11ea-9701-e63c72280230.png)
I don't understand what is causing this test to fail.

[2020-03-08 16:28] terrifricker commented on #151
@dhruvkb Thank you for the link to the Design Library.  I had only found the 2019 Style Guide pdf.

[2020-03-08 16:37] jahnvigupta commented on #54
I would like to take this issue.

[2020-03-08 16:46] dhruvkb commented on #54
@jahnvigupta PR #161 already addresses this issue, so, I'm afraid you'll need to find another issue.

[2020-03-08 16:48] dhruvkb commented on #151
@jahnvigupta a redesign was already in order given that we had to integrate Vocabulary with the site. We thought it might be a good opportunity _to identify, and resolve,_ any problems posed by the current design.

[2020-03-08 16:52] dhruvkb commented on #156
@khelvn I cannot assign it to you for a couple of reasons
- I'm not even sure this is an issue. The dotted border does look bad, but it is a functional part of accessibility and keyboard-driven usage.
- @panchovm might want to design a better looking version of the button that indicates focus. That would take time.
- @Vineet-Sharma29 already said he wanted to work on it, and since he found it, it

[2020-03-08 16:53] dhruvkb commented on #149
Chidi has already worked on building this component. @chidexebere could you point to this issue in your PR?

[2020-03-08 16:54] dhruvkb commented on #46
@tinaShyp PR #161 already adresses this issue. Could you find another issue to work on?

[2020-03-08 16:57] kushaggarwal commented on #149
Okay no problem @dhruvkb can you please guide as if can I work on the implementation of other components of figma library
Thank you

[2020-03-08 17:03] kushaggarwal commented on #151
Thank you very much @dhruvkb for your valuable feedback. Please guide for any suggestions and improvements for the same if you find any will be happy to work on them
Thank you

[2020-03-08 17:03] dhruvkb opened #165 "Write unit and visual regression tests"
**Description**
The project currently does not define tests for any of the components. That, although okay in the present, would pose problems down the line when a lot of contributors would be working on the project. So the goal is to add unit testing to the repository and also setup a CircleCI task to run these tests on every PR.

**Problems solved**
Tests make it easy to identify breaking change

[2020-03-08 17:32] Qay-Tekkie commented on #92
@annatuma I am an Outreahy applicant. Please can i work on this issue?

[2020-03-09 02:45] khelvn commented on #156
@dhruvkb please is there any other issue you could assign me

[2020-03-09 13:00] chidexebere commented on #92
Hello @Qay-Tekkie , this is already being worked on. Kindly pick another issue

[2020-03-09 13:36] panchovm commented on #156
I am not sure how firefox renders the focus state of buttons. I was pretty sure that the border was on the whole button and not on the label. Might that be a front-end issue? If it is not, then let's not change the native browser definition. It is crucial for accessibility.

[2020-03-09 13:53] tinaShyp commented on #48
Hi, my name Tina. I am an Outreachy applicant for May 2020. I would like to work on this issue, if it's still available?

[2020-03-09 14:25] Vineet-Sharma29 commented on #156
this is resolved by adding `::-moz-focus-inner {border: 0;}` to button's class. It will not affect outline.

[2020-03-09 16:09] brenoferreira opened #167 "Create separate bundles"
Vocabulary will be used in many different CC websites, such as:

* cc.org
* CC Network
* CC Summit
* CC Search

And Vocabulary can end up containing components that are particular to a couple of different websites, but not others.

Vocabulary is modular, so for websites that use SASS, it's easy to import the modules you need. But if we need to import individual modules all the time, usage of Vocab

[2020-03-09 16:21] hugosolar commented on #167
I don't think this is not necessary at this point... websites are going to share a lot of components and that's the idea.
I think it's enough just by using the components you need for the project, that's the idea of using Sass and turning vocabulary in a sort of framework.
Frameworks like bulma or foundation come with a large number of different components and elements and it's not mandatory to us

[2020-03-09 16:27] brenoferreira commented on #167
Should I close this? If we need it in the future we can reopen it

[2020-03-09 16:32] hugosolar commented on #167
Maybe we can wait for @kgodey feedback

[2020-03-09 17:53] Bob160 commented on #151
Hello @dhruvkb and @kgodey and @hugosolar kindly find below the link to my wireframe for the CC Open Source: https://www.figma.com/proto/4t74EuJixiRICqub7fo3JV/CC-wireframe-Colors?node-id=14%3A68&scaling=min-zoom

[2020-03-09 18:04] dhruvkb commented on #167
I think that the onus of making bundles should be on the sites rather than on Vocabulary. Sites can import the Sass files they need and their own Webpack setup will handle the bundling.

[2020-03-09 18:09] dhruvkb commented on #48
@tinaShyp the `Button` component has been developed. You could help write MDX stories to illustrate all the forms of the button as seen in Figma.

[2020-03-09 21:01] Tanuj22 commented on #165
@dhruvkb Can I work on this?

[2020-03-09 21:33] hugosolar commented on #151
Hey @Bob160 I got a 404 with the given URL

[2020-03-09 23:13] #87 closed

[2020-03-10 07:33] dhruvkb commented on #165
Before you start, it would be a good idea to explain your approach and the tech you'll be using.

[2020-03-10 10:26] Bob160 commented on #151
Ooops, my sincere apologies @hugosolar @annatuma @kgodey @dhruvkb

Please find attached the new link to my draft of the wireframe. It includes 2 pages: Homepage and Blog.

https://www.figma.com/file/4t74EuJixiRICqub7fo3JV/CC-wireframe-Colors?node-id=0%3A1

I'm open to suggestions and improvements.

Thanks

[2020-03-10 16:05] megha070 commented on #95
@dhruvkb I am an outreachy aspirant, I am new to open source and wants help in getting started with the same. Kindly help me out, also I wanted to inquire if I can work on this issue.

[2020-03-10 18:12] Siyubu commented on #50
I am Solange, an Outreach applicant. I would want to work on this

[2020-03-11 03:43] guArroyo commented on #63
Hello! Outreachy applicant here. Can I also work on this as a contribution? Thanks

[2020-03-11 07:33] dhruvkb commented on #95
@megha070 please feel free to take it up. Do look into [Storybook DS docs](https://storybook-design-system.netlify.com/?path=/docs/design-system-icon--labels) and its source code for pointers to get started.

[2020-03-11 07:35] dhruvkb commented on #50
@brenoferreira I believe you are working on this with PR #169. If possible could you help @Siyubu find some way to contribute?

[2020-03-11 07:38] dhruvkb commented on #63
Sure @guArroyo we use the [brand icons from Font Awesome](https://fontawesome.com/icons?s=brands) for the license icons. The output of this issue will be similar to that of #95.

[2020-03-11 09:44] Emuohwo commented on #95
I would like to work on this issue if it has not been assigned yet.

[2020-03-11 10:19] dhruvkb commented on #95
Sorry @Emuohwo it has been assigned to @megha070. Please feel free to find another issue that hasn't been assigned.

[2020-03-11 11:09] Tanuj22 commented on #165
@dhruvkb I am new to testing but this is what I found for Storybook Snapshots(https://www.npmjs.com/package/@storybook/addon-storyshots). In unit testing do we need to check the CSS? If yes, this is what I found https://storybook.js.org/docs/testing/react-ui-testing/#3-cssstyle-testing . Am I heading in the right direction?

[2020-03-11 13:24] jahnvigupta commented on #151
Please have a look at my design and I would love to hear your feedback.

https://www.figma.com/file/86FD6wRY3YEp5HPentZqU5/Untitled?node-id=0%3A1

[2020-03-11 15:56] kgodey commented on #167
Agreed with @dhruvkb and @hugosolar

[2020-03-11 16:48] dhruvkb commented on #102
@kgodey finally what are we doing about Emoji? Do we parse them and render SVGs for consistency or do we allow the OS to handle it without our interference?

[2020-03-11 16:49] dhruvkb commented on #156
@panchovm should we alter the CSS to ensure the border comes on the border of the component?

[2020-03-11 19:34] #153 closed

[2020-03-11 20:10] kgodey commented on #156
adding the "blocked" label until @panchovm responds.

[2020-03-11 20:12] kgodey commented on #48
Reopening this issue since buttons in Vocabulary/Figma are not in sync. Currently we don’t have all the buttons in Figma available in Vocabulary, and we have some extra buttons in Vocabulary that are not in Figma and should be removed.

[2020-03-11 20:17] kgodey commented on #102
I don't think we'll be using emojis very much so I think we should close this and reopen later if we need it.

[2020-03-11 20:17] #102 closed

[2020-03-11 20:23] panchovm commented on #156
Let's apply what @Vineet-Sharma29 proposes.

[2020-03-11 21:08] kgodey commented on #8
@dhruvkb can this be closed?

[2020-03-12 05:53] 676308067 commented on #151
Hello @dhruvkb , @kgodey and @hugosolar I thank you all for your guide. Based on @Dhruvi16 reference to the Design Library I was able to come out with this. Please check the link below to see.
https://www.figma.com/file/BEIHKlkeNAnFhl7mNagKuQ/Untitled?node-id=0%3A1

![image](https://user-images.githubusercontent.com/61872891/76491463-f741c080-63ea-11ea-9e2d-902fbceea706.png)

[2020-03-12 07:44] dhruvkb commented on #8
@kgodey no actually. The license badge assets added in #146 have some issues that, since not addressed in the original PR, should ideally be addressed in this issue.
- too much metadata: Metadata is not an issue in itself, but a lot of metadata in files being served over the internet can bloat the SVGs and increase the bundle sizes.
- incoherent sizes: the CC0 and PD license badges have the same a

[2020-03-12 07:49] dhruvkb commented on #151
I've assigned @panchovm as he's the most qualified person for feedback on designs.

[2020-03-12 08:04] jahnvigupta commented on #151
@panchovm Please have a look at my design and tell if I am going in the right direction.

[2020-03-12 08:25] kushaggarwal commented on #48
If this issue is open can I attend to this
@dhruvkb @kgodey please help

[2020-03-12 09:33] Bob160 commented on #151
Ooops, my sincere apologies @hugosolar @annatuma @kgodey @dhruvkb @panchovm

Please find attached the link to my draft of the wireframe. It includes 2 pages: Homepage and Blog.

https://www.figma.com/file/4t74EuJixiRICqub7fo3JV/CC-wireframe-Colors

I'm open to suggestions and improvements.

Thanks

[2020-03-12 10:19] kushaggarwal commented on #151
Hello @panchovm please have a look at my design too and provide a feedback for the same as per what changes or improvements can be done for further enhancement
Thank you

[2020-03-12 10:20] dhruvkb commented on #165
@Tanuj22 storyshots looks like a good place to start. Make a PR to set up storyshots with just one component as a pilot.

[2020-03-12 10:37] dhruvkb commented on #48
@kushaggarwal this issue might move slowly due to feedback-update iterations with Francisco. I've shared a different issue with you that's good for new contributors.

[2020-03-12 10:44] kushaggarwal commented on #48
Okay @dhruvkb will go for the issue as guided by you.
Thank you very much for your help

[2020-03-12 13:27] 676308067 commented on #151
Hello @panchovm please also have a look at mine by visiting the link below and throw some feedback.
https://www.figma.com/file/BEIHKlkeNAnFhl7mNagKuQ/Untitled?node-id=0%3A1

![image](https://user-images.githubusercontent.com/61872891/76526213-6db1e300-642a-11ea-81e2-095338f9e6a9.png)

[2020-03-12 14:03] silvinabt87 commented on #156
Hi! If this issue isn't solved yet, I'd like to contribute

[2020-03-12 15:02] dhruvkb commented on #156
@silvinabt87 it is actually solved by @Vineet-Sharma29's PR #172. You (both) can contribute to #165 as that one's wide open!

[2020-03-12 15:28] #91 closed

[2020-03-12 19:26] kgodey commented on #126
@dhruvkb will be working on this. @dhruvkb, please use Bulma's styles as much as possible while implementing this.

[2020-03-12 19:38] dhruvkb opened #174 "Header is broken after token updates"
**Description**
A) The `header.scss` file breaks after the token changes made in #161. Changes to spacing tokens, color tokens break the stylesheet.

B) Simultaneously changes to the Logos story breaks the Header story too.

**Reproduction**
A) Clone the repository and build the stylesheets on the `master` branch at 35484bb with `npm run build`
B) Start storybook with `npm run storybook`

**Expect

[2020-03-12 19:46] dhruvkb commented on #91
Header is broken after #161 changed color token names. Main issue: #174.

[2020-03-12 20:06] dhruvkb commented on #174
A temporary measure would be to
- remove `header.scss` from `vocabulary.scss`
- rename `header.stories.js` to `header.stories.js.bak`

[2020-03-12 20:11] dhruvkb commented on #174
A proper solution would involve
- finding all uses of tokens, mainly spacing and colors and replacing them with the proper names
- updating the stories to use MDX and not import content from other stories

[2020-03-12 21:26] annatuma commented on #151
Thanks everyone for the many contributions over the past several days.

Some initial feedback:

@kushaggarwal the direction of your wireframes is excellent, although I will say they are closer to being full-fledged mockups. I appreciate your use of CC's brand colors. For Desktop 3, are you proposing a potential alternative to the top of the page design shown in Desktop 1? Not necessary, but I do r

[2020-03-13 06:35] Chigael commented on #174
Hi I am Abigael, please i would love to work on this issue, is it still open?

[2020-03-13 07:33] jahnvigupta commented on #174
I would like to take this issue.

[2020-03-13 11:48] brenoferreira commented on #156
I couldn't reproduce this on FF 73.0.1 (64-bits) on Mac OS 10.15.3.

The proposed solution in #172 isn't recommended by Mozilla https://developer.mozilla.org/en-US/docs/Web/CSS/::-moz-focus-inner

[2020-03-13 13:05] dhruvkb commented on #156
@brenoferreira I was also skeptical about its impact from a11y.

[2020-03-13 13:06] dhruvkb commented on #174
@Chigael and @jahnvigupta this was time constrained so I had to step in and solve it. Sorry but, as you can see, it was solved 10 hours before you asked.

[2020-03-13 14:22] silvinabt87 commented on #165
I'd like to contribute to this issue too, if possible. I'm currently investigating about it using the links @dhruvkb and other contributors provided. Is there any advice you would give me to work on this? (apart from the info given on this thread and on the chat)

[2020-03-13 15:16] jahnvigupta commented on #165
Do you want test to make sure that the designs are according to your requirement?

[2020-03-13 15:26] terrifricker commented on #151
Thank you for the feedback annatuma.  It is really appreciated.

[2020-03-13 18:36] dhruvkb commented on #165
I've asked @Tanuj22 to setup [the Storyshots addon](https://github.com/storybookjs/storybook/tree/master/addons/storyshots/storyshots-core) for our Storybook. That addon and the snapshots that it takes will be our visual tests.

@silvinabt87 you can look into [True](https://github.com/oddbird/true) which is a unit testing library for Sass. You can setup the framework and write some pilot unit test

[2020-03-13 20:52] kushaggarwal commented on #151
Thank You @annatuma for your valuable feedback and suggestions
Will definitely go accordingly and attend to all the changes and improvements as mentioned by you

[2020-03-13 21:05] kushaggarwal commented on #165
Hello @dhruvkb
Just to get a bit of a clear picture for myself can you please help as if what are all the things that we are aiming to develop test for under unit testing for this
Thank you

[2020-03-13 21:40] dhruvkb commented on #165
We use Sass as our CSS pre-processor. We don't write raw CSS. So with unit testing we are trying to make sure that post conversion, the CSS meets some rules that we will define.

_For example_, we've set the rules for header `font-family` and `font-size` in `typography.scss`. With unit testing, we can quickly check that our SCSS, which looks a little like this:
[code]
when compiled, contains this:

[2020-03-13 21:43] dhruvkb commented on #165
Sorry for the random assignments, there are some issues with the design of my GitHub client especially in the positioning of the 'Clear assignees' button.

[2020-03-15 16:39] kushaggarwal commented on #165
Hello @dhruvkb  as guided by you I looked upon for working with the library **True** for unit testing of sass components and tried doing some testing myself too for better understanding
So, can you please guide as how to proceed further with the same in reference to this issue
Thank you

[2020-03-15 18:35] dhruvkb commented on #165
@kushaggarwal I'm actually waiting for @Tanuj22 to setup Storyshots and @silvinabt87 to setup True. I can urge them to speed this up if possible but till then you will have to wait.

[2020-03-15 20:19] silvinabt87 commented on #165
I've created an issue (https://github.com/oddbird/true/issues/161) on the repo of oddbird/true because on the True documentation I found the way to test mixins and functions, but not how to test @each.
There are no mixins nor functions on any of the SCSS files to test.
I've already set the tests and they seem to work running 'npm run test'. I will add a draft PR for you to follow up and help me.

[2020-03-15 20:27] Bob160 commented on #151
@annatuma your feedback is highly appreciated, Thank you very much.
 I have resumed work on the wireframe to effect the necessary changes.

[2020-03-15 21:31] Tanuj22 commented on #165
@dhruvkb Sorry for the delay. I am having trouble setting up jest. How do I set it up recognise `import` statements in `storybook.test.js`  file?

[2020-03-16 00:56] vandnakapoor19 commented on #165
@dhruvkb Can I work on this?

[2020-03-16 04:49] dhruvkb commented on #165
@Tanuj22 I don't get your question. Since I don't have first-hand experience with 'Storyshots' or 'Automated Visual Testing', I hope you're following [this guide](https://storybook.js.org/docs/testing/automated-visual-testing/).

@vandnakapoor19 yes, please.

[2020-03-16 08:19] dhruvkb commented on #165
PR #179 with True and Jest has been merged and correspondingly the goal of the issue is now to write tests covering the majority of stylesheets in the repository from tokens like `colors.scss` and `spacing.scss` to entire components like `header.scss`.

[2020-03-16 11:21] kushaggarwal commented on #165
Hello @Tanuj22 are you looking up for how to use import statement in `storybook.test.js` file ?

[2020-03-16 15:02] Tanuj22 commented on #165
@dhruvkb Yeah I am. @kushaggarwal Yeah.

[2020-03-16 15:21] #140 closed

[2020-03-16 17:44] kushaggarwal commented on #165
@Tanuj22 I tried unit testing with jest and for that didn't include/import anything in the js file although I did change the type of test in `package.json` to `jest` for working with it
Further for testing I just run the command `npm run test` and it automatically run as per the jest test for the code
Below is an image for reference where in I am checking the sum of two no.s and running a unit tes

[2020-03-16 19:12] jahnvigupta commented on #165
@kushaggarwal Which OS are you using?

[2020-03-16 19:30] dhruvkb commented on #88
This won't be necessary anymore.

[2020-03-16 19:30] #88 closed

[2020-03-17 12:46] Emuohwo commented on #63
@dhruvkb I am seeing multiple contributors badge.  can I join the existing contributor on this issue?

[2020-03-17 12:57] #107 closed

[2020-03-17 14:02] #126 closed

[2020-03-17 14:58] dhruvkb opened #181 "Ensure Figma designs linked to all stories"
**Description**
Every story in [the Vocabulary storybook](https://cc-vocabulary.netlify.com) should be associated with a Figma node from the Design Library.

**Problems solved**
This allows us to immediately connect Figma designs with their implementation in code, making it easy to keep the design and code in sync.

[2020-03-17 18:10] silvinabt87 commented on #165
I created a unit test for color.scss so that you can revise it. The thing is that, according to the advice [here] (https://github.com/oddbird/true/issues/161), I put the @each rule within a @mixin to be able to test it with True and then ran the code on https://www.sassmeister.com/ to create the expected CSS code. It seems to me that it doesn't make much sense to test that this way, since it will

[2020-03-17 19:01] dhruvkb opened #183 "Global Header conflicts with Header"
**Description**
At present both Global Header and Header use the `.navbar` class from Bulma in the component, leading to both their `.scss` files overriding the same Bulma variables. When used together, as would happen were PR #176 to go through, the Header component would render with incorrect styles.

**Expected behavior**
Only the Header component should use `.navbar` as functionality-wise Head

[2020-03-17 19:17] dhruvkb commented on #165
@silvinabt87 reviewed.

[2020-03-17 22:45] megha070 commented on #181
@dhruvkb I would like to work on this.

[2020-03-18 02:14] #183 closed

[2020-03-18 04:47] jahnvigupta commented on #181
I would like to work on this issue @dhruvkb .

[2020-03-18 06:02] dhruvkb commented on #181
@megha070 and @jahnvigupta and **future contributors**, to avoid conflicts, I would recommend that
- you pick your component and state it in the conversation
- immediately open a draft PR (naming the component in the title)
- making individual, independent PRs per component to avoid merge conflicts

You can refer to the story of Input for examples. The Design Library can be found [here](https://ww

[2020-03-18 06:21] dhruvkb opened #185 "Ensure that the code samples are correct"
A lot of stories feature repetitive code. To avoid duplication we generally use functions like
[code]
and then we write stories like
[code]

This eliminates the code repetition but leads to incorrect code previews.
![Screen Shot 2020-03-18 at 11 45 35](https://user-images.githubusercontent.com/16580576/76931110-00142400-690e-11ea-96f6-0c74c8a10a04.png)

The correct code can be inserted into the pr

[2020-03-18 06:37] dhruvkb commented on #63
Yes @Emuohwo. Can you split the work between yourself and @guArroyo?

[2020-03-18 06:53] jahnvigupta commented on #181
I will do it for cards.

[2020-03-18 07:25] jahnvigupta commented on #181
I will do it for buttons.

[2020-03-18 07:28] Blackcipher101 commented on #52
If no one is working on this issue can I work on it @dhruvkb

[2020-03-18 10:54] megha070 commented on #181
I will do for License Badges

[2020-03-18 12:38] brenoferreira commented on #156
No one on our team was able to reproduce this. It seems to me this probably doesn't affect many users. And since this solution isn't recommended, I'm closing this

[2020-03-18 12:38] #156 closed

[2020-03-18 12:46] silvinabt87 commented on #165
@dhruvkb should I go on unit testing the other files this way, then? Or do you want to try something different?

[2020-03-18 13:02] megha070 opened #191 "Replace src/stories/cards.stories.js with MDX Docs"
**Description**

**Problems solved**

**Alternatives**

**Additional context**

**Want to take up?**

[Yes|No]
Yes

[2020-03-18 13:03] megha070 commented on #191
@dhruvkb I want to work on this.

[2020-03-18 13:23] megha070 commented on #181
@dhruvkb cards and global header files are not in MDX format.
@jahnvigupta is working on buttons.
For License Badges, I am unable to figure out how do I get codes corresponding to all badges.
For Locale and Tabs, I have raised PR

[2020-03-18 13:40] jahnvigupta commented on #185
@dhruvkb Can you share some link that can help me the rules to convert functions to stories.

[2020-03-18 14:14] yy opened #193 "Removing @yy from the PR template"
**Description**
Hi, whenever someone doesn't change the template, I get a notification because my GitHub username is "yy". Would you mind changing the template?

[2020-03-18 14:29] kgodey commented on #193
Sorry about that @yy, we'll fix it.

[2020-03-18 14:44] megha070 commented on #185
@jahnvigupta I found this very useful in order to get started with MDX Docs.
https://mdxjs.com/getting-started
The idea is to convert all src/<component>.stories.js files to MDX Docs.

[2020-03-18 14:46] achilep commented on #193
hello please can i solve it

[2020-03-18 14:48] achilep commented on #193
i will like to work on it if possible?

[2020-03-18 14:50] kgodey commented on #193
Please do. Under our new [contribution guidelines](https://opensource.creativecommons.org/contributing-code/), if an issue is marked "help wanted", you do not needt permission to work on it.

[2020-03-18 14:51] achilep commented on #193
ok thank you

[2020-03-18 15:47] achilep commented on #193
please Mme  this link  :https://github.com/creativecommons/.github  to the  PR template is the right one or there is another one ?

[2020-03-18 16:26] dhruvkb commented on #193
This is one of the strangest issues I've seen. @achilep would you mind making this change across all three repos: `vocabulary`, `vue-vocabulary` and `fonts`?

[2020-03-18 16:27] achilep commented on #193
thank you

[2020-03-18 17:30] lily-dev commented on #181
@dhruvkb I would like to contribute and work on form, pattern, table & tabs.

[2020-03-18 18:03] #174 closed

[2020-03-18 18:12] achilep commented on #193
https://github.com/creativecommons/fonts/pull/17

https://github.com/creativecommons/vocabulary/pull/196

https://github.com/creativecommons/vue-vocabulary/pull/191

this are the link to the Pr that done to fix the issue

[2020-03-18 18:41] #193 closed

[2020-03-18 18:49] megha070 commented on #181
Hey @lily-dev! I have raised PR for all missing links. Please find another issue.

[2020-03-18 18:54] dhruvkb commented on #181
@lily-dev you could try #185.

[2020-03-18 18:59] dhruvkb commented on #167
@brenoferreira I don't know about the status of this issue.

[2020-03-18 19:14] megha070 opened #197 "Replace globalheader.stories.js with MDX doc"
**Description**

Replace globalheaderstories.js file with MDX Doc
**Problems solved**

**Alternatives**

**Additional context**

**Want to take up?**

[Yes|No]
Yes

[2020-03-18 19:15] megha070 commented on #197
I would like to work on this.
@dhruvkb

[2020-03-18 19:16] dhruvkb opened #198 "NPM page missing README.md file"
**Description**
The `npm` page for Vocabulary states that a `README.md` file could not be found for the project, which is odd cause we do have one.

**Reproduction**
Visit [Vocabulary on npm](https://www.npmjs.com/package/@creativecommons/vocabulary).

**Expected behavior**
The `README.md` that appears on GitHub should appear.

**Screenshots**
<img width="813" alt="Screenshot 2020-03-19 at 12 45 5

[2020-03-18 19:20] dhruvkb commented on #198
Tagged "CC staff only" as the problem will only go away after a new release is pushed to `npm` and this one is taken down.

[2020-03-18 20:04] techievivek opened #200 "Adding usage instructions in getting started section in README."
**Description**
The getting started section in README has no instruction related to the usage of Vocabulary for local development projects.

**Problems solved**
Clear and concise instruction to allow developers to use /integrate vocabulary design system in their local development projects.

**Additional context**
This will help developers to try and use the Vocabulary design system with their proj

[2020-03-18 21:58] 676308067 commented on #151
Hello @annatuma and @panchovm I do appreciate your guidelines with respect to the design library. I have updated the CC Open Source Website's home page. I have added a home link for easy navigation. I have also created wireframes for the blog and contribution pages. Please do visit the below link to view and guide my way. Thank you all.
https://www.figma.com/file/BEIHKlkeNAnFhl7mNagKuQ/OPEN-SOURCE

[2020-03-19 00:17] JonillaTallawan commented on #149
Is it okay for me to work on this one?

[2020-03-19 05:26] kushaggarwal commented on #165
@Tanuj22 I am using MacOS

[2020-03-19 06:30] dhruvkb commented on #165
@silvinabt87 after you make the changes I marked in PR #182, you can use that as a template for other stylesheets.

[2020-03-19 07:08] dhruvkb commented on #149
@JonillaTallawan it's already done.

[2020-03-19 07:08] #149 closed

[2020-03-19 07:09] kushaggarwal commented on #165
Hello @dhruvkb I am working for setting up the the unit testing for other components of vocabulary so shall I also follow the same template as set up by @silvinabt87
Please help
Thank you

[2020-03-19 07:53] dhruvkb commented on #165
Yes @kushaggarwal, but make sure you look at the feedback as well and don't make the same mistakes.

[2020-03-19 10:23] Tanuj22 commented on #165
@dhruvkb Please the above PR. I am getting some errors.

[2020-03-19 16:19] krysal commented on #200
Hi @techievivek, are you going to make a PR for this? It seems to me that it's important so I want to fix it if you don't.

[2020-03-19 17:04] techievivek commented on #200
I am not able to create a PR as I am traveling back to my home due to COVID-19 pandemic.
If you would like to add a PR you can 😊

[2020-03-19 17:10] krysal commented on #200
Oh, sorry to hear that, I hope you arrive safely.  🏠
I'll work on it.

[2020-03-19 18:43] panchovm commented on #151
Hi @676308067 As Anna mentioned before. It's crucial to use the Design Library, specially Header, Footer, and the grid. The three layouts look very similar to the current design, and we are expecting something different that can stand out the CC brand. I will recommend you trying something different, align with the rules of color and typography.

[2020-03-20 11:18] dwvicy commented on #151
@annatuma and @panchovm, Hey! I've been working on layout designs, so I was wondering whether you are looking to see the header provided in the design library (the black one) or the one used the CC.org and the current Open Source website (orange).

[2020-03-20 12:56] panchovm commented on #151
Hi @dwvicy. The header you should use is the one in the Design Library.

[2020-03-20 13:43] megha070 commented on #185
@dhruvkb I would like to take this up.

[2020-03-20 14:22] dwvicy commented on #151
@panchovm Thank you for your help! Here's the link to my wireframe:

https://www.figma.com/file/0sSz0fG4a45dNlzo9ZP7gj/CCOpen-Source-by-Vaishnavi-Dwivedi?node-id=0%3A1

 Looking forward to your feedback! @annatuma

[2020-03-20 15:32] 676308067 commented on #151
Hello @panchovm, greetings. As regards your feedback and recommendation  with reference to the design library, I have re-examined my header and footer, and i've effected the changes, Please visit the below link to see the changes in my wireframes. The hero images are annimated. Thank you.

[2020-03-20 15:33] #92 closed

[2020-03-20 15:38] 676308067 commented on #151
Hello @panchovm, greetings. As regards your feedback and recommendation with reference to the design library, I have re-examined my header and footer, and i've effected the changes, Please visit the below link to see the changes in my wireframes. The hero images are annimated. Thank you.
https://www.figma.com/file/BEIHKlkeNAnFhl7mNagKuQ/OPEN-SOURCE?node-id=246%3A0

[2020-03-20 15:43] #181 closed

[2020-03-20 17:43] panchovm commented on #151
Here my comments:

@dwvicy In the case of the homepage, we are expecting a new layout. A different way of distributing the elements on the page. I encourage you to experiment with something different. For the remaining pages, the same suggestion. It is also important to follow the typography rules. Not allowed full-width paragraphs.

@676308067 The header and Footer must remain untouchable. In the

[2020-03-20 18:56] akmadian opened #241 "Wonky padding in header on mobile/ tablet breakpoints"
## Describe the bug

After design sprint 1 (#723) was merged, the header now has some wonky padding in mobile breakpoints
- The Search logo is pushed too far to the right
- The hamburger is not pushed off of the right side of the screen

## To Reproduce

1. Go to ccsearch-dev.creativecommons.org
2. Use browser to simulate a mobile/ tablet screen
3. See error

## Screenshots

![header0](https://use

[2020-03-20 20:23] dwvicy commented on #151
@panchovm I have experimented a bit with the homepage, let me know if this is the right direction for the expected layout.

https://www.figma.com/file/0sSz0fG4a45dNlzo9ZP7gj/CCOpen-Source-by-Vaishnavi-Dwivedi?node-id=0%3A1

[2020-03-21 09:38] megha070 commented on #185
@dhruvkb I have raised PRs for License_badge, github_corner and logos file.
@jahnvigupta is working on cards file
rest others are fine.

[2020-03-21 13:28] jshreyans commented on #151
Hi everyone! This is the design that I've been working on for the last few days. Looking forward to reviews!
[Design Prototype - CC Open Source](https://www.figma.com/file/1UIzkXbeVYKSDG1T1YiooL/cc-open-source-website?node-id=0%3A1)

[2020-03-21 13:51] dhruvkb commented on #127
Breno incorporated the tab component with #178.

[2020-03-21 13:51] #127 closed

[2020-03-21 17:37] av-00 commented on #8
@dhruvkb  can i work on this?

[2020-03-21 17:57] dhruvkb commented on #8
@av-00 please do!

[2020-03-21 18:45] 676308067 commented on #151
Hello @panchovm please visit the below link to view changes to my wireframes. Thanks.
https://www.figma.com/file/BEIHKlkeNAnFhl7mNagKuQ/OPEN-SOURCE?node-id=287%3A493

[2020-03-21 20:16] Bob160 commented on #95
Hello @dhruvkb, can I work on this?

[2020-03-21 20:23] dhruvkb commented on #95
@Bob160 we are looking for something identical to creativecommons/fonts#14.

[2020-03-22 10:53] megha070 commented on #197
@dhruvkb closing this, it's part of #194

[2020-03-22 10:53] #197 closed

[2020-03-22 12:30] jahnvigupta commented on #165
Do we need interactive testing? If yes, then should I start working on it.

[2020-03-22 12:42] av-00 commented on #8
@dhruvkb  how do i start on this?

[2020-03-22 21:38] jahnvigupta commented on #8
Can you guide on what metadata can be deleted.

[2020-03-23 06:32] jahnvigupta commented on #63
@annatuma as per my understanding, The issue requires to put images of icons given onhttps://creativecommons.org/about/downloads   and make a section for patterns in which all the  components images given in pattern section https://cc-vocabulary.netlify.com/?path=/docs/assets-logos--cc-logomark have to be put.  Correct me if I am wrong and guide me to the source of svg images.

[2020-03-23 09:11] kushaggarwal commented on #151
Hello @panchovm as guided by @annatuma I have made some modifications in the design for CC Open Source.
Please find the below link for the figma wireframes and advise for changes and improvements for the same
Link : https://www.figma.com/file/gN3puDIwMJXER8jxHEpuKR/CC-Open-Source?node-id=0%3A1
Thank you

[2020-03-23 13:13] tacitonic commented on #151
Hello @panchovm @annatuma, would it be possible if I could invite you to view my design in order to maintain originality?
If not, I will post the link, but please take a note of the design originality.

[2020-03-23 13:49] kushaggarwal commented on #165
Hello @dhruvkb
Can you please guide as if for which components can I proceed to do the test for as I believe for some the tests have been written
I have gone through the template in reference to which the tests need to be written
Thank you

[2020-03-23 13:57] panchovm commented on #151
Hi everyone, thanks for your proposals.

@dwvicy On the homepage, each element uses too much space of the layout. I will try having less space between elements and sections and smaller icons. On the other hand, putting dark text on tomato and gradient colors are not allowed.

@jshreyans Editing header and footer are not allowed. Despite that, the first section, paragraph on the left and image on t

[2020-03-23 14:03] tacitonic commented on #151
@panchovm Here it is:
https://www.figma.com/file/M5HUTZEYims7XxMkMqDjYf/CC-Open-Source-Redesign?node-id=0%3A1

[2020-03-23 14:33] kushaggarwal commented on #151
Thank you @panchovm for your feedback and changes will do so

[2020-03-23 15:16] dhruvkb commented on #63
@jahnvigupta the icons for the licenses were added as an icon font in creativecommons/fonts#8. To resolve this issue, one needs to showcase the license icons here. But since this issue hasn't seen a week of inactivity, I would urge you to wait a couple of days before attempting to solve it.

[2020-03-23 17:30] panchovm commented on #151
Thanks for sharing it @tacitonic. Here my comments:

1. The header should not be modified. Also, based on the typography definition, full-width paragraphs are not allowed.
2. The homepage layout is very similar to what we currently have. I will try a different distribution of elements. I like the use of colors but the icons are the same. Maybe try something different with those two elements.

[2020-03-23 17:47] tacitonic commented on #151
@panchovm Thanks for reviewing!

1. Are full width paragraphs not defined for the header region or site-wide? For example, which page are you referring?

2. Are the use of icons mandatory? If yes, the predefined design elements don't have any icons to use, so do I have the liberty to select them? I will modify my homepage design as well.

[2020-03-23 18:04] panchovm commented on #151
@tacitonic
1. Sorry. I was referring to the homepage. Full-width paragraphs are not allowed in all cases.
2. You can choose new icons. No problem.

[2020-03-23 18:14] tacitonic commented on #151
@panchovm
Not including the paragraphs from the current CC Open Source Homepage in the new redesign would mean that there is a change in content. Should I go ahead with that?

[2020-03-23 18:22] kushaggarwal commented on #151
@panchovm can it happen that I can work with different colors as a base color for different pages
and also as per the font for the site we have roboto condensed for header but can you please guide for the paragraphs and other text as if which should I go for
Thanks

[2020-03-24 08:29] 676308067 commented on #151
Hello @panchovm please I need some clarification. Is full width not allowed only for paragraphs?
E.g, can I distribute  blog posts on the same line across the body of the page? Please your response. Thanks.

[2020-03-24 12:20] panchovm commented on #151
@kushaggarwal The colors and fonts available are those indicated in the Design Library. For now, do not add more.

@676308067 Full-width is not allowed for texts. Other elements can be placed full-width, but, in this case, I don't think it will work. In most cases, full-width elements are difficult to read.

[2020-03-24 18:57] panchovm opened #240 "Change the hover state of inputs"
Across all pages, the input has a border color change during hover state. We should maintain the change for the active state.

### Expected design
<img width="521" alt="Screen Shot 2020-03-24 at 15 57 13" src="https://user-images.githubusercontent.com/895819/77585679-a4283d00-6ec3-11ea-99f1-c528db18827d.png">

[2020-03-24 18:59] kushaggarwal commented on #95
Hello @dhruvkb if this issue is still open I would like to work on it

[2020-03-24 19:00] kushaggarwal commented on #52
Hello @dhruvkb
If this is open I would like to give it a go

[2020-03-24 19:01] panchovm opened #242 "Change the text color for the default color of Vocabulary"
In different pages and sections, texts are `#2c3e50` when it should be `#333333`. Here some examples:

<img width="675" alt="Screen Shot 2020-03-24 at 15 59 37" src="https://user-images.githubusercontent.com/895819/77466136-9782e680-6de8-11ea-9ebb-2fc4fa52706e.png">
<img width="559" alt="Screen Shot 2020-03-24 at 15 59 25" src="https://user-images.githubusercontent.com/895819/77466146-9b166d80-6de

[2020-03-24 19:08] panchovm opened #243 "Change the hover style of basic links"
Currently, the hover state of links changes the text color from tomato to black. This must change to just adding an underline style instead of changing the text color.

### Currently
<img width="244" alt="Screen Shot 2020-03-24 at 16 07 45" src="https://user-images.githubusercontent.com/895819/77466837-a3bb7380-6de9-11ea-9e65-305002bfe818.png">

### Expected
<img width="734" alt="Screen Shot 2020-

[2020-03-24 19:20] kushaggarwal opened #229 "Replace src/stories/footer.stories.js with MDX Docs"
**Description**

**Problems solved**

**Alternatives**

**Additional context**

**Want to take up?**

Yes

[2020-03-24 19:21] kushaggarwal commented on #229
Hello
I saw that most of the components for vocabulary have been currently replaced with the MDX docs while I suppose this is still left
So, if available and needed can I work on this issue
Please help
Thank you

[2020-03-24 19:36] dhruvkb commented on #229
@kushaggarwal please update the issue description and then start work on it.

[2020-03-24 19:38] dhruvkb commented on #229
Also ensure that once all the stories are ported from `.stories.js` to `.stories.mdx`, you should remove the `.[tj]s` extension from `.storybook/main.js`

[2020-03-24 19:46] dhruvkb commented on #95
No @kushaggarwal, @Bob160 is working on the issue and it hasn't seen 7 days of inactivity. So you cannot work on it as of now. I've assigned you to 2 other issues.

[2020-03-24 19:47] kushaggarwal commented on #229
Okay will do so thank you @dhruvkb

[2020-03-24 19:49] kushaggarwal commented on #95
Okay thank you very much @dhruvkb
I will start working on others

[2020-03-24 19:59] kushaggarwal commented on #52
@dhruvkb can you please guide as currently there is a MDX in reference for github stories as `github_corners.stories.mdx`
So, here I have to develop another story (Javascript) regarding the same or does it aim towards anything else
Can you please help

[2020-03-24 20:04] panchovm opened #239 "The "clear filters" button should have the style defined in Design Library"
In the search result page, the `clear filters` button (SmallBorder button in Design Library) should change the following:

### Default state
* Source Sans Pro font

### Hover state
* Border color `#787878`
* Background color `#787878`

## Design Library reference
<img width="410" alt="Screen Shot 2020-03-24 at 17 04 33" src="https://user-images.githubusercontent.com/895819/77471738-90140b00-6df1-1

[2020-03-24 20:47] panchovm opened #238 "The tag component doesn’t follow the Design Library style."
In the single page result, the tag component in **Tags** section should have the same font and hover state style defined in the Design Library.

### Expected design
<img width="395" alt="Screen Shot 2020-03-24 at 17 47 34" src="https://user-images.githubusercontent.com/895819/77475418-8e4d4600-6df7-11ea-8bda-6d1b3dfbd9a1.png">

[2020-03-24 20:53] panchovm opened #237 "The small button component doesn’t have the correct font."
In the single result page, the `small button` component should have the Source Sans Pro font. See the component style in the [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A222&viewport=140%2C-1687%2C1.4707506895065308).

[2020-03-24 21:15] megha070 commented on #165
@kushaggarwal I guess PRs are raised only for color and form components.

[2020-03-25 08:52] jshreyans commented on #151
@panchovm Thanks for all your suggestions. I've made some changes. I'm currently reworking the Contribution Guidelines page and will soon post for reviews.

[2020-03-25 11:50] hugosolar opened #234 "Hamburger and close button click event it's not optimal"
**Description**
In both cases the click event is set to the lines of the elements and not the square itself. This isn`t recommended because it can lead sometimes to users get frustrated and cannot open the menu or close it.
Also, I think the dropdown menu should float over the content and not pushing it

**Expected behavior**
the recommended behavior is the event happens on the container surroundi

[2020-03-25 14:08] dhruvkb commented on #229
@kushaggarwal this issue has become a high priority issue as @makkoncept needs the code for the [CC Search browser extension](https://github.com/creativecommons/ccsearch-browser-extension).

[2020-03-25 14:14] kushaggarwal commented on #229
Sure @dhruvkb will attend to this at the earliest

[2020-03-25 14:15] kushaggarwal commented on #165
Okay
Thanks @megha070 will start working for the other components

[2020-03-25 14:19] techievivek commented on #234
@hugosolar I will like to work on this one also can you please tell me which file I will get listener for hamburger icon.

[2020-03-25 14:23] dhruvkb commented on #234
@techievivek you should look at `src/styles/header.scss` and `src/stories/header.stories.mdx`.

[2020-03-25 14:24] techievivek commented on #234
Thank you, I will check it.

[2020-03-25 14:48] kushaggarwal commented on #229
Please help @dhruvkb  as I am not able to figure out what should be added in design :figmaConfig("")
`<Story
    name="Main"
    parameters={{
      design: figmaConfig("")
    }}

`

[2020-03-25 15:09] dhruvkb commented on #198
This was fixed. Should've been closed a week ago.

[2020-03-25 15:09] #198 closed

[2020-03-25 16:29] dhruvkb opened #236 "Replace Welcome story with a no-story MDX doc"
**Description**
Currently the Welcome page of the Storybook is a story. It should be replaced with a [no-story MDX doc](https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/mdx.md#documentation-only-mdx).

**Problems solved**
This opens the door for additional helpful pages such as 'Installation', 'Getting started' or 'How to use' etc. It'll also be an asset in the resolution of #20

[2020-03-25 16:31] dhruvkb commented on #236
@cangreja533 I saw your message about lack of issues to get started. Would you be interested in this?

[2020-03-25 16:44] jahnvigupta commented on #236
@dhruvkb If he is not interested, I would like to take this issue.

[2020-03-25 17:09] dhruvkb commented on #236
@jahnvigupta let's give them some time to respond. If they don't, in a couple of hours, you can definitely take it up.

[2020-03-25 17:49] techievivek commented on #234
@dhruvkb I have added "dropdown item floating over content feature" and for the click event on the hamburger icon, I can see a
[code]
should I play with this to achieve above functionality?

[2020-03-25 17:51] kgodey commented on #239
@abhisheknaiidu this issue has been transferred to Vocabulary but feel free to work on it, you don't need our permission since it's marked help wanted.

[2020-03-25 18:22] 676308067 commented on #151
Hello @panchovm please visit the link below and see the changes i've made to my colors. Thanks.
https://www.figma.com/file/BEIHKlkeNAnFhl7mNagKuQ/OPEN-SOURCE?node-id=341%3A1511

[2020-03-25 18:34] dhruvkb opened #244 "Create icon combinations"
Some [icons in Figma](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135) are used as combinations of [simpler icons from Fonts](https://cc-fonts.netlify.com/?path=/docs/vocabulary-icons--page).

**Examples:**
<img width="66" alt="Screenshot 2020-03-25 at 11 57 54 PM" src="https://user-images.githubusercontent.com/16580576/77572129-74ddf400-6ef4-11ea-9ee6-c5a200c2e5da

[2020-03-25 18:41] dhruvkb opened #245 "Use GitHub Actions for CI"
**Description**
GitHub Actions offers a free and unlimited CI package for open source repositories with features rivalling and integrations surpassing those offered by CircleCI. The goal is to move our CI pipeline from CircleCI to GitHub Actions to run tests on all branches and pull requests.

**Problems solved**
Switching to a better CI provider leads to better productivity in the long run. Plus

[2020-03-25 18:54] kgodey commented on #244
This blocks https://github.com/creativecommons/cccatalog-frontend/issues/801 and is urgent.

[2020-03-25 19:12] dhruvkb commented on #234
I don't quite get what you mean by that comment, but I think the best way to explain is to show us a demo with a draft PR.

[2020-03-25 19:51] av-00 commented on #238
![button](https://user-images.githubusercontent.com/43967251/77579169-e1aabb80-6eff-11ea-996a-442704058ebb.png)
Does it refer to just buttons like these, which just brighten up on hovering, or other elements too?
@panchovm

[2020-03-25 20:12] kushaggarwal commented on #244
As I have understood here we want to update the icons styles in the figma design library where in we need to use the above icons styles as a whole and not as a combination of multiple ones
@dhruvkb please help if I have understood right

[2020-03-25 20:12] kushaggarwal commented on #242
If nobody is on this issue shall I raise a PR for same @kgodey
Please help

[2020-03-25 20:16] kushaggarwal commented on #242
I have updated the color on the homepage, about page and feedback page

[2020-03-25 20:17] megha070 commented on #244
While updating the icons do we have to import them again in icomoon and get tff and woff the file for the same, or changing the background would suffice the purpose.

[2020-03-25 20:32] silvinabt87 commented on #243
Hi @kgodey @panchovm if there's nobody working on this, I'd like to contribute!

[2020-03-25 20:38] kushaggarwal commented on #243
Hello @kgodey @panchovm I have made the changes as described above in the issue but not able to link the pull request due to the fact that the issue no. doesnt match please help
here is the screenshot for the same
![Screenshot 2020-03-26 at 2 08 30 AM](https://user-images.githubusercontent.com/44523552/77583228-b8d9f480-6f06-11ea-94ba-d373bf6344a2.png)

[2020-03-25 20:42] silvinabt87 commented on #240
Hi! @panchovm @kgodey @dhruvkb I'd like to contribute here, if possible. I can't seem to access the screenshot uploaded and I'd like to check it out to make sure I understand the issue fully. Also, are there any extra details I should take into account?

[2020-03-25 20:43] Tanuj22 commented on #237
Would like to work to this :)

[2020-03-25 20:44] megha070 commented on #244
Do we have to create these icons using icomoon or we have to use a combination of two icons so as to get desired icon?

[2020-03-25 20:45] kushaggarwal commented on #238
Hello @kgodey @panchovm
I would like  to work on this if its open
Thanks

[2020-03-25 20:49] silvinabt87 commented on #244
Hi, @dhruvkb. I'd like to contribute here if the previous applicants are not assigned.

[2020-03-25 20:51] megha070 commented on #245
Do we have to refer to this?
https://help.github.com/en/actions/building-and-testing-code-with-continuous-integration/setting-up-continuous-integration-using-github-actions

[2020-03-25 20:58] dhruvkb commented on #244
Hi, I don't think the combined forms of the icon are available for free so IcoMoon will be of no help there. You will have to create them with HTML and CSS wizardry.

For example, the 'left-chevron-circle-outline' icon can have the following markup
[code]
and corresponding CSS to line up the chevron with the circle (hint: absolute position, transforms and Z-indices).

[2020-03-25 20:59] dhruvkb commented on #244
Seeing growing interest on the issue, I'll recommend you each pick one icon.

[2020-03-25 21:00] megha070 commented on #244
We have to do stacking of icons, right?

[2020-03-25 21:01] dhruvkb commented on #245
I'll just share the links @kgodey shared with me:
- https://github.com/features/actions
- https://github.com/creativecommons/ccos-scripts/issues/5
- https://github.com/creativecommons/cccatalog-api/issues/438

[2020-03-25 21:01] megha070 commented on #244
I will take "left-chevron-circle-outline".

[2020-03-25 21:04] silvinabt87 commented on #244
I can take the blue Facebook icon @dhruvkb

[2020-03-25 21:06] dhruvkb commented on #240
@panchovm I agree with @silvinabt87 that the screenshot seems to not have been uploaded correctly. Could you reupload it or add another one to the PR?

[2020-03-25 21:07] kushaggarwal commented on #244
Then I will take the one left

[2020-03-25 21:08] dhruvkb commented on #244
There are a lot of them left! See the Figma link.

[2020-03-25 21:09] panchovm commented on #240
Ops! I justed updated the initial comment.

[2020-03-25 21:09] kushaggarwal commented on #244
Okay @dhruvkb
Thank you :)

[2020-03-25 21:10] silvinabt87 commented on #244
True! I'll start with the Facebook ones and when I'm done, I'll check the others.

[2020-03-25 21:11] dhruvkb commented on #244
@silvinabt87 you should take all versions the Facebook logo.
@kushaggarwal you should take all versions of the Twitter logo.

[2020-03-25 21:11] dhruvkb commented on #244
@Bob160 would you like to work on some?

[2020-03-25 21:12] dhruvkb commented on #242
@kushaggarwal I've assigned you another issue. You can come back to this after resolving those.

[2020-03-25 21:15] av-00 commented on #237
how do we find out in vocabulary which font is being used?

[2020-03-25 21:17] dhruvkb commented on #237
If I'm not misinterpreting your question, most browsers have Developer Tools (in the right click context menu, click on 'Inspect Element'). You can use them to know the font being used.

[2020-03-25 21:21] Bob160 commented on #244
@Dhruvi16, sure.
I'm in!

[2020-03-25 21:22] av-00 commented on #237
Maybe i misinterpreted this, can you clear this up for me?
I thought the `small button` component was in respect to use in vocabulary

[2020-03-25 21:24] Bob160 commented on #244
@dhruvkb , I'll handle the Linkedin icon.

[2020-03-25 21:30] dhruvkb commented on #244
@Bob160 start with Instagram. LinkedIn and Pinterest aren't in Fonts yet.

[2020-03-25 21:34] kushaggarwal commented on #238
Hello @dhruvkb
I am not able to generate a pull request for this issue as the issue no. doesn't seem to match while linking it to cccatalog-frontend repository for changes made
Can you please help
Thank you

[2020-03-25 21:37] Bob160 commented on #244
@dhruvkb okay.

[2020-03-25 21:38] Tanuj22 commented on #239
Would like to work on this

[2020-03-25 21:51] dhruvkb commented on #238
@kushaggarwal this is `creativecommons/vocabulary#238` or `#238`.

[2020-03-25 21:52] av-00 commented on #244
any other icons left?

[2020-03-25 21:53] dhruvkb commented on #239
@Tanuj22 I guess we should see if @abhisheknaiidu is still interested as it has been less than a day since he expressed an intention to work on it.

[2020-03-25 21:53] dhruvkb commented on #244
@av-00 you can work on adding LinkedIn and Pinterest in `creativecommons/fonts`.

[2020-03-25 21:53] kushaggarwal commented on #238
So for the pull request in the fixes should I write creativecommons/vocabulary/238 as upon writing 238 it refers to some other issue marked on the cccatalog
@dhruvkb please help

[2020-03-25 21:54] Tanuj22 commented on #239
Okay

[2020-03-25 21:55] Tanuj22 commented on #242
@dhruvkb Is this issue available?

[2020-03-25 22:16] kushaggarwal commented on #238
Got it @dhruvkb Thanks

[2020-03-26 05:42] kushaggarwal commented on #242
Hello @dhruvkb as guided by you,
I am done with one issue and halfway through the other one so is it fine if I can proceed with this one too
Thank you

[2020-03-26 08:35] dhruvkb commented on #8
@jahnvigupta @av-00 the basic structure of an SVG is
[code]
See the SVGs in `src/assets/logos/cc/` for examples of clean minimal SVGs.

The license SVGs on the other hand contain tons of artefacts from their age, that is essentially bloat today, making them larger and more difficult to transmit over the Internet.
- RDF information
- Sodipodi attributes
- Inkscape attributes

![Screenshot 2020-03-2

[2020-03-26 08:39] jahnvigupta commented on #63
@dhruvkb Please assign me this issue.

[2020-03-26 08:40] #54 closed

[2020-03-26 08:40] #52 closed

[2020-03-26 08:41] #46 closed

[2020-03-26 08:41] #41 closed

[2020-03-26 08:43] jahnvigupta commented on #63
I thought to solve it copying and pasting following files from fonts to vocabulary
vocabulary_icons.scss
vocabulary_icons.stories.mdx

but that is not working, am I heading in the right direction?

[2020-03-26 08:48] jahnvigupta commented on #8
@av-00 are you working on meta data part or should I start working on it?

[2020-03-26 08:49] dhruvkb opened #251 "Sync feedback color tokens with Figma"
**Description**
There are [new feedback colors](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=437%3A55) in Figma. Add them to Vocabulary in `src/styles/color.scss`.

[2020-03-26 08:51] dhruvkb commented on #63
@jahnvigupta along the lines of creativecommons/fonts#14, you need to make an MDX document with the `IconGallery` except this time only with the CC license icons.

[2020-03-26 09:09] megha070 commented on #251
@dhruvkb all the colors are included in color.scss could you please elaborate on this issue.
![image](https://user-images.githubusercontent.com/40516822/77629488-99c37d00-6f6f-11ea-8a1f-39565f91186b.png)

[2020-03-26 09:29] kushaggarwal commented on #251
If this issue is open I would like to go for it
@dhruvkb can you please help as if what new colors are needed in `color.scss`

[2020-03-26 09:37] megha070 commented on #251
Extremely Sorry @kushaggarwal, raised a PR before reading your comment.

[2020-03-26 09:56] kushaggarwal commented on #251
Okay but it would be really helpful if you could just confirm for attending the issue before raising a pull request as I also worked it out and was about to link a pull request
Thank you

[2020-03-26 09:59] kushaggarwal commented on #243
Can you please help as not able to make out that the changes need to be made in the cccatalog-frontend or vocabulary for this particular issue
@panchovm @kgodey @dhruvkb
Please help

[2020-03-26 10:12] megha070 commented on #251
Will keep in mind.

[2020-03-26 12:02] av-00 commented on #8
@jahnvigupta  Working on it already!

[2020-03-26 12:52] silvinabt87 commented on #244
@dhruvkb any further guidance on how to start to go about this issue?

[2020-03-26 13:35] megha070 commented on #244
I guess the prerequisite of this issue is #95 or do we have to implement these in creativecommons/fonts?

[2020-03-26 15:31] tacitonic commented on #151
Hey @panchovm!
I finished updating my design according to your suggestions. Please have a look: https://www.figma.com/file/M5HUTZEYims7XxMkMqDjYf/CC-Open-Source-Redesign?node-id=0%3A1
Also, I've submitted my draft proposal and I would love to hear your thoughts and inputs on it as well.
Thanks!

[2020-03-26 16:33] panchovm commented on #151
@676308067 I like more this layout, the distribution of elements. However, you are using too much black color as a background with text over it. Have you tried using different icons? It will improve if you pick icons with a different style. The blue color should not be used as a background color for the main content.

@tacitonic I like your proposal. The layout looks clean and colors as border wor

[2020-03-26 16:46] tacitonic commented on #151
I'm pleased that you like the overall design aesthetic @panchovm.
I agree with the contrasts being sharp on the tomato section - I'll change it to orange.
Although I used the updated header and footer, the default logo branding is for CC only - not CC OS which is why featured it. Is there any way I could get around with that?
Thanks for the feedback!

[2020-03-26 17:39] dwvicy commented on #151
@tacitonic you could select the logo from the header, delete it and replace it with the header for CC OS which is given in the logo assets.

[2020-03-26 17:41] tacitonic commented on #151
@dwvicy This is what I had done before. But it falls on the fence of whether that's considered a change to the header or not. That is why I'm unsure.

[2020-03-26 17:56] #251 closed

[2020-03-26 19:00] dhruvkb commented on #244
@megha070 we're opting to not use the chevron-in-circle icon for now. I'm sorry but you should not invest further time into this.

@silvinabt87, @av-00, @kushaggarwal and @Bob160 could you please pause work on this issue? We're internally dicuss the specifics of how the icons will be sourced and combined and styled and we'll update the issue with the outcomes.

[2020-03-26 19:07] panchovm commented on #151
For now, just keep the CC logo in the header. We are working on updating the logo of all our products.

[2020-03-26 19:37] silvinabt87 commented on #244
No worries! Thanks for letting us know. I'll move on to some other issue for the time being.

[2020-03-26 19:59] Bob160 commented on #244
It's alright@Dhruvkb.

[2020-03-27 05:41] kushaggarwal commented on #244
No worries @dhruvkb will continue with others in the meanwhile

[2020-03-27 06:34] dhruvkb commented on #8
@av-00 if you could remove the metadata from all files except the big CC0 and big PD licenses that would be awesome.

I'll review and merge @jahnvigupta's PRs for those licenses in the meantime and then you could optimise them as well.

[2020-03-27 07:10] av-00 commented on #8
I am working on them @dhruvkb . Sorry got a little late but will finish by afternoon

[2020-03-27 07:33] dhruvkb commented on #8
@av-00 I'm sorry if I gave you the wrong vibe, it was not a 'hurry up' message. I was just dividing the work up. Take all the time you need.

[2020-03-27 07:51] dhruvkb commented on #239
@Tanuj22 please go ahead.

[2020-03-27 07:53] dhruvkb commented on #236
@jahnvigupta please go ahead in steps, immediately opening a draft PR so that we can continuously review and course-correct as necessary.

[2020-03-27 10:01] abhisheknaiidu commented on #239
@dhruvkb Actually I sent a PR for this one in CC frontend repo [#817](https://github.com/creativecommons/cccatalog-frontend/pull/817) but later I came to know that this issue has been shifted here! So, @Tanuj22 you can go ahead, if you need any help, you can look at my PR.

[2020-03-27 11:52] av-00 commented on #8
Just completed the bid licence badges! Please review them when free @dhruvkb

[2020-03-27 14:21] hitesh1157 commented on #245
I am starting to work on this issue.

[2020-03-27 14:45] megha070 commented on #245
Hey @hitesh1157 , I have raised a PR for this, Kindly take any other issue.

[2020-03-27 14:54] megha070 commented on #95
Hey, @Bob160 are you working on this? If you need help I can help you with this or if you are working on any other issue can I take this up?

[2020-03-27 15:03] hitesh1157 commented on #245
Sure @megha070, I could do that but I am through writing code for the this issue and was in process of creating pull request. I know that you are a long term contributor for this project and therefore, would love to get constructive comments. This way we could learn a lot.

Even then if you are not okay with it, let @dhruvkb step in and decide. I hope that's okay with you.

[2020-03-27 15:09] hitesh1157 commented on #245
@dhruvkb Could you provide one or two sample test cases for testing github actions workflow so that I get a brief idea on how to frame proper test cases.

[2020-03-27 15:24] megha070 commented on #245
No worries @hitesh1157 , It is a learning process, will surely get to learn more about Github actions through your valuable contributions.

[2020-03-27 17:15] jahnvigupta commented on #236
@dhruvkb I think you want something like this:
https://taimoormk.github.io/react-commons-collection/?path=/docs/1-react-pakistan-intro--page

[2020-03-27 19:36] Bob160 commented on #95
@megha070 , I'd sincerely appreciate your help. Let's discuss via Slack - @Bob160 .

Thanks

[2020-03-27 19:52] 676308067 commented on #151
Hello @panchovm greetings,  I have worked on the issues you raised as regards my wireframes and some changes have been made. Please visit the below link and take a look. Thanks,
https://www.figma.com/file/BEIHKlkeNAnFhl7mNagKuQ/OPEN-SOURCE?node-id=301%3A1143

[2020-03-27 20:02] megha070 commented on #95
Sure @Bob160, Let's take this to slack.

[2020-03-27 20:06] kushaggarwal commented on #151
Hello @panchovm
Please find and review the below link for the updated wireframes for the CC Open Source site as guided by you
Link : https://www.figma.com/file/gN3puDIwMJXER8jxHEpuKR/CC-Open-Source?node-id=0%3A1
Thanks

[2020-03-27 21:53] 676308067 commented on #151
Hello @panchovm I have worked on the issues you raised concerning my wireframes and changes have been made. please visit the lijnk below to see these changes. Thanks.
https://www.figma.com/file/BEIHKlkeNAnFhl7mNagKuQ/OPEN-SOURCE?node-id=287%3A493

[2020-03-28 08:45] jahnvigupta commented on #112
@panchovm I want to take this issue. Can you elaborate what has to be done.

[2020-03-28 08:53] dhruvkb commented on #112
@jahnvigupta you can refer to @mercyikpe's PR #164 and build up on that. It's still pending review so that would not be too reliable.

[2020-03-28 12:59] dhruvkb commented on #245
Hitesh you are on the right track with your PR. As for the tests, you won't have to write any. Tests are written within the code itself and just running `npm run test` will be sufficient to run all the tests.

[2020-03-28 13:39] #191 closed

[2020-03-28 13:59] #229 closed

[2020-03-28 16:35] hitesh1157 commented on #234
@hugosolar Please have a look at #264

[2020-03-28 16:59] dhruvkb commented on #185
@megha070 just finish this issue by updating Cards like you did for the other components.

[2020-03-28 17:13] megha070 commented on #185
Sure @dhruvkb!

[2020-03-28 17:14] dhruvkb commented on #234
@hitesh1157 submitting PRs to existing issues is only going to put them on hold. That does no one any good. I would recommend you work on the issues that are still looking for contributors.

[2020-03-28 17:38] hitesh1157 commented on #26
I would like to work on this. Someone please remove **blocked** label from it as it is now moved to **Ready for Development**.

[2020-03-28 17:46] dhruvkb commented on #26
@hitesh1157 please go ahead.

[2020-03-28 20:04] dhruvkb commented on #165
With @jahnvigupta's PR #227 and @silvinabt87's PR #182 we have the infrastructure for both unit tests and visual regression test set up. The problem of writing more tests still remains open.

[2020-03-28 20:09] kushaggarwal commented on #165
Hello @dhruvkb
So for this we have to continue writing unit tests for various components associated with vocabulary right
Please help

[2020-03-28 20:11] dhruvkb commented on #165
Unit tests don't make much sense for components so only mixins and functions should be unit tested. Visual regression tests can and should be written for every component.

[2020-03-28 20:14] kushaggarwal commented on #165
Okay so @dhruvkb  can I resume the work for other left mixin and function apart from the ones whose PR have been linked above

[2020-03-28 20:55] #236 closed

[2020-03-29 00:17] techievivek commented on #234
@hitesh1157 Just changing the width wouldn't work and that also you can just done for the hamburger icon, what about close icon?
This is different issue.

[2020-03-29 01:05] jahnvigupta commented on #112
@dhruvkb Can you tell what content has to be added in vertical navigation bar. Looking at the screenshot in draft pr suggests that there is no specific content.

[2020-03-29 12:14] dhruvkb commented on #63
This task is covered under #95.

[2020-03-29 12:14] #63 closed

[2020-03-29 19:13] #200 closed

[2020-03-29 19:46] dhruvkb opened #273 "Update group IDs in logo SVGs"
**Description**
All the SVGs in `src/assets/logos/cc` have the same ID. This will eventually cause problems down the line when more than one of them are used on a page that [patches them into the DOM](https://cc-vocabulary.netlify.com/?path=/docs/vocabulary-usage--page#assets-1) as a workaround from hotlinking to CDN.

**Reproduction**
Copy the given HTML snippet and load more than one file from t

[2020-03-29 20:17] silvinabt87 commented on #151
Hi, @panchovm @dhruvkb. I've made a wireframe for the CCOS web page. Any feedback to improve it will be useful:
https://www.figma.com/file/VqmcBCag1vnmxTAYk7N7HE/CC-Open-Source-Homepage?node-id=0%3A1

[2020-03-30 01:06] dhruvkb commented on #151
@silvinabt87 I left some comments on your mockups. I didn't understand what you meant by "Shall we make a PR for this?". Implementing the redesign in code is one of the Outreachy and GSoC project ideas.

[2020-03-30 05:03] jahnvigupta commented on #165
@dhruvkb Can you tell for what other elements, snapshot testing needs to be added.

[2020-03-30 05:54] jahnvigupta commented on #273
@dhruvkb I want to take this issue.

[2020-03-30 06:04] dhruvkb commented on #165
@jahnvigupta whichever is left. We need snapshot testing for all components.

[2020-03-30 06:10] dhruvkb commented on #273
@jahnvigupta we'll first wait for you to finish #165.

[2020-03-30 07:05] kushaggarwal commented on #273
If it's open can I take this up @dhruvkb

[2020-03-30 07:24] AroraShreshth opened #277 "npm audit reveals huge no. of vulnerabilities"
**Description**
npm run command for handling installations have revealed
[code]

**Reproduction**
npm install

**Expected behavior**

Even though there are no high level vulnerabilities but there are 3275 low vulnerabilties and 5 moderate

**Screenshots**

**Additional context**
There shouldn't be so many vulnerabilities and require immediate attention

[2020-03-30 12:07] SaurabhAgarwala commented on #242
@kgodey I tried looking for the relevant code to fix this issue in this repo, but couldn't find. But, instead the code to be fixed in the cccatalog-frontend repo only. I have fixed it there.

Please review it @panchovm @dhruvkb

[2020-03-30 12:31] av-00 commented on #277
How can I start on this? Any leads?

[2020-03-30 13:00] dhruvkb commented on #277
I'm not sure you're on the latest version @AroraShreshth, because I tried setting it up fresh and got only 44 low severity vulnerabilities as of commit 2de9af2.

[code]

[2020-03-30 13:02] dhruvkb commented on #277
I'm adding a label that says reproduction is required to ensure the validity of this issue.

[2020-03-30 14:12] panchovm commented on #151
@kushaggarwal I like how you solved the Get involved section in terms of spacing and layout. However, the interaction is too bold and should be more subtle. It could be just displaying the link's information only when user hovers the item, not the whole section. On the other hand, colorful icons look a good idea, but only when are placed on non-color backgrounds. Regarding icons, the style are qui

[2020-03-30 14:26] hitesh1157 commented on #234
@techievivek As per my tests, the derived width of `a` tag that you pasted above is `0px`. Instead this should be set to `3.25rem` according to bulma's own implementation. Setting `width` to correct value fixes the `navbar-burger`'s state for both burger and close buttons.

[2020-03-30 15:35] jahnvigupta commented on #277
@dhruvkb I agree, I also get 44.

[2020-03-30 17:24] av-00 commented on #8
Also completed the small licence badges @dhruvkb

[2020-03-30 18:57] dhruvkb commented on #273
@kushaggarwal you take it. @jahnvigupta has like a dozen PRs already!

[2020-03-30 18:58] dhruvkb commented on #277
@AroraShreshth can you try a fresh setup and let me know so that we can decide how to proceed with this issue?

[2020-03-30 19:06] dhruvkb opened #290 "Perform reliability testing of visual regression tests"
**Description**
I don't have a lot of faith in visual regression tests, largely because [computers and eyes are different](https://storybook.js.org/docs/testing/automated-visual-testing/#challenges) in how they perceive pixels.

**Expected behavior**
The goal is to test the Vocabulary snapshot testing framework in many CI environments and with many different resolutions and so on, till we can say

[2020-03-30 19:58] silvinabt87 commented on #273
@dhruvkb if @kushaggarwal doesn't work on this for any reason, I'd like to try.

[2020-03-30 20:09] silvinabt87 commented on #151
@panchovm thanks for the feedback. I'll work on it. What I didn't understand fully, I think, was the paragraph and title part. Can I not make changes to that, regarding line spacing for example? @dhruvkb thanks for the comments. I already changed some stuff and answered to your comments. As regards the PR, for a moment I thought we could do one so that we could get the link to record our contribut

[2020-03-30 20:53] panchovm commented on #151
@silvinabt87 For now, we want to keep the Vocabulary definitions as they are. Especially text styles. When using the header component, you can hide the `CC products` layer to just keep the main nav of the site.

[2020-03-31 02:51] silvinabt87 commented on #165
@dhruvkb I'd like to contribute with visual regression tests. @jahnvigupta which components are you working on? So that I can check if there are any left for me to do.

[2020-03-31 04:07] jahnvigupta commented on #165
@silvinabt87 I have done for all components in this repo but we can certainly divide components in
https://github.com/creativecommons/fonts/issues/30
Tell me the components that you would like to work on.

[2020-03-31 04:08] jahnvigupta commented on #290
@dhruvkb can i work on this.

[2020-03-31 04:51] kushaggarwal commented on #273
Thanks @dhruvkb will attend to this

[2020-03-31 04:55] kushaggarwal commented on #151
Thank you @panchovm for your suggestions will work towards the implementation of the same with the current designs

[2020-03-31 06:05] kushaggarwal commented on #273
@dhruv kb can you please help as if what would be the appropriate replacement for the id in this
I am currently thinking of replacing it with the current svg file names
current - creativecommons.   ->  lettermark , letterheart, logomark

[2020-03-31 06:07] dhruvkb commented on #273
@kushaggarwal yeah that would be right. Also make sure to update the documentation accordingly.

[2020-03-31 06:09] kushaggarwal commented on #273
Okay will do so Thank you

[2020-03-31 06:40] kushaggarwal commented on #290
@dhruvkb can you please help as I would like to work on this but not able to completely make out how to proceed

[2020-03-31 06:41] #273 closed

[2020-03-31 14:54] #242 closed

[2020-03-31 16:19] SaurabhAgarwala commented on #243
Hi @kushaggarwal. Since this issue has been moved to vocabulary repo, so to address this issue you will have to use its complete URL instead of just the #XXX in the PR which you are going to create in the cccatalog-frontend repo. This will create the required link between the issue and the PR. Hope this helps.

And, in case, if you are not further working on this issue then please do let me know.

[2020-03-31 18:44] #120 closed

[2020-03-31 18:46] panchovm opened #293 "Create the notification component"
We need to add two notification components. Those can be found in the [new homepage design](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockup?node-id=212%3A234&viewport=145%2C25%2C0.12057308107614517) of .org site. The components have the following notes:

## Warning notification
Created to show warning messages. This component can be a link or not. The hover state can be seen found the def

[2020-03-31 18:55] kushaggarwal commented on #293
If this issue is open I would like to work on it @panchovm @hugosolar @dhruvkb
Please help

[2020-03-31 18:57] kushaggarwal commented on #243
Actually I have worked out the changes for this issue but wasnt able to put a pull request for the same but @SaurabhAgarwala thank you very much for your help as I feel now I can open one

[2020-04-01 09:36] 676308067 commented on #151
Hello @panchovm, thanks for your feedback. Based on your comment I have made the following changes. Please visit the link below, thanks.
https://www.figma.com/file/BEIHKlkeNAnFhl7mNagKuQ/OPEN-SOURCE?node-id=287%3A493

[2020-04-01 09:55] SaurabhAgarwala commented on #243
@kushaggarwal Glad, I could help :)

[2020-04-01 16:49] #26 closed

[2020-04-01 17:06] #244 closed

[2020-04-02 18:05] hitesh1157 commented on #234
@techievivek The reason why you set `width: 3.25rem` to `.navbar-burger`, can you please explain that?

[2020-04-02 18:32] techievivek commented on #234
@hitesh1157 As you suggested early it's true there was no initial width, so I went up to CC search and checked in developer tools and played with it, and it was working just fine for the given width value and thus updated the PR to include change for both the issue.

[2020-04-02 18:47] av-00 commented on #151
Hi @panchovm , I tried making the wireframes. Can you please have a look.
Here is the link: https://www.figma.com/file/GSCIs6W9jUL2mJIpjSfWb4/CC-OPEN-SOURCE?node-id=0%3A1

[2020-04-02 19:25] #293 closed

[2020-04-02 20:11] silvinabt87 commented on #151
@panchovm @dhruvkb Here go my new designs:
Homepage: https://www.figma.com/file/VqmcBCag1vnmxTAYk7N7HE/CC-Open-Source-Homepage?node-id=90%3A0
Blog section: https://www.figma.com/file/VqmcBCag1vnmxTAYk7N7HE/CC-Open-Source-Homepage?node-id=87%3A0
Join the Community section: https://www.figma.com/file/VqmcBCag1vnmxTAYk7N7HE/CC-Open-Source-Homepage?node-id=121%3A1810
Contribution guidelines section: h

[2020-04-03 05:14] 676308067 commented on #151
Hello @panchovm, thanks for your feedback. Based on your comment I have made the following changes. Please visit the link below, thanks.
https://www.figma.com/file/BEIHKlkeNAnFhl7mNagKuQ/OPEN-SOURCE?node-id=287%3A493

[2020-04-03 10:57] hitesh1157 commented on #234
So you do not know why width is set to exactly `3.25rem`. See @techievivek, copying without attribution is condemned. This is a collaboration platform. So if you had thought that something in my commit was working, "we" could have merged branches and worked together.

@dhruvkb @hugosolar

[2020-04-03 11:21] techievivek commented on #234
@hitesh1157 I do understand your contribution and have admitted it. But I haven't asked for review on my PR and Yes this is a collaboration platform and I was waiting for some response from @dhruvkb or @hugosolar so that we can discuss all the aspect.
And just for the note it wasn't that I wasn't aware that it could be possibly that the icon doesn't have height and width as of its parent container

[2020-04-03 14:54] krysal commented on #50
Hi! I can work on add styles for checkbox, could I take this?

[2020-04-04 17:27] dhruvkb commented on #245
Closed by #261.

[2020-04-04 17:27] #245 closed

[2020-04-04 17:28] #277 closed

[2020-04-04 18:01] dhruvkb opened #300 "Run visual regression tests inside CI"
**Description**
With visual regression tests running stably inside Docker, we can consider merging them into the CI pipeline with GitHub Actions.

**Problems solved**
Visual regression tests bring a lot of the errors happening in the course of the development to light, such as a change in element dimensions, textual content and even subtle changes in colors

[2020-04-04 19:27] av-00 commented on #300
Can I work on this?

[2020-04-04 19:33] kushaggarwal commented on #300
Hello @dhruvkb I would like to take this up

[2020-04-04 22:22] jahnvigupta commented on #151
@panchovm Please give feedback on my designs.
https://www.figma.com/file/fJlOSTOgFbNimyQ9nem3IO/CC_Open_Source?node-id=0%3A1

[2020-04-05 05:42] yolande-prog commented on #300
hello @dhruvkb please can i take this?

[2020-04-05 06:05] yolande-prog commented on #151
Hello @panchovm please can i still help ?

[2020-04-05 06:57] Nonye55 commented on #300
I Will like to work on this

[2020-04-05 14:22] nehasangeetajha commented on #243
Is this issue open? I would like to work of it is

[2020-04-05 14:57] kushaggarwal commented on #243
Actually @nehasangeetajha I have already linked a pull request for the same above

[2020-04-05 16:39] #95 closed

[2020-04-05 19:18] dhruvkb commented on #300
It's already assigned but if you have an interesting or fresh approach, please submit a PR.

[2020-04-05 19:20] dhruvkb commented on #300
Do note that we are looking for a way to run these tests inside GitHub Actions and *not* in CircleCI.

[2020-04-06 06:38] sp35 opened #303 "Inconsistent naming of jobs in vocabulary and vue-vocabulary"
**Description**
Refer to https://github.com/creativecommons/ccos-scripts/issues/26 by @dhruvkb
The unit test task in Vocabulary is named test, and a functionally identical task in Vue Vocabulary is named unit.

**Expected behavior**
Two tasks that perform the same function should be named the same for consistency. The name unit for unit tests seems to be a good one.

**Additional context**
Solving

[2020-04-06 07:53] #303 closed

[2020-04-06 14:05] panchovm commented on #151
@676308067 I see a new proposal for the home page but the same graphic resources regarding icons and palette. It is crucial solving the home page first and then internal pages.

@av-00 Thanks for participating. You should use the defined colors; for now, we are not adding new ones. Try using more text styles for the following sections; it looks too rigid and difficult to read. It is essential to a

[2020-04-06 18:40] annkawira commented on #50
l am Ann, am an outreach applicant.l would love to work on this

[2020-04-06 21:11] jahnvigupta commented on #151
@panchovm Please review my blog page as well.
https://www.figma.com/file/fJlOSTOgFbNimyQ9nem3IO/CC_Open_Source?node-id=1%3A2

[2020-04-07 09:18] dhruvkb commented on #50
@krysal @annkawira I'm sorry this issue doesn't have any work to be done. We've decided to keep the checkbox to the OS default and input and select fields have already been implemented.

[2020-04-07 09:18] #50 closed

[2020-04-07 13:18] jahnvigupta commented on #151
@panchovm Please have a look at my new designs.
https://www.figma.com/file/fJlOSTOgFbNimyQ9nem3IO/CC_Open_Source?node-id=9%3A2360

[2020-04-07 20:22] annatuma commented on #151
Thanks to everyone for their submission. Because the application period has passed, we are now reviewing final proposals, and are no longer accepting contributions on this task.

[2020-04-07 20:22] #151 closed

[2020-04-07 21:06] #58 closed

[2020-04-08 17:37] #237 closed

[2020-04-08 18:00] #238 closed

[2020-04-08 18:45] #239 closed

[2020-04-09 11:10] av-00 commented on #300
Hi @dhruvkb , sorry got busy. Any suggestions how to start on this?

[2020-04-10 05:04] dhruvkb commented on #300
Look into GitHub Actions and how to run a Docker container inside an action. We need to run the Storybook server on the host and `npm run test:snapshot` inside the Puppeteer container.

[2020-04-11 07:39] oneshasappleton commented on #241
I would like to work on this seeing that no one else has been, please. Thanks in advance.

[2020-04-13 14:44] panchovm commented on #118
The grid documentation [is available](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=3990%3A1666&viewport=119%2C45%2C0.28201159834861755) in the Design Library.

[2020-04-13 14:44] #118 closed

[2020-04-14 14:19] dhruvkb commented on #290
With the use of Docker, it looks like visual regression tests are running reliably.

[2020-04-14 14:19] #290 closed

[2020-04-14 14:25] kgodey commented on #121
@dhruvkb and @brenoferreira will flesh out this issue and mark as help wanted.

[2020-04-14 14:30] dhruvkb commented on #121
GitHub actions has the ability to run jobs on [releases](https://help.github.com/en/actions/reference/events-that-trigger-workflows#release-event-release):
[code]

With GitHub Actions having replaced CircleCI, it's only a matter of adding another workflow to `.github/workflows/`.

[2020-04-14 15:04] Dhruvi16 commented on #121
I will be happy to help here.

[2020-04-14 16:07] panchovm opened #317 "Add the new Flag icon to the set"
We need to add the icon `Flag` to the set of icons. [Here is the page](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=-91%2C113%2C1.4186440706253052) with the vector

[2020-04-15 00:18] dhruvkb commented on #121
@Dhruvi16 I can put your name down for this, but you need to get the other PRs to completion before attempting this.

[2020-04-15 11:44] Dhruvi16 commented on #121
Makes sense. I will complete my other pending PR first. Up till then, others can take-up this issue so there is no delay here.

[2020-04-15 14:29] #243 closed

[2020-04-15 17:45] #240 closed

[2020-04-15 19:02] SaurabhAgarwala commented on #121
I am interested to work on this

[2020-04-15 19:32] hitesh1157 commented on #234
I have worked on this issue in #264 , @dhruvkb Could you this issue to me as well?

[2020-04-15 19:47] hitesh1157 commented on #121
@dhruvkb I would like to work on this issue as per my previous experience with #261 .

[2020-04-16 00:49] oneshasappleton commented on #241
thank you

[2020-04-16 05:35] dhruvkb commented on #234
@techievivek and @hitesh1157 I'll review both your PRs today. Please continue to work on other issues in the meantime.

[2020-04-16 07:36] techievivek commented on #234
I have reverted the part contributed by you, you have a scope to refactor your code as I did in my PR. Both of our PR can be merged now separately.

[2020-04-16 16:57] hemanth-hk opened #322 "Column layout of footer to match the design"
**Description**
The design [Footer @ Figma](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=639%3A24) needs to match with the code/layout of the footer, presently I feel like it's not aligned completed with the design

**Alternatives**
I was working on an [issue](https://github.com/creativecommons/vue-vocabulary/issues/196) and this issue was noticed

---

![cc_footer](htt

[2020-04-16 20:47] brenoferreira opened #325 "Broken styles on Collections page in CC Search"
I loaded the latest code on `master` into CC Search, and I noticed that the Collections page now has some broken styles.

<img width="2157" alt="Screen Shot 2020-04-16 at 17 41 46" src="https://user-images.githubusercontent.com/707019/79504742-bd776180-8009-11ea-9f26-1e8688bab408.png">

The production build is still running on version 1.0.0-beta.9, and it looks fine

<img width="2141" alt="Screen

[2020-04-17 00:20] dhruvkb commented on #325
Which component is that? Is it `Card`?

[2020-04-17 12:40] hitesh1157 commented on #325
I would like to take on this issue

[2020-04-17 12:49] brenoferreira commented on #325
This is a blocker for https://github.com/creativecommons/cccatalog-frontend/pull/880

[2020-04-17 12:52] brenoferreira commented on #325
@dhruvkb no. It doesn't use any vocabulary specific component. It just uses the margins, paddings and columns. Not sure what the problem is yet.

[2020-04-17 13:10] brenoferreira commented on #325
Found the problem. The column margins are looking a bit weird because of the change in `$column-gap` https://github.com/creativecommons/vocabulary/pull/307/files#diff-9263db093c4df1fd69fbf0a30ac0a866R2

I'll take a look at this and see if the fix should be here or on the frontend

[2020-04-18 05:13] dhruvkb opened #327 "Card snapshots are flaky because of large images"
**Description**
Visual regression testing on cards is made complicated by the large images in use. This can be improved drastically by using simpler placeholders like [this](https://via.placeholder.com/500/333333/f5f5f5/?text=Vocabulary).

**Reproduction**
Run the card tests a few times in succession. They sometimes pass, sometimes fail.

**Expected behavior**
The tests should consistently pass (o

[2020-04-18 05:22] dhruvkb opened #328 "Reduce screenshot area in snapshot tests"
Since the viewport for snapshot tests is set to 1920px &times; 1080px &times; 2dpi each snapshot comes out to be a bitmap image of 3840px &times; 2160px. These images are too huge
- to store in the repository and track changes over time
- to compare in every run of the test

With most of the space being blank white anyways, it seems like a huge waste of storage and computing power to run these tes

[2020-04-18 05:39] megha070 commented on #328
I would like to take this up.

[2020-04-18 09:10] dhruvkb opened #329 "Snapshots can sometimes misbehave due to loading times"
**Description**
A page with images can look different if the snapshot is taken before all images have loaded. A page with fonts may look different depending on whether the snapshot was taken before or after the fonts were applied. These uncertainties in the timing can lead to false outcomes in the test results.

Using the [right `waitUntil` values](https://pptr.dev/#?product=Puppeteer&version=v3.0

[2020-04-18 09:21] jahnvigupta commented on #329
@dhruvkb I want to take this.

[2020-04-18 09:23] jahnvigupta commented on #327
@dhruvkb I want to take this.

[2020-04-18 09:45] #300 closed

[2020-04-18 12:59] dhruvkb commented on #322
@hemanth-hk how did you come to the conclusion of what should appear in the mobile layout? There are no mockups for the mobile version.

[2020-04-18 13:03] hemanth-hk commented on #322
The present version of the footer does that so I assumed that there should be address and social media links below the logo and it somehow makes sense that address should be below the logo right!!

[2020-04-18 14:09] dhruvkb commented on #322
Out of the three box drawings, which is the current and which is the one that you think is correct?

[2020-04-18 14:13] dhruvkb opened #330 "Fix broken tests and re-enable them"
**Description**
Presently the card and header tests have been de-activated by changing the name from `.test.js` to `.test.js.x`. This is because the card tests are flaky (#327) and because there is an inexplicable error in the header test. The goal is to fix both test suites, update code, styling and snapshots as required and make them pass.

**Reproduction**
Re-enable the tests and run on GitHub

[2020-04-18 14:20] dhruvkb opened #331 "Improve performance of CI workflow"
**Description**
The CI workflow takes a long, long time to complete. A number of places can benefit from a closer inspection in terms of performance. The goal is to examine the workflow for time hogs and fix them.

**Reproduction**
Push a commit to a PR or open a new one.

**Expected behavior**
Tests should finish in time periods that can be described as short or, at max, reasonable.

**Working gu

[2020-04-18 15:28] av-00 commented on #330
Can i take this?

[2020-04-18 16:50] hemanth-hk commented on #322
The current is the 2nd one and to me, the 1st one/box is closest to the design and to be compatible with the present version of the footer I proposed the 3rd one which would be same as the 2nd one in mobile devices and would be pretty close to the design to desktop resolutions

[2020-04-19 01:46] #8 closed

[2020-04-19 03:19] dhruvkb opened #332 "Figure a way to get diffs for failing snapshots from GitHub CI"
**Description**
GitHub Actions offers the concept of artefacts that can be downloaded or uploaded to pass data into or out of the CI pipeline. Using these artefacts once can get the failing snapshots (the `_diff_snapshots__` directory) to be examined if the CI job has failed.

**Problems solved**
While the job output lists the components that failed the test, it's not nearly enough. Seeing the act

[2020-04-21 19:31] panchovm opened #334 "Update the description in Footer"
We need to update the description text in Footer, below the subscription section. The text should say at the end: **Icons by Font Awesome.**

[Link to Figma component](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=639%3A185&viewport=-454%2C233%2C0.514668345451355)

[2020-04-22 10:01] #121 closed

[2020-04-22 13:59] panchovm opened #336 "Add the question circle icon"
We need to add the [question circle icon](https://fontawesome.com/icons/question-circle?style=solid) to our set of icons. The icon is currently available in [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=171%2C217%2C0.7234131097793579).

[2020-04-22 21:56] makkoncept opened #339 "Footer component on the storybook is not updated"
**Description**
The footer on https://search.creativecommons.org/ has some social media icons but the [footer](https://cc-vocabulary.netlify.app/?path=/story/patterns-footer--default-story) component on the storybook does not.

[2020-04-26 19:57] av-00 commented on #330
How to run on actions? how do i test them?

[2020-04-27 07:26] dhruvkb commented on #330
The Actions will run on your PR. You can however run the tests by following the [contribution instructions](https://cc-vocabulary.netlify.app/?path=/docs/vocabulary-contribution--page) in the Storybook.

[2020-04-27 09:01] DantrazTrev opened #344 "To include new social share icons for the ccsearch frontend"
**Description**
To include new social share options to increase the share-ability of images and being easy for a wider audience.
The proposed share options will include
Tumblr , image boards ( that can be discussed ). Also Instagram could be a viable option

**Problems solved**
To include social media share options icons to be used in the sites

**Additional context**

_Originally posted by @annat

[2020-04-27 12:32] dhruvkb commented on #344
@DantrazTrev if you just want to include more social media websites, please name them and if possible, justify how adding them would add value. If you're proposing a redesign of the Share tab, adding hand-drawn or Figma mockups would help.

I'm assigning this @panchovm and @annatuma as it seems they are yet to review if the icons should be in the Design Library.

[2020-04-27 16:41] jahnvigupta commented on #331
![Screenshot from 2020-04-27 22-08-43](https://user-images.githubusercontent.com/43217070/80397597-01088000-88d4-11ea-8bec-3a7efc0ca70d.png)
@dhruvkb What dependency is this when we have already installed setup?

[2020-04-27 16:57] jahnvigupta commented on #332
@dhruvkb I want to take this issue.

[2020-04-27 18:00] #325 closed

[2020-04-28 11:29] SaurabhAgarwala opened #349 "CD Workflow failing"
**Description**
The CD workflow present in this repo which is based on the official GitHub Actions documentation is failing when a new release is published with the following error:
`npm ERR! 401 Unauthorized - PUT https://registry.npmjs.org/@creativecommons%2fvocabulary - You must be logged in to publish packages.`
On searching the web for the possible reasons for this error, I found that since t

[2020-04-28 13:23] av-00 commented on #330
![Screenshot from 2020-04-28 18-52-08](https://user-images.githubusercontent.com/43967251/80492268-6797a780-8981-11ea-83a0-d122543c6c91.png)
Can you please explain the difference between tests and snapshots mentioned?

[2020-04-28 14:16] brenoferreira commented on #349
I think the env key has to be in the same scope of the deploy job https://sergiodxa.com/articles/github-actions-npm-publish/

[2020-04-28 14:19] #167 closed

[2020-04-28 14:20] brenoferreira commented on #167
Clients can figure out their own imports and build their own bundle instead of this being done in Vocabulary

[2020-04-28 14:39] SaurabhAgarwala commented on #349
@brenoferreira The way the environment variable has been currently defined makes it available for the entire workflow and is available to all jobs and steps in the workflow as documented [here](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#env). But if you want, I can try setting the env key in the same scope of the deploy job as well.

[2020-04-28 17:28] #234 closed

[2020-04-28 18:13] SaurabhAgarwala commented on #331
@jahnvigupta The setup will just setup node and npm and then install the common node modules. Whereas, the install dependencies step will install the project-specific dependencies configured in the `package.json` file.

[2020-04-28 18:22] jahnvigupta commented on #331
I think if all the dependencies are installed in the beginning then the jobs can be run in parallel.

[2020-04-28 18:27] SaurabhAgarwala commented on #331
Each job actually runs in a new virtual instance and hence for all jobs, setup will be required. Also, if the jobs don't have dependencies on any other job then all those jobs run in parallel by default.

[2020-04-28 19:10] Tanuj22 commented on #241
@dhruvkb I think this issue has been fixed and can be closed.
![Capture](https://user-images.githubusercontent.com/42486853/80527412-f3292c80-89b1-11ea-89ac-7d1936bc696b.JPG)

[2020-04-29 12:32] SaurabhAgarwala commented on #331
@dhruvkb I think if even the `node_modules` directory is cached after the `npm install` step in the `Setup` job, then later we won't have to install the dependencies again in each of `lint`, `unit` and `build` jobs. In these three jobs, cached node modules will be restored on the cache-hit. These should improve the workflow run time by around 45 seconds I believe.

[2020-04-30 12:55] DantrazTrev commented on #344
I think including a few more sites or mediums would make it more accessible and better for the widespread users,
Here are a few suggestions with the reasonable explanation and queries

1. Messaging services such as iMessage and WhatsApp . Considering the popularity of the services and the link sharing features , it would be reasonable to include these , further considering these are used to share

[2020-04-30 13:54] Bob160 commented on #327
Hi @dhruvkb  can I take up this issue?

[2020-05-01 18:40] dhruvkb commented on #241
@akmadian can you verify https://github.com/creativecommons/vocabulary/issues/241#issuecomment-620800448?

[2020-05-02 09:52] #328 closed

[2020-05-02 10:06] dhruvkb opened #355 "Suppress verbose build output in Storybook"
**Description**
The `storybook` command in `package.json` prints an awful lot of verbose build output to the console which is fine during development but makes it hard to debug failing snapshot tests.

The goal is to add the [`--quiet` flag](https://storybook.js.org/docs/configurations/cli-options/) to suppress this output.

**Expected behavior**
A minimum amount of logs should be printed.

[2020-05-02 10:10] dhruvkb commented on #330
Each test suite contains multiple tests. Each of these tests is associated with a single snapshot. So the number of passing tests will equal the number of passing snapshots.

[2020-05-02 10:14] dhruvkb commented on #331
Caching `node_modules` seems like the wrong idea since the binaries that `npm install` installs will not be available from the cache.

Moreover, since the task with the biggest time overhead is snapshot testing, we should look for improvements there, most notably in the Docker image build step and the actual snapshot test run step.

[2020-05-03 02:01] #355 closed

[2020-05-03 10:07] SaurabhAgarwala commented on #331
Ok, I didn't think about it in terms of the binary perspective. Thanks for pointing it out. I will close the open PR as it doesn't serve the purpose. And I will look into ways to improve the snapshot testing job.

[2020-05-03 11:46] Dhruvi16 opened #358 "Extra padding in the Rich Content Table."
**Description**

Comparing the Figma design and the story, there seems to exist extra padding in the first column of the Rich Content table.

**Reproduction**

![image](https://user-images.githubusercontent.com/34674462/80913331-7b685280-8d61-11ea-89de-cbb0755ee35c.png)

**Expected behavior**

![image](https://user-images.githubusercontent.com/34674462/80913356-9cc93e80-8d61-11ea-9f05-9d5fdcfd761b

[2020-05-04 10:52] Bob160 commented on #327
Hi @dhruvkb , to reproduce this issue, the instruction says to run the card test a few times. Can you please provide guidance on how to solve this issue?

[2020-05-04 14:12] dhruvkb commented on #327
The instructions on running the visual regression tests are [here](https://cc-vocabulary.netlify.app/?path=/docs/vocabulary-contribution--page#visual-regression). HMU on Slack if you need anything.

[2020-05-05 21:28] panchovm opened #359 "Add the Slack icon"
We need to add the Slack icon to our current set of icons. Here is the [Design Library file](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=-324%2C-282%2C2.185558557510376) updated.

[2020-05-06 13:46] panchovm opened #360 "Update the logos of products"
We need to update the following product's logos:
1. Open Source
2. Chooser
3. Search
4. Global Network
5. Global Summit
6. State of the Commons
7. Certificates
8. Vocabulary

The SVG files can be exported from [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=784%3A0&viewport=252%2C-29%2C0.8688915371894836)

[2020-05-06 19:12] annatuma opened #361 "Update alignment of Donate section in Footer in Vocabulary"
The footer in Vocabulary no longer matches the [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=639%3A24). We need to center align the Donate section.

Note, there are two other open tickets related to the Footer right now, one regarding social media icons and another regarding the description.

[2020-05-07 08:01] hemanth-hk commented on #361
@annatuma Please see #323, I'll update the snapshot tests but I think the column layout matches with the design!

[2020-05-07 17:44] SaurabhAgarwala commented on #349
@brenoferreira Any updates on how we shall proceed on this now?

[2020-05-07 19:17] brenoferreira commented on #349
@SaurabhAgarwala you can try that and see if it fixes it. I'm still not too familiar with GH Actions. I posted that link because it's one thing I noticed that's different and could point to the problem

[2020-05-08 09:37] SaurabhAgarwala commented on #349
Okay, I will make a PR with the proposed changes and then we can see how it works.

[2020-05-09 15:06] grininja commented on #361
I want to work on this project

[2020-05-11 14:59] kushaggarwal commented on #360
Hello,
I would like to take this up @dhruvkb @hugosolar if its still open
Thanks

[2020-05-11 22:58] LarrySul commented on #361
Hi @annatuma is this issue still open ? Looking to contribute to vocabulary as a first timer ...

[2020-05-11 23:00] LarrySul commented on #358
Hi @Dhruvi16 looking to contribute as a first timer if the issue is still open ... I will be willing to work on it

[2020-05-12 15:12] dhruvkb commented on #361
@LarrySul actually we have all the code submissions needed to close it, it's only a matter of reviewing and merging. I'd encourage you to try another issue.

[2020-05-13 09:31] nitin10s opened #363 "Alerts in Components"
**Description**
Alerts are an important part of a platform and user experience that helps maintain consistency. Currently, the Vocabulary doesn't contain any components for Alerts.

**Problems solved**
Alerts should be added to the Vocabulary section

**Want to take up?**

Yes, I would like to add the documentation and Figma file but I would require support from the team that writes the documentat

[2020-05-13 09:35] dhruvkb commented on #363
New component suggestions should be reviewed by @panchovm and will only be developed if green-lit.

[2020-05-13 09:45] fakela commented on #363
I would love to work on the documentation for this if this component is
approved

On Wed, May 13, 2020 at 10:35 AM Dhruv Bhanushali <notifications@github.com>
wrote:

[2020-05-13 13:32] panchovm commented on #363
I agree with the problem description. However, we are adding components to Figma while we need them. For now, we haven't faced a situation to add it.

[2020-05-13 14:33] nitin10s commented on #363
Yes, I was thinking this might be the case, on one hand, these are the basic components that design systems should ideally consist, for when the need arises, guidelines for all the basic components is present, on the other hand, the Vocabulary guide clearly states, if it doesn't have a use case already, don't add it.

I would prefer the former because design systems should offer all the guidelines

[2020-05-13 14:34] nitin10s commented on #363
Let me know what do you think, I observed some more basic components are missing. I would open more issues in case you guys decide to add them. @panchovm @annatuma

[2020-05-13 15:18] rajat2502 opened #364 "Add a List component"
**Description**

A List component should be added to the design system

**Problems solved**

Uniformity in design.

**Additional context**

![image](https://user-images.githubusercontent.com/42200276/81831417-f21fff80-955a-11ea-82dc-90fb4ac389f6.png)
Lists like these are used everywhere on the website and it would be good if we have a component for that.

**Want to take up?**

Yes.

[2020-05-13 16:47] jahnvigupta commented on #364
We already have design for font, I think it's better if we go for design of bullets.

[2020-05-13 17:01] rajat2502 commented on #364
@jahnvigupta Yeah I meant the same...sorry if it sounded the other way.

[2020-05-13 17:20] rajat2502 opened #365 "Add Contributing and Usage guide to the README"
The guides for `contribution` and `usage` should also be there on the `README.md` of the project. I think it's better to add the content there then just links.

[2020-05-13 18:06] kushaggarwal commented on #360
Hello @dhruvkb
There are certain logos with different colors and styles like that of CC Certificates in the current set of product logos
So, can you please help as if how to proceed for the same
Thank you

[2020-05-13 18:19] dhruvkb commented on #364
Although I personally feel a lists component would be redundant, given that `ol` and `ul` work perfectly fine, I'll still let @panchovm decide which component requests need to be implemented.

[2020-05-13 18:45] dhruvkb commented on #365
@rajat2502 the main problem with that is that we will need to sync changes in two places. It's better to have a single source for all documentation, and that includes guides.

[2020-05-13 18:47] dhruvkb commented on #365
I'm closing the issue till you can...
![download](https://user-images.githubusercontent.com/16580576/81852223-500f1000-9578-11ea-9c39-a7aef1ef3517.jpeg)

[2020-05-13 18:47] #365 closed

[2020-05-13 18:50] dhruvkb commented on #360
@kushaggarwal update all the logs to the new ones, removing all extraneous styles and variants.

[2020-05-13 18:50] rajat2502 commented on #365
Yeah, I agree on that but we could remove the docs from the website/storybook and keep them here in the README section, or maybe just add the contributing guides to the repository because that's the first thing anyone would think of after viewing the repository.

[2020-05-13 18:52] fakela commented on #365
@rajat2502 I agree to your point

[2020-05-13 18:54] dhruvkb commented on #365
@rajat2502 they're pretty long and detailed. Even @fakela in their PR pasted a small portion and lined to the Storybook for the full docs. But there's no harm in having a discussion on it. It's Season of Docs after all, so all docs are up for change.

[2020-05-13 18:58] rajat2502 commented on #365
Okay, agreed! I feel there is not much need for the contributing guidelines on the storybook. I mean that's something meant for the repository. If not in the readme maybe we can add them to the contributing.md file.

[2020-05-13 18:59] fakela commented on #365
@dhruvkb  @rajat2502 we can always have a discussion on a better approach for this.

[2020-05-13 19:03] dhruvkb commented on #358
By all means @LarrySul, go ahead! 🚀

[2020-05-13 19:08] rajat2502 commented on #365
@dhruvkb So, should I make another issue for moving the contributing guidelines to the markdown files?

[2020-05-13 19:12] panchovm commented on #364
I agree with @dhruvkb. It is redundant and `ol` and `ul` are enough.

[2020-05-13 19:13] panchovm commented on #363
We are aware that more basic components are needed. But we will add them when we will have a specific page to work on. Thanks

[2020-05-14 05:48] LarrySul commented on #358
@Dhruvi16 @dhruvkb Done with the assigned task ✔✔

[2020-05-14 10:20] dhruvkb commented on #365
Still deliberating on it. I'm still on the fence about putting in that effort. @rajat2502 are the instructions hard to find in the Storybook?

[2020-05-14 10:21] dhruvkb commented on #364
@panchovm do we need to have specific colors like the orange used in the `ul` bullets?

[2020-05-14 10:34] dhruvkb commented on #363
@nitin10s we need to consider the following points:
- **We are designing Vocabulary with an incredibly lean scope.**
  It's meant to style just CC sites, not be a general purpose design system like Material Design or Bootstrap or Bulma (which is a dependency of the project itself).
- **We are on a stringent timeline.**
  Designing components that have no immediate need puts the ability to deliver

[2020-05-14 10:41] #363 closed

[2020-05-14 10:43] dhruvkb commented on #358
@LarrySul while your PR is being reviewed, you can freely pick and work on another issue.

[2020-05-14 12:59] fakela commented on #365
Not exactly but it's always easier when approaching the project few
important details are present in the readme then for more detailed
explanation the user can move to the story block

On Thu, 14 May 2020, 11:20 Dhruv Bhanushali, <notifications@github.com>
wrote:

[2020-05-14 13:03] rajat2502 commented on #365
It's not hard to find them, but in a normal production app that is open source they just provide you the link to the repository and all the guidelines related to contributions, best practices are listed there on the repository.

[2020-05-14 13:11] panchovm commented on #364
We might have color depending on the website. For now, we are using one of the gray shades

[2020-05-14 15:45] panchovm opened #369 "The tab component doesn't follow the style defined in the Design Library"
## Describe the bug
The active and inactive states of the tab component don't follow the style defined in the Design Library.
<img width="521" alt="Screen Shot 2020-05-14 at 11 42 05" src="https://user-images.githubusercontent.com/895819/81955525-330a2980-95d8-11ea-9512-f1722782feff.png">

## Expected behavior
The active and inactive states have a different line weight and size, without padding. S

[2020-05-14 15:51] panchovm opened #370 "Text buttons don't follow the Figma designs"
## Describe the bug
1. The label "report this content" uses a different text style
2. During hover state, it moves slightly to the right.
3. During hover state, it should show an underline in the label.
4. It doesn't have the 8px spacing parameter to separate it from the above paragraph.

<img width="357" alt="Screen Shot 2020-05-14 at 11 47 05" src="https://user-images.githubusercontent.com/89581

[2020-05-14 16:08] panchovm opened #371 "Hover state of default link"
## Describe the bug
The hover state of default links it shows a different style than defined as general interaction. This occurs in all default (tomato) links.
<img width="472" alt="Screen Shot 2020-05-14 at 12 06 54" src="https://user-images.githubusercontent.com/895819/81958082-74500880-95db-11ea-92d5-ca4ed0642f4a.png">

## Expected behavior
It should show an orange underline

[2020-05-14 16:15] panchovm opened #372 "The hover state of button component is not correct"
## Describe the bug
The button has a different background color and it has an underline style during the hover state. In the default state, the icon has an incorrect color.

## Expected behavior
1. It should not have an underline style
2. The background color should be the interaction color defined in [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3

[2020-05-14 16:33] brenoferreira commented on #370
This is an issue with `.is-text` buttons

[2020-05-14 16:54] panchovm opened #373 "The tag component has an incorrect text style"
## Describe the bug
The tag element has `Roboto Condensed` as font.

## Expected behavior
The font should be `Source Sans Pro` as [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A222&viewport=-779%2C-188%2C1.259944200515747) indicates.

## Screenshots
<img width="251" alt="Screen Shot 2020-05-14 at 12 54 17" src="https://user-images.githubuserconten

[2020-05-14 17:25] panchovm opened #374 "Text style and icon size are incorrect in Header component"
**Description**
The text style and its hover state, and the icon size don't follow the Design Library definition.

**Expected behavior**
1. Text style should be font-size 16px, line-height 24px and letter spacing 2%.
2. During hover state, the text color changes from `DarkGray` to `DarkSlateGray` without an underline.
3. The icon size should be within 15px square.
See the example in [the Design Li

[2020-05-14 19:38] makkoncept opened #375 "Don't let the title in the image component to flow on multiple lines"
**Description**
If the title of the image is long enough, then it is displayed on multiple lines. This would not look very aesthetic for the images that are narrow and short.

**Alternatives**
One alternative is to change the [text-overflow](https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow) to _ellipsis_. Also, the _title_ attribute of the HTML element can be set so that the user can

[2020-05-14 19:45] rajat2502 opened #376 "Add a TextArea component"
**Description**

A `TextArea` component can be added to the `vocabulary` as it is used many times on the websites.

**Problems solved**

Consistent design over all the websites.

**Additional context**

![image](https://user-images.githubusercontent.com/42200276/81978689-82d50900-9649-11ea-9d1f-4b740e197395.png)

**Want to take up?**

[Yes]

[2020-05-15 02:00] LarrySul commented on #375
Hi @makkoncept I can take this up , but I would love you to point me to the components or files where you will want this issue to be addressed .

[2020-05-15 02:48] makkoncept commented on #375
No one seems to be working on this, therefore you can take this up. Tagging @dhruvkb for confirmation.

[2020-05-15 02:52] LarrySul commented on #375
Alright

[2020-05-15 03:24] LarrySul commented on #375
Fixed the issue.
I made use of style attribute text-overflow and set value to ellipsis.
PR #368..
![image stories](https://user-images.githubusercontent.com/29729601/82007818-1c5ce480-9663-11ea-997e-4696b45ebb90.JPG)

[2020-05-15 04:42] LarrySul commented on #372
@brenoferreira I see you are transferring the issue but I'm curious as to know why . Although I just started contributing yesterday so I have a little understanding .

[2020-05-15 04:43] LarrySul commented on #372
@panchovm has the issue been assigned yet ? Would like to work on it 😊

[2020-05-15 04:46] LarrySul commented on #374
Hi @panchovm is anyone working on the issue yet ? I'm open to picking it up  ...

[2020-05-15 05:26] dhruvkb commented on #376
@panchovm, we would need your inputs here.

[2020-05-15 05:29] dhruvkb commented on #375
@LarrySul sorry for the delay, please go ahead and open a PR.

[2020-05-15 05:30] dhruvkb commented on #365
I'll tag some other developers for their inputs as well. @hugosolar and @brenoferreira would you have some comments?

[2020-05-15 05:40] dhruvkb commented on #364
Closing as we don't need colored or styled bullets for now.

[2020-05-15 05:40] #364 closed

[2020-05-15 05:42] dhruvkb commented on #374
@LarrySul you can definitely pick it up as no one else has asked to.

[2020-05-15 05:43] dhruvkb commented on #372
@LarrySul you can work on it but only after you've resolved the other issues assigned to you.

[2020-05-15 09:27] jahnvigupta commented on #373
@dhruvkb I want to take this.

[2020-05-15 09:33] jahnvigupta opened #377 "Demonstration of Vocabulary Usage"
**Description**

To make it easier for a user who is unfamiliar with vocabulary, a demonstration of using vocabulary components with a basic site created can be made.

**Problems solved**

Users will not have to spend time understanding vocabulary.

**Alternatives**

**Additional context**

**Want to take up?**

Yes

[2020-05-15 10:44] Tanuj22 commented on #369
@dhruvkb Can I take this?

[2020-05-15 13:24] panchovm commented on #376
We are using `textareas` in different sites, if that can be used as a component, then it makes sense to create it. [CC Search](https://www.figma.com/file/KEXxItd8EloJGbXswuUDqq/Mockup---S3-(License-Language-Changes)?node-id=199%3A354&viewport=1170%2C-6623%2C1.246282696723938) has a style for this element. Please follow it.

### Screenshot
<img width="454" alt="Screen Shot 2020-05-15 at 09 24 21" s

[2020-05-15 13:26] panchovm commented on #376
Meanwhile, I will add the component to the Design Library. I'm thinking to add it into the **Form** page, what do you think @dhruvkb ?

[2020-05-15 14:44] rajat2502 commented on #376
Sure I will make a PR for it.

[2020-05-15 14:57] rajat2502 opened #380 "Change order of subheadings in Overview"
Change the order of the `subheadings` of a `principles` in the `overview` page of the storybook.
The `Meaning` should be the first subheading but better reader's experience.

[2020-05-15 15:01] panchovm commented on #376
⚠️ Something important I did not put in the design, we need to consider the three diagonal lines that allow changing the text-area' size.

[2020-05-15 16:13] LarrySul commented on #372
@panchovm could you help with the value of the defined background color ? @dhruvkb noted !

[2020-05-15 18:29] dhruvkb commented on #376
I agree that this belongs in the Form section.

Those three lines are determined by the browser. Some browsers show three diagonal lines, some show a small triangle and some don't have it at all. It's not customisable via CSS.

[2020-05-16 05:08] Dhruvi16 opened #385 "Add Breadcrumb component as per the designs."
**Description**

This component is widely used in the new designs for the websites. So, it is better to create it here.

**Problems solved**

A “breadcrumb” is a type of secondary navigation scheme that reveals the user's location on a website or Web application. It helps us to provide a better experience and is widely used in the new designs.
![image](https://user-images.githubusercontent.com/346

[2020-05-16 09:52] aryamanpuri commented on #329
Are you still working on this issue @jahnvigupta
If no @hugosolar @dhruvkb  Can I give this a try ?

[2020-05-16 13:03] Dishebh commented on #371
@panchovm shall I work on this?

[2020-05-16 15:26] Herald-Of-Solace opened #387 "address tag inside p in footer"
**Description**
While working on https://github.com/creativecommons/chooser/issues/161 I came across this problem.
Currently the storybook for footer contains this following code -

[code]
However, according to the [Official HTML spec](https://html.spec.whatwg.org/multipage/grouping-content.html#the-p-element)

This causes the `p` tag to close immediately, for example when used with Vue lint. I be

[2020-05-17 08:35] Dhruvi16 opened #388 "Add profile image component as per the new designs."
**Description**

The new websites designs have a recurring use of the profile image. For the ease of development, it can be added to the vocabulary.
![image](https://user-images.githubusercontent.com/34674462/82139686-61417080-9847-11ea-9383-42113911bf22.png)

**Want to take up?**

Yes

[2020-05-17 09:53] Dishebh commented on #371
@panchovm can you please share the link where I can find the attached screenshot in the issue description? Thanks!

[2020-05-17 15:02] Dishebh commented on #370
@panchovm I would like to work on this. Can you assign it to me?

[2020-05-18 04:56] dhruvkb commented on #387
@Herald-Of-Solace are you suggestion we change the `<p>` tag to a `<div>` tag because paragraphs can't contain addresses?

[2020-05-18 05:04] Herald-Of-Solace commented on #387
@dhruvkb Yes, I think that should fix the issue

[2020-05-18 05:11] dhruvkb commented on #377
@jahnvigupta if you can come up with a concrete plan first, with implementation details, that would be awesome. I'm inclined towards using a service like CodePen, but please comment if you have some alternative ideas.

[2020-05-18 06:42] Herald-Of-Solace commented on #387
Hmm. So changing `<p>` to `<div>` makes it a valid HTML as can be checked here https://validator.w3.org/#validate_by_input

However, my assumption that the invalid code caused the render to fail was not correct. There are other places where also the code fails to render (e. g. Locale, Tabs etc.). What I found was that writing the stories like this fixes the issue

[code]

![Screenshot_20200518_121

[2020-05-18 07:40] jahnvigupta commented on #377
@dhruvkb I am thinking of showing an example of an attractive site which can convince any user building any type of website to use vocabulary and make it easier to understand the process of building a website with components, I believe a site needs to be designed before the demonstration. Do you recommend looking for website designs?

[2020-05-18 09:14] Dhruvi16 opened #393 "Add blog banner as per the new designs."
**Description**

The new designs for the CC OS website extensively use banners to present blogs. This might give us a reason to add it to the Vocabulary.
![image](https://user-images.githubusercontent.com/34674462/82195363-d11e2c80-9915-11ea-8dbf-f2d96de2e7ad.png)

**Additional context**

This component scope is yet to be discussed.

**Want to take up?**

Yes

[2020-05-18 09:21] Dhruvi16 opened #394 "Add project banner according to the new designs."
**Description**

A banner is extensively used to present a project's details. It might be helpful to add it as a component to the vocabulary.
![image](https://user-images.githubusercontent.com/34674462/82196171-0119ff80-9917-11ea-8ddc-9ba72e02f619.png)

**Additional context**

The scope of the component is yet to be discussed.

**Want to take up?**

Yes

[2020-05-18 11:42] Dishebh commented on #369
@panchovm I would like to work on this.

[2020-05-18 13:30] panchovm commented on #371
@Dishebh that bug appears often on the single result page. That example is part of the attribution toolbox, present in every single result page.

[2020-05-18 13:32] Dishebh commented on #371
I have opened a pr for the issue. Let me know if the changes done are fine.

[2020-05-18 14:04] panchovm commented on #372
Here is [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A72&viewport=-490%2C-31%2C0.7026233673095703). Page **Color**.
1. Background color, default state: `ForestGreen`
2. Background color, hover state: `BrighterForestGreen`

[2020-05-18 15:03] LarrySul commented on #372
@panchovm alright ...

[2020-05-18 15:37] Dishebh commented on #327
@dhruvkb I would like to work on the issue. Can you pls assign it to me?

[2020-05-18 16:26] panchovm commented on #385
In order to support the ticket, here is [the component in the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=6368%3A0&viewport=45%2C266%2C0.4650000035762787).

[2020-05-18 21:15] panchovm opened #396 "We need to add the new product logo for Legal Database project"
We need to add to our logo set the logo for Legal Database. The logo can be found as SVG file in [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=784%3A0&viewport=262%2C45%2C0.7932535409927368).

### Screenshot
<img width="829" alt="Screen Shot 2020-05-18 at 17 14 59" src="https://user-images.githubusercontent.com/895819/82260365-1f89f600-992b-11ea-906d

[2020-05-19 15:14] panchovm opened #400 "We need to add the card collection component"
We need to add a new component: the card collection. This component is present in CC Search, Sources page, and works as a link. Here is [the link to the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=776%3A0&viewport=-3514%2C-324%2C0.6717029213905334).

### Expected behavor
When the component works as a link, the hover state should change the border color

[2020-05-20 05:53] dhruvkb commented on #377
@jahnvigupta I would recommend consulting @panchovm for some basic designs and common use patterns. Also tagging @hugosolar for insights on the scope of the issue.

[2020-05-20 05:56] dhruvkb commented on #400
@panchovm and @brenoferreira it seems to me that card collection is a set of cards placed in a grid. I'm a little confused about the implementation specifics of having 'card collection' as a new component.

[2020-05-20 06:00] jahnvigupta commented on #377
@panchovm Kindly recommend on how to start with the design of the basic website with vocabulary that can help Users understand the usage and can attract them to use vocabulary. @hugosolar Please give some insights on the issue.

[2020-05-20 06:27] dhruvkb commented on #327
Reassigned because of inactivity.

[2020-05-20 11:32] jiejiiie opened #402 "is"
**Description**

**Reproduction**

**Expected behavior**

**Screenshots**

**Conditions:**

 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Additional context**

**Want to take up?**

[Yes|No]

[2020-05-20 13:11] dhruvkb commented on #402
isn't?

[2020-05-20 13:11] #402 closed

[2020-05-20 14:01] panchovm commented on #377
I am not sure about the approach. The first stage we face when (re)designing a web is what is the content about and the correct structure to provide fluid navigation. After that, Vocabulary and the Design Library allow different forms or placing and distributing components. In the case of color and font is even more open, allows multiple designs. Therefore, I am not sure about presenting a specifi

[2020-05-20 14:03] panchovm commented on #400
You are right. But could be the possibility of having the component using more or fewer columns. However, for now is tied to CC Search uses. If you think that is not necessary, then I'm with you.

[2020-05-20 18:22] #334 closed

[2020-05-20 18:22] #339 closed

[2020-05-21 10:14] makkoncept opened #405 "Hovering over social media icons in the footer shows an underline"
**Description**
The social media icons in the footer are wrapped in a link and that link has rule `text-decoration: underline` set for hover pseudo-class.

**Reproduction**
Go to  https://cc-vocabulary.netlify.app/?path=/docs/patterns-footer--default-story and hover over the social media icons.

**Expected behavior**

No underline should be visible. The footer on [CC Search](https://search.creativ

[2020-05-21 13:20] dhruvkb opened #406 "Adopt Prettier for code formatting"
We want to ensure clean and consistent code style/formatting. One simple step would be to add Prettier as a `devDependency` to the project. Prettier may already be a transient dependency of the Vue CLI, but we will need to verify whether this is true.

## Task

- [ ] add Prettier as a `devDependency` for this project
- [ ] add instructions to our README for the use of Prettier
- [ ] consider how t

[2020-05-21 13:39] #396 closed

[2020-05-21 17:20] Dishebh commented on #327
@dhruvkb I am trying to run the current tests for `Cards` (`jest run card.test.js`), but neither of the tests written in `card.test.js` is passing, throwing error:
`ReferenceError: page is not defined`
I tried re-installing `jest-puppeteer` and re-running the tests, but the error still holds. Can you pls help me identify with why that error is showing up and / or where I am going wrong? Thanks!