[2021-02-21 16:02] darkshredder commented on #852
@nimishbongale Can I raise PR for the same issue?

[2021-02-21 16:48] darkshredder opened #853 "Bug: Main logos story page is crashing"
## Description
Main story page is crashing and not showing anything

## Reproduction
1. Go to the following url  [Main logo](https://cc-vocabulary.netlify.app/?path=/docs/assets-logos-main--logomark-inverted)
2. See error.

## Expectation
![Screenshot from 2021-02-21 22-17-14](https://user-images.githubusercontent.com/52625656/108631978-9479f580-7492-11eb-86df-3d55d4206281.png)

## Screenshots
![S

[2021-02-21 18:40] nimishbongale commented on #852
Go ahead @darkshredder! 👍

[2021-02-21 18:43] nimishbongale commented on #853
@darkshredder

Good observation. Here's the actual detailed error:

![error](https://user-images.githubusercontent.com/43414361/108634992-ae233900-74a2-11eb-9be4-1f036f62e5c0.png)

How do you plan on resolving it?

[2021-02-21 20:09] darkshredder commented on #853
I have solved it. This is the change that needs to be made as per storybook documentation and then it will work like charm.
![Screenshot from 2021-02-22 01-38-23](https://user-images.githubusercontent.com/52625656/108636997-c0a36f80-74ae-11eb-92d3-37f82122dcb7.png)

[2021-02-22 20:25] darkshredder opened #856 "Changing Preview component to Canvas"
## Description
After Storybook release v6.0 [Link](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#previewprops-renamed) .The preview component has been renamed to canvas.In the current codebase there is a lot of use of `<Preview>` component.

## Expectation
Though these changes are backward compatible but we should rename the component for future reference and as per current docum

[2021-02-24 08:09] zackkrida commented on #856
👍 Thanks for sharing this, it's approved for work.

[2021-02-25 22:53] frappelatte28 opened #858 "Border Collapsing"
## Description
When we click on the close button, border collapses.

![Screenshot from 2021-02-26 04-15-14](https://user-images.githubusercontent.com/64382399/109230072-447c9500-77ea-11eb-8811-4c07d23da0aa.png)

## Reproduction
Sidebar->Pattern->Modal

[2021-02-27 18:33] frappelatte28 opened #860 "Cards are not responsive in mobile view."
## Description
Cards are not responsive in mobile view, as fixed width in the pixels is defined there.

## Reproduction
Sidebar->cards section

## Resolution
![Layouts _ Cards - PostVertical ⋅ Storybook](https://user-images.githubusercontent.com/64382399/109396577-4ebca180-7958-11eb-87c2-f875c0193e6e.gif)

- [x] I would be interested in resolving this bug.

[2021-02-27 18:40] frappelatte28 commented on #860
Can i raise a PR @zackkrida @dhruvkb @nimishbongale.

[2021-03-01 05:51] Shukshi commented on #856
Hey I want to work in this issue, Can you please tell me where to start?

[2021-03-02 13:35] #858 closed

[2021-03-05 20:12] #834 closed

[2021-03-07 10:16] rajat2502 commented on #790
Hey @obulat, I can try adding this feature.
Are color, size, and name are the only props that we need on the Icon component?
Also, we will have to add one `JSON` file to store the objects for the SVGs so can you please guide me on where to add that?

[2021-03-07 18:19] KarthikSundar2002 commented on #856
Is this issue still open?? If it is, I would like to have a look at it.

[2021-03-08 00:49] #856 closed

[2021-03-08 00:51] zackkrida commented on #856
@KarthikSundar2002 no, I just merged the existing PR. Thanks!

[2021-03-08 14:33] #853 closed

[2021-03-08 20:30] shubhanshu02 opened #867 "Sass Writing Styles"
## Description
Currently, Creative Commons does not have a Sass writing style though it follows a standard code style in all `.scss` files. This issue proposes finding and preparing a writing style from the `.scss` files present in this repository.

Please provide your suggestions on this idea.

## Implementation
- [x] I would be interested in implementing this feature.

[2021-03-18 04:45] dhruvkb commented on #867
I think having a style guide for all languages is good. @TimidRobot already worked on a [Python code style that is present on our Open Source site](https://opensource.creativecommons.org/contributing-code/python-guidelines/). You could do something similar to that?

[2021-06-08 18:42] brylie opened #893 "Unable to install project dependencies due to eslint conflict"
## Description
When trying to set up a development environment, I get the following  error during `npm install`

[code]

## Reproduction

1. clone the repo
2. change into the directory
3. run `npm install`
4. See error.

## Expectation

The project dependencies would install. Further, the dependencies should be up-to-date.

## Resolution

- [x] I would be interested in resolving this bug.

[2021-06-08 18:48] brylie commented on #893
As the error mentions, running `npm i --legacy-peer-deps` fixes the issue on npm 7.

[2021-06-08 18:50] #893 closed

[2021-06-08 19:22] brylie opened #894 "Build failed with errors (SCSS files not found)"
## Description

I'm following the instructions in the README and get an error when running `npm run build`:

<details>
<summary>
Error mentioning four missing/moved SCSS imports
</summary>

[code]
</details>

## Reproduction

1. clone the repo
2. run `npm install --legacy-peer-deps`
3. run `npm run build`
4. See error.

## Expectation

The SCSS import paths would be correct

## Resolution

- [x] I

[2021-06-09 05:03] nimishbongale commented on #894
Just a thing to mention here @brylie, the [Netlify site](https://cc-vocabulary.netlify.app/) is down too (which I assume gets rectified after we fix the build)

[2021-06-09 07:00] brylie opened #895 "Blank page with uncaught exceptions(s) on Netlify deployment"
## Description
Both the local development build and [Netlify deployment](https://cc-vocabulary.netlify.app/) are failing to render, showing only a blank white page. The browser console displays some errors about uncaught exception(s):

![image](https://user-images.githubusercontent.com/17307/121307736-f9097500-c908-11eb-9e92-b4753deaa7ee.png)

<details>
<summary>Full text of console errors</summar

[2021-06-09 07:03] brylie commented on #894
@nimishbongale, thanks for pointing the Netlify error. I've opened an issue to track the resolution of the Netlify error, to make sure we get that fixed. Hopefully, as you mention, these issues share a common root cause.

[2021-06-09 07:40] brylie opened #896 "Rename `master` branch to `main`"
## Description

## Alternatives

We could leave the `master` branch as-is. However, renaming the branch is relatively easy and would be consistent with other repos in the CC org.

- [CC WordPress Plugin](https://github.com/creativecommons/wp-plugin-creativecommons)
- [CC chooser](https://github.com/creativecommons/chooser)
- [CC legaldb](https://github.com/creativecommons/legaldb)
- [CC licenses](

[2021-06-09 10:14] brylie opened #897 "Error: listen EADDRINUSE: address already in use :::8084"
## Description
Unable to run the project using instructions from the README. I've also tried with Volta. When running `npm run storybook`, I get the following error:

[code]
<details>
<summary>
Console error message
</summary>

[code]

</details>

<details>
<summary>
Full debug log
</summary>

[code]
</details>

## Reproduction

Run the following steps with or without Volta. If not using Volta, us

[2021-06-09 13:01] brylie opened #898 "[RFC] Deprecate Storybook - simplify project to essential components and styles using VuePress"
## Problem

Consider rebooting this repository as a simple Vue-only app that fulfills the _essential_ requirements.

Further, the project is intended to:

## Description
I've spent the better part of two days trying to get this project to run. Complexity may be the fundamental issue preventing Storybook from running (#897) or rendering in deployment (#895). In effect, there are too many dependenci

[2021-06-09 13:36] zackkrida commented on #895
This issue also seems related: https://github.com/storybookjs/storybook/issues/14410

[2021-06-09 13:51] zackkrida commented on #897
I've tried debugging this in several ways, all unsuccessful. Some things I've done:

- Rollback to previous commits where the project was known to work (`git checkout bf17139ce1a7d149f743c798bb6e7a98e1e92380` for example), but the `EADDRINUSE` port errors are still present
- Remove lock files and reinstall dependencies
- Manually roll back storybook and other dependencies to earlier versions

As y

[2021-06-09 13:59] brylie commented on #897
I'm running Ubuntu 20.04 on an ASUS tower. I think the underlying issue is complexity

[2021-06-09 14:15] zackkrida commented on #897
Isn't that the case with any software? I don't think complexity is inherently bad. Doing complex things requires complexity. For this project however, I think your suggestions to simplify are wise, and encouraged. Storybook in particular feels disproportionately heavy and complex in comparison to the value it provides.

Vocabulary could fundamentally be a single CSS file.

[2021-06-09 14:49] brylie commented on #897
Yeah, agreed. Our biggest battle as software engineers is with complexity. One of the arts of science and engineering is in reducing complex things down to their essence. :-)

[2021-06-09 14:51] brylie commented on #897
One phrase that comes to mind is "proportionate complexity". It's also worth reflecting on ideas like Kanban and Lean that aim to distill things to their essence and make that essence intuitive and visible.

[2021-06-09 14:55] brylie commented on #897
By the way, I really appreciate your help in troubleshooting this issue as well as your perspective :smiley:

[2021-06-09 14:56] brylie commented on #895
OK, thanks for linking to the upstream issue :+1: :100: :smile:

[2021-06-28 20:31] clasick commented on #895
@zackkrida Is there any workaround for this issue to start playing around with this project?

[2021-06-29 08:49] #896 closed

[2021-06-29 09:00] brylie commented on #895
@clasick would you like to help with an experiment to replace Storybook with VuePress? I have outlined the rationale and included a link to a tutorial series on using VuePress to document a Vue component library in issue #898.

[2021-06-29 11:44] dhruvkb commented on #895
I'm able to get Storybook up and running in the `vocabulary` package with some dependency changes. @brylie and @clasick if you can reproduce my findings, this might be less work than throwing away Storybook and starting VuePress from scratch.

[2021-06-29 11:46] clasick commented on #895
Sure @dhruvkb. Could you please share the dependency changes that worked for you?

[2021-06-29 11:48] dhruvkb commented on #895
It's in the PR #903 referenced above my comment. You can check out that branch.

[2021-06-29 11:51] dhruvkb opened #904 "[Bug] CI workflows broken after branch rename"
## Description
The CI workflows for Fonts, Vocabulary and Vue-Vocabulary are broken after renaming `master` to `main` and the workflows have the branch name hardcoded in them.

## Expectation
The CI workflows should execute on push and PR.

## Screenshots

### Fonts
https://github.com/creativecommons/vocabulary/blob/21a35d06b3a4e675526985954fc4fd7e0c02f4cc/.github/workflows/ci-fonts.yml#L8

https:

[2021-06-29 12:30] brylie opened #905 "[RFC] rearchitect project to keep separate packages with single Storybook app"
## Problem

Our project is currently split into multiple packages each with its own Storybook instance. The separate packages are desirable so we can use them in downstream projects. However, having multiple Storybook instances has led to some breaking complexity and redundant configuration.

In effect, the complexity introduced by the underlying dependencies has become an impediment to further de

[2021-06-29 13:00] clasick commented on #895
Thanks. Can confirm that the `vocabulary` package storybook works in that branch.

[2021-06-29 13:47] clasick commented on #860
Fixed by #906.

[2021-07-06 06:32] #904 closed

[2021-07-08 09:21] brylie commented on #898
@dhruvkb would you please provide your perspective in this RFC? I appreciate the comments you made in PR #903 and want to make sure we consider them in this context :smiley:

[2021-07-08 09:23] brylie commented on #905
@dhruvkb would you consider offering your perspective and guidance regarding a simplified project structure where Storybook is decoupled from the vocabulary packages?

[2021-07-08 09:25] brylie commented on #895
Re-opening this issue since the Netlify deployment is still showing a blank screen. We may need to manually deploy or work out the automated deployment process:

https://github.com/creativecommons/vocabulary/issues/630

[2021-07-08 09:28] dhruvkb commented on #905
I would absolutely love to, but I need a couple of days to play with Storybook before conclusively saying what would work for us. I'm still unsure if this is even possible with the way Storybook is architectured so I need to do a little bit of research on my end.

[2021-07-08 09:30] brylie opened #932 "RFC: Use GitHub Pages for deployment"
## Problem

The project currently uses Netlify for static deployment. However, we want to move our static documentation sites over to GitHub Pages.

## Description

Configure the project to deploy to GitHub pages. Leave the default URL settings so that the deployment appears as a sub-URL of the Creative Commons Open Source documentation portal.

## Additional context

The [storybook-deployer](http

[2021-07-08 09:31] brylie commented on #905
Sure thing. Take your time :smile:

[2021-07-08 09:48] dhruvkb commented on #898
I'll reiterate some points from [this comment](https://github.com/creativecommons/vocabulary/pull/903#issuecomment-873348100) and expand on them a little bit.

At the core of my ideas are two points:
- Storybook is a very powerful tool with interactive features that could be very useful to us. Building our own solution would be a lot of work for our small team.
- VuePress is a very simple tool for

[2021-07-09 14:03] brylie commented on #898
I agree with what you have written. In particular, I share your concerns about the development turbulence and complexity of extensions/dependencies.

On the subject of VuePress, the idea is to create a minimal display/documentation project for our specific Vue components, not to replace all of the functionality of Storybook. See the following resources for an idea of how that might look in practic

[2021-07-10 01:39] dhruvkb commented on #898
@brylie that makes a lot of sense. VuePress is closer to the Vue ecosystem and could be a good way to dogfood Vocabulary to build the Vocabulary showcase. My only concern against it is that if we need more features later, it'll be quite cumbersome and dev-intensive.

[2021-07-11 11:33] dhruvkb commented on #905
@brylie I did some experimentation about having a single storybook for two intermingled projects (SCSS + Vue). I've hosted the solution I find most elegant at [`dhruvkb/vocab`](https://github.com/dhruvkb/vocab).

This repo contains one project with two build entrypoints, one producing a combined stylesheet and the other producing a Vue library. Some features of this approach include:
- maximum cod

[2021-07-12 04:57] dhruvkb commented on #895
Alternatively, migrating the Storybooks over to GitHub Pages (#932) could fix this.

[2021-07-12 15:53] brylie commented on #932
@dhruvkb I believe this issue is blocked by the need for a simpler architecture #905. In effect, I believe we would need to have a single Storybook app in order to use the [storybook-deployer](https://github.com/storybookjs/storybook-deployer) utility.

[2021-07-12 16:11] brylie commented on #905
@dhruvkb thank you so much! I am checking the code out now. Would you try an experiment to see if the solution you have made can be deployed to GitHub pages with the [storybook-deployer](https://github.com/storybookjs/storybook-deployer)? I.e.it would be useful to have a single command to build/deploy the latest project release for continuous integration.

[2021-07-12 16:33] dhruvkb commented on #932
@brylie the documentation for Storybook Deployer has a section on [deployment of monorepos](https://github.com/storybookjs/storybook-deployer#deploy-a-monorepo). Can you give that a try to see if it works for our case?

[2021-07-13 19:17] brylie commented on #905
@dhruvkb would you mind if I assign you to this task so we can track its resolution? It is a high priority in our active sprint :smiley:

[2021-07-14 03:08] dhruvkb commented on #905
Yeah, sure. I don't mind! 😄

[2021-07-14 10:24] brylie commented on #905
Yes, the repo architecture looks great! :sunglasses: :building_construction:

The only change I suggest is that we avoid keeping the [generated output](https://github.com/dhruvkb/vocab/tree/main/docs in revision control. Keeping static generated output in revision control makes for noisy pull requests and repository bloat.

The build system/script can typically generate the output in a dedicated b

[2021-07-14 12:19] dhruvkb commented on #905
@brylie putting the Storybook in the `docs/` directory was a quick hack to get the Storybook live for a demo, that's definitely not what I intended to do in production 😆.

[2021-07-18 11:36] dhruvkb commented on #905
I've started working on this in a separate [`restructure` branch](https://github.com/creativecommons/vocabulary/tree/restructure). We can discussion the implementation specifics on the ^draft PR. Reviews, feedback and contributions to it are welcome 😄!

[2021-09-08 07:39] brylie commented on #898
Closing, as superseded by #905

[2021-09-08 07:39] #898 closed

[2021-09-08 15:51] brylie opened #941 "Upgrade project to Vue 3"
Vue 3.0 was [released in September 2020](https://github.com/vuejs/vue-next/releases/tag/v3.0.0). However, this project is still using Vue 2.x.

Decide when it is time to upgrade this project to Vue 3.x

## Description
One of the design constraints of Vue 3.x was to preserve backward compatibility with Vue 2.x projects. This would ideally mean very little would need to change when the Chooser proje

[2021-09-08 18:32] Cronus1007 commented on #941
@brylie A suggestion from my side
We can split this issue into several small bits and if new contributors would like to contribute to the system then we can assign those issue to separate individuals.

[2021-09-15 07:30] #852 closed

[2021-09-15 07:30] #849 closed

[2021-09-15 07:30] #828 closed

[2021-09-15 07:30] #805 closed

[2021-09-15 07:30] #791 closed

[2021-09-15 07:30] #769 closed

[2021-09-15 07:30] #760 closed

[2021-09-15 07:30] #759 closed

[2021-09-15 07:30] #757 closed

[2021-09-15 07:30] #725 closed

[2021-09-15 07:31] #695 closed

[2021-09-15 07:31] #689 closed

[2021-09-15 07:31] #659 closed

[2021-09-15 07:31] #655 closed

[2021-09-15 07:31] #645 closed

[2021-09-15 07:31] #644 closed

[2021-09-15 07:31] #616 closed

[2021-09-17 08:54] brylie commented on #905
@dhruvkb have you had a chance to review pull request #940?

[2021-09-17 12:13] dhruvkb commented on #905
Really sorry @brylie and @sadn1ck for all the delays I've caused in the review. I got caught up in work a little more than usual. I'll definitely review this today and take this through to completion.

[2021-09-24 15:52] vuil commented on #672
Just want to add, for repos that leverages paths to limit the set of checks that need too run, this issue makes the automerge feature impossible to use without some hacks like (1).

[2021-10-01 07:31] #932 closed

[2021-10-05 08:19] #897 closed

[2021-10-05 08:19] #895 closed

[2021-10-05 08:19] #894 closed

[2021-10-05 11:18] #905 closed

[2021-10-10 08:19] SaySayo commented on #941
Hello I'm an outreachy applicant. I would like to work on a part of this issue when it's split into smaller bits.

[2021-10-10 18:23] caseynv commented on #1
Hi, can I make contributions to this issue for outreachy?

[2021-10-12 08:41] brylie commented on #602
@dhruvkb, did you end up creating the wiki document? Would you mind outlining here the steps to publish new versions of the Vocabulary packages?

[2021-10-12 08:59] brylie opened #961 "Run npm run lint npm ERR! missing script: lint"
Our CI pipeline is failing with the following error:

## Task

- [ ] create or restore the `lint` command so lint issues will be detected during development and pull requests

[2021-10-12 09:01] brylie opened #962 "npm ERR! missing script: test:unit"
Our CI pipeline is failing with the following error:

## Task

- [ ] create or restore the `unit` command so unit tests will run during pull requests
- [ ] the `test:unit` command should run all unit tests across the `fonts`, `vocabulary`, and `vue-vocabulary` packages where relevant

[2021-10-12 09:04] brylie opened #963 "npm ERR! missing script: build"
Our CI pipeline is failing with the following error:

## Task

- [ ] create or restore the `build` command so unit tests will run during pull requests
- [ ] the `build` command should run all other build commands across the `fonts`, `vocabulary`, and `vue-vocabulary` packages where relevant

[2021-10-12 09:10] MuluhGodson commented on #961
Yes, the project was updated some months ago but the github actions wasn't updated to reflect these changes.

[2021-10-12 09:12] brylie opened #964 "Restore deployment scripts for all packages"
The Vocabulary project consists of three sub-packages:

- fonts
- vocabulary
- vue-vocabulary

When making a release, we have a corresponding script to publish each package to NPM:

- https://github.com/creativecommons/vocabulary/blob/main/.github/workflows/cd-fonts.yml
- https://github.com/creativecommons/vocabulary/blob/main/.github/workflows/cd-vocabulary.yml
- https://github.com/creativecommon

[2021-10-12 09:13] brylie commented on #961
@MuluhGodson, good point. I'm creating tasks so we can restore the GitHub actions. Would you like to take any of the recent tasks?

[2021-10-12 09:44] brylie opened #965 "Restore project unit tests"
Our project consists of three sub-modules:

- fonts
- vocabulary
- vue-vocabulary

Each of the submodules used to have corresponding tests:

- https://github.com/creativecommons/vocabulary/tree/5e7f4331d62267a4332da2ca484d29b0575e6007/packages/fonts/tests
- https://github.com/creativecommons/vocabulary/tree/5e7f4331d62267a4332da2ca484d29b0575e6007/packages/vocabulary/tests
- https://github.com/cre

[2021-10-12 09:58] MuluhGodson commented on #965
[code]
This code snippet above is from the package.json file that had the scripts to run the test.
But if you notice, the test is run using a package configuration that is no longer used.

https://github.com/creativecommons/vocabulary/blob/5e7f4331d62267a4332da2ca484d29b0575e6007/packages/fonts/package.json

[2021-10-12 10:07] MuluhGodson commented on #965
@brylie I think the last time the former deployment scripts were being used was when this other PR was made:
https://github.com/creativecommons/vocabulary/pull/906

[2021-10-13 07:43] MuluhGodson commented on #964
Hello @brylie I will love to continue working on this

[2021-10-13 08:43] brylie commented on #965
Alright, we should remove the CI step for now then. Let's repurpose this task to disable the CI script.

[2021-10-13 08:44] brylie commented on #965
Which package is no longer maintained? There seem to be at least a couple of test frameworks used in the files above, Vue tests, SCSS tests, and perhaps vanilla JS tests (via Jest).

[2021-10-13 08:49] brylie commented on #965
OK, great! I've updated the task checklist in the description to include "remove fonts tests" while restoring the other tests.

[2021-10-13 08:50] MuluhGodson commented on #961
I will love to take this issue and #963 since it involves refactoring the same files (The CI) files.

[2021-10-13 08:53] brylie commented on #961
OK, I've assigned you to this issue. Please also comment in #963, so I can assign you there. GitHub won't let me assign you until you've commented on the issue.

[2021-10-13 08:55] MuluhGodson commented on #963
I will love to take this issue and #961  since it involves refactoring the same files (The CI) files.

[2021-10-13 09:41] Akpjunior94 commented on #860
@brylie I want to work on this. Can I go ahead?

[2021-10-13 09:52] brylie commented on #860
Sure thing. Most of the related changes are available in the pull request. They just need to be applied against the files that have been moved to new locations.

[2021-10-13 11:37] #860 closed

[2021-10-13 16:17] Lovelynchristian commented on #330
I would love this to be assigned to me please

[2021-10-14 07:58] #962 closed

[2021-10-14 08:26] brylie opened #983 "Add `wflow` development dependency for CI workflow development"
We use GitHub actions for our continuous integration. When making changes to the CI scripts, it is desirable to test changes locally before committing them to the project repository. GitHub provides a [wflow testing utility](https://github.com/phishy/wflow) that allows developers to run GH Actions workflows locally.

## Task

- [ ] add the [wflow](https://github.com/phishy/wflow) library as a `dev

[2021-10-14 08:41] brylie commented on #672
Closing this since it is less relevant now that we have fewer tests and a single source directory. We can revisit the issue if it becomes relevant again later.

[2021-10-14 08:41] #672 closed

[2021-10-14 09:45] MuluhGodson commented on #983
@brylie I have a quick question. The repository https://github.com/phishy/wflow was last updated in 2019 and has been archived with 10 open Issues and 13PRs.
Should I still go ahead to implement it as a library, given the possibility that bugs may arise which may never be corrected upstream in the archived repo.

[2021-10-14 10:04] brylie opened #990 "Simplify project dependencies down to absolute minimum"
Our project has many `dependencies` and `devDependencies` defined in `package.json`. The complex nature of these dependencies along with transient dependencies is making the project difficult to maintain and upgrade. In order to promote maintainability and security, we should reduce our project down to the absolute minimum dependencies necessary. In this process, it will hopefully become possible

[2021-10-14 19:10] emmaxy07 commented on #990
I would like to work on this.

[2021-10-15 10:43] brylie opened #1002 "Disable Netlify builds on pull requests"
Netlify is currently running several jobs on each pull request submitted to this project. The Netlify jobs create a lot of noise and some confusion in our CI/review process.

## Task

- [ ] disable automatic Netlify builds on pull requests

[2021-10-15 11:15] Cronus1007 commented on #941
@brylie Sure I will have a look upon this during this weekend.

[2021-10-15 17:57] MuluhGodson opened #1006 "Error with build scripts"
## Description
This PR https://github.com/creativecommons/vocabulary/pull/996 reorganized the scripts files but the changes weren't updated in the `package.json` file.

The new `package.json` scripts should be:

[code]

## Reproduction

1. Run any build command, e.g `npm run build:fonts`
4. See error.

## Expectation
scripts should build correctly

## Screenshots
![image](https://user-images.githu

[2021-10-15 19:46] Akpjunior94 commented on #1002
@ I will take up this issue. Thanks

[2021-10-16 09:02] brylie commented on #1002
@Akpjunior94, thanks! I've assigned you to the issue.

[2021-10-16 09:03] brylie commented on #1
@caseynv and @sushmitaswain1, I'll assign you both. Please connect on the [Creative Commons Community Slack ](https://slack-signup.creativecommons.org/)in order to coordinate.

[2021-10-16 09:12] sushmitaswain1 commented on #1
Sure Brylie,
Will get on with the assignment and let you know on the slack channel

Regards
Sushmita

On Sat, Oct 16, 2021, 2:33 PM Brylie Christopher Oxley <
***@***.***> wrote:

[2021-10-16 09:34] #1006 closed

[2021-10-17 11:10] Akpjunior94 commented on #1002
Okay @dhruvkb  thanks for the update

[2021-10-17 22:21] Datagirlcmr commented on #406
#1009 create a prettier.MD file documenting how to use prettier to format code base

[2021-10-18 03:39] Nurganym commented on #990
I would like to work on this.

[2021-10-20 02:41] brylie commented on #330
@Lovelynchristian, Docker isn't required for Vocabulary development. All that is needed are Node and npm. Please follow the [Vocabulary installation instructions](https://github.com/creativecommons/vocabulary#installation) to get started with development.

[2021-10-20 05:26] Lovelynchristian commented on #330
@brylie Thank you.

[2021-10-20 10:37] Cronus1007 commented on #941
@brylie There are about 113 vulnerabilities in the repository currently where 40 are moderate ones, 71 are high and 2 are critical. Also, elaborate on which updates are blocked currently.

[2021-10-20 10:48] brylie commented on #941
@Cronus1007, if you run `npm audit --fix` you can see a full report of the remaining package updates that cannot be automatically fixed without the `--force` flag. Adding `--force` results in a broken build process. From the best I can tell, there are some constraints around `node-sass` or `sass` that cannot be resolved without `--force`.

[2021-10-26 10:29] brylie opened #1013 "Improve Vocabulary performance"
Vocabulary currently has some performance issues, related to:
- File size of CSS files
- Runtime loading cascade (importing Vocabulary from the CDN then loads
  additional stylesheets and font files in sequence, instead of in parallel).
  We need to eliminate this waterfall.

Performance can also be further improved via documentation, and sharing best
practices for implementing vocabulary with con

[2021-11-02 12:56] brylie opened #1021 "Update project dependencies to resolve vulnerability warnings (currently 113)"
Running `npm audit` on the Vocabulary project warns of 113 vulnerabilities as of 2021-11-02. Granted, many of the vulnerabilities may be relatively low impact, particularly if they only pertain to `devDependencies`. However, we should upgrade our dependencies to reduce the warnings and improve the health of our project.

## Task

- [ ] run `npm audit` to identify security vulnerabilities
- [ ] run

[2021-11-02 12:57] brylie commented on #1021
@Cronus1007, would you consider helping out with this task?

[2021-11-02 12:59] brylie commented on #941
I'm removing this from the current milestone, due to the complexity of this task and the urgency of other development issues, such as the dependency vulnerabilities #989

[2021-11-02 13:32] Cronus1007 commented on #1021
@brylie Sure I will have a look upon this issue during this weekend

[2021-11-02 13:44] brylie commented on #1021
Thanks! I really appreciate it. :smiley:

[2021-11-04 12:39] Datagirlcmr commented on #941
Okay, @brylie . Each time I fixed a dependency issue, others became more visible and npm run serve threw a lot of other errors. Any pointers on what I should be doing about that now?

[2021-11-05 08:32] brylie commented on #941
Let's put this issue on hold for now since there seem to be irreconcilable dependency issues. We may need to wait for changes in Storybook to resolve the dependency upgrades and then proceed with the Vue 3 upgrade.

On a general note, I am not sure that we need the Vue components since they aren't in use in any of the Creative Commons projects.

[2021-11-08 10:52] Cronus1007 commented on #1021
@brylie  I have started working upon this issue. Once I would be able to get major work done regarding this issue I will raise a PR.

[2021-11-15 13:57] Cronus1007 commented on #1021
@brylie  Can you please have a look at the Github security policy of the repository since it can help me a lot to resolve this issue?

[2021-11-15 14:49] brylie commented on #1021
@Cronus1007 I'm not sure what GitHub security policy you're referring to. We have dependabot enabled on this repository.

In any case, the issue is related to the security vulnerabilities reported when running `npm audit`. Please review the `npm audit` output for further details.

[2021-12-09 20:15] Kongpc2535 opened #1029 "[Bug] <Replace this with actual title>kongpc"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-12-09 20:16] #1029 closed

[2021-12-09 20:17] Kongpc2535 opened #1030 "[Bug] <Replace this with actual title>kongpc"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-12-09 20:17] Kongpc2535 opened #1031 "[Feature] <Replace this with actual title>kongpc"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2021-12-10 07:09] #1030 closed

[2021-12-16 16:27] TimidRobot opened #1037 "[Bug] Bulma minireset.css is breaking formatting in downstream projects"
## Description
Vocabulary `v2020.11.3` CSS is overly generic. It breaks basic formatting. Any HTML that is not explicitly styled (and some that is) looks terrible.

Examples:
[code]
[code]
[code]

## Reproduction
De-minnify https://unpkg.com/@creativecommons/vocabulary@v2020.11.3/css/vocabulary.css

## Expectation
CSS should be neither overly specific (results in a lot of duplication) nor overly g

[2021-12-17 06:55] brylie commented on #1037
Yes, good point.

We [traced the issue down to the Bulma framework](https://github.com/creativecommons/project_creativecommons.org/issues/172), which includes a [minireset.css](https://github.com/jgthms/bulma/blob/master/sass/base/minireset.sass) and removed the minireset.css included in PR #1023. We can make a Vocabulary release now without the Bulma minireset.css.

There is a [longstanding issue

[2021-12-17 07:07] brylie commented on #1037
I suppose the solution we are converging on is, aside from the idea of deprecating Bulma, to only use the Vocabulary project build since it should contain all of Bulma core styles, including our overrides. As mentioned, the next Vocabulary release should exclude the minireset.css.

cc: @MuluhGodson

[2021-12-17 07:15] MuluhGodson commented on #1037
Yes that's correct, Vocabulary already has most of the Bulma styles and that we we have overridden.
I contacted the author of Bulma if he had any plans of releasing a Bulma build without Minireset.css

![Screenshot_20211217-081439](https://user-images.githubusercontent.com/40151808/146504725-a87e98e7-51e0-4dc0-bda6-3427401eea94.png)

[2021-12-17 07:19] brylie commented on #1037
OK, cool. I'll prepare the new Vocabulary release today.

[2021-12-17 13:10] annatuma commented on #1037
Thanks for the thoughtful response here folks! Looking forward to Vocabulary being more usable (and celebrating a new release).

[2021-12-17 14:40] brylie commented on #1037
I made some progress on the Vocabulary release by separating all of the Sass files into a fresh project following the Bulma docs. I'm considering keeping the styles separate with only essential dependencies that are needed to compile Sass to CSS, namely Webpack and the sass package.

There were just too many issues trying to build the styles in the current Vocabulary project. The other Vocabulary

[2021-12-21 07:00] brylie opened #1038 "Replace `node-sass` with `sass`"
The `node-sass` package is marked as deprecated and should be replaced by `sass`.

## Task

- [ ] replace `node-sass` dependency with `sass`

## Resources

- https://www.npmjs.com/package/sass

[2021-12-21 07:03] brylie commented on #1037
@TimidRobot, can you provide some more context of where you are encountering layout issues stemming from Bulma? Then, we may be able to troubleshoot further with that additional information.

[2021-12-21 08:23] brylie opened #1039 "Remove `docs/` folder from revision contriol"
The `docs/` folder contains auto-generated output from the command `npm run build:storybook`. We host the Storybook output on GitHub pages.

However, we should try to minimize the amount of auto-generated code we keep under revision control since committing that code to Git isn't meaningful and creates repository bloat.

Ideally, we would

- keep automated output in a separate Git branch, such as

[2021-12-22 06:48] brylie commented on #1037
There may be a quick fix. In the CC Legal Tools templates, add a `<div class="content">...</div>` around the dynamic portion of the code.

Bulma provides the [content class](https://bulma.io/documentation/elements/content/) as a fallback for parts of the document generated from WYSIWYG editors or other content management processes where adding individual classes on the page elements is not possibl

[2021-12-22 07:02] brylie opened #1041 "Remove Hotjar-related packages and code"
We currently include two packages related to Hotjar in `package.json` and some analytics code throughout our components. However, the Hotjar code may no longer be necessary since we are not actively using Hotjar analytics for any internal measurements.

## Task

- [ ] remove Hotjar/analytics code from Vue components
- [ ] remove Hotjar packages from `package.json` including `vue-analytics`

[2021-12-22 07:16] #1038 closed

[2022-01-02 11:55] clasick commented on #1041
@brylie Went through the code and can't seem to find the Hotjar-related in the components nor the package.json. Has this task already been resolved or am I looking in the wrong place... 😕

[2022-01-02 12:03] clasick commented on #1039
@brylie Could this potentially be resolved by adding the `docs/` to the `.gitignore` file? Or is there some limitation in that end for Storybooks/Netlify, etc.?

[2022-01-02 16:15] sadn1ck commented on #941
I think chooser-beta uses those? (eg: [here](https://github.com/creativecommons/chooser/blob/main/src/main.js#L15))

[2022-01-02 16:17] sadn1ck commented on #1041
yeah @clasick looks like it already has been removed

[2022-01-04 07:48] brylie commented on #1041
Ah, this should have been opened in the Chooser repository. My bad.

[2022-01-04 07:50] brylie commented on #1039
Yes, we will want to at least add `docs/` to `.gitignore`. Netlify will build and host the documentation without the need to commit the static output to our revision history.

[2022-01-05 10:44] #1039 closed

[2022-01-06 11:08] brylie opened #1049 "Split Vocabulary packages into separate projects"
## Problem

The structure of the Vocabulary project and lack of developer continuity has led to maintenance issues blocking the release of `styles` and `fonts` packages. We need to publish new versions of `styles` and `fonts` as the creativecommons.org redesign roadmap progresses.

## Description

The Vocabulary project includes transient dependencies preventing us from building and releasing the

[2022-01-06 11:28] brylie commented on #1049
From what I can tell, the Vocabulary Vue components are not used in any downstream project, as they have not been packaged or published. Specifically, the Chooser project contains components in a `vocabulary/` subdirectory. So, we might also consider deprecating the Vocabulary Vue components

[2022-01-06 16:07] mayank2021 commented on #1013
@brylie I would like to fix this issue, can I?

[2022-01-06 17:16] mayank2021 commented on #1013
@brylie I would like to work on this issue, can I?

[2022-01-06 17:37] brylie commented on #1013
@mayank2021, we are undertaking a large reorganization for the Vocabulary project so it might not be the best time to look into performance currently.

[2022-01-06 19:01] MuluhGodson commented on #1049
## List of CC Sites that import Vocabulary Styles/Fonts:
- `summit.creativecommons.org`: uses 3 versions of Vocabulary fonts
![image](https://user-images.githubusercontent.com/40151808/148434853-cd31224e-1a85-403e-8680-9d36120b79fb.png)

- `opensource.creativecommons.org`: uses fonts and Vocabulary JS (is this for the vue components??)
![image](https://user-images.githubusercontent.com/40151808/14

[2022-01-07 05:52] mayank2021 commented on #1013
@brylie Sure, let me know please if I can help in reorganization for the vocabulary project.

[2022-01-07 08:47] brylie commented on #1049
One thing I am considering is whether to publish the components CSS with the `vocabulary-styles` or `vocabulary-components` project. What are your thoughts about where the SASS files in the components tree should be published?

https://github.com/creativecommons/vocabulary/tree/main/src/components

[2022-01-18 09:34] brylie opened #1051 "Determine origin and usage of icons included in project"
## Problem
There are several icons included in the [`src/assets/icons/`](https://github.com/creativecommons/vocabulary/tree/main/src/assets/icons) directory from an unknown origin. In order to give proper attribution, we should determine the source of the icons as well as their license terms.

## Task

- [x] locate the originating project for non-CC icons located in `src/assets/icons`
- [x] determ

[2022-01-18 09:57] MuluhGodson commented on #1051
@brylie
## - locate the originating project for non-CC icons located in src/assets/icons
These icons are gotten from Font Awesome. It is referenced in this [commit](https://github.com/creativecommons/vocabulary/commit/4ff0e58ca64f0b85c2083417c407fd1194208103) made on Jul 18 2021 by @dhruvkb in the file `src/stories/vocabulary_svg_icons.stories.mdx`

## - determine license terms for the icons
Font

[2022-01-18 10:09] brylie commented on #1051
Would it be feasible to directly link to the Font Awesome icons rather than include them in our source code?

[2022-01-18 10:27] MuluhGodson commented on #1051
yeah, I think that will work better for our use case. We aren't altering the icons in any way so importing FA and using the icons normally will be better, and also reduce file size.

[2022-01-19 15:42] #1002 closed

[2022-01-19 15:44] brylie commented on #406
Closing, since we have recently adopted Prettier for code formatting.

[2022-01-19 15:44] #406 closed

[2022-01-24 10:26] brylie commented on #1049
Closing this since we have initial releases for all Vocabulary sub-projects and the CC Assets.

[2022-01-24 10:26] #1049 closed

[2022-01-24 16:00] brylie commented on #1051
Closing this since we identified FontAwesome as the icon source.

[2022-01-24 16:00] #1051 closed

[2022-01-26 07:00] #790 closed

[2022-02-08 21:36] TimidRobot opened #1058 "[Bug] Document status and new projects"
## Description
This project has been superseded, but that has not been documented.

## Reproduction
1. Go to this projects home page: https://github.com/creativecommons/vocabulary

## Expectation
README should note status and link to current projects:
- [creativecommons/vocabulary-components](https://github.com/creativecommons/vocabulary-components)
- [creativecommons/vocabulary-fonts](https://git

[2022-02-09 11:39] Cronus1007 commented on #1058
@brylie Shall I work upon this issue?

[2022-02-09 14:00] brylie commented on #1058
Sure thing. Thanks, @Cronus1007! :-) Shall I assign you to the issue?

[2022-02-09 14:21] Cronus1007 commented on #1058
@brylie Sure

[2022-02-23 08:38] brylie commented on #1058
@Cronus1007, how are you doing? Are you able to make any progress on this issue?

[2022-02-23 09:10] Cronus1007 commented on #1058
@brylie Yes I am working upon it. Yes I was able to make much progress in the issue. I believe I would be done with this issue by this weekend.

[2022-02-23 09:26] brylie commented on #1058
Ok, take your time. 🙂

I was checking in while reviewing open issues.

[2022-04-06 17:50] #1058 closed

[2022-05-26 17:40] Surachai-kent opened #1067 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2022-05-26 17:41] #1067 closed

[2022-05-26 17:41] Surachai-kent commented on #1067
[Uploading GitHubAdvanced_SecurityEbook.pdf…]()

[2022-09-16 20:40] possumbilities opened #1081 "Vocabulary Roadmap 2022.Q4-2023.Q1 (work in progress)"
__Notice:__ As there is still much to discover, this Roadmap is considered a `work in progress` and is still subject to change.

## TOC

* [Summary](#summary)
* [History](#history)
* [Current Challenges](#current-challenges)
* [Objectives](#objectives)

## Summary <a id="summary"></a>

Vocabulary has become sprawling, out of date, difficult to maintain, mismatched in documentation, and overly comp

[2022-09-19 20:46] possumbilities commented on #1081
These two items:

- Ensure each repositories above has an admin team (probably "Internal Tech")
- Ensure each repositories above has an staff team in `.github/CODEOWNERS` (probably `@creativecommons/internal-tech`)

From: [[Request]: Push access to various Vocabulary related repositories for Sara Lovell #941](https://github.com/creativecommons/tech-support/issues/941#issuecomment-1251513923)

Need

[2022-09-22 16:30] TimidRobot opened #1083 "Reintegration example: src/scss/header.scss"
## Description
Goal: merge deleted file with full history with copy in the [creativecommons/vocabulary-styles](https://github.com/creativecommons/vocabulary-styles) repo (which did not include full history 🤦🏻 ):
1. [creativecommons/vocabulary: eb60730128 `packages/vocabulary/src/styles/header.scss`](https://github.com/creativecommons/vocabulary/blob/eb6073012877624dd10be564dfa8cf15696b106f/package

[2022-10-03 13:51] #1083 closed

[2022-10-18 20:08] possumbilities opened #1092 "Document specific versions of Vocabulary family projects used by active downstream projects in README.md"
## Problem

This is a sub-issue of :
* #1081

Presently, there is not a public listing of all the versions of the Vocabulary family of projects utilized in downstream projects. Some projects have specific versions and others have ranges.

The following Vocabulary family of projects have versions used in downstream projects:

- [creativecommons/vocabulary](https://github.com/creativecommons/vocabul

[2022-10-18 20:14] possumbilities opened #1093 "Document publicly all mentions and occurrences of Vocabulary family of projects in files, sites, documentation, repositories, etc."
## Problem

This is a sub-issue of:
* #1081

Once #1092 is complete, there needs to be a record of all known occurences of Vocabulary across CC projects and entities, so that they can be updated to reflect any current and future changes to Vocabulary, or deprecated if necessary.

## Implementation

- [x] I would be interested in implementing this feature.

[2022-10-24 19:46] possumbilities opened #1095 "[Feature] Create a `/guides` directory to track beginner friendly documentation and help specific to this project"
## Problem
There are instances where newcomers/beginners would benefit from more specific and detailed instructions related to this project than what is present in the standard `README.md`, but expanding the `README.md` file to accommodate this could make it bloated and confusing.

## Description
To resolve this we're going to add a `/guides` directory with an explainer `README.md` file within it,