[2020-05-22 11:18] kushaggarwal commented on #406
Hello @dhruvkb
I would like to work on this issue
Can you please provide me with some pointers as if how to begin with same
Thanks

[2020-05-22 11:20] kushaggarwal commented on #405
Would like to take this issue @dhruvkb if still open

[2020-05-22 16:13] megha070 commented on #406
@dhruvkb I would like to take this up.

[2020-05-23 13:56] dhruvkb opened #407 "Explain the usage of CC lettermark and logomark"
**Description**
Both CC lettermark and letterheart have icons in Vocabulary Icons. This should be mentioned in the docs for the corresponding logos to offer the alternative for people looking to embed them in places like the button.

**Problems solved**
An alternative is offered that provides ease-of-use in many scenarios.

[2020-05-23 14:42] dhruvkb commented on #360
@panchovm the new logos are superb. I just gotta say, each character is its own path, ordered by the position of the letter in the word, there is no bloat metadata and the heights are all exactly equal. Beautiful!

[2020-05-23 14:44] #360 closed

[2020-05-23 15:16] #375 closed

[2020-05-23 15:19] dhruvkb commented on #375
@makkoncept you can now add the `is-ellipsised` class on the title to limit text to one line with ellipsis, but it will still reveal the full text on hover, serving your purposes.

[2020-05-23 15:28] dhruvkb commented on #406
@kushaggarwal as this is a [`discussion:rfc`](https://github.com/creativecommons/vocabulary/labels/discussion%3Arfc), we start with a discussion. You come up with solutions and we triage them.

First explore the tools:
- [Code Climate](https://codeclimate.com/quality/)
- [Codecov](https://codecov.io/)
- [ESLint](https://eslint.org/)

[2020-05-23 15:29] kushaggarwal commented on #406
Okay sure @dhruvkb
Will work upon the same

[2020-05-23 18:37] dhruvkb opened #408 "Replace the old Vocabulary logo with the new"
**Description**
The Vocabulary logo is used in a number of places such as
- the `README.md` file
- the sidebar and welcome page of the storybook
- the `og:image` and `twitter:image` meta tags

in both Vocabulary and Vue Vocabulary. These haven't been updated after #366.

**Reproduction**
View any of the files mentioned above. The old logo 'vo·cab·u·lar·y' still appears in those places.

**Expected

[2020-05-23 18:38] dhruvkb commented on #327
@Dishebh are you running the tests from inside Docker as [instructed here](https://cc-vocabulary.netlify.app/?path=/docs/vocabulary-contribution--page#testing)?

[2020-05-23 18:52] dhruvkb commented on #394
@Dhruvi16 this seems to be a card. I'm not entirely sure it's a new component.

[2020-05-24 07:25] kushaggarwal commented on #407
Hello @dhruvkb
I would like to take this up

[2020-05-24 07:25] kushaggarwal commented on #408
Hello @dhruvkb
Would like to work on this if still open

[2020-05-24 10:13] dhruvkb commented on #408
@kushaggarwal you can take this up after #407.

[2020-05-24 10:14] kushaggarwal commented on #408
Okay no problem

[2020-05-24 10:21] #385 closed

[2020-05-25 08:30] jahnvigupta commented on #408
@dhruvkb Can I work on the issue?

[2020-05-25 12:30] hugosolar commented on #394
I agree. It can be a new variation of a Card

[2020-05-25 12:42] hugosolar commented on #393
This component could be a variation from the Card/Quote component

[2020-05-25 12:53] Dhruvi16 commented on #393
Yes! That is what I meant.

[2020-05-25 13:30] hugosolar commented on #388
Regarding this, I think that maybe a "general class" can be added to add it on any image in order to make it round. eg.
[code]

Tagging @dhruvkb and @panchovm to know your thoughts

[2020-05-25 13:39] brenoferreira opened #411 "Disabled button doesn't follow mockup"
The disabled state of the next button should follow the Design Library definition.

Related to https://github.com/creativecommons/cccatalog-frontend/issues/963

[2020-05-25 13:58] panchovm commented on #388
It seems perfect for me

[2020-05-25 15:00] makkoncept opened #412 "Some color helper classes are not working"
**Description**
The colors section of the storybook (https://cc-vocabulary.netlify.app/?path=/docs/tokens-color--figma) lists some colors that can be used directly with the help of helper classes but some of them are not displaying any color.

Check out [this Codepen](https://codepen.io/makkoncept/pen/XWmQgdv).

**Want to take up?**

No

[2020-05-25 15:23] Dhruvi16 commented on #394
Yes, I meant the same but as said by @panchovm on slack, we are not adding it to the library, right?

[2020-05-25 15:51] dhruvkb opened #414 "Separate tokens from Bulma"
**Description**
Mixing tokens and Bulma integrations in the same file makes it hard to use tokens in our own code because of Bulma not being found. This can be fixed by keeping tokens separate and then importing them in the files where Bulma is integrated.

**Expected behavior**
Tokens should be usable without installing Bulma.

[2020-05-25 16:05] Dhruvi16 commented on #414
This also means moving the bulma tokens with the imports. Can we afford that?

[2020-05-25 16:23] dhruvkb commented on #414
Keep the Bulma variables in the existing file, just move "our" constants outside.

[2020-05-25 16:24] dhruvkb commented on #408
@jahnvigupta which parts of this issue are you aiming for?

[2020-05-25 16:28] dhruvkb commented on #412
Currently these classes are only set up to work with brand colors, namely
- Tomato
- Orange
- Gold
- Forest green
- Dark turquoise
- Dark slate blue
- Dark slate gray

Do you have requirements for them to support other colors?

[2020-05-25 17:26] kushaggarwal commented on #408
If it’s fine I can go for Readme and Welcome Page

[2020-05-25 18:28] makkoncept commented on #412
Yes, currently I require feedback colors but may need other ones too in the future. Right now I am using CDN to load vocabulary so it would be helpful.

[2020-05-26 05:06] dhruvkb commented on #412
For feedback colors you can directly use

[code]
as demonstrated in the [Bulma docs](https://bulma.io/documentation/elements/button/#colors).

We've replaced Bulma's colors with our own so you'll see the expected result. Let me know if that fulfils your usecase.

[2020-05-26 05:13] dhruvkb commented on #408
Nice that you divided it among yourselves. @jahnvigupta just make sure you get some GIMP or Inkscape experience because changing `og:image` and `twitter:image` does need that. You can reach out if you need some help with that.

[2020-05-26 05:15] jahnvigupta commented on #408
@dhruvkb  Although I am familiar with using inkspace but I am unclear about which images you are talking about.

[2020-05-26 07:59] #414 closed

[2020-05-26 10:32] Dhruvi16 commented on #388
If everyone is fine with that then should I make a PR?

[2020-05-26 13:36] makkoncept commented on #412
Thanks, but these are only working on buttons. I need the colors for text and background also. Also, most probably the need for interaction and neutral colors would also arise in the future.

[2020-05-26 15:16] panchovm commented on #394
As @kgodey said, we are creating this element as a component. I will update the Design Library.

[2020-05-26 15:16] panchovm commented on #393
As @kgodey said, we are creating this element as a component. I will update the Design Library.

[2020-05-26 15:16] panchovm commented on #388
As @kgodey said, we are creating this element as a component. I will update the Design Library.

[2020-05-26 16:20] dhruvkb commented on #412
For text and backgrounds, you can again use Bulma helpers:
- `.has-text-*`
- `.has-background-*`

as given [here](https://bulma.io/documentation/modifiers/color-helpers/). We're just trying to limit Vocabulary to the minimum necessary classes and not build based on speculations.

[2020-05-26 16:23] dhruvkb commented on #388
To add to @hugosolar, I also notice a black border around the image, so just the rounding class will not be enough.

[2020-05-26 17:52] makkoncept commented on #412
Okay, Make sense. Thanks!
Shall I close this?

[2020-05-26 18:25] kushaggarwal commented on #407
Hello @dhruvkb
With the current logos of Lettermark and logomark is there anything else apart from the presence of the icons for these that is to be mentioned in it
Thanks

[2020-05-26 18:47] Dishebh commented on #372
@dhruvkb @LarrySul I would like to work on the issue.

[2020-05-26 18:56] Dishebh commented on #241
@dhruvkb @akmadian Is the issue still up for grabs? If yes, can I work on it?

[2020-05-26 19:15] LarrySul commented on #372
@Dishebh please go ahead with it ...

[2020-05-26 20:28] #380 closed

[2020-05-26 20:38] dhruvkb commented on #408
@kushaggarwal in your PR for the `README.md` file, set the logo height to `40px` and remove the Creative Commons logo just above it (as the new logo already contains CC in it).

[2020-05-27 05:08] dhruvkb commented on #407
@kushaggarwal I can't think of anything other than just mentioning the existence of the icons. You're free to point out if you think something is missing or needs to be added.

[2020-05-27 07:30] Dishebh commented on #372
@panchovm  @LarrySul can you please tell how do I replicate the issue? All the buttons I see in the repo do not have any style underline on hover. I also don't see the button (given in PR description) in the project website.

[2020-05-27 07:59] LarrySul commented on #372
@Dishebh that's more reason I wasn't able to make a PR to close the issue so I thought I probably wasn't doing something so I wanted to let someone else try it out ... Everything seems okay to me tho . I guess someone else already fixed this from another PR that was merged

[2020-05-27 11:00] dhruvkb commented on #412
No problems, I'll do it.

[2020-05-27 11:01] #412 closed

[2020-05-27 12:23] Dhruvi16 commented on #388
I guess the idea of a class is correct but we can come up with a generalized name of that class. What say? @hugosolar @dhruvkb

[2020-05-27 16:39] kushaggarwal commented on #407
Okay @dhruvkb

[2020-05-27 16:44] panchovm commented on #388
The Design Library has been updated with this component. Here is [the link](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=6728%3A328&viewport=83%2C311%2C0.48122164607048035)

[2020-05-27 16:45] panchovm commented on #393
The Design Library has been updated with this component. Here is [the link](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=776%3A0&viewport=-1019%2C-956%2C1.0975457429885864) to see the new card.

[2020-05-27 16:48] panchovm commented on #394
The Design Library has been updated. Here is [the link](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=776%3A0&viewport=-2930%2C-636%2C0.6898031234741211) to see the new card.

[2020-05-28 06:44] Dishebh commented on #372
@panchovm I guess the issue has been resolved.

[2020-05-28 06:52] Dishebh commented on #344
@DantrazTrev @dhruvkb I would like to work on it, add more social media icons, if we are moving forward with the issue.

[2020-05-28 13:00] panchovm commented on #372
Let me tag @dhruvkb since he is more aware of all ticket's progress.

[2020-05-28 14:05] dhruvkb commented on #344
@Dishebh I'm not really sure if we're proceeding with it. @DantrazTrev's argument is compelling but we don't have our main man @panchovm's feedback on this so far.

[2020-05-28 14:16] dhruvkb commented on #377
I had a different spin on the issue. @makkoncept faced some issues when incorporating Vocabulary elements into his extension and the primary way he resolved these problems with me was by sharing [minimal working examples](https://en.wikipedia.org/wiki/Minimal_working_example) through CodePen. I think if we had a collection of such CodePens that documented particularly hard-to-navigate problems, it

[2020-05-28 14:18] panchovm commented on #344
We are aware and agree with adding more sharing options, but our roadmap might include this feature in future implementations. Let me check with @annatuma how this fits.

[2020-05-28 15:29] dhruvkb commented on #372
@Dishebh this issue arises because of a feature that allows anchor links to be styled as buttons. None of the Button stories on Vocabulary demonstrate this feature (which is a shortcoming of the docs that you should ideally address when solving this issue).

To see the issue, you can see the underline by hovering on the "Go to image's website" button on [CC Search](https://search.creativecommons.o

[2020-05-28 16:15] jahnvigupta commented on #377
@dhruvkb Can you give more details on minimal working examples ?

[2020-05-28 16:52] Dishebh commented on #372
@dhruvkb so should I make a separate section under buttons that have both buttons as buttons and anchor tags styled as buttons, and then correct the styling of the anchor buttons (as per this issue description)?  Because, as you mentioned, there are no anchor tags (currently in the storybook) styled as buttons having class `.is-success`. Please let me know if we are on the same page here. Thanks!

[2020-05-28 19:32] panchovm opened #421 "We need to add two icons: plus and minus"
For **The Linked Commons** visualization we need to add two icons to our current set: `plus` and `minus`. [The Design Library file](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=6828%3A0&viewport=60%2C-453%2C2.8821427822113037) has been updated.

[2020-05-28 20:12] dhruvkb commented on #372
@Dishebh you can just add the corresponding anchor-tag buttons in all the stories of the button-tag buttons but fix their styling so that they work exactly the same?

[2020-05-28 21:29] dhruvkb commented on #371
@panchovm do we want the text to become black on hovering? By default link underlines have the same color as the text and the cause of the black underline is actually the link text itself turning black on hover.

[2020-05-28 21:34] panchovm commented on #371
During hover, we want the text in the same color, just adding an underline.

[2020-05-28 21:49] #405 closed

[2020-05-28 21:56] dhruvkb commented on #411
@brenoferreira can you please expand upon the issue by attaching some expectation vs reality screenshots. That would be very helpful in identifying and patching the issue. Thanks!

[2020-05-28 21:59] dhruvkb commented on #241
Unassigned because of inactivity. Still waiting for @akmadian to verify https://github.com/creativecommons/vocabulary/issues/241#issuecomment-620800448.

[2020-05-29 01:02] #373 closed

[2020-05-29 09:42] Dishebh commented on #372
![Screenshot from 2020-05-29 15-11-05](https://user-images.githubusercontent.com/43489708/83245646-a908b600-a1be-11ea-84b8-98cfa2508817.png)

@dhruvkb something like this? (Both having the same styling)

[2020-05-29 16:05] #349 closed

[2020-05-29 18:16] #387 closed

[2020-05-31 22:28] makkoncept opened #424 "The headings are not rendering as "headings" anymore"
**Description**

The rendered sizes of the headings element are not the same as described [on storybook](https://cc-vocabulary.netlify.app/?path=/docs/tokens-typography--figma). Their font-weight is also normal.

**Reproduction**

Check out this [codepen](https://codepen.io/makkoncept/pen/XWXrWNq?__cf_chl_jschl_tk__=c6ef000ac9a21be8e730f1248afdff005e6402e8-1590962886-0-AYQfw3_I3L93qQBiwx14Aytg3KV5

[2020-06-01 02:02] dhruvkb opened #425 "Organise tokens to interoperate with Bulma variables"
**Description**
Bulma offers a large amount of flexibility via [Sass variables](https://bulma.io/documentation/customize/variables/#initial-variables). Instead of manually overriding a lot of styles, we can achieve a lot of similar functionality by just mapping the right Bulma variables to the right token values.

**Problems solved**
Reduces the amount of Sass we need to write, because we can buil

[2020-06-01 02:06] dhruvkb commented on #424
#426 is a quickie fix for this bug and concrete long-term refactoring will be taken up under #425.

[2020-06-01 03:13] #407 closed

[2020-06-01 06:58] jahnvigupta commented on #425
@dhruvkb I want to take this, any pointers for getting started?

[2020-06-01 11:09] jahnvigupta opened #427 "Add Do's and Don'ts"
**Description**

To make the usage of Colors easier from storybook, do's and don'ts need to be added.
**Problems solved**

Better usage of colors will be more likely.
**Alternatives**

**Additional context**

**Want to take up?**

[Yes|No]
Yes

[2020-06-01 16:41] jahnvigupta commented on #425
![Screenshot from 2020-06-01 22-09-27](https://user-images.githubusercontent.com/43217070/83431220-a6bf8980-a454-11ea-9da5-e37291541c00.png)
Here,  $space-big has been defined as $card-content-padding. Is it that I have to replace space-big class by card-content-padding and similarly in other sass files?

[2020-06-01 18:44] Dhruvi16 opened #428 "Add Sidebar menu."
**Description**

The new designs for CC OS consist of a sidebar menu.
![image](https://user-images.githubusercontent.com/34674462/83442559-fc506200-a465-11ea-963f-ce9c1f3f31e0.png)

**Additional context**

The scope of the component is yet to be discussed.

**Want to take up?**

Yes

[2020-06-01 18:46] Dhruvi16 opened #429 "Add Table of content component."
**Description**

The new design for CC OS consists of Table of content component.
![image](https://user-images.githubusercontent.com/34674462/83442716-3de10d00-a466-11ea-9be2-658690068cd0.png)

**Additional context**

The scope of this component is yet to be discussed.

**Want to take up?**

Yes

[2020-06-01 18:48] Dhruvi16 opened #430 "Add step progress component."
**Description**

The new design for CC OS consists of a step progress component.
![image](https://user-images.githubusercontent.com/34674462/83442876-826ca880-a466-11ea-913e-77c8c74d5102.png)

**Additional context**

The scope of this component is yet to be discussed.

**Want to take up?**

Yes

[2020-06-02 10:13] dhruvkb commented on #430
Related to #112?

[2020-06-02 10:14] dhruvkb commented on #425
@jahnvigupta no, the goal is to set the Bulma variables to match the tokens. We don't have to modify any components in this issue.

[2020-06-02 10:24] #424 closed

[2020-06-02 11:13] Dhruvi16 commented on #430
Yes! It will a part of it AFAIK. Let's wait for @panchovm for the final take.

[2020-06-02 11:28] jahnvigupta commented on #430
@dhruvkb @Dhruvi16 I have already a open PR on this issue. Please check if that makes sense.
https://github.com/creativecommons/vocabulary/pull/310

[2020-06-02 13:14] panchovm commented on #430
Sorry I missed the point here. What should I take @Dhruvi16?

[2020-06-02 14:36] Dhruvi16 commented on #430
@panchovm we wanted to have an open discussion about how is this component is going to be added in the DL and if it is neccesary to add this step progress or not?

[2020-06-02 14:41] chidexebere commented on #425
@dhruvkb  If I understand you clearly,

this

```$color-orange: rgb(251, 119, 41) ```

should change to this

```$color-orange: $orange```

And for variables not defined in Bulma, like

```$color-tomato: rgb(237, 89, 47)```

 should be left the same way.

[2020-06-02 15:51] dhruvkb commented on #425
@chidexebere, I'm talking the other way around. Variables provided by Bulma should be replaced with values from Vocabulary.

[2020-06-02 15:59] dhruvkb commented on #427
Please elaborate on what you mean by 'Dos and Don'ts' with a couple of examples. That would be helpful to understand what problems we're trying to solve and how.

[2020-06-02 16:09] chidexebere commented on #425
@dhruvkb  okay you mean this

```$orange: rgb(251, 119, 41)```

```$tomato: rgb(237, 89, 47)```

instead of

```$color-orange: rgb(251, 119, 41)```

```$color-tomato: rgb(237, 89, 47)```

[2020-06-02 17:09] Dhruvi16 opened #431 "Add pagination component to the library."
**Description**

The new designs consist of a pagination component and adding it to the library would make it reusable.
![image](https://user-images.githubusercontent.com/34674462/83548720-db4d4700-a521-11ea-91cf-c9c0716cb514.png)

**Want to take up?**

[Yes]

[2020-06-02 21:06] jahnvigupta commented on #427
@dhrub I meant the do's and don'ts given in figma design library
https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A72

[2020-06-02 21:39] dhruvkb commented on #427
Those instructions are very image intensive. The effort to recreate these in MDX will be too high, and the return on that effort will just be a copy of the existing rules.

[2020-06-03 05:57] megha070 opened #433 "Illustrate usage of vocabulary components"
**Description**
So as to make it easier for newbies to get started with vocabulary an illustration guide is needed as people tend to understand things when they are depicted in the form of visual elements.

**Problems solved**
This would help in getting a clear understanding of how to use vocabulary components along with additional guidelines(on what not to do).

**Alternatives**

**Additional con

[2020-06-03 06:01] megha070 commented on #433
@dhruvkb @hugosolar @panchovm I intend to integrate Codepen so as to illustrate vocabulary usage of various components. Below is my approach to take this forward. Would love to hear your suggestions on this.
[vocab.pdf](https://github.com/creativecommons/vocabulary/files/4721278/vocab.pdf)

[2020-06-03 13:40] panchovm commented on #433
I agree with your approach, thanks for bringing it. Currently, we are working on something similar but embedding the Figma's view into the documentation. We discussed this but I'm not aware of the integration and then the public release. Waiting for other responses to be sure that this fits our approach.

[2020-06-03 13:48] annatuma commented on #344
As next steps, we have a list of certain platforms/services that we will include in this round. Currently we have 200-300 users per month making use of the Share feature. (In comparison, we have over 10x the user for our Attribution feature). Therefore we'd prefer to iterate, versus building out an extensive list at this time.

To be added:
iMessage
WhatsApp
Messenger (from Facebook)
Tumblr
Reddit

[2020-06-03 13:49] annatuma opened #434 "Add Social Media Icons to Figma Design Library"
See https://github.com/creativecommons/vocabulary/issues/344 for context.

List of icons needed:
iMessage
WhatsApp
Messenger (from Facebook)
Tumblr
Reddit

[2020-06-03 14:22] panchovm commented on #344
Fontawesome has not icon for iMessage, but since iMessage is an app for SMS messages, I will add a general SMS icon.

[2020-06-03 14:27] panchovm commented on #344
[The Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=45%2C155%2C1.0786082744598389) has been updated with the platforms mentioned above.

[2020-06-03 14:32] panchovm commented on #434
The Design Library has been updated

[2020-06-03 14:32] #434 closed

[2020-06-03 15:56] Dishebh commented on #344
@panchovm shall I update the `/tokens-icons-figma` part of the vocabulary with the new social icons added?

[2020-06-03 16:42] panchovm commented on #430
[The Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=6990%3A0&viewport=45%2C261%2C0.22026315331459045) has been updated with this new component.

[2020-06-03 16:42] panchovm commented on #429
[The Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=6990%3A0&viewport=45%2C261%2C0.22026315331459045) has been updated with this new component.

[2020-06-03 16:43] panchovm commented on #428
[The Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=6990%3A0&viewport=45%2C261%2C0.22026315331459045) has been updated with this new component.

[2020-06-03 21:54] panchovm commented on #344
@Dishebh, let me tag @dhruvkb for a correct response.

[2020-06-03 22:20] dhruvkb commented on #344
@Dishebh the icons are present in `@creativecommons/fonts`. Please address this issue on that repository.

[2020-06-03 22:23] #427 closed

[2020-06-03 22:25] dhruvkb commented on #433
This is actually a duplicate of two existing issues #427 and #377.

[2020-06-03 22:27] #433 closed

[2020-06-03 22:28] dhruvkb commented on #431
@panchovm please link the DL here.

[2020-06-04 01:36] Dhruvi16 commented on #431
Here is the [link](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=7005%3A35&viewport=45%2C266%2C0.4650000035762787)

[2020-06-04 01:38] Dhruvi16 commented on #430
So, as per DL, it is related to the navigation part.

[2020-06-04 13:33] panchovm commented on #430
I put it there because it is a navigation component. I can change it if @dhruvkb and @hugosolar think we should take a different approach. No problem

[2020-06-04 15:57] dhruvkb commented on #430
Step progress does not seem related to navigation in my opinion as navigation is used to move to a different part of a website, which this component does not do.

[2020-06-04 16:26] Dhruvi16 commented on #430
Yes, I agree with @dhruvkb.

[2020-06-05 03:01] megha070 opened #437 ""Getting Started" Guide"
## Problem Description
So as to help newbies getting started with vocabulary usage, a "Getting Started" guide would be useful by giving a hands on experience to new developers thereby making them comfortable with vocabulary.

## Solution Description
Having a "Getting Started" Guide would make it easier for new developers to communicate and understand usage of Vocabulary. This can be accomplished b

[2020-06-05 03:04] megha070 commented on #437
@hugosolar @dhruvkb @panchovm Would love to know your thoughts on this. If this is a valid issue, I will share a rough draft of basic outline of one such guide.
I would like to take this up.

[2020-06-05 03:31] dhruvkb commented on #437
@megha070 this is also covered in #377.

[2020-06-05 03:31] #437 closed

[2020-06-05 04:03] megha070 commented on #377
@dhruvkb I would like to work on this.

[2020-06-05 13:12] Dhruvi16 opened #438 "Edit breakpoints for large header."
## Problem Description

The header can be large in some cases (ex. CCOS). And in such case, the header breaks between 1024px (desktop) and 1408px (fullhd).

## Solution Description

One solution can be changing the breakpoint in Bulma from $desktop to $fullhd so we get the burger menu up till 1408px.

**Edit:** This will be fixed temporarily by reducing the spacing between menu items and the font

[2020-06-05 13:13] Dhruvi16 commented on #438
Tagging @hugosolar @dhruvkb @panchovm for discussion.

[2020-06-05 15:09] panchovm commented on #438
Can you attach a screenshot of how it breaks?

[2020-06-05 18:00] AyanChoudhary opened #440 "Make Vocabulary Icon font usable as Bulma icons"
## Describe the bug

The icon in the locale selector is supposed to be like this:
![Design Library – Figma - Brave 05-06-2020 23_26_06](https://user-images.githubusercontent.com/45792768/83908037-10f16a80-a784-11ea-9784-4fa446e9aa87.png)

But on actual usage, the icon gets positioned like this:
![Design Library – Figma - Brave 05-06-2020 23_27_32](https://user-images.githubusercontent.com/45792768

[2020-06-05 21:20] Dhruvi16 commented on #438
![image](https://user-images.githubusercontent.com/34674462/83923644-4dcb5a80-a7a0-11ea-9b4b-df7e32182421.png)
1112px

![image](https://user-images.githubusercontent.com/34674462/83923711-6e93b000-a7a0-11ea-9087-f8bec75afb49.png)
1220px

[2020-06-05 23:52] dhruvkb commented on #440
Bulma allows for icons to be used in a number of places, such as
- [Breadcrumbs](https://bulma.io/documentation/components/breadcrumb/#icons)
- [Button](https://bulma.io/documentation/elements/button/#states)
- [Input](https://bulma.io/documentation/form/input/#with-font-awesome-icons)
- [Standalone](https://bulma.io/documentation/elements/icon/)

Vocabulary Icons should also be usable, identicall

[2020-06-06 07:51] megha070 commented on #377
We could have a "getting started" guide to make new developers familiar with vocabulary usage and what we wish to accomplish by this design system of creative commons. In my opinion, a starter "Hello world" application would suffice our purpose and we can further embed code pen for other components so as to illustrate the usage of various vocabulary components as described in #433.
As suggested by

[2020-06-06 08:01] megha070 commented on #406
I just wanted to inquire if we need to draft code style document according to the the errors as shown in below image.
![image](https://user-images.githubusercontent.com/40516822/83939357-ee9a3400-a7f9-11ea-9cde-8aa7636319da.png)

[2020-06-06 12:55] makkoncept commented on #377
Hey @dhruvkb, Sorry your tagging got buried in my notifications.

So, as far as the minimum working examples are concerned, I would suggest two things:

- Any component where `SVG` icons are used is taken because some javascript is also needed there.

- Also, each example can show few components together in a codepen instead of just focusing on one as the code of each component is very easy to und

[2020-06-07 15:05] #388 closed

[2020-06-07 19:05] nimishbongale opened #443 "Phone Screen Backgrounds (Propagating updates from vue-vocabulary)"
# Description
Raising an issues to go ahead with the propagation of updates (Added Phone Screen Background) from the vue-vocabulary repository, as suggested by @dhruvkb, This issue is an exact replica of [this issue](https://github.com/creativecommons/vue-vocabulary/issues/225) raised in vue-vocabulary. A PR was raised to subsequently add the feature and resolve the issue.

Example:

![iphone](htt

[2020-06-08 12:54] #431 closed

[2020-06-08 12:58] #429 closed

[2020-06-08 13:10] #428 closed

[2020-06-08 14:39] panchovm commented on #438
I see. The **archives** item disappears. I think we can reduce the margin between elements and define a breakpoint where changes to the mobile menu. What do you think @dhruvkb @hugosolar?

[2020-06-09 02:17] dhruvkb commented on #438
This is hard to determine because it will change with the number of items in the menu. Maybe we should have an upper limit on the number of top-level menu items and if it exceeds that limit, the menu should be re-organised.

[2020-06-09 09:34] Dishebh commented on #406
@dhruvkb we can use `prettier` to make the code style consistent throughout. Also, can I work on integrating codecov and codeclimate in the repo?

[2020-06-09 12:08] dhruvkb commented on #406
- Before we integrate Prettier, we need to under how drastically it changes the existing codebase.
- Codecov does not make a lot of sense because we're not unit testing Sass that heavily and we reverted the visual regression tests.
- Can you document what advantages would CodeClimate bring to the repository?

[2020-06-09 12:27] kushaggarwal commented on #406
Hello @dhruvkb
As guided by you I went through all the sources recommended by you previously
- For integrating lint check in the repository can you please help as if what configuration is to be followed regarding indentations and all
- As per code cov it majorly deals with the code coverage for the repo which in this case can be achieved with the help of code climate too
-  For code review we can

[2020-06-09 13:20] panchovm commented on #438
I see. It makes sense what you say. Just adding two comments:
1. I remember that the component had some style problems (ticket #374). Maybe those corrections have not been applied and, therefore, it influences this bug.
2. We will always have a risk of breaking because of length characters in items. So I assume that in future sites we might open the discussion again.

But in general, I agree with

[2020-06-09 18:28] nimishbongale commented on #443
Have raised a relevant PR.

[2020-06-10 03:52] dhruvkb commented on #438
In that case we should be using a flex layout with the `justify-content: space-between` property so that it can look reasonably well-spaced for a reasonable number of items.

[2020-06-10 04:07] dhruvkb commented on #406
It has come to my notice that ESLint does not support linting for Sass files. We can go with Prettier as @Dishebh suggested but it remains to be determined if that will change a lot of existing code because Prettier is an opinionated tool.

We don't want to be checking unit test coverage so does any of the tools Codecov and Code Climate give code quality information about Sass?

[2020-06-10 04:22] #443 closed

[2020-06-10 05:45] Dishebh commented on #406
@dhruvkb, for starters, we can go with fixing the `tabWidth`, `printWidth`, `singleQuotes`, `trailingCommas` and `bracketSpacing`?

[2020-06-10 19:56] nimishbongale opened #451 "Set up a Dependabot"
## Problem
Handling dependency upgrades is cumbersome.

## Description
Configure a dependabot to monitor upgrades and suggest them via automated PR's.

## Additional context
* https://github.com/creativecommons/vue-vocabulary/issues/230
* https://github.com/creativecommons/vue-vocabulary/pull/232
* https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/

 Update Propagati

[2020-06-12 02:54] dhruvkb commented on #406
@Dishebh makes sense. Please open a PR for this.

[2020-06-12 10:13] AyanChoudhary opened #454 "Contrast Issues in links"
## Problem

There is an issue with the contrast of links especially tomato over white.
Currently, these links have a contrast ratio of **3.45** whereas the desired minimum contrast ratio should be **4.5** or **AA/AAA large**

## Additional context

![CC Search - Brave 12-06-2020 15_19_06](https://user-images.githubusercontent.com/45792768/84490412-c52d4c80-acc0-11ea-9cec-d3b932cbf5cd.png)

![CC Se

[2020-06-12 10:13] AyanChoudhary commented on #454
@panchovm @annatuma

[2020-06-12 10:16] AyanChoudhary opened #455 "Contrast Issues in caption, search placeholder and tags"
## Problem

There is an issue with the contrast ratios of text in search placeholder, image captions and filter and photo tags

## Additional context

![CC Search - Brave 12-06-2020 15_27_24](https://user-images.githubusercontent.com/45792768/84492382-bb591880-acc3-11ea-9668-2dc7825ee68c.png)

![CC Search - Brave 12-06-2020 15_29_30](https://user-images.githubusercontent.com/45792768/84492393-beec

[2020-06-12 10:16] AyanChoudhary commented on #455
@panchovm @annatuma

[2020-06-13 11:00] #451 closed

[2020-06-13 17:15] #393 closed

[2020-06-13 19:41] #430 closed

[2020-06-13 20:46] #394 closed

[2020-06-15 02:23] makkoncept opened #464 "A smaller version of the header component [Feature request]"
## Problem
The CC Search Extension mockup uses a header component that any of the current Vocabulary header component is not able to  replicate. See the [Figma Mockup file](https://www.figma.com/file/KEXxItd8EloJGbXswuUDqq/Mockup---S3-(License-Language-Changes)?node-id=892%3A4577&viewport=505%2C72%2C0.28836095333099365) and a quick [Codepen](https://codepen.io/makkoncept/pen/LYGZgrX) for reference

[2020-06-15 07:04] makkoncept opened #465 "A modified image component for CC Search Extension [Feature Request]"
## Problem
The CC Search Extension mockup uses a modified image component that is not currently present in CC Vocabulary. See the [Figma Mockup file](https://www.figma.com/file/nJk4krHryIjzYGvaioMsAu/Browser-extension?node-id=892%3A4562) and a quick [Codepen](https://codepen.io/makkoncept/pen/MWKexxL) for reference.

## Description

Some differences that I noticed:

- The image component for exten

[2020-06-15 14:47] makkoncept commented on #465
I would also like to tell @panchovm about a little design issue.

On searching for images, a scrollbar also appears on the right side of the extension. It fits in the already capped width of the extension (`640px`) and therefore other spaces are reduced to make way for it. This becomes evident as small gaps between elements are reduced (like the `16px` gap between the "Search" and "Filters" button

[2020-06-15 14:54] dhruvkb commented on #465
I'll let @panchovm look into the designs in detail. My two cents:
- You can now style the scrollbar ([to some extent](https://github.com/dhruvkb/portfolio/blob/master/src/styles/utils/scrollbars.scss)) in most modern browsers. If your extension supports Firefox or Chrome, you're most likely already targeting that demographic.
- You can add the width of the scrollbar to the width of the popup and m

[2020-06-15 15:39] makkoncept opened #466 "A minimal notification component [Feature Request]"
## Problem

The CC Search Extension mockup uses a small, minimal notification component that any of the current Vocabulary notification component is not able to replicate (unless the padding, font-size and width is overridden). See the `home bookmarked` [Figma mockup](https://www.figma.com/file/nJk4krHryIjzYGvaioMsAu/Browser-extension?node-id=892%3A4562) to see the intended design of notification

[2020-06-15 20:10] krysal commented on #361
This is solved by @hemanth-hk's works and PR #450, so this can be closed.

[2020-06-15 23:57] krysal opened #467 "Input element story showing incorrect code"
## Description
The **Input** story has a `is-input` class that doesn't exists in the "show code" section.

## Reproduction

1. Go to the [Input story](https://cc-vocabulary.netlify.app/?path=/docs/form-input--normal)
2. Click on "show code" of any example
3. See the extra class.

## Expectation
Show only correct classes.
## Resolution

- [x] I would be interested in resolving this bug.

[2020-06-16 04:52] dhruvkb commented on #361
Confirmed as fixed. Closing.

[2020-06-16 04:52] #361 closed

[2020-06-16 05:11] #467 closed

[2020-06-16 05:33] dhruvkb commented on #455
@AyanChoudhary please break these into separate issues that can be worked on individually. We can retain this as a parent issue to track progress as a big picture.

[2020-06-16 08:17] kushaggarwal commented on #466
Hello @dhruvkb
I would like to take this up

[2020-06-16 08:19] kushaggarwal commented on #440
Hello @dhruvkb
If this is still open would like to take it up

[2020-06-16 08:45] kushaggarwal commented on #466
@dhruvkb
Can you please help as if by what story name is it to be named with
Thank you

[2020-06-16 08:46] dhruvkb commented on #466
Call it `notification`.

[2020-06-16 12:31] #408 closed

[2020-06-16 13:04] makkoncept opened #471 "Modified tab components [Feature request]"
## Problem

I observed that `tabs` component used in the [CC Search Extension Mockup](https://www.figma.com/file/nJk4krHryIjzYGvaioMsAu/Browser-extension?node-id=892%3A4562) have a different design.

I see two new flavours of the component :

![Screenshot from 2020-06-16 18-21-01](https://user-images.githubusercontent.com/34679965/84776867-7eac5a80-affe-11ea-8637-5aac15eccde3.png)

![Screenshot fr

[2020-06-16 17:19] kushaggarwal commented on #440
@dhruvkb
Can you please help as if for the above problem should I add a new class for icons dropdown component as I think bulma natively doesnt support this features

[2020-06-16 18:10] AyanChoudhary opened #472 "Contrast Issue in collection cards"
## Problem

![84492382-bb591880-acc3-11ea-9668-2dc7825ee68c](https://user-images.githubusercontent.com/45792768/84810983-c5637a00-b029-11ea-9e99-2d9152829b7d.png)

## Description

Currently, this span has a contrast ratio of **2.05** whereas the desired minimum contrast ratio should be **4.5** or **AA/AAA large**

## Implementation

- [ ] I would be interested in implementing this feature.

[2020-06-16 18:20] AyanChoudhary opened #473 "Contrast Issue of placeholder in searchbar"
## Problem

![84492414-c744da80-acc3-11ea-88de-40c00725f888](https://user-images.githubusercontent.com/45792768/84812468-15dbd700-b02c-11ea-9d48-a1d3d0dcd3db.png)

## Description

Currently, this span has a contrast ratio of **3.45** whereas the desired minimum contrast ratio should be **4.5** or **AA/AAA large**

## Implementation

- [ ] I would be interested in implementing this feature.

[2020-06-16 18:26] AyanChoudhary opened #474 "Contrast Issue of tags"
## Problem

![84492434-cdd35200-acc3-11ea-98df-800114727e44](https://user-images.githubusercontent.com/45792768/84812709-723ef680-b02c-11ea-8e79-95215dcab65c.png)
![84492451-d3309c80-acc3-11ea-8155-8f66c648f787](https://user-images.githubusercontent.com/45792768/84813199-2fc9e980-b02d-11ea-9c1a-9895f2b9b221.png)

## Description

Currently, this span has a contrast ratio of **4.42(both with and wit

[2020-06-16 18:32] AyanChoudhary opened #475 "Contrast Issue of Image caption"
## Problem

![84492393-beec9f80-acc3-11ea-956e-ea22f1874dc1](https://user-images.githubusercontent.com/45792768/84813316-699af000-b02d-11ea-8550-c89d45d1868d.png)

## Description

This one is kind of weird because it triggered lighthouse to give a contrast ratio error while the same did not happen with accessibility insights or pa11y. On checking with the chrome devtools contrast checker the ratio

[2020-06-16 18:35] AyanChoudhary opened #476 "Contrast Issue of search button"
## Problem

![CC Search - Brave 17-06-2020 00_02_42](https://user-images.githubusercontent.com/45792768/84813848-3147e180-b02e-11ea-8e01-7363e5e55627.png)

## Description

Currently, this button has a contrast ratio of **3.45** whereas the desired minimum contrast ratio should be **4.5** or **AA/AAA large**

## Implementation

- [ ] I would be interested in implementing this feature.

[2020-06-16 18:37] AyanChoudhary opened #477 "Contrast Issue with search relevance links"
## Problem

![CC Search - Brave 17-06-2020 00_03_55](https://user-images.githubusercontent.com/45792768/84813981-68b68e00-b02e-11ea-8251-42882867a238.png)

## Description

Currently, this span has a contrast ratio of **2.23** whereas the desired minimum contrast ratio should be **4.5** or **AA/AAA large**

## Implementation

- [ ] I would be interested in implementing this feature.

[2020-06-16 18:41] AyanChoudhary commented on #472
@panchovm @dhruvkb

[2020-06-16 18:41] AyanChoudhary commented on #473
@panchovm @dhruvkb

[2020-06-16 18:42] AyanChoudhary commented on #474
@panchovm @dhruvkb

[2020-06-16 18:42] AyanChoudhary commented on #475
@panchovm @dhruvkb

[2020-06-16 18:42] AyanChoudhary commented on #476
@panchovm @dhruvkb

[2020-06-16 18:43] AyanChoudhary commented on #477
@panchovm @dhruvkb

[2020-06-16 20:24] #376 closed

[2020-06-16 23:33] ayamba-coder opened #478 "wrong use of determiner(typo-error)"
## Description
The "making changes" section of the vocabulary contribution page has wrong use of an indefinite article("a") placed infront of "its"

## Reproduction
Visit the "making changes" section of https://cc-vocabulary.netlify.app/?path=/docs/vocabulary-contribution--page.
``` Do all work on ```***a***  ``` its own branch. Use meaningful branch names. ```

## Expectation
```Do all work on it

[2020-06-17 16:15] dhruvkb commented on #440
Bulma natively allows icons inside select fields. See [documentation](https://bulma.io/documentation/form/select/#with-icons).

[2020-06-18 06:43] dhruvkb opened #481 "Fix wobbly animation in Global Header"
## Description
To open and close, the Global Header changes three CSS properties between the `.is-active` and normal (inactive) states:
- `max-height`
- `padding-top`
- `padding-bottom`

These properties transition from different values to zero in the same amount of time making the animation slow down and speed up instead of smoothly maintaining speed throughout.

## Reproduction

1. Open the Glob

[2020-06-18 13:44] makkoncept opened #482 "Small version of source cards [Feature request]"
## Descriptions

In the [Mockup](https://www.figma.com/file/nJk4krHryIjzYGvaioMsAu/Browser-extension?node-id=892%3A4562) of CC Search Extension, the cards that are used to contain each source in the "Sources" section is the same as the cards present on [Collections page of CC Search](https://search.creativecommons.org/collections) but are relatively smaller in size.

Pasting the mockup screenshot

[2020-06-18 14:06] makkoncept opened #483 "Image component demonstrating "selected" state"
## Problem

The [Mockup](https://www.figma.com/file/nJk4krHryIjzYGvaioMsAu/Browser-extension?node-id=892%3A4562) of CC Search extension indicate "selected" images as following:

![Screenshot from 2020-06-18 19-22-10](https://user-images.githubusercontent.com/34679965/85028694-06c66780-b199-11ea-89bc-b8d2e9b551ca.png)

I also have a question regarding this. Does it makes sense to add this to Vocabu

[2020-06-18 19:42] panchovm commented on #465
I think @dhruvkb's answers are way better than what I have to say  😄

[2020-06-18 19:45] panchovm commented on #471
I need to add as a component the tab used in Browser extension. We have faced different levels of content navigation and that's why the component difference. Thanks for bringing this.

[2020-06-18 20:26] krysal opened #484 "Some details on footer don't follow the Figma designs"
## Description
Inconsistencies are:
- Menu items don't have "Heading 4B" style
- Text of newsletter input (value & placeholder) is hardly visible
- Text and icon of donate button has an underline on hover

## Reproduction

1. See the [Footer story](https://cc-vocabulary.netlify.app/?path=/story/patterns-footer--default-story).

## Expectation
Follow styles of the [Design Library](https://www.figma

[2020-06-18 20:31] av-00 commented on #481
Can I take this?

[2020-06-19 11:36] kushaggarwal commented on #464
Hello @dhruvkb @makkoncept
If this issue is open I would like to take this up

[2020-06-21 16:24] kushaggarwal commented on #464
Hello @dhruvkb
Can you please help with the story name for the component of header described above
Thank You

[2020-06-21 17:39] kushaggarwal commented on #464
Hello @dhruvkb
For the above mentioned changes is a new component need to be introduced or class has to mentioned for the desired changes
Please help
Thanks

[2020-06-22 10:00] dhruvkb commented on #483
Tagging @hugosolar for his opinion but I think this should be a part of Vocabulary as other apps might need the selected state too (can only think of the WordPress plugin at the moment).

[2020-06-22 20:17] Dhruvi16 opened #490 "Apply appropriate background to pagination component."
## Description

As per figma DL, the pagination component has different styles as per different backgrounds.

## Reproduction

1. Go to [pagination component](https://cc-vocabulary.netlify.app/?path=/story/navigation-pagination--inactive-state)
2. Compare it with [DL](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=6990%3A0)
3. See difference.

## Expectation

Alignment wi

[2020-06-23 20:10] Dhruvi16 opened #491 "Add feedback info color token."
## Problem

As per mockups for CCOS there is a need to add a feedback info color token. This the link to [Figma](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=437%3A55).

## Implementation

- [x] I would be interested in implementing this feature.

[2020-06-24 07:53] AyanChoudhary commented on #455
Linking relevant smaller issues:
https://github.com/creativecommons/vocabulary/issues/472
https://github.com/creativecommons/vocabulary/issues/473
https://github.com/creativecommons/vocabulary/issues/474
https://github.com/creativecommons/vocabulary/issues/475
https://github.com/creativecommons/vocabulary/issues/476

[2020-06-24 10:41] annatuma opened #492 "Fix Typos and Update Chooser Link in Global Header"
## Problem

There are a couple of typos in the Global Header component: https://cc-vocabulary.netlify.app/?path=/story/patterns-global-header--active

We are also linking to the Beta version of the License Chooser, which has not yet replaced the existing version of the License Chooser.

## Description

The text should match exactly the approved text that is shown in the Design Library. We also nee

[2020-06-24 12:13] dhruvkb commented on #492
Please take a look at #480 deployed [here](https://deploy-preview-480--cc-vocabulary.netlify.app/). This PR removes the code from Vocabulary and updates the docs to reflect the JS function.

[2020-06-24 14:56] Dishebh commented on #483
@dhruvkb @makkoncept can I work on the issue?

[2020-06-24 15:08] annatuma commented on #492
Thanks for the context.

The issue stands in terms of needing to update text and one link, wherever that content may be stored. @hugosolar please update this ticket with information on where that should be done.

[2020-06-24 15:56] kgodey commented on #483
I agree that putting this in Vocabulary makes sense.

[2020-06-24 21:57] krysal opened #493 "Add removable tag component"
## Description
This is a feature request to add the **Removable tag** button as showed in the [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=1404%3A1).

![removable tag](https://user-images.githubusercontent.com/9145885/85631715-0bc96200-b644-11ea-8123-c210b2ad7522.png)

## Implementation

- [x] I would be interested in implementing this feature.

[2020-06-25 09:32] kushaggarwal commented on #464
Hello @dhruvkb
Can you please help

[2020-06-25 13:31] av-00 commented on #481
I think applying `transition-delay` with different timings to the properties might work. Should i go forward?

[2020-06-25 15:55] dhruvkb commented on #481
That might not adequately fix the issue because the height of the header changes with screen width.

[2020-06-26 06:58] Atanda1 commented on #454
I'm interested in fixing this issue

[2020-06-27 05:00] Atanda1 commented on #454
I'll just go ahead

[2020-06-28 06:29] Atanda1 commented on #454
Do you think we should just increase the font rather than changing the brand color

[2020-06-29 14:59] hugosolar commented on #492
Ok, I've fixed the typos. As @dhruvkb said, when #480 is merged, the vocabulary documentation should query the API directly from creativecommons.org WordPress, so changes should be made on WordPress backend (at least the menu items). Closing this issue

[2020-06-29 14:59] #492 closed

[2020-06-30 14:54] panchovm commented on #454
Changing from normal to large size is a tremendous increment. It will difficult lecture because every section will use a big portion of the layout. For now, we are working on this new palette.

[2020-06-30 16:00] zackkrida opened #496 "Text links shift on hover"
## Description
Text links/buttons using the [`.is-text` class](https://github.com/creativecommons/vocabulary/blob/135f12237032c1b0188d247ee47971365242bb3a/src/styles/button.scss#L72) shift due to border being removed on hover.

We can fix this quickly by replacing `border: none;` with `border-color: transparent`.

## Screenshot

![jank-gif](https://user-images.githubusercontent.com/6351754/8614920

[2020-06-30 17:51] Dhruvi16 opened #498 "Inconsistency of icon color Sidemenu and Table of contents."
## Description

There is a difference in the color of the `circle-filled` icon in Figma DL and vocabulary for `Sidebar menu ` and `Table of contents` components.

## Reproduction

1. Go to [story](https://cc-vocabulary.netlify.app/?path=/story/navigation-sidebar-menu--default-story)
2. Compare it with figma's icon color [here](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-i

[2020-07-01 12:35] Dhruvi16 opened #499 "Improper padding between tech stack labels - Project Index card."
## Description

When the number of labels increases, there is a need for vertical padding between the labels in project index card.
![image](https://user-images.githubusercontent.com/34674462/86244209-3deb3e80-bbc5-11ea-81de-2e5c11f71014.png)

## Reproduction

1. Go to [storybook](https://cc-vocabulary.netlify.app/?path=/story/layouts-cards--project-index)
2. See error.

## Expectation

There shou

[2020-07-02 20:50] chintu-stacks commented on #499
HY @Dhruvi16  , i am meet the all environment ,
,now going  through the .SCSS file if  any builded class  there to resolve or not
, or write new class,

please assigned me this issue

[2020-07-09 14:08] zackkrida commented on #370
FYI point 2 is fixed by #496

[2020-07-09 14:09] zackkrida commented on #370
I would also note that the `.is-text` buttons specifically need `background: transparent` set otherwise they can inherit the default bulma button background color when they are hovered.

[2020-07-09 19:41] Dhruvi16 opened #504 "Add Content component."
## Problem

There is a need to add [.content](https://bulma.io/documentation/elements/content/) class (present in Bulma) for styling the markdown as per new mock-ups for CCOS.

## Description

This is the easiest way to handle markdown padding and spacing. So I guess we need to add it.

## Additional context

Scope of the component to be discussed.

## Implementation

- [x] I would be interested i

[2020-07-09 19:42] Dhruvi16 commented on #504
@panchovm, @hugosolar tagging you both for discussion.

[2020-07-09 19:44] Dhruvi16 commented on #504
For reference, you can see the chat here @panchovm - [link](https://github.com/creativecommons/creativecommons.github.io-source/pull/317)

[2020-07-10 10:22] annatuma opened #505 "Add DarkInfo and LightInfo to Colors"
We're missing DarkInfo and LightInfo (two shades of blue) from the Design Library in Vocabulary. LightInfo is being used in the License Redesigns, and this should therefore be prioritized.

[Feedback colors in Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=437%3A55)

[2020-07-10 13:33] Dhruvi16 commented on #505
Hey @annatuma! There is already an issue and an approved PR on this - #491.

[2020-07-10 13:34] Dhruvi16 commented on #505
It needs to be merged though. @hugosolar @dhruvkb

[2020-07-10 13:48] annatuma commented on #505
My bad! Closing this duplicate ticket.

[2020-07-10 13:48] #505 closed

[2020-07-13 04:55] hugosolar commented on #504
I don't see any problems with adding this. I think it would be better to use the Bulma's support for content.

[2020-07-13 13:18] panchovm commented on #504
Regarding design, I either don't see any problem.

[2020-07-13 13:21] Dhruvi16 commented on #504
So we would need a component right?

[2020-07-13 13:55] #491 closed

[2020-07-13 14:18] #498 closed

[2020-07-13 14:23] #490 closed

[2020-07-13 15:35] hugosolar commented on #504
I would say just go ahead and add it, it shouldn't be that different because we're rewriting bulma's variables. Let's try by adding the file and check if there are significant changes

[2020-07-13 15:49] #499 closed

[2020-07-14 13:13] hugosolar commented on #483
sorry for my late reply but yes, I think it make sense to putting it on Vocabulary.  also, I think it makes sense to use a `.is-selected` class (or something like that) in order to follow the bulma's naming convention

[2020-07-15 13:03] hugosolar commented on #464
@kushaggarwal I would say you can use a class to transform the header instead of creating a new component.

[2020-07-15 15:25] makkoncept commented on #464
The figma file has been moved. [New link](https://www.figma.com/file/nJk4krHryIjzYGvaioMsAu/Browser-extension?node-id=892%3A4562)

[2020-07-15 16:20] panchovm commented on #471
The [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=6990%3A0&viewport=-2149%2C170%2C0.37196049094200134) is updated with the two navigation components.

[2020-07-15 16:35] #496 closed

[2020-07-15 19:57] zackkrida commented on #482
@makkoncept We are actually going to be changing the 'Collections' page on CC Search, and no longer using these cards. What actually makes these cards distinct isn't that they are smaller, but that the images are _larger_ than the cards on the current Collections page. We may be able to change the image size of _all cards_ instead of to creating a 'small' variation of the cards. @panchovm, do you

[2020-07-15 20:10] panchovm commented on #482
You are right @zackkrida, we will get rid of those cards because we're changing the content and how we treat sources and providers. It is an important change that impacts CC Search as a product, and it makes sense to update this page to match the new design.

This is [the new design](https://www.figma.com/file/y09nZth7u1a75xO9sLtjcw/Mockup---S5-(Source-and-provider)?node-id=205%3A5130&viewport=142

[2020-07-15 20:48] kgodey opened #510 "Document Vocabulary project, sprint planning workflow etc."
## Problem
We should add information about the Vocabulary project (https://github.com/orgs/creativecommons/projects/13), our sprint planning workflow, etc. in the public documentation for this project.

[2020-07-16 00:57] makkoncept commented on #482
Thanks, @zackkrida and @panchovm for the update. I'll close this. Also, @panchovm I currently don't have the permission to view the Figma file you linked.

[2020-07-16 00:57] #482 closed

[2020-07-16 09:43] Audiosutras opened #511 "Add "Info" Color to Vocabulary Library"
## Problem

Info color currently is not supported on `cc-vocabulary`.
### Actual
![Screen Shot 2020-07-16 at 5 36 52 AM](https://user-images.githubusercontent.com/37882933/87656099-0c2ab980-c727-11ea-9cd9-381e592f9946.png)

### Figma ScreenShot
![Screen Shot 2020-07-16 at 5 39 34 AM](https://user-images.githubusercontent.com/37882933/87656113-1056d700-c727-11ea-9e63-f3611a7775cf.png)

[2020-07-16 09:49] Audiosutras opened #512 "Add "Reverse" Buttons to Vocabulary Library"
## Problem

"Reverse" Buttons should have the opposite background-color/color scheme (and hover functionality) as the buttons currently being supported.

### Actual
![Screen Shot 2020-07-16 at 5 45 01 AM](https://user-images.githubusercontent.com/37882933/87656785-ef42b600-c727-11ea-80c2-2021a86afc01.png)

### Figma Screenshot
![Screen Shot 2020-07-16 at 5 45 15 AM](https://user-images.githubuserc

[2020-07-16 09:56] Audiosutras opened #513 "Update Section Divider Styling"
## Problem

`<hr class="divider">` needs to have its styling updated for 4.0 licenses.

### Actual
![Screen Shot 2020-07-16 at 5 50 40 AM](https://user-images.githubusercontent.com/37882933/87657636-16e64e00-c729-11ea-95c2-a0c5a14eef95.png)
![Screen Shot 2020-07-16 at 5 50 27 AM](https://user-images.githubusercontent.com/37882933/87657646-1a79d500-c729-11ea-83c9-c99631dd4863.png)

### Figma
![Scre

[2020-07-16 10:01] Audiosutras opened #514 "Add "exclamation icon" to Vocabulary icons"
## Problem

Suggested class: `exclamation icon`

### Figma
![Screen Shot 2020-07-16 at 6 00 17 AM](https://user-images.githubusercontent.com/37882933/87658172-d0ddba00-c729-11ea-89ac-9ea2dbcc947a.png)
![Screen Shot 2020-07-16 at 6 00 05 AM](https://user-images.githubusercontent.com/37882933/87658177-d3401400-c729-11ea-9511-3ebf1e65a224.png)

[2020-07-16 10:07] Audiosutras opened #515 "Helper classes should be available to full color palette"
## Problem

Currently helper classes (`has-text-`, `has-background-`) are only applied to `Brand` colors. The full color palette should be able to use these helper classes.

[2020-07-16 13:07] #440 closed

[2020-07-16 14:29] kgodey commented on #514
Thanks for reporting this, @Audiosutras! I'm going to close in favor of https://github.com/creativecommons/fonts/issues/106

[2020-07-16 14:29] #514 closed

[2020-07-16 14:56] kgodey commented on #511
@Audiosutras I think this may have been fixed by https://github.com/creativecommons/vocabulary/issues/491 and published in yesterday's release, could you check?

[2020-07-16 16:26] kushaggarwal commented on #464
Sure @hugosolar will follow the same
Thank you

[2020-07-16 18:55] makkoncept commented on #465
Hi @hugosolar , Does the following strategy regarding the implementation sounds good?

- Add a div with class `bookmark-icon` that will encapsulate the bookmark icon (`i` tag).
- A class `is-bookmarked`, which can be added to the above div to show a "bookmarked" icon (instead of the default "un-bookmarked" icon).

Also, I have a question.
The image component in the [CC Search mockup](https://www.f

[2020-07-16 22:29] zackkrida commented on #471
@panchovm The 'Line Tab' should replace the existing tab style here: https://cc-vocabulary.netlify.app/?path=/story/layouts-tabs--tab, yes? Just want to confirm 😸

[2020-07-16 22:36] Audiosutras commented on #514
Thanks @kgodey

[2020-07-16 22:56] Audiosutras commented on #511
Great I see that this has been added to the library. Thanks everyone.

[2020-07-16 22:57] #511 closed

[2020-07-17 04:53] dhruvkb commented on #515
@Audiosutras is there a particular use case for this? We closed #412 because there wasn't enough reason to build this.

[2020-07-17 09:41] Audiosutras commented on #515
Hello @dhruvkb,

For the `cc-licenses` project we chose to remove all `node` packages. This was done largely because the solution we are building only required Django outside of styling. Using the proposed installation methods shown on this page (https://cc-vocabulary.netlify.app/?path=/docs/vocabulary-usage--page) we chose to included vocabulary in the `base.html` template of the project (https:/

[2020-07-17 09:55] dhruvkb commented on #515
Surely copying RGB values is a sub-optimal solution. Apart from the helpers from the Brand colors, Vocabulary also supports the color helpers for other [colors as defined in Bulma](https://bulma.io/documentation/helpers/color-helpers/).

What I actually wanted to ask was which colors other than these do you need and are unsupported at present?

[2020-07-17 10:04] Audiosutras commented on #515
Thanks @dhruvkb, I better understand now. I'm going to try `has-text-info-light` which is defined in Bulma's documentation. Thanks.

This ticket should be closed. Misunderstanding on my part.

[2020-07-17 10:08] dhruvkb commented on #515
..and lack of better documentation on ours. Since all code is technical debt, it's always a pleasure when you can extract more value from existing tech.

[2020-07-17 10:08] #515 closed

[2020-07-17 12:11] zackkrida commented on #515
@dhruvkb could you help me understand the best way to use one of the 'neutral' colors in a project? This came up for me in search. Are those 'neutral' colors part of the bulma built in colors?

[2020-07-17 13:01] kgodey commented on #515
@dhruvkb could you open an issue for improving the documentation about this based on @Audiosutras and @zackkrida's questions?

[2020-07-17 13:06] panchovm commented on #482
Sorry @makkoncept. Please check again.

[2020-07-17 13:07] dhruvkb commented on #515
@zackkrida we should ideally be overriding (#425) the [corresponding colors in Bulma](https://bulma.io/documentation/customize/variables/#initial-variables) and then using Bulma's helper classes for the neutral colors. The documentation for that should be updated once the predefined colors are overriden.

@kgodey yes, I'll open the issue and link to all other issues that are in the same theme as t

[2020-07-17 13:17] dhruvkb opened #516 "Better documentation for colors built atop Bulma"
## Problem
As #412 and #515 indicate, the documentation for the use of colors is lacking and doesn't clearly indicate that the helpers provided by Vocabulary are intentionally limited to the brand colors because the same for other colors are already provided by Bulma. They might not work as intended as we have not comprehensively overridden Bulma's colors but that is a different issue altogether #

[2020-07-17 13:28] kgodey commented on #516
tagging @makkoncept

[2020-07-17 13:29] hugosolar commented on #465
Hey @makkoncept I think your approach is correct
Let's define `.is-compact` for all the components that need a compact version. is that sounds ok to you?

[2020-07-17 15:14] hugosolar commented on #493
@krysal take a look of [Bulma's tag list](https://bulma.io/documentation/elements/tag/#list-of-tags) maybe you can work with that example

[2020-07-17 15:19] zackkrida opened #517 "Buttons should have `text-decoration: none` when interacted with"
## Description
Currently if button styles are applied to an `a` tag (a common practice), they may have an underline on hover that violates the Design Language.

## Reproduction

1. Create an anchor link button: `<a href="/" class="button">Button</a>`
2. Hover the button and observe underline

## Expectation
There is no underline

## Screenshots
<img width="177" alt="Screen Shot 2020-07-17 at 11 18

[2020-07-17 15:25] panchovm commented on #471
Yes @zackkrida. It should be replaced.

[2020-07-17 16:29] rochisha0 commented on #517
Hey! I would be interested in resolving this bug? I am new to CreativeCommons.

[2020-07-17 16:36] zackkrida commented on #517
Go for it @rochisha0, let me know if you have any questions.

[2020-07-17 16:36] dhruvkb commented on #515
@zackkrida we do override those colors in the current deployed version and so you can directly use Bulma's helpers to set background and text color.

See [`color_overrides.scss`](https://github.com/creativecommons/vocabulary/blob/master/src/styles/color_overrides.scss)

[2020-07-17 16:58] rochisha0 commented on #517
Yeah sure! Thanks, @zackkrida

[2020-07-17 17:01] zackkrida commented on #481
It would likely be best to refactor the animation to use translations (`transform: translate`) for animation instead of height and padding properties as well, for performance purposes.

https://csstriggers.com/

[2020-07-17 17:15] #425 closed

[2020-07-17 17:15] #516 closed

[2020-07-17 17:22] zackkrida commented on #475
I think we leave these as is, I verified as well that the contrast is sufficient manually.

[2020-07-17 17:22] #475 closed

[2020-07-17 17:25] zackkrida commented on #472
I think we could bump up to the next darkest gray in the design language and still maintain the spirit of the design.

[2020-07-17 17:33] zackkrida commented on #474
I would reccommend we change $color-dark-gray: https://github.com/creativecommons/vocabulary/blob/master/src/styles/color.scss#L11

from `rgb(120,120,120)` to something like `rgb(119, 118, 117)`. There's a barely perceptible difference but it results in a passing score to slightly de-saturate the color. Thoughts @panchovm?

[2020-07-17 17:40] zackkrida opened #519 "[META] Contrast Issues"
This is a parent issue to discuss color contrast issues regarding accessibility (a11y). Orange in particular is a very difficult color to reach proper AA contrast guidelines (in fact, a previous client of mine was sued under the ADA for issues with orange text on a white background).

Related issues are here:

- [ ] #454
- [x] #474
- [x] #472
- [ ] #473
- [x] #475
- [ ] #476

[2020-07-17 18:43] makkoncept commented on #482
@panchovm Got the invite :100: . Thanks!

[2020-07-17 20:26] zackkrida opened #520 "Implement Input variations from Design Language"
The Design Language specifies a number of input variations that we are missing:

- [x] Inputs with labels: https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=923%3A0 (fixed via: #532)
- [x] Inputs with names and descriptions: https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=7177%3A29 (fixed via: #522)
- [ ] Inputs with icons: https://www.figma.com/file

[2020-07-17 22:36] makkoncept commented on #465
@hugosolar Sounds good :+1:

[2020-07-18 03:19] #517 closed

[2020-07-18 06:23] rochisha0 commented on #520
Can I take up this issue @zackkrida?

[2020-07-20 09:13] Dhruvi16 opened #525 "Update responsive nature of Table Component."
## Problem

There is a need for an update in the responsive nature of the table component to make it more visible in smaller screens. As `table-container ` class from Bulma is not much of our use.
Referencing conversation - [Intern guide issue](https://github.com/creativecommons/creativecommons.github.io-source/pull/339#issuecomment-658979570)
## Implementation

- [x] I would be interested in impl

[2020-07-20 12:58] Dhruvi16 commented on #525
Hey @hugosolar. I saw the code used here - https://codepen.io/team/css-tricks/pen/wXgJww?editors=1100 and checked out other such code too. And the idea here is they are adding a column(that consists of header) in every row through CSS and I don't think we can do that because the header will be different for every table.

[2020-07-20 13:00] Dhruvi16 commented on #525
I found this as a more usable solution - https://codepen.io/brunodplima/pen/rzpaLO

[2020-07-20 13:00] Dhruvi16 commented on #525
Tagging @dhruvkb @panchovm for their views

[2020-07-20 13:04] zackkrida commented on #525
just chiming in, i tend to like tables on mobile that allow for horizontal scrolling and maybe have a 'fixed' header (it stays at the top even when there's more rows than the height of the screen).

this is a decent example functionality-wise: https://codesandbox.io/s/f71wj

[2020-07-20 14:10] panchovm commented on #525
I think the horizontal scroll adds complexity to the natural behavior of touch devices (vertical scroll). Besides, depending on device size, the visible area of the table might change too much.

[2020-07-20 14:13] panchovm commented on #472
For now, and after redesigning this page, we are not planning to use this component. I will not work on this until we need it again. What do you think?

[2020-07-20 14:19] Dhruvi16 commented on #525
Yes! more rows can be an issue if we agree to not have a `fixed` header. But the horizontal scroll is not working for the markdown table. So I am not sure how we solve this. And as @panchovm said horizontal scroll also adds complexity.

[2020-07-20 14:20] panchovm commented on #474
You are right @zackkrida. It is a slight visual change but a huge one for Figma components, but it worths.

I was trying options and we can use `rgb(118, 118, 118)`, `#767676` in hex code. I will update the color and all components will update automatically.

[2020-07-20 14:25] Dhruvi16 commented on #525
For more clarity, the problem was this -
Bulma already provides us with the horizontal scroll but before the scroll comes into picture content is squeezed too much like this -
![image](https://user-images.githubusercontent.com/34674462/87948849-dd179d80-cac2-11ea-95d2-3c6bea4cf272.png)

[2020-07-20 14:33] panchovm opened #527 "Update the hex code of DarkGray color"
## Problem
The `$color-dark-gray` does not reach the **AA level of accessibility.**

## Solution
We will change the hex code from `rgb(120, 120, 120)` to `rgb(118, 118, 118)`.

[2020-07-20 14:33] panchovm commented on #474
Done. I just created [this ticket](https://github.com/creativecommons/vocabulary/issues/527) for this.

[2020-07-20 14:46] zackkrida commented on #472
I will close this! We'lll see if the cards ever make a re-appearance and we will adjust them then.

[2020-07-20 14:46] #472 closed

[2020-07-20 14:47] AyanChoudhary commented on #472
Yes we can drop for now, since the page is going to be redesigned, so we will not need this component anymore

[2020-07-20 14:54] AyanChoudhary commented on #474
The change looks good, we can pass the accessibility requirements without changing the color scheme too much.

[2020-07-21 12:50] zackkrida opened #529 "Add heading classes (seperate styles from semantic meaning)"
## Problem
We need a way to apply the styles of our raw headings to different tags. Basically we need the following behavior:

[code]

There are cases where for a11y purposes we need to use a particular heading level, but with the styles of a different heading level.

## Description
Add classes to apply heading styles to different tags. Some possible APIs:

`.is-heading-x`, `.level-x`, `.is-x`

Bu

[2020-07-21 12:50] zackkrida commented on #529
@dhruvkb I would appreciate your thoughts here before someone works on this, thank you!

[2020-07-21 12:57] #504 closed

[2020-07-21 15:54] dhruvkb commented on #529
This makes sense to me. We can have classes that alter the appearance while retaining the semantics of HTML.

[2020-07-21 17:09] zackkrida commented on #529
@dhruvkb Do you have a preferred api? I might be leaning towards one that i didn't even mention above: `.heading-x`. Second choice would be `.hx`.

[2020-07-21 17:12] dhruvkb commented on #529
I favour overriding Bulma as much as possible, because they do a great job of building all the helper classes that we would have to do otherwise. Plus those overrides can also sync to other components, further reducing our maintenance burden. So for the 2 heading types (A and B), I'd recommend overriding the [variables for the title and subtitle](https://bulma.io/documentation/elements/title/#vari

[2020-07-22 04:24] #527 closed

[2020-07-22 13:45] makkoncept commented on #483
@dhruvkb Can I work on this?

[2020-07-22 18:08] kgodey commented on #483
@makkoncept go ahead

[2020-07-22 18:08] kgodey commented on #483
@makkoncept also, you don't need to ask permission for anything already assigned to you.

[2020-07-23 15:16] zackkrida commented on #512
@Audiosutras thank you for sharing this! We will try to get this in the next vocabulary release. I am curious, could you tell me which figma mockup is using these button styles? I'd like to take a look. Thank you 😸 !

[2020-07-23 15:28] zackkrida commented on #512
@panchovm, this "see the legal code" button style: https://www.figma.com/file/k2XxlRS0JpII6NXDd3K1zc/Mockup?node-id=395%3A128

Is this in the design language yet?

To me, it also looks very similar to the disabled style here: https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A222

I just want to clarify before I have someone build this—thank you for your insight!

[2020-07-23 17:27] panchovm commented on #512
It is pretty similar @zackkrida and the decision was because stakeholders did not want to highlight much that area. But it might be confusing if it looks similar to the disabled state. I will ask and back to this issue with a clear response.

[2020-07-23 19:31] panchovm commented on #512
Problem solved. Let's use the `SmallBorder` style indicated in the Design Library.

[2020-07-23 19:40] zackkrida commented on #512
Okay @Audiosutras you can use the `SmallBorder` style button in your project, and I will close this issue. Thanks @panchovm!

[2020-07-23 19:40] #512 closed

[2020-07-23 20:51] #465 closed

[2020-07-24 12:42] hugosolar commented on #525
I think what @zackkrida says it makes sense for big tables but this is a small table with overflow text.
@Dhruvi16 you're right, I didn't check the code @panchovm sent, but it's not applicable to the tables built in Lektor.

I can think in something like this: https://get.foundation/sites/docs/table.html#stacked-table

see how the table transform on small screens, they just hide the table header a

[2020-07-24 16:42] panchovm commented on #525
I like that it is clean, but hiding the header might be confusing when having big amounts of data or multiple pages.

[2020-07-24 20:07] makkoncept commented on #464
@kushaggarwal are you still working on this?

[2020-07-24 20:07] makkoncept commented on #466
@kushaggarwal are you still working on this?

[2020-07-25 05:48] kushaggarwal commented on #466
Yes @makkoncept was a bit occupied will soon update the following changes

[2020-07-25 05:49] kushaggarwal commented on #464
Yes @makkoncept will open a pull request soon

[2020-07-26 10:59] Dhruvi16 commented on #525
I agree with @panchovm on this. More rows can make it difficult for the user to access the desired data.

[2020-07-27 10:09] Dhruvi16 opened #541 "Unability to extend spacing tokens in the new version."
## Description

Spacing tokens cannot be extended by only importing spacing sass files. To import spacing tokens, users will need to import `vocabulary.scss` and to make that work installation of Bulma is necessary which is not ideal.

## Reproduction

1. Import spacing.scss and spacing_overrides.scss in the style files.
2. Extend any spacing taken
3. See error.

## Expectation

Spacing tokens sho

[2020-07-27 12:19] Dhruvi16 commented on #541
Tagging @hugosolar @dhruvkb @zackkrida for discussion.

[2020-07-27 14:24] rochisha0 commented on #529
Can I work on this issue, if nobody is working on this? @zackkrida

[2020-07-27 14:45] zackkrida commented on #529
@rochisha0 that would be amazing, yes! Please follow @Dhruvi16's approach of overriding bulma's `title` and `subltitle` classes to match our heading a and heading b styles: https://cc-vocabulary.netlify.app/?path=/docs/tokens-typography--figma

[2020-07-27 19:25] makkoncept commented on #471
@zackkrida @panchovm I am working on this issue. The "line tab" in the design library looks very similar to the existing tab style except for the thicker bottom border. Am I missing something else?

[2020-07-27 19:31] zackkrida commented on #471
@makkoncept please also see the length of the bottom border (aligns with the text, no extra left+right spacing, and various hover/active differences:

<img width="533" alt="Screen Shot 2020-07-27 at 3 28 38 PM" src="https://user-images.githubusercontent.com/6351754/88583366-25ccda80-d01e-11ea-8438-c3d270c951dd.png">

<img width="377" alt="Screen Shot 2020-07-27 at 3 30 00 PM" src="https://user-ima

[2020-07-27 20:05] panchovm commented on #471
As @zackkrida said, the extra left and right spacing are truly important. They give the alignment effect when is placed above/below paragraphs. Thank you both.

[2020-07-29 14:20] dhruvkb opened #545 "The homepage link is dead"
https://github.com/creativecommons/vocabulary/blob/96161ecca90bb71f72bf1cf0ca594b64531c756e/package.json#L55

This needs to be corrected in all three repos.

[2020-07-29 14:41] kgodey commented on #525
We discussed during sprint planning. @panchovm is working on updating the design library.

[2020-07-29 14:43] dhruvkb commented on #525
[Here](https://css-tricks.com/responsive-data-tables/) is a reasonable way to present tables on mobile devices using media queries.

[2020-07-29 14:53] zackkrida commented on #545
@Dhruvi16 fixed for this repo in #546
FYI the redirect we added was from `opensource.creativecommons.org/vocabulary => https://cc-vocabulary.netlify.app`

[2020-07-29 15:51] #478 closed

[2020-07-29 19:06] panchovm commented on #525
I was **exactly** thinking on that @dhruvkb. Thanks. I will update the Design Library

[2020-07-30 21:13] #369 closed

[2020-07-30 21:13] #471 closed

[2020-08-03 14:32] panchovm opened #555 "Color of button during hover interaction"
## Description
When buttons use `Forest Green` as background color, the background color during hover interaction must be `Brighter Forest Green`. The Design Library has that color in the **Interaction** section.

<img width="153" alt="Screen Shot 2020-08-03 at 10 29 32" src="https://user-images.githubusercontent.com/895819/89193735-6ecbe400-d574-11ea-8187-bfd5d099ff08.png">

[2020-08-03 15:05] panchovm opened #559 "Wrong spacing and text color in blog post"
## Description
Two problems were detected:
1. Wrong spacing between post title and the section where the author and date are displayed.
2. Wrong text color for the excerpt paragraph.

## Expectation
For each description
1. The space between sections indicated should be `8px`.
2. The text color for excerpt must be `Dark Slate Gray`.

## Screenshots
<img width="397" alt="Screen Shot 2020-08-03 at 11

[2020-08-03 19:10] panchovm opened #560 "The sidebar component has wrong styles"
## Description
### Page: Single entry (Contribution Guidelines)
The sidebar component has wrong styles. The line that divides pages should be full width regarding its container, and the top and bottom margins of the same line have 8px more than defined.

## Screenshots
<img width="360" alt="Screen Shot 2020-08-03 at 15 04 35" src="https://user-images.githubusercontent.com/895819/89218018-43a8bb00-

[2020-08-03 19:21] panchovm opened #561 "The styles of a table doesn't follow the Design Library"
## Description
### Page: Projects (Project list)
The table has problems with the following styles:
1. Color of the line that divides columns
2. Font size in content

## Expectation
The style should be, based on prior points:
1. The color line should be `Light Gray`.
2. The font size of content should follow the `body normal` style.

## Screenshots
<img width="1285" alt="Screen Shot 2020-08-03 at 1

[2020-08-03 19:37] #545 closed

[2020-08-04 12:42] kgodey commented on #555
@Dhruvi16 I transferred it to the Vocabulary repo.

[2020-08-04 17:14] panchovm commented on #525
[Here is](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=904%3A0&viewport=-851%2C93%2C0.5673556327819824) the responsive version of the table.

[2020-08-04 18:32] zackkrida commented on #541
Hi @Dhruvi16, are you trying to do something like this in a `.scss` file?

[code]

What is the error you are seeing?

[2020-08-04 19:26] #529 closed

[2020-08-05 12:22] Dhruvi16 commented on #541
Hey @zackkrida! The problem I faced specifically was that after importing the spacing files, I was not able to extend spacing classes which I was able to do in the earlier versions. For example -
[code]
This would throw an error.

[2020-08-05 12:23] Dhruvi16 commented on #541
For now, I have imported the vocabulary.scss file and installed Bulma to make the code run. But I think this is not the ideal way to do it, do you?

[2020-08-05 12:26] Dhruvi16 commented on #438
I agree with @dhruvkb here.

[2020-08-05 12:40] zackkrida commented on #541
Hm, in a little test project I put together, this is working:

[code]

Are you working in an `.scss` file? Can I see your code online anywhere?

[2020-08-05 12:43] Dhruvi16 commented on #541
Yes! I am working on an .scss file in the CCOS project itself. But as I had to change the code last time it is not online. I will try this now on my local and get back to you. It was not working for 2020.07.04 lemme check with the new version.

[2020-08-05 13:34] AyanChoudhary opened #562 "No on-focus indicator on buttons used for opening modals"
## Description

Some of the button components for opening modals don't have an on-focus indicator.

## Reproduction

1. Try navigating through the keyboard to the *report this content* or *safe browsing* buttons.
2. There is no indicator that the focus is on these buttons.

4. See error.

## Expectation

There should be a focus indicator, ideally a border around the element.

## Screenshots

![CC

[2020-08-05 13:40] AyanChoudhary opened #563 "Wrong alignment of on-focus indicator for filter tabs"
## Description

The on-focus indicator for the close button in filter-tabs is placed incorrectly.

## Reproduction

1. Use the keyboard to navigate to the filter tabs.
2. Press tab to focus on the x button
3. See error.

## Screenshots

![CC Search - Brave 05-08-2020 18_50_48](https://user-images.githubusercontent.com/45792768/89419711-5237d380-d74f-11ea-8cc9-7de55fbe2f03.png)

## Environment

 -

[2020-08-05 13:50] panchovm commented on #559
I reviewed it using the inspect tool and I found this:

## Implementation
<img width="475" alt="Screen Shot 2020-08-05 at 09 48 17" src="https://user-images.githubusercontent.com/895819/89420570-e4fd5180-d700-11ea-9075-d39329e85cbf.png">

## Mockup
As you can see in the image below, the **Auto Layout** has 8px distance.

<img width="1026" alt="Screen Shot 2020-08-05 at 09 48 06" src="https://user-

[2020-08-05 16:37] chidexebere commented on #493
Using Bulma's tag list will require a lot of overides to achieve what is specified in the design doc.
I used cc's font with little css.
Will make a PR shortly.

[2020-08-05 16:49] krysal commented on #493
@chidexebere great! Thank you so much for you help. I will unassign me to let you take this :)

[2020-08-05 17:51] palak199 opened #567 "typos and grammatical errors here and there"
## Description

I found some grammatical errors and typos
## Resolution

I have resolved many of these.

[2020-08-05 19:19] makkoncept commented on #466
@kushaggarwal Since this is a time-sensitive issue. I am going to take it over. These components are needed in the CC Search Extension.

[2020-08-06 14:58] #483 closed

[2020-08-07 01:13] #493 closed

[2020-08-07 02:20] zackkrida commented on #541
Hi @Dhruvi16 let me know if you run into this again! Could you send a screenshot of the exact error if you do? Thanks!

[2020-08-07 09:19] rochisha0 commented on #562
Can I take this issue? @AyanChoudhary

[2020-08-07 09:22] AyanChoudhary commented on #562
We might have to wait for @panchovm to decide how the indicator will look. Once yhat is figured out you can go ahead.

[2020-08-07 13:08] #466 closed

[2020-08-07 13:12] kushaggarwal commented on #466
Okay @makkoncept
Apology for not attending to this issue on time
Thank you

[2020-08-07 13:35] panchovm commented on #562
This ticket will need to wait until we have decided on the final version of brand colors/accessible version. Unfortunately, this change depends on brand/org decisions and it will take more time.

[2020-08-09 17:52] #567 closed

[2020-08-10 04:27] #358 closed

[2020-08-10 11:13] Dhruvi16 commented on #559
Yes but for space I have given upper padding to the author text and not the heading.

[2020-08-10 13:27] #370 closed

[2020-08-10 13:27] #555 closed

[2020-08-10 13:29] #559 closed

[2020-08-10 13:29] #560 closed

[2020-08-10 15:15] Dhruvi16 commented on #561
I checked the DL and I saw the background color of even rows is `Lighter gray`

[2020-08-10 15:39] panchovm commented on #561
You are right. My mistake. Sorry about that. I will update the ticket by deleting that point.

[2020-08-10 15:46] Dhruvi16 opened #579 "Incorrect background color of step in Table of progress."
## Description

Referencing first part of [issue](https://github.com/creativecommons/creativecommons.github.io-source/issues/400).

## Reproduction

1. Go [here](https://cc-vocabulary.netlify.app/?path=/story/navigation-table-of-progress--default-story)
2. Compare it with [DL](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=6990%3A133&viewport=83%2C311%2C0.4812216460704803

[2020-08-10 16:46] Dhruvi16 commented on #541
Okay, this works in the latest version.

[2020-08-10 16:46] #541 closed

[2020-08-12 09:10] chidexebere commented on #481
Because of the way the header was built, `transform: translate` is not working ( from what I tried) but I noticed that changing the "global-header-content" transition from `transition: all 0.4s ease-in` to `transition: all 1s ease` reduces the wobbliness.

[2020-08-12 11:58] #464 closed

[2020-08-12 11:59] zackkrida commented on #481
@chidexebere that's good for now then, feel free to make a pull request. thank you!

[2020-08-12 14:05] #561 closed

[2020-08-12 14:17] kgodey commented on #165
We're closing this issue because visual regression tests turned out to be flaky.

[2020-08-12 14:17] #165 closed

[2020-08-12 14:24] kgodey commented on #327
We're not doing snapshot tests, closing this.

[2020-08-12 14:24] #327 closed

[2020-08-12 14:25] kgodey commented on #329
We're not doing snapshot testing any more, closing this.

[2020-08-12 14:25] #329 closed

[2020-08-12 14:28] kgodey commented on #331
We're closing this for now since we're disabled snapshot tests.

[2020-08-12 14:28] #331 closed

[2020-08-12 14:30] kgodey commented on #344
All these are in Fonts already, except for Medium, which has its own issue and an open PR, so I'm closing this.

[2020-08-12 14:30] #344 closed

[2020-08-12 14:37] kgodey commented on #185
@dhruvkb will take a look to see if any components still need this.

[2020-08-12 14:37] kgodey commented on #241
This is not an issue any more.

[2020-08-12 14:37] #241 closed

[2020-08-12 14:42] kgodey commented on #438
@panchovm is exploring fixing this in the new header design

[2020-08-12 14:43] kgodey commented on #400
We are no longer going to be using this component, it will be removed from the Design Library.

[2020-08-12 14:43] #400 closed

[2020-08-12 14:44] kgodey commented on #406
We're going to be working on a style guide first before this is unblocked.

[2020-08-12 15:18] #579 closed

[2020-08-12 15:18] #484 closed

[2020-08-12 15:38] #374 closed

[2020-08-12 16:23] zackkrida commented on #513
Hi @Audiosutras,

We do not yet have a component in vocabulary for the type of padded cards with colored backgrounds like you are using for the license info here: https://github.com/creativecommons/cc-licenses/blob/develop/cc_licenses/templates/includes/use_of_licenses.html

For now I would recommend adding some custom css somewhere that overrides the default styles for `divider`:

[code]

[2020-08-12 17:00] kgodey commented on #513
@zackkrida @panchovm is the card in the Design Library and is there a ticket to add it to Vocabulary?

[2020-08-12 17:03] zackkrida commented on #513
@kgodey to my knowledge **no** and **no** but @panchovm can confirm

[2020-08-12 18:04] Audiosutras commented on #513
sounds good @zackkrida

[2020-08-12 18:06] zackkrida commented on #513
@Audiosutras great; if you need help just @ me in the `licenses` repo. Closing this for now. Will follow up with @panchovm regarding if we want to make this use case a component and create a new issue if necessary.

[2020-08-12 18:06] #513 closed

[2020-08-12 19:46] zackkrida opened #588 "CalVer and CDN compatibility"
Because npm automatically parses and rewrites our version numbers from `2020.08.4` to `2020.8.4` it makes it difficult for users to find the correct version on the cdn. If they try to go to a url like:

https://unpkg.com/@creativecommons/vocabulary@2020.08.4 (note the `08`)

it fails, although

https://unpkg.com/@creativecommons/vocabulary@2020.8.4

works fine

[2020-08-13 09:39] Dhruvi16 commented on #372
I guess these issues are fixed.

[2020-08-13 11:52] #372 closed

[2020-08-13 14:17] dhruvkb commented on #588
One zany thing about this is that it will work for three months every year.

[2020-08-13 14:43] zackkrida commented on #588
Yes, I think we should just revise our CalVar implementation to remove the leading zero from the month so its compatible with semver. I think we should do this for any JavaScript projects using CalVer for consistency.

[2020-08-13 14:52] #525 closed

[2020-08-13 15:04] kgodey commented on #588
Sounds good to me.

[2020-08-14 13:27] panchovm opened #589 "Update the donate button"
## Description
We need to update the donate button in all its versions by replacing the current `CC heart` icon with `CC heart filled icon`. The [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A222&viewport=-799%2C40%2C0.7119097113609314) has been updated with this change.

### Mockup
<img width="467" alt="Screen Shot 2020-08-14 at 09 26 27" src="https:

[2020-08-14 17:48] rochisha0 commented on #589
Can I work on this @panchovm ?

[2020-08-14 18:07] zackkrida commented on #589
You can do it @rochisha0!

[2020-08-18 03:20] Aakash2408 commented on #454
Hey @panchovm  @kgodey  @zackkrida Is this issue still open ?

[2020-08-18 03:21] Aakash2408 commented on #519
Hey @kgodey @zackkrida are these issues till open for changes?

[2020-08-18 14:51] kgodey commented on #454
This is currently blocked.

[2020-08-18 18:45] zackkrida commented on #411
This issue was in cc search, not vocabulary. The wrong button class was in use.

[2020-08-18 18:45] #411 closed

[2020-08-18 19:32] rochisha0 commented on #589
@zackkrida I think [this](https://github.com/creativecommons/fonts/issues/124) has to be fixed first?

[2020-08-18 19:38] zackkrida commented on #589
@rochisha0 Yes. I'll mark this as blocked until [#124](https://github.com/creativecommons/fonts/issues/124) is resolved.

[2020-08-20 10:05] dhruvkb commented on #589
@zackkrida this is ready for development. Please feel free to take this up or assign to @rochisha0 as you see fit.

[2020-08-20 15:51] Dhruvi16 commented on #438
I think this was just a temporary fix so we should not close this.

[2020-08-20 17:07] #371 closed

[2020-08-21 03:09] Aakash2408 opened #601 "Line break issue in `card` components"
@kgodey
## Description

    One of the featured proejct's content gets out  of the box when checked the responsiveness.

## Expectation
The content should remain inside the box on every dimensions.

## Screenshots
![Screenshot from 2020-08-21 02-56-46](https://user-images.githubusercontent.com/47134609/90847717-abf8ea00-e35a-11ea-8909-7380b0843cd1.png)
![Screenshot from 2020-08-21 02-56-35](https:

[2020-08-21 14:03] zackkrida opened #602 "Better docs for release process"
[will add info here]

[2020-08-21 16:54] panchovm opened #603 "Eliminate the "current" label of language in locale component"
## Description
We need to eliminate the `current` label when indicating the language in the locale component. We only need to show the `native` label of the language as the following mockup shows

<img width="497" alt="Screen Shot 2020-08-21 at 12 52 54" src="https://user-images.githubusercontent.com/895819/90915260-3e29de00-e3ad-11ea-97e7-1945a599f301.png">

The [Design Library](https://www.figma

[2020-08-24 12:44] dhruvkb commented on #603
@panchovm what do you mean by "eliminate the `current` label"? @rochisha0, your PR removes the Anglicised name of the languages but it does not seem to address this part.

[2020-08-24 14:31] zackkrida commented on #603
@Dhruvi16 "current" means "Anglicised" in this case. The original idea of showing the "Anglicised" version was to show whatever language was _currently active_ next to the native language name. Given this info @rochisha0's PR looks correct.

[2020-08-24 14:37] #603 closed

[2020-08-25 05:27] zackkrida opened #612 "[RFC] Move vocabulary packages to a monorepo"
# Monorepo RFC

We should move all vocabulary packages into a [monorepo](https://github.com/babel/babel/blob/main/doc/design/monorepo.md), facilitated by [lerna](https://lerna.js.org/). @dhruvkb pointed out several good reasons to do so:

- The three repos have a strong dependency chain so storing them together makes some implicit sense
- The relation between a 2020.8.1 release of Fonts and a 2020

[2020-08-25 05:52] dhruvkb commented on #612
The inverse, grouping by improvements regardless of package, seems better as not all packages receive improvements at the same time and generally the same improvements will be duplicated across Vocabulary and Vue Vocabulary.

[2020-08-25 06:11] zackkrida commented on #612
@dhruvkb That makes sense to me, but also leans me towards prefixing issues with the relevant package name, so it's clear what package was updated by what change in the release notes.

[2020-08-25 06:18] rochisha0 commented on #48
Can this issue now be addressed?

[2020-08-26 00:49] #481 closed

[2020-08-26 00:50] zackkrida commented on #589
Hi @rochisha0 you and/or @Aakash2408 can both start working on this if you like. I'll assign it to you both; thanks!

[2020-08-26 03:23] #520 closed

[2020-08-26 13:55] #589 closed

[2020-08-26 14:22] #48 closed

[2020-08-26 14:24] zackkrida commented on #562
Hover state should be an underline for these buttons, and added to vocabulary.

[2020-08-26 14:33] zackkrida opened #616 "Hover color for `info` buttons"
The blue info buttons do not have a hover color. We need to add a new color.

## Resolution

- [x] I would be interested in resolving this bug.

[2020-08-26 14:40] #588 closed

[2020-08-26 14:49] Aakash2408 commented on #601
@Dhruvi16  sorry I was not able to check the code past few days due to some tests.I will surely check the code today .Thanks for assigning it  to me.

[2020-08-26 14:54] Dhruvi16 opened #617 "[Fonts] Add RSS icon"
## Description

We need to add an RSS icon to the library. Reference [Conversation](https://github.com/creativecommons/creativecommons.github.io-source/issues/475#issuecomment-679148676)

## Implementation

- [x] I would be interested in implementing this feature.

[2020-08-26 14:54] Dhruvi16 commented on #617
@panchovm tagging you for an update in Figma.

[2020-08-26 14:55] zackkrida commented on #617
Thank you for remembering this @Dhruvi16 😃

[2020-08-26 14:56] Dhruvi16 commented on #617
Yeah! I completely forgot about this during the call.

[2020-08-26 16:20] panchovm commented on #617
Perfect. I just updated [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=173%2C181%2C0.5804159641265869). The icon is `RSS square` in [Fontawesome](https://fontawesome.com/icons/rss-square?style=solid).

[2020-08-26 17:02] Dhruvi16 commented on #617
Thanks! @panchovm

[2020-08-26 17:05] zackkrida opened #619 "Grid/Page Layout Documentation"
We should add documentation on the [grid pages](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=4325%3A1) of the design library.

This will help users lay out sites and pages in accordance with our grid. We can also mention the responsive breakpoints we use in Voabulary.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-08-26 17:23] panchovm opened #620 "Update the header component"
## Description
We updated the header component by eliminating the `big header` and `small header` and replacing them with one header per breakpoint. Since breakpoints are Bulma's breakpoints, the components we need to use are:
1. Fullhd breakpoint = Fullhd header
2. Widescreen breakpoint = Desktop header
3. Desktop breakpoint = Desktop header
4. Tablet breakpoint = Tablet header
5. Mobile breakpoi

[2020-08-26 20:47] panchovm commented on #619
On each breakpoint mockup, I put some basic indication about the grid. What else do you think we need there?

[2020-08-26 20:51] zackkrida commented on #619
@panchovm the design library is excellent and doesn't need anything; I'm talking about adding a section to the web site https://cc-vocabulary.netlify.app/ with some examples on the grid css classes, how to lay out a page, and things like that.

[2020-08-28 16:45] panchovm opened #621 "Update the shared image to show CC logo"
## Problem
CC sites are not consistent when showing the shared image on social media posts.

## Description
For this first version, we decided to show one single image with the CC logo for all CC sites. Here is attached the JPG file following the [Linkedin recommendations](https://www.linkedin.com/help/linkedin/answer/46687/making-your-website-shareable-on-linkedin?lang=en).

[cclogo-shared-image.

[2020-08-28 21:11] chidexebere commented on #620
I can take this/

[2020-08-30 02:48] ooyeraju commented on #621
can I take this?

[2020-08-30 11:24] dhruvkb commented on #621
@zackkrida can your card-image generator be incorporated into this task?

[2020-08-30 17:05] zackkrida commented on #621
@dhruvkb, Francisco's image is a temporary measure until that tool is complete. I asked him to make it

[2020-08-31 06:08] dhruvkb commented on #620
@panchovm the screenshot shows the 'Donate button' has a plain heart icon instead of the CC heart icon. Is that intentional or accidental?

[2020-08-31 06:11] dhruvkb commented on #562
Just wanted to say that on macOS, certain settings might affect how this behaviour works, further complicated by the fact that not all browsers honour this OS setting.
![Screenshot 2020-08-31 at 11 40 06 AM](https://user-images.githubusercontent.com/16580576/91688051-b9924900-eb7e-11ea-858e-8a70de141e4d.png)

[2020-08-31 13:52] panchovm commented on #620
Intentional. It is a button only for this component. I thought it wasn't necessarily a ticket to add it as a component. What do you think?

[2020-08-31 14:03] chidexebere commented on #620
Since we are merging the `big and small header` into one header, what happens to the `compact header`?. Should that be eliminated too?

[2020-08-31 16:00] zackkrida commented on #620
@chidexebere `compact header` is still used by the cc search browser extension; we should keep it.

[2020-09-01 20:22] chidexebere commented on #620
@panchovm,  @dhruvkb , this means a plain heart icon will be added to the font library. I will just go ahead and use the CC heart icon in its place, right ?

[2020-09-02 00:44] dhruvkb commented on #620
@chidexebere please open an issue in creativecommons/fonts about this and link it to this issue. In the meantime, till that issue is resolved, you can use the CC heart icon as a placeholder.

[2020-09-02 09:07] chidexebere opened #628 "[Fonts] New icon needed: Plain heart"
## Description

We need a `plain heart icon` to use in the donate button of the new vocabulary header component.  [See Design library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=8439%3A299)

![donate1](https://user-images.githubusercontent.com/25040059/91962170-12d7b500-ed04-11ea-9afa-8d1875d9d83f.png)

hover state
![donnate2](https://user-images.githubusercontent.com

[2020-09-02 09:37] chidexebere commented on #620
Okay will use CC heart icon until [#144](https://github.com/creativecommons/fonts/issues/144) is fixed

[2020-09-02 14:16] zackkrida opened #627 "Monorepo Documentation"
Now that the monorepo is live we should create a storybook page explaining the monorepo structure and the rationale behind it.

We should link to this page in the README here: [creativecommons/vocabulary#included-packages](https://github.com/creativecommons/vocabulary#included-packages)

[2020-09-02 16:31] panchovm commented on #620
Sorry! I forgot to create a ticket for adding the heart icon. I already added it to the Design Library and updated the header component.

[2020-09-02 18:03] nimishbongale commented on #627
Will work on this!

[2020-09-03 12:21] ooyeraju commented on #621
I couldn't find the file where I need to make these changes. Can someone please guide me?

[2020-09-05 13:40] dhruvkb opened #635 "Consistency of information in all package.json files"
The author information in the root `package.json` file
https://github.com/creativecommons/vocabulary/blob/b1a0ca701b02beedd9f556ccc6f250f4b1ac02fd/package.json#L5
is different from the same in the `package.json` files of all packages
https://github.com/creativecommons/vocabulary/blob/b1a0ca701b02beedd9f556ccc6f250f4b1ac02fd/packages/vocabulary/package.json#L5

Should change either one to the other

[2020-09-05 15:17] zackkrida commented on #635
I think the author being 'Creative Commons' is most appropriate. Will fix.

[2020-09-06 04:53] zackkrida commented on #621
@ooyeraju We need a meta tag for `og:image` set in [_this file_](packages/vocabulary/.storybook/manager-head.html).

[2020-09-06 13:00] sujal111 commented on #628
I am willing to work on this issue

[2020-09-06 15:05] #635 closed

[2020-09-07 13:48] panchovm opened #640 "[Fonts] New icon: bars"
## Description
We need to add a new icon for burger menu in the mobile header. The icon is called `bars` and is available on Fontawesome. [The Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=348%2C-52%2C1) has been updated with this change.

<img width="166" alt="Screen Shot 2020-09-07 at 10 48 03" src="https://user-images.githubusercontent

[2020-09-08 04:25] zackkrida opened #642 "[Vue] Header Component and general component style discussion"
*Edit: Please create a component for the header as outlined in Example A.*

## Background Info

Time to talk vue components! First up is the header. There are some changes to the header design coming soon, but it's one of our more complex components so I think it is a useful one to discuss first. The main thing I'd like to with this ticket is determine our _code style_ for vue, and the overall api

[2020-09-08 04:38] dhruvkb commented on #642
I love subcomponents, they're so much more composable and customisable, compared to props. Just say one day, you have to add an external link in the header and want an icon there. The benefits of subcomponents become instantly clear. One of my all time favourite UI libraries, [Semantic UI](https://react.semantic-ui.com) does this in their React components and it is so elegant.

As for the prefix,

[2020-09-08 05:33] #185 closed

[2020-09-08 12:55] kgodey commented on #628
go ahead @sujal111

[2020-09-08 17:56] #621 closed

[2020-09-09 14:09] kgodey commented on #612
@zackkrida can we close this?

[2020-09-09 14:10] kgodey commented on #438
Closing in favor of https://github.com/creativecommons/vocabulary/issues/620

[2020-09-09 14:10] #438 closed

[2020-09-09 14:14] kgodey commented on #640
This is related to the new header.

[2020-09-09 14:15] kgodey commented on #628
This is blocking the new header.

[2020-09-09 15:16] panchovm opened #643 "[Fonts] New icon: Envelope"
## Description
We need to add an icon for OpenGLAM project. The icon is called **envelope**, available in Fontawesome and the [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=45%2C129%2C0.8880000114440918).

<img width="197" alt="Screen Shot 2020-09-09 at 12 15 08" src="https://user-images.githubusercontent.com/895819/92617838-1e902200-f296

[2020-09-09 15:32] rahulkiller104 commented on #643
i can do this

[2020-09-09 15:35] #612 closed

[2020-09-09 15:45] rahulkiller104 commented on #643
assign me this task

[2020-09-09 16:00] rahulkiller104 commented on #643
Hi  @kgodey , I want to work on this issue. Please assign me this task. And also tell me where to add this envelope icon. Thank you

[2020-09-09 16:43] hugosolar commented on #643
Hey @rahulkiller104
Go ahead and take the issue. You mus follow this [instructions](https://cc-fonts.netlify.app/?path=/docs/fonts-contribution--page) but now we're moving all the vocabulary repos to a monorepo so you need to work on this repo now because the font repo will be deprecated soon

[2020-09-09 16:48] rahulkiller104 commented on #643
@hugosolar thanks

[2020-09-09 16:49] rahulkiller104 commented on #643
@hugosolar  ok

[2020-09-09 16:50] rahulkiller104 commented on #643
can you tell me in which file this issue is present now

[2020-09-09 16:53] Audiosutras opened #644 "RTL/LTR Language Support for BreadCrumb Component"
## Description

When viewing a `right to left` language, the breadcrumb [component's](https://cc-vocabulary.netlify.app/?path=/docs/navigation-breadcrumb--default-story) arrows should "flip" there direction. Currently the breadcrumb arrows only point right. When `right to left` language is being shown these arrows should point `left` .
## Reproduction

1. On a parent element of the breadcrumb comp

[2020-09-09 17:09] rahulkiller104 commented on #643
@hugosolar  can you explain to me a little bit more.Actually I am a beginner.

[2020-09-09 17:46] zackkrida commented on #644
Here's some more styles to fix the breadcrumbs. I will make this code part of vocabulary eventually and let you all know when. I'd suggest adding these styles to this project directly until then.

[code]

[2020-09-09 17:49] zackkrida opened #645 "[Meta] Right to Left (RTL) Language Support"
Vocabulary should have some built-in support for right to left languages. Luckily, these are easily targeted by the presence of a `dir="rtl"` attribute on the HTML element.

I would suggest we make an `@include rtl` scss mixin that wraps code in a `html[dir="rtl"] {}` block.

Note that we should make separate stories for RTL components—and these RTL examples should use an RTL language, not english

[2020-09-09 19:22] nimishbongale opened #646 "Update logos in individual package READMEs"
## Description
The logo appears to be broken in `packages/vocabulary/README.md`. Maybe the individual packages need their own logos? (just like fonts, sort of). Currently, the Vue-Vocabulary logo seems indistinguishable from Vocabulary's to me.

## Screenshots
![attachissue](https://user-images.githubusercontent.com/43414361/92642652-284d7000-f2fe-11ea-8ca0-8fbff82bab30.PNG)

## Resolution
- [x] I

[2020-09-09 19:33] nimishbongale commented on #627
@zackkrida

My initial thought was that the justification for the monorepo would be a part of the unified landing site, rather than just being a standalone `MONOREPO.md` within the repository. In either case, I have the document ready in our shared drive as a markdown file.

Do let me know if that's okay!

[2020-09-09 20:10] zackkrida commented on #646
@nimishbongale the file paths are probably incorrect. we should be able to keep the same logos we had but fix the paths.

[2020-09-09 20:12] zackkrida commented on #627
@nimishbongale I would love to do both. I'd like this section to be able to link down to a markdown file: https://github.com/creativecommons/vocabulary#included-packages

[2020-09-09 21:55] hugosolar commented on #643
@rahulkiller104 besides the documentation link I sent you what else do you need to know?
You can check the fonts files here: https://github.com/creativecommons/vocabulary/tree/master/packages/fonts

[2020-09-10 01:35] dhruvkb commented on #646
@nimishbongale it's safe to say that we are converging Vocabulary, Vue Vocabulary and Fonts into just "Vocabulary" so it makes sense for all three to share the same visual identity. In fact, we could, with some tweaks, just use the same `README.md` for all three, placed in the root directory.

[2020-09-10 03:22] nimishbongale commented on #646
Yes. One main `README.md` also makes perfect sense. Will sort this out.

[2020-09-10 03:32] zackkrida commented on #646
We'll want multiple readmes still, for the sake of npm.

[2020-09-10 04:40] dhruvkb commented on #646
@zackkrida our build process actually copies the `README.md` file into the `dist/` directory.
https://github.com/creativecommons/vocabulary/blob/d8ddde443e5dea7161259a5c68436e238151af50/packages/fonts/deploy.sh#L15
So a small tweak to the build script should allow us to unify them.

[2020-09-10 04:44] zackkrida commented on #646
@dhruvkb that is quite cool! I was referring to the fact that they're still different mom packages and therefore have their own install scripts, which I suppose we could also do dynamically with a unified readme

[2020-09-10 04:48] dhruvkb commented on #646
I'm a little unclear on what this means.

[2020-09-10 05:08] rahulkiller104 commented on #643
@hugosolar  can you tell me where to add this envelope icon?

[2020-09-10 05:50] dhruvkb commented on #627
Managing identical text in two separate documents is not good. @zackkrida couldn't the `README.md` contain the link to the page instead?

[2020-09-10 05:54] rahulkiller104 commented on #646
can you tell me how to run this in local

[2020-09-10 05:57] nimishbongale commented on #646
If you're looking to run the monorepo locally, you'd need to have node+npm installed. Then just run the following commands:

[code]

This will soon be updated in the documentation.

[2020-09-10 05:58] dhruvkb commented on #644
Just to add on to @zackkrida's excellent workaround, I would recommend using
[code]
instead of `rotate` as that would work for icons that have a vertical directionality (like `external-link`).

[2020-09-10 06:16] nimishbongale commented on #377
@dhruvkb If I understand the issue correctly, I think the unified landing site (once up and running) will automatically resolve this? We have quite user-friendly component level documentation on our netlify site as of now. Maybe we could add a `Demo` page which demonstrates how to add a simple vocabulary component to a dummy site, and the various ways of doing the same?

[2020-09-10 06:31] zackkrida commented on #646
@dhruvkb *npm packages. Weird typo!

[2020-09-10 06:33] dhruvkb commented on #646
😂 I understood 'npm'. Didn't understand 'install scripts'.

[2020-09-10 06:59] zackkrida commented on #646
I'm a mess today haha, ignore everything I've said. For some reason I was assuming we had like 'npm install package-name' in each readme 🤦‍♂️

[2020-09-10 07:07] nimishbongale commented on #646
So to conclude, I think we just need one main `README.md` file in the root directory, and then make changes to our build process to just copy this main `README.md` into the `/dist` folder.

@dhruvkb @zackkrida please confirm!

[2020-09-10 07:26] nimishbongale commented on #619
@zackkrida I thought of adding this as a `GRIDS` component itself to the `LAYOUT` elements.

Would love to hear your inputs!

[2020-09-10 13:19] iamabhi222 commented on #616
i think this issue has been resolved plz mark it closed.

[2020-09-10 15:08] zackkrida commented on #616
Hi @iamabhi222 (and cc-ing: @panchovm), see how the hover color is green in this button?

https://cc-vocabulary.netlify.app/?path=/story/elements-buttons--button-info

We're going to replace this soon with new, updated colors (blue, not green). That's what this issue is for!

[2020-09-10 15:27] iamabhi222 commented on #616
can i get the on hover hex-code for the color?

[2020-09-10 16:29] rahulkiller104 commented on #646
@nimishbongale can I add these steps in README.md ??

[2020-09-10 18:46] nimishbongale commented on #646
This might've been done in the [latest PR](https://github.com/creativecommons/vocabulary/pull/649).

[2020-09-10 19:09] zackkrida commented on #619
@nimishbongale I'd be open to some grid components too! That would be great.

[2020-09-10 19:25] zackkrida opened #650 "Donation Button border/alignment issue"
Our gold `.donate` buttons are missing a border, so they have alignment problems when next to other buttons. We need to replace no border with a border matching their background color.

Relates to the [new support us](https://github.com/creativecommons/cccatalog-frontend/pull/1207) page on CC Search.

## Resolution

- [x] I would be interested in resolving this bug.

[2020-09-10 19:32] zackkrida opened #652 "Implement release notes generation"
We should implement release note generation like on CC Search, but with using the new labels.

This is quick to implement, only two files are required in the root `.github/` directory:

- `.github/workflows/release-drafter.yml`: [Example](https://github.com/creativecommons/cccatalog-frontend/blob/develop/.github/workflows/release-drafter.yml)
- `.github/release-drafter.yml`: [Example](https://gith

[2020-09-10 19:46] zackkrida opened #653 "Switch dependabot PRs to monthly cycle"
We should change the interval of our dependabot PRs to `monthly`, to reduce the frequency with which we need to merge them.

---

## Problem

We should automatically merge our dependabot PRs with passing checks, using the [merge me](https://github.com/ridedott/merge-me-action) GitHub Action.

This will cut down considerably on developer time each sprint.

## Implementation

- [ ] I would be intere

[2020-09-10 19:59] #650 closed

[2020-09-10 20:30] zackkrida opened #655 "Implement prettier in the root for all packages"
## Problem

We would like to format all `.js`, `.vue`, `.css`, and `.md` files with [prettier](https://prettier.io), using the same config as CC Search. Note that this config will be part of CC's future [JS language guide](https://github.com/creativecommons/tech-support/issues/671)

[code]

Now that there are very few active PRs, we should create one that implements prettier and formats all files.

[2020-09-11 04:12] nimishbongale commented on #653
@zackkrida

Sometimes, it so happens with dependabot that it says `code coverage - unknown` in its PR. I'm not sure if this affects anything at all, but this deters me from auto-merging a dependabot PR (in my other personal repo's).

Although this may not be the orthodox way of solving this problem, I would suggest:

- **Changing the frequency of dependabot PR's** : Although it seems counter-intui

[2020-09-11 04:14] zackkrida commented on #653
@nimishbongale I'm a little skeptical of auto-merging too. The fact that our deployment process is manual makes me less skeptical, but I'll think about it more. I think your suggestions are good compromises.

[2020-09-11 23:19] heykc commented on #601
Wanted to check in and see if this still needs to be worked on. If so I can jump on this and knock it out ✌

[2020-09-12 08:44] tushar912 opened #659 "Add overflow Property to table Row"
## Description
Currently there is no overflow property in table .So if content is large it looks odd .

## Expectation
The content can be chopped or there could be a scroll option.

## Screenshots
![Firefox_Screenshot_2020-09-12T08-32-31 680Z](https://user-images.githubusercontent.com/59223034/92991510-d83efb00-f501-11ea-8aef-74e1a10978ca.png)

## Environment
This problem is in the Mobile-View

##

[2020-09-12 09:36] dhruvkb commented on #659
@Dhruvi16 I thought our tables responsively changed to cards at small widths?

[2020-09-12 13:31] nimishbongale opened #660 "Migration of @storybook/addon-knobs to @storybook/addon-controls"
## Description
Storybook recommends the usage of `addon-controls` over `addon-knobs`.
`addon-knobs` may soon be deprecated.

## Task
Migrate `@storybook/addon-knobs` to `@storybook/addon-controls` in all 3 packages.

## Additional context

- https://www.npmjs.com/package/@storybook/addon-controls

[2020-09-12 14:44] #646 closed

[2020-09-14 15:30] kgodey commented on #601
go ahead @heykc

[2020-09-14 21:27] zackkrida opened #667 "[Vue] `vue-vocabulary` 1.0 Release"
Our usage of CalVer aside, I'd like us to reach a metaphorical `1.0` with `vue-vocabulary`. To that aim, here is an outline of everything I'd like to accomplish _before_ that release:

## Housekeeping

- [x] Switch from storybook knobs to controls, implement for current components
- [ ] Compose with the main vocabulary storybook
- [x] Fix the netlify builds for the `vue-vocabulary` site (using net

[2020-09-15 00:39] heykc commented on #601
I didn't want to put this up for review just yet because I have a question. These changes that I made to the button.scss file *could* be made and the fix would be implemented, however, I do think there's some weight in suggesting that the language of the button elements themselves be revisited. The name of the slack channels are listed in the buttons themselves, but how necessary is this?

By remo

[2020-09-15 07:14] nimishbongale commented on #667
@zackkrida

I think the `sed` operation that @dhruvkb talked about here can be a part of this issue as well! I guess it needs to be done before we publish any of the packages to `npm`.

[2020-09-15 07:16] dhruvkb commented on #667
Yeah, it's a small change but will make the `npm` package `README.md` much better.

[2020-09-15 16:43] zackkrida commented on #601
I'm personally into the idea of hiding the channel names. But, I also think we need to think about handling multi-line buttons in vocabulary. Is that something we think we need to support? Especially considering i18n, where some translations are much longer than the original English.

I would say, yes! make your button pull request, but maybe we'll shorten the channel names too 😆

[2020-09-15 16:55] hugosolar commented on #601
I agree with @zackkrida we need to think in multi-line buttons and maybe for others elements too. Also, I'm in favor of hiding channel names 😄

[2020-09-15 17:20] heykc commented on #601
PR is ready for review! Wasn't sure if I should ask this question here or directly in the PR, but would it make sense to have a .multi-line class for buttons rather than only making these changes to .tag and .is-text classes? that way we can have this feature across all buttons depending on use case.

[2020-09-16 14:08] nimishbongale opened #670 "Add a CHANGELOG.md file"
## Problem

## Description

## Additional context

- https://changelog.md/
- https://keepachangelog.com/en/1.0.0/

## Implementation

- [x] I would be interested in implementing this feature.

[2020-09-16 14:21] dhruvkb commented on #670
@nimishbongale since we use [GitHub Releases](https://github.com/creativecommons/vocabulary/releases), we already have the changelog generated for us in a much more convenient form than a Markdown file. I really believe this is a non-issue.

[2020-09-16 14:57] nimishbongale commented on #670
@dhruvkb

Ahh alright. Although, can we also have it as a part of the repo somehow? It would really help imo, for someone who's new and wants to keep up with how the repo is progressing. I get that the github releases makes it very convenient, but I guess that's only when we have a release and not otherwise?

[2020-09-16 15:07] dhruvkb commented on #670
- Having a file means having to remember to update it, which adds a human dependency to the deployment.
- Since we have a very regular release schedule, the 'Releases' page will never be too far behind the present state of the repo so it's not a question of missing out on updates.
- As for updating outside of releases, many repos that do keep a `CHANGELOG.md` file (like [Vue.js](https://github.com

[2020-09-16 15:17] nimishbongale commented on #670
Right. All your points do make sense.
Maybe I can link to the "new releases" part of the github releases in our README? That should basically serve the purpose of a `CHANGELOG.md` without actually having it as a file.

[2020-09-16 15:37] dhruvkb commented on #670
Yes, we could do that. Let's wait and see some other opinions on this before deriving conclusions and starting work on this.

[2020-09-16 18:16] zackkrida commented on #670
I was going to suggest this, glad to see it here.

Additionally, if you want to follow the `CHANGELOG.md` convention for developers who are looking for it, we _could_ have `CHANGELOG.md` in the root with contents like:

[code]

[2020-09-16 18:19] #601 closed

[2020-09-16 18:26] nimishbongale commented on #670
I'm open to either of those options!

[2020-09-17 23:55] zackkrida opened #672 "Discussion: Conditional required status checks"
## Prior art

_Some existing discussions in this problem space:_

- https://github.community/t/feature-request-conditional-required-checks/16761
- https://github.community/t/github-actions-and-required-checks-in-a-monorepo-using-paths-to-limit-execution/16586/7

## The problem

Within GitHub actions there is the concept of `paths`. Actions can be triggered to run _only_ when specific files match t

[2020-09-17 23:57] #670 closed

[2020-09-17 23:58] zackkrida commented on #660
Noting that `packages/vocabulary` currently _has knobs enabled but doesn't use them_. We should either:

1. Install _and implement_ `controls`.
2. Remove knobs without implementing controls

[2020-09-18 00:05] zackkrida commented on #659
@dhruvkb they do, provided the table is wrapped in `<div class="responsive"></div>`.

I would propose a few things here:

1. We require all tables to have a `<div class="table-wrapper></div>`, which by default will:
    - have `overflow-x: scroll` on mobile/when the table exceeds 100% width
    - accepts an `.is-responsive` modifier which will switched to the current `<div class="responsive"></div

[2020-09-18 04:55] nimishbongale commented on #660
@zackkrida

For now, I guess it makes sense to remove `knobs` and then look into potential `controls` implementation?

[2020-09-18 04:58] zackkrida commented on #660
That makes sense to me. I did implement controls for vue-vocabulary in this pr by the way: https://github.com/creativecommons/vocabulary/pull/668

[2020-09-18 05:03] nimishbongale commented on #660
Ahh alright. I think I can implement it for vocabulary. Will give it a try over the weekend! Thanks @zackkrida!

[2020-09-18 05:05] zackkrida commented on #660
Good luck! My pr is probably a good reference. With vue, controls can automatically add controls based on props, so it will be a little more work for the plain html and css stuff.

[2020-09-18 16:20] kgodey commented on #672
I vote for (1). Required status checks are a good check for maintainers to have and reduces human error.

[2020-09-18 20:33] #652 closed

[2020-09-22 03:08] dhruvkb opened #679 "SVG icons pack for Fonts"
## Problem
Font icons are not great. SVG icons are.

## Description
Present situation: Icon packed into a font are not great.

- There are many icons now, all but a couple of which are just subsetted from Font Awesome
- News icons are added all the time and the process is not friendly for contributors
- Since every new icon is a font-rebuild, it takes time and kills the possibility of caching
- Th

[2020-09-22 03:29] dhruvkb commented on #679
This also resolves the problem of choosing arbitrary code points as seen in #657.

[2020-09-22 04:47] zackkrida commented on #679
Yes, the icon font is very tedious and lots of room for user error. I'm 100% for switching to svgs. Some thoughts on the actual implementation:

- We freeze the existing icon font as-is, and continue to support it for a few more months / versions. No new icons will be added. I suppose we could technically support it indefinitely so old projects do not break.
  - We add a deprecation notice to the

[2020-09-22 06:15] nimishbongale commented on #660
@dhruvkb @zackkrida

Found this in the documentation. Although, I don't think it concerns us much. Our use case for using knobs is simple enough to migrate over imo.

[2020-09-22 06:31] dhruvkb commented on #679
We can also make `@creativecommons/fonts` tree-shakeable so that only the icons that a particular site needs are present in the bundle.

[2020-09-22 15:48] #640 closed

[2020-09-22 16:06] nimishbongale commented on #660
@zackkrida @dhruvkb

**buttons.stories.mdx**
[code]
Just wanted to check that I'm not going completely astray here. Its a little different migrating to `addon-controls` in mdx. Is this the way I'm supposed to do it?

[2020-09-22 16:37] dhruvkb commented on #660
@nimishbongale this isn't directly related to your comment but could you make these changes in a branch? Would be
- easier to test locally
- easier to give feedback on
- easier to incorporate if all is well

[2020-09-22 16:42] #617 closed

[2020-09-22 16:42] #643 closed

[2020-09-22 17:09] nimishbongale commented on #660
Understood. I'll push to a branch and drop in a message!

[2020-09-22 21:00] zackkrida commented on #660
@nimishbongale I'd say go ahead and make a draft Pull Request 🦾

[2020-09-22 22:25] #660 closed

[2020-09-23 03:01] #474 closed

[2020-09-23 03:02] zackkrida commented on #474
Closing as this was fixed!

[2020-09-23 07:15] zackkrida commented on #620
Hi @chidexebere, I wanted to check in. Are you actively working on this? Totally okay if you're not anymore.

If you are, feel free to make a _draft pull request_ so people can give you feedback. Thanks!

[2020-09-23 07:35] chidexebere commented on #620
Hey @zackkrida , I am still working on this. Took a little break from it because of some issues blocking it. It is still being blocked by #628

[2020-09-23 14:41] zackkrida commented on #620
Cool @chidexebere! I'll get the heart icon in today.

[2020-09-23 15:08] #454 closed

[2020-09-23 15:08] #455 closed

[2020-09-23 15:08] #476 closed

[2020-09-23 15:08] #519 closed

[2020-09-23 16:47] zackkrida commented on #477
Closing in favor of https://github.com/creativecommons/cccatalog-frontend/issues/1221 on CC Search.

[2020-09-23 16:50] zackkrida commented on #473
Closing this issue, as it's a bit of a catch-22. If we _increase_ contrast of the placeholder, it will be mistaken by users for a _value_ instead of a placeholder, which is itself an accessibility concern. Our `aria` labels should be sufficient for screen-reader users.

I spot checked a couple of popular websites, and think this will be okay. GitHub's inputs, for example, use quite a light label t

[2020-09-23 16:50] #473 closed

[2020-09-23 16:51] #477 closed

[2020-09-24 02:51] riyasingh1004 commented on #377
Can I take this issue ? As I have understood from the earlier discussions we need a getting started guide for vocabulary, so I would suggest a "build your first app" kind of documentation for giving a head start to developers.

[2020-09-24 03:59] nimishbongale commented on #377
I'd suggest you to have a look our [website](https://cc-vocabulary.netlify.app) where we were going to go ahead and add a "Getting Started" page. This would cover all the steps to using a simple vocabulary component in a web app.

Just to give you a head start, you would need to code & add `gettingstarted.stories.mdx` in `packages/vocabulary/.storybook/meta`.

[2020-09-24 21:07] siggrid opened #687 "Dropdown in Header pattern can’t be accessed with a keyboard"
## Description
Keyboard users are not able to reach a list of links, hidden within dropdown, when tabbing through the page.
In code examples, provided for header in Docs, navbar-link(DROPDOWN), that is used as a title for dropdown and controls its visibility, doesn’t have an href or tabindex=”0” attributes. Therefore it is not inserted into the list of focusable elements. If navbar-link is not foc

[2020-09-24 21:19] siggrid commented on #687
I’ve come up with suggestions that could solve this issue.

1.  Use tabindex=”0” or href=”#” to insert navbar-link(DROPDOWN) into the tab order.

Pros:
- easy to implement;
- minor changes in code

Cons:
- since dropdown is shown, when navbar-link is focused, keyboard users must tab through all the links before they reach an actual target. It might be an ux issue, if the header contains several dr

[2020-09-25 02:10] dhruvkb commented on #653
If we had automated visual testing, merging automatically would not be much of a question. But even in manual deployment, it isn't feasible to individually verify that everything is working as before (and this infeasibility only increases with more components being added to the package).

[2020-09-25 02:18] zackkrida commented on #653
@dhruvkb Agreed. Like I said on the vocab call I think switching the interval to `monthly` like @nimishbongale is the best path forward.

[2020-09-25 14:29] rochisha0 commented on #679
I'd like to work on this issue. @dhruvkb , can you please elaborate on how this should be done?

[2020-09-25 22:06] zackkrida opened #689 "[Vue] Footer Component"
We need to implement the Footer component from Vocabulary into its Vue counterpart. The main benefits this component will provide are:

- Reduce code boilerplate
- Prevent users from modifying 'fixed' unchanging footer content (CC's logo, address, etc.)

I would like the initial implementation of the component to be _very limited_ in functionality. We can open up customization with additional sub-

[2020-09-25 22:06] zackkrida commented on #689
@dhruvkb please review the proposed component api here when you get a chance; thanks!

[2020-09-26 01:45] dhruvkb commented on #679
To start with, I'd recommend pulling in a copy of Font Awesome SVGs from their site and copying over the relevant glyphs into `fonts/src/svg`.

[2020-09-26 02:19] dhruvkb commented on #689
The proposal looks great, just one question though: why not name the prop [`is`](https://vuejs.org/v2/api/#is)?

[2020-09-26 02:25] zackkrida commented on #689
@dhruvkb oops! I want to use Vue's built-in `is`, I must have had Buefy's docs open when i wrote it. Edited.

[2020-09-26 19:38] megha070 commented on #689
@dhruvkb @zackkrida I would like to take this up.

[2020-09-26 19:40] zackkrida commented on #689
Go for it @megha070  😄

[2020-09-27 03:54] dhruvkb commented on #689
@nimishbongale you can track the development of the `Footer` component here.

[2020-09-27 04:52] nimishbongale commented on #689
@zackkrida @dhruvkb

I think a similar issue will need to be raised for 'Header' as well?

[2020-09-27 04:58] zackkrida commented on #689
@nimishbongale https://github.com/creativecommons/vocabulary/issues/642 (I'll clean it up a little this week)

[2020-09-28 18:29] zackkrida opened #695 "[Vue] Card Component"
The Card component(s) is one of the more complicated `vocabulary` components. It has been overloaded to do many different things, in many different styles. That said, I think we can make a flexible card component with reasonable options and lots of sub-components to determine the layout.

One problem with the current card components is that variations require different top-level classes. For examp

[2020-09-28 23:59] zackkrida opened #696 "`npm run fund` and `package.json` `funding:` key support"
NPM has added an `npm fund` command which will list a project's dependencies that can be supported financially. Here's an example of the command's output:

[code]

We can add a `funding` key to our `package.json` package files to be included in this command's output. Here's the code:

[code]

*Edit: This is blocked until we confirm a new Classy campaign url, which will replace the url parameter in

[2020-09-29 00:07] dhruvkb commented on #696
That's great! The more places that we list sponsorship links, the better!

Why is the issue locked to staff only? If you could list the types and links, anyone could work on it.

[2020-09-29 00:16] zackkrida commented on #696
@dhruvkb I want to discuss internally first just to make sure there's no reason we can't/shouldn't/don't want to do this. I doubt it, but anytime funding is involved I think it warrants a discussion.

[2020-09-29 19:27] kgodey commented on #696
This is a great idea. We should set up a separate campaign in Classy for this cc @annatuma

[2020-09-30 13:10] ricknjacky commented on #695
hey, @zackkrida i would like to take this issue up. Can I do it?

[2020-09-30 13:32] dhruvkb commented on #695
Hi @ricknjacky. This issue has the label `status: blocked` indicating that it is not ready for work. Please go through the [guidelines for contributing code](https://opensource.creativecommons.org/contributing-code/).

[2020-10-01 18:31] nimishbongale opened #699 "Implement dark mode for our storybooks"
## Description
We could have a dark mode for our 3 storybooks. There are many plug-ins available for the same.

- https://storybook.js.org/docs/react/configure/theming
- https://github.com/hipstersmoothie/storybook-dark-mode

(The above links are for reference sake only)

What is needed, perhaps, is a button which toggles state from light to dark thereby changing the theme of the entire storybook.

[2020-10-01 19:38] khushishikhu commented on #699
may i work on this issue

[2020-10-01 20:03] nimishbongale commented on #699
Go ahead @khushishikhu 😃

[2020-10-01 22:42] krysal opened #700 "Wrong hover state of links on footer"
## Description

The color of footer links turn green on hover state, when it should keep `dark-turquoise` color, according to the [pattern](https://cc-vocabulary.netlify.app/?path=/story/patterns-footer--default-story).

## Reproduction

1. Go to https://opensource.creativecommons.org/ or any derivated page.
2. Position the mouse over any menu link on footer.
3. See error.

## Expectation

Keep fo

[2020-10-02 17:09] rochisha0 opened #701 "Global header donate button should have 'cc-heart-filled' instead of 'cc-heart'"
## Description

Explore CC should have 'cc-heart-filled' instead of 'cc-heart'

## Reproduction

1. Go to ccsearch homepage
2. Click on Explore CC on the right.
3. See error.

## Expectation

## Screenshots

![image](https://user-images.githubusercontent.com/45593458/94950228-e7f9a000-04ff-11eb-8a4b-290bd868ef86.png)

## Resolution

- [x] I would be interested in resolving this bug.

[2020-10-02 17:41] #701 closed

[2020-10-02 17:47] #700 closed

[2020-10-02 17:53] khushishikhu commented on #699
@nimishbongale i am not getting how to setup this project locally

[2020-10-02 18:48] nimishbongale commented on #699
Are you running into errors? Please drop in a message on our Slack, I think it'll be easier to resolve.

But in your case,

You'll have to run

`npm install`
`npm run build`
`npm run storybook`

(all in the root)

[2020-10-04 12:15] khushishikhu commented on #699
@nimishbongale  i am getting these errors, when trying to setup locally
![Capture](https://user-images.githubusercontent.com/65439761/95015203-527a1f80-0669-11eb-9679-333f0c46e940.PNG)

[2020-10-04 13:26] nimishbongale commented on #699
I think it's a problem with your node version.

Can you run this command and let me know the version?

`node --version`

[2020-10-04 14:53] khushishikhu commented on #699
it's v12.18.3

[2020-10-04 17:14] nimishbongale commented on #699
@khushishikhu you let the `npm install` run completely before proceeding right? From what the error looks like, lerna hasn't gotten installed completely.

[2020-10-04 17:29] khushishikhu commented on #699
yes i did let it run completely but it still showing me those errors

[2020-10-04 18:22] nimishbongale commented on #699
@khushishikhu I'm able to run the repository on node version `12.18.3` just fine. There must be something else fishy going on.
![trial](https://user-images.githubusercontent.com/43414361/95023789-9c302d80-069c-11eb-8da3-086f8ab67deb.PNG)

[2020-10-04 18:37] khushishikhu commented on #699
@nimishbongale can i use `yarn`

[2020-10-04 18:57] zackkrida commented on #699
tried a fresh setup myself on `v12.18.3`. worked without issue:

[code]

[2020-10-04 19:41] nimishbongale commented on #699
You could I guess, but it really wouldn't make any difference imo.

[2020-10-05 18:12] #628 closed

[2020-10-06 03:17] akmadian commented on #689
I'd like to take this if @megha070 is no longer working on it

[2020-10-06 03:30] zackkrida commented on #689
@akmadian I'd say go for it, with the suggestion to get a draft PR up as early in the process as you're comfortable. If at some point we realize we have two active PRs we can get everyone working together from there.

[2020-10-06 05:46] akmadian commented on #689
RE: the possibility of wrapping named slots in a custom component, I'm not sure I see the benefit. It would create a simpler implementation for us and users to just use a slot or a named slot since it eliminates the dependency on the FooterMenuItem component, simplifies the syntax of implementing the component, and will simplify the documentation of the component.

Is there some reason for this th

[2020-10-06 05:56] zackkrida commented on #689
@akmadian I think we all agree the slot is the best path forward.

Only reason for a custom component would be code style, or other use cases not needed in this component.

[2020-10-06 06:28] akmadian commented on #653
I can take this on. Is this change's scope only PRs in vocabulary or all CC repos?

[2020-10-06 06:32] nimishbongale commented on #653
@akmadian

I think it was discussed particularly to do with vocabulary, as I'm not sure about the others (if they want the frequency to be changed ie.)

[2020-10-06 15:32] #653 closed

[2020-10-08 03:30] Deepak-du commented on #679
I'd like to work on this issue

[2020-10-09 06:00] #562 closed

[2020-10-09 20:25] nimishbongale opened #714 "PostStatistic docs does not show associated code"
## Description
The `PostStatistic` component does not show the associated code with it in the storybook docs.

## Expectation
It should show the relevant code, just like how the other components do.

## Screenshots

![PostStatistic](https://user-images.githubusercontent.com/43414361/95628326-6e335a80-0a9b-11eb-8d6e-1a6c0723e1bd.PNG)

## Resolution

- [x] I would be interested in resolving this bug

[2020-10-09 20:29] nimishbongale opened #715 "PostVideoHorizontal does not show video image"
## Description
The `PostVideoHorizontal` component does not show video image in the docs and on the canvas.

## Expectation
Should show image thumbnail for the video in the component.

## Screenshots

![HorizontalPost](https://user-images.githubusercontent.com/43414361/95628642-16e1ba00-0a9c-11eb-99e6-bed503863aa8.PNG)

## Resolution

- [x] I would be interested in resolving this bug.

[2020-10-09 20:34] chidexebere commented on #620
Hey @obulat, please I could not use the new heart icon. Wanted to use it on the donate button for the new header component, its not displaying

[2020-10-10 08:17] dhruvkb commented on #620
@chidexebere did you check the associated version of Fonts? The heart icon was added in the new release.

[2020-10-10 09:35] chidexebere commented on #620
@dhruvkb thanks, I did not know I needed to bump up the version

[2020-10-10 11:06] dhruvkb commented on #620
@chidexebere we are planning to switch Fonts into an SVG based library and with it we will change the hardcoded import into an `npm` dependency. That should prevent such bugs from occurring in the future.

[2020-10-10 17:32] neeraj-2 commented on #699
Can I work on it?

[2020-10-10 17:33] nimishbongale commented on #699
Go ahead @neeraj-2

[2020-10-10 17:45] neeraj-2 commented on #699
I have attached a screenshot for the dark mode, is this what we require to implement here with a button which can toggle for both light and dark theme? @nimishbongale, I just want to know by 3 storybooks you mentioned means:`Canvas, Design and Docs `right?

![image](https://user-images.githubusercontent.com/56186425/95661611-51a42a80-0b4e-11eb-9230-9d3e20cdc2c6.png)

[2020-10-10 17:51] nimishbongale commented on #699
Great work @neeraj-2 👍 By 3 storybooks, I mean the fonts, vocabulary and Vue-vocabulary. If you've run all 3, you should find them running on ports 8080, 8081 & 8082.

[2020-10-11 13:20] obulat commented on #699
Solving this issue will also help us improve the global header, because its background is black. I discovered that the yellow 'donate' button adds a box-shadow to indicate that it's focused, but this outline is not visible on the black background.

[2020-10-12 04:18] obulat opened #717 "Hidden global header links should not be focusable"
## Description

Hidden elements in the global header should not be focusable, i.e. the user should not be able to tab to the links in the global header. Currently, a user can select a link in the global header using keyboard 'tab' key even when it is collapsed.

## Reproduction

1. Click somewhere close to the 'donate' button in the footer.
2. Click 'tab'. In Chrome, you can see the link that is c

[2020-10-12 04:31] obulat opened #718 "Button focus indicator is invisible on black background"
## Description

The Vocabulary buttons have a box-shadow when they are focused. This looks consistent across browsers, and looks nice on the white background. However, on the black background, for example, in the global header or in the footer, the box-shadow becomes invisible. It is important for accessibility purposes for header/footer, as well as when we have a dark theme for Vocabulary.

We ne

[2020-10-12 06:55] dhruvkb commented on #717
I'm not sure if that should be the behaviour. For people with visual impairments, it might be useful to allow the links to be focused by simply pressing <kbd>Tab</kbd>.

[2020-10-12 09:05] obulat commented on #717
This is how I understand the behavior we want with keyboard navigation:

**When the header is collapsed:**
- You cannot navigate to the links inside the header by using keyboard 'tab'. When navigating using 'tab' you can only focus on the visible elements.
- You can focus on the 'Explore CC' button
- You can expand the header by clicking 'Enter' or 'Space' when 'Explore CC' is focused.

**When the

[2020-10-12 16:37] zackkrida commented on #717
^ @obulat That behavior sounds correct to me! We don't want elements not visible on screen to be focusable.

[2020-10-13 01:16] zackkrida commented on #699
FYI, this is petty straightforward to implement with https://github.com/hipstersmoothie/storybook-dark-mode, which adds a toggle to the menu to switch themes as well.

[2020-10-13 03:00] krysal opened #719 "Link and LinkBorder cards do not show the full code"
## Description

[Link card](https://cc-vocabulary.netlify.app/?path=/docs/layouts-cards--link) and [LinkBorder card](https://cc-vocabulary.netlify.app/?path=/docs/layouts-cards--link-border) components examples don't show the full code, so to replicate them the code has to be inspected.

## Reproduction

1. Go to the previous links and click "Show code" below the component preview.
2. Notice eleme

[2020-10-14 14:55] panchovm opened #725 "Add the responsive versions of footer"
## Description
We need to add the responsive versions of footer. The four breakpoints are in the [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=639%3A24&viewport=25%2C233%2C0.23559321463108063). Something important to notice: some text styles have changed. Please check all styles to ensure a correct implementation

### Screenshot
<img width="1239" alt="Sc

[2020-10-14 16:40] chidexebere commented on #725
will be glad to take this up

[2020-10-14 17:27] nimishbongale commented on #725
Go ahead @chidexebere! 😄

[2020-10-14 18:35] zackkrida opened #726 "[RFC] npm 7 considerations"
## Details

This week _npm_ published [v.7.0.0](https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/?utm_content=buffer68eee&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer), which contains some exciting new features relevant to vocabulary, namely...*workspaces!* 🎉

The entire [RFC for workspaces](https://github.com/npm/rfcs/blob/latest/implemented/0026-workspaces.md) is w

[2020-10-14 20:39] neeraj-2 commented on #726
Can I take it @zackkrida ?

[2020-10-14 21:04] obulat opened #727 "ARIA attributes for global header"
## Description

**'Explore CC'** button in the global header needs to have the following ARIA attributes to be accessible:
- 'aria-haspopup' set to `true` to show that it opens up a menu when clicked
- 'aria-expanded' set to `false` when the global header menu is collapsed, and to `true` when it is expanded.
- its role should be set by 'aria-role: button'. Or, even better for accessibility, it sho

[2020-10-14 21:10] obulat opened #728 "[META] Global header accessibility issue"
## Description
This is a parent issue for the accessibility problems in Global header:

Related issues are here:

- [x] #717 Hidden global header links should not be focusable
- [x] #718 Button focus indicator is invisible on black background
- [x] #727 ARIA attributes for global header
## Resolution

- [ ] I would be interested in resolving this bug.

[2020-10-14 21:14] panchovm opened #729 "Color update and adding new ones"
## Description
Based on previous discussions about brand colors, today we updated the [Design Library with the new palette](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A72&viewport=-819%2C-1377%2C1.0137752294540405). This change includes:
1. Update of brand colors.
2. New color set: Soft Brand.
3. Update of interaction colors.

### Brand colors
The following colors

[2020-10-15 02:44] rochisha0 commented on #729
I'd like to take this issue!

[2020-10-15 15:23] panchovm commented on #718
I would suggest using a white solid border for black background. It is the highest contrast, and I don't recall using white for links. Therefore, white will fit well with all remained colors.

Thanks for bringing this.

[2020-10-15 22:41] chidexebere commented on #725
Hello @panchovm , you did not add a hover state for the footer. An important hover state will be that of the `item1 - item6` since they now have a caret-down attached to them.

[2020-10-16 16:10] #726 closed

[2020-10-19 17:12] nimishbongale opened #735 "Document component capable of rendering markdown/code"
## Description
A markdown rendering component would be really handy to have. We would then be able to render any other code snippets as well. Writing docs would also become a much smoother experience.

## Alternatives

- https://github.com/miaolz123/vue-markdown
- https://developer.aliyun.com/mirror/npm/package/vue-markdown-loader

The community led versions may not have the option to customize th

[2020-10-19 17:19] nimishbongale opened #736 "Use sed to customise npm README's for packages"
## Problem
The README for npmjs is not customised for all the packages. They all copy the same README from the root.

## Description
The installation guidelines needs a bit of changing. This can be done using the `sed` command to change the relevant lines of code after copying the README from the root.

## Alternatives
Since the packages are separate on npmjs, they perhaps need their own slightly

[2020-10-19 20:16] panchovm opened #737 "Interaction colors update and feedback colors correction"
## Description
### Interaction colors
There was an error with the interaction colors after reviewing and updating the palettes (requested in ticket #729). Also, Vocabulary has a button using one of the blue versions but there was no interaction color.

In this update, all interaction colors have been updated:

1. BrighterTomato: `#E04D03`
2. DarkGold: `#F8CC2C`
3. BrighterForestGreen: `#008B00`
4.

[2020-10-19 20:22] panchovm commented on #729
Hey @rochisha0, there is a new color updated in this ticket (#737). The changed indicated there is something that I discussed with @zackkrida

[2020-10-20 08:09] rochisha0 commented on #737
Thanks, @panchovm for elaborating on this. I will update the PR asap.

[2020-10-20 10:00] Dhruvi16 commented on #687
I would like to take this up.
Thank you!

[2020-10-20 10:21] Dhruvi16 opened #738 "Need of a11y test for the components."
## Description

Storybook has an a11y addon that I think should be added as it eases the a11y tests for each component and would also disclose the a11y problems in a better manner.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-10-20 12:31] nimishbongale commented on #736
Sure, go ahead @neeraj-2 .

Just fyi, this is the part that needs changing:

[code]

[2020-10-20 13:08] neeraj-2 commented on #736
Thanks, @nimishbongale , Can u elaborate that what changes we need to put here like do we need to add some other commands or set some command as optional.

[2020-10-20 13:42] nimishbongale commented on #736
When we publish a package to npm, the main README gets copied everywhere. This code is the one that helps with the publishing to npm:

https://github.com/creativecommons/vocabulary/blob/bb9a1306b176283a253f4a9b9b0d35ec1170ee05/packages/vocabulary/deploy.sh#L15

After the copying is done, within each individual packages, we would need to modify the README accordingly. Currently the README states ho

[2020-10-20 13:43] rochisha0 commented on #737
@panchovm , where should I accommodate [this](https://github.com/creativecommons/vocabulary/blob/master/packages/vocabulary/src/styles/button.scss#L105) color. I did it in Interaction earlier as @zackkrida said.

[2020-10-20 16:35] Yashs911 commented on #718
@obulat I would like to work on this issue.

[2020-10-20 16:42] Yashs911 commented on #718
@panchovm can you please guide me on what all changes do I need to make and in which files.

[2020-10-20 19:59] panchovm commented on #737
For now let's use the `BrighterBlue` for `default` and `hover` interaction. There's an inconsistency with buttons that's beyond this change. Thanks for bringing it @rochisha0

[2020-10-20 20:10] panchovm commented on #725
True @chidexebere! That's my mistake. I need to delete the dropdown arrows, for this component there will not be that interaction. Regarding the `hover` state of remained elements, I updated the initial ticket with indications per element.

[2020-10-20 20:17] panchovm commented on #718
Hi @Yashs911 I will ping @obulat and @dhruvkb, they're in charge of addressing the changes.

[2020-10-20 20:40] obulat commented on #718
Go ahead, @Yashs911 !

Here is the line of css for footer buttons :
https://github.com/creativecommons/vocabulary/blob/bb9a1306b176283a253f4a9b9b0d35ec1170ee05/packages/vocabulary/src/styles/footer.scss#L74

You can add :focus style to it with white outline/border below the :hover style.

[2020-10-21 01:09] mcastre commented on #738
Hi @Dhruvi16 Id like to work on this issue!

[2020-10-21 02:10] zackkrida commented on #738
Hi @mcastre and @Dhruvi16 I think this is an excellent idea and I would love to see `@storybook/addon-a11y` used on the `packages/storybook` package initially, and we can implement on vue later.

[2020-10-21 02:45] mcastre commented on #738
@zackkrida yea storybook's a11y addon is pretty sweet! we use it in our enterprise design system at work. Can i be assigned to this issue before I begin?

[2020-10-21 03:35] mcastre commented on #738
@zackkrida @Dhruvi16 PR created. https://github.com/creativecommons/vocabulary/pull/740

[2020-10-21 05:39] #714 closed

[2020-10-21 05:39] #715 closed

[2020-10-21 05:53] #729 closed

[2020-10-21 05:53] #737 closed

[2020-10-22 17:36] #738 closed

[2020-10-22 17:37] #719 closed

[2020-10-23 15:36] annatuma commented on #696
Sorry for the delay. Here's the link: https://www.classy.org/give/308451/#!/donation/checkout

[2020-10-26 09:01] JipSterk commented on #735
i would like to try and implement this

[2020-10-26 09:23] nimishbongale commented on #735
Go ahead @JipSterk!

[2020-10-26 10:33] Yashs911 commented on #717
@obulat I would like to work on this issue.

[2020-10-26 19:30] zackkrida commented on #735
@JipSterk unrelated, but i love your github avatar

[2020-10-26 23:38] #696 closed

[2020-10-27 17:01] rochisha0 commented on #727
I'd like to take this issue!

[2020-10-27 18:36] Yashs911 commented on #717
@obulat Adding visibility: hidden; when the header is collapsed and visibility: visible; when the header is expanded solves the problem. Should I go ahead with this solution

[2020-11-01 05:07] obulat opened #753 "Card layout breaks on a long word"
## Description

When a card contains a string that is longer than card's width, the card will either hide the overflow, or break the layout

## Reproduction

1. Open cards in the vocabulary storybook.
2. Change the content: add a really long word or a URL without breaks.
4. See error.

## Expectation
The card content should wrap if it doesn't fit

## Screenshots

### From the storybook:
![Screensh

[2020-11-02 09:32] TomasVotruba commented on #672
Hi everyone, I have the same problem.
Is there a way to skip required checks if the `paths` was not met for those?

[2020-11-02 15:07] Yashs911 commented on #753
Hi @obulat I would like to work on this issue.

[2020-11-02 15:17] kgodey commented on #753
go ahead @Yashs911

[2020-11-02 17:58] zackkrida commented on #672
Hi @TomasVotruba there is still no great solution for this problem. Only hacks or compromises.

[2020-11-02 20:19] nimishbongale opened #757 "Have our visual tests running on chromatic"
## Problem
We overshoot our netlfy build limits every month nearly. Maybe we can have another service to take care of the same?

## Description
[https://chromatic.com](https://chromatic.com) is a service built by the storybook maintainers themselves and is designed to be used for storybooks. They offer a free open source plan & I think we should go ahead and use chromatic for our builds instead.

[2020-11-02 20:49] kgodey commented on #757
@nimishbongale do you mean storybook maintainers instead of vocabulary maintainers? AFAIK, we are not affiliated with chromatic.com :)

[2020-11-03 03:25] nimishbongale commented on #757
Whops, my bad 😄

Edited!

[2020-11-04 17:12] #687 closed

[2020-11-04 17:19] #753 closed

[2020-11-04 17:20] #717 closed

[2020-11-04 19:33] panchovm opened #759 "Add two new text styles"
## Description
We need to add two new text styles that are currently available in the [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=445%3A1053&viewport=90%2C60%2C0.23130376636981964). These are:
1. Heading 6B
2. Small caption

These styles were created for the mobile resolution where some text styles needed new versions in this resolution. The specs can

[2020-11-04 19:56] panchovm opened #760 "Add the mobile version of breadcrumb component"
## Description
We need to add the mobile version of breadcrumb component to be used in Certificate and Global Networks sites. The behavior showed in [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=7298%3A0&viewport=-1507%2C60%2C0.3642522096633911) is when the component extension is bigger than the display.

<img width="702" alt="Screen Shot 2020-11-04

[2020-11-04 22:58] zackkrida opened #761 "Component: Modal"
`vocabulary` and `vue-vocabulary` both need a Modal component. This should be based off of the modal in cc search, and for `vue-vocabulary` can be copied with nearly no code changes:

https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/components/AppModal.vue

<img width="1633" alt="Screen Shot 2020-11-04 at 12 55 55 PM" src="https://user-images.githubusercontent.com/6351754/981

[2020-11-05 00:20] #679 closed

[2020-11-05 00:30] zackkrida opened #762 "Consideration: Remove GitHub Packages builds"
Our Github Package build for vue-vocabulary currently errors out, which prompts the question: should we even continue to support the GitHub Package registry? Especially considering their ownership of npm.

We haven't had any downloads of the GitHub Package registry packages in the past 30 days. I'm open to hearing everyone's thoughts.

[2020-11-05 00:57] zackkrida opened #763 "Component: Radio Button"
We need to add the radio button styles as [defined in the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=603%3A3).

## Screenshot

<img width="265" alt="Screen Shot 2020-11-04 at 2 56 25 PM" src="https://user-images.githubusercontent.com/6351754/98184223-f1cf4400-1ead-11eb-8f75-d5afb76ae203.png">

[2020-11-05 01:46] zackkrida opened #764 "[vocabulary] Add new SVG docs"
The SVG icons page on https://cc-fonts.netlify.app needs to be added to https://cc-vocabulary.netlify.app/

[2020-11-05 02:31] zackkrida opened #765 "[fonts] Outline Circle Icon Bug"
## Screenshot

<img width="191" alt="Screen Shot 2020-11-04 at 3 47 32 PM" src="https://user-images.githubusercontent.com/6351754/98190453-24336e00-1ebb-11eb-93d6-9fb5c4754dd7.png">

The `circle-outline` icon has a black fill. Adding `fill: transparent` seems to fix but there might be a better solution.

[2020-11-05 06:18] nimishbongale commented on #627
The monorepo part is now included in the landing site. However, since it is a single page site, adding in too many technical details on the site would not be the wisest imo. Could we instead have the detailed explanation to _"Vocabulary, Monorepo?" section_ as a part of the storybook (or this repository) and I could link it here perhaps?

[2020-11-05 06:21] nimishbongale commented on #377
I'm going ahead with this approach as I believe it sort of makes sense to have the `getting started` pages as a part of the storybook (where other sections like installation, overview etc. exist)

[2020-11-05 10:14] obulat commented on #765
To optimize the size of the icons, I used both svgomg and manual changes. With this icon, I took the liberty and replaced an `<svg>` path that I got from Figma with a `<circle>` svg element.

Figma adds a `fill="none"` attribute to icons' `<svg>` elements when exporting them. (All icons from 'heroicons' icon set also have the fill set to none, by the way). I removed all of those attributes from th

[2020-11-05 15:36] zackkrida commented on #765
@obulat The fill fix you described sounds best! Thanks.

[2020-11-05 19:12] Audiosutras opened #769 "Add 'Tooltip' feature"
## Problem

The current site has this ![tooltip](https://user-images.githubusercontent.com/37882933/98284637-6c13cd00-1f6f-11eb-8e9a-bdd8bf9a1bac.png) functionality that is currently unsupported in vocabulary.

## Description

A `tooltip` component should be added to the vocabulary style guide for use in the `cc-licenses` project.

[2020-11-06 04:52] Dhruvi16 commented on #769
I would like to take this up!

[2020-11-06 06:28] obulat opened #770 "Remove fontawesome packages from Vue-Vocabulary"
## Problem

After the final integration of SVG icons and documentation about them is over, I believe we can remove the following packages from Vue Vocabulary:

[code]

Whenever we need an additional icon, we can always add its '.svg' source to the assets.

## Implementation

- [ ] I would be interested in implementing this feature.

[2020-11-06 07:24] patelaryan7751 commented on #764
hello @zackkrida  I want to work on this issue. Can you give some more information on this?

[2020-11-06 18:14] zackkrida commented on #764
Hi @patelaryan7751,

So, we have a story for the icon font in vocabulary:

url: https://cc-vocabulary.netlify.app/?path=/story/tokens-icons--figma
file: `packages/vocabulary/src/stories/icons.stories.mdx`

that story should be renamed to "Icon Font" instead of "Icons" and a new story should be added called "Icons", where the iframe uses this url: https://cc-fonts.netlify.app/?path=/docs/vocabulary

[2020-11-06 18:15] zackkrida commented on #769
@Dhruvi16 I think we just need some styling input from @panchovm before this is implemented.

[2020-11-07 00:48] patelaryan7751 commented on #764
Thanks @zackkrida for the reply i am working on this issue.

[2020-11-07 01:14] patelaryan7751 commented on #764
@zackkrida please add me as an assignee for this issue

[2020-11-07 13:58] RinkiyaKeDad commented on #763
Hey @zackkrida I'm new to Vocabulary development and would like to work on this. Is this still relevant or does the linked pull request (#767) fix this?

[2020-11-07 21:28] dhruvkb commented on #627
I agree that it would be wise to keep the technicalities to the Storybook.

[2020-11-08 05:52] Yashs911 commented on #770
@obulat I would like to work on this issue.
Do I just need to remove
    "@fortawesome/fontawesome-svg-core": "^1.2.30",
    "@fortawesome/free-brands-svg-icons": "^5.14.0",
    "@fortawesome/free-regular-svg-icons": "^5.14.0",
    "@fortawesome/free-solid-svg-icons": "^5.14.0",
    "@fortawesome/vue-fontawesome": "^2.0.0",

[2020-11-08 09:50] khushishikhu commented on #770
may i work on this?

[2020-11-08 09:51] khushishikhu commented on #760
may i work on this issue?

[2020-11-08 17:45] khushishikhu commented on #760
@panchovm @nimishbongale can you please define me a bit as what kind of work you want in modification of breadcrumb extension. It would be helpful for me to make that structure at figma

[2020-11-09 13:34] Yashs911 commented on #770
@obulat @zackkrida I was the first one to claim the issue

[2020-11-09 14:11] obulat commented on #770
I think that we still need to polish SVG icon integration (i.e. path of `fonts` imports, icon styles) into Vocabulary before removing fontawesome packages, so this issue should be blocked for now.

[2020-11-09 14:18] panchovm commented on #769
[Here is](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=9101%3A112&viewport=45%2C230%2C0.4611110985279083) the tooltip component. I added it a few weeks ago, but not sure if I created the ticket. Let me know @zackkrida @Dhruvi16 if that's sufficient.

[2020-11-09 15:24] zackkrida commented on #769
Thanks @panchovm !

[2020-11-09 18:01] nimishbongale commented on #602
@zackkrida

Maybe I can take this up? 🤔

Not sure if it lies within the scope of my GSoD internship or not, but yeah!

[2020-11-09 18:03] zackkrida commented on #769
@Dhruvi16 this is a high-priority feature (it's needed for the `cc-licenses` project), so if you start work on it please let me know and make a draft PR whenever you have some code ready. Thank you!

[2020-11-09 18:06] zackkrida commented on #602
@nimishbongale thank you, but I don't think you'l be needed for this. I'm going to write some small instructions in the CC internal wiki regarding releases 👍

[2020-11-09 18:07] nimishbongale commented on #602
Alright, sounds good! 👍

[2020-11-09 18:29] nimishbongale opened #776 "Add a new "install size" badge for vocabulary, fonts & vue-vocabulary"
## Description
Since new badges are always welcome, we could have some new ones to do with the current size of the packages as a part of `README.md`.

- https://packagephobia.com/result?p=@creativecommons/vocabulary
- https://packagephobia.com/result?p=@creativecommons/fonts
- https://packagephobia.com/result?p=@creativecommons/vue-vocabulary

## Implementation

- [ ] I would be interested in impl

[2020-11-09 18:36] neeraj-2 commented on #776
can I take it?

[2020-11-09 19:16] nimishbongale commented on #776
Go ahead @neeraj-2 👍

[2020-11-09 19:25] neeraj-2 commented on #776
As per my understanding, we want to add the three badges that u mentioned above here, in our Readme. So I think it would look great just above our included package component. What do u think @nimishbongale?

![image](https://user-images.githubusercontent.com/56186425/98586739-28162480-22ef-11eb-8c67-44403c05ec67.png)

[2020-11-09 19:42] nimishbongale commented on #776
You could put them where you think they sit the best. I don't have a strong opinion about this either.

[2020-11-10 14:05] Dhruvi16 commented on #769
@zackkrida I have made a draft PR. Still a lot of work to do but just letting you know.

[2020-11-10 15:48] neeraj-2 opened #780 "Installation Guidelines for npm@7 in Readme"
## Problem

Right now our `Readme` does not provide proper guidelines for the **npm@7** version.So we need to update the Readme for npm@7.

## Description

We need to just add the `"--legacy-peer-deps"` tag with all the commands for the setup already we have.For eg. For the command "npm install", we need to run "npm install --legacy-peer-deps" for **npm@7.** So we can update our `Readme` according

[2020-11-12 02:36] zackkrida opened #781 "Remove all use of `@extends` from Vocabulary"
## Description

Extends, particularly of bulma helper classes, can cause issues in scss projects using vocabulary. To build properly, these projects will need to import all bulma helpers themselves, which is concerning because it requires them to manage bulma on their own, which could result in them using a different version than vocabulary.

Here are all uses of `@extends` in Vocabulary: https://

[2020-11-12 02:51] neeraj-2 commented on #781
I would like to work on it.Can I?

[2020-11-12 13:23] obulat opened #782 "Automatically generate list of Vue components for library build"
## Problem

Currently, the `index.js` file used for building the `vue-vocabulary` library is generated based on the manually-created list of Vue components. This was not documented, and adding new components without editing the list of components caused build errors.

## Description

I propose automating the creation of the component list in the build script.

## Alternatives

We could just docume

[2020-11-12 13:58] nimishbongale commented on #780
I think you can just edit the installation step to something like

[code]

[2020-11-12 21:12] #763 closed

[2020-11-13 01:02] #776 closed

[2020-11-13 02:00] #780 closed

[2020-11-13 06:36] nimishbongale commented on #510
@dhruvkb @zackkrida

I think I'd need some more clarification on this issue. 🤔

Vocabulary now has the landing site. I'm in the process raising PR's for the docs revamp in our storybooks. Should the sprint planning workflows be a part our storybook as well?

[2020-11-13 06:54] zackkrida commented on #510
Hi @nimishbongale this is an older issue so don't worry about it yet. I'll talk with @kgodey to review her thoughts on this.

[2020-11-13 07:13] #620 closed

[2020-11-13 18:26] #761 closed

[2020-11-13 18:46] #627 closed

[2020-11-13 19:09] #727 closed

[2020-11-13 19:12] #765 closed

[2020-11-13 19:50] #764 closed

[2020-11-14 22:34] neeraj-2 commented on #781
Hey @zackkrida, can u tell me what would be the replacement of  `- @extends .body-normal`, - `@extends .caption`,- `@extends .b-header`,- `@extends .has-text-centered`.I implemented the rest changes but don't know about the replacement of these ones that I mentioned🤔.

[2020-11-14 22:39] zackkrida commented on #781
If you go in the typography.scss file you'll see variables that match those font size classes. For the centering of text you can just use text-align: center

[2020-11-16 00:12] zackkrida opened #786 "Rename `certificates` product to `certificate`"
## Problem

The 'certificates' product and web property has been singularized to `certificate`. We need to remove the last "s" from the svg icon, and rename the story.

We should **keep** a `certificates.svg` file for a while, so that no hotlinks to the icon break. It's not likely these exist (most of our logos are accessed from unpkg, and as long as they specify a version in the path the links wi

[2020-11-16 00:51] #377 closed

[2020-11-16 01:09] #736 closed

[2020-11-16 01:17] #770 closed

[2020-11-16 01:20] #782 closed

[2020-11-16 12:23] RinkiyaKeDad commented on #781
Hey @neeraj-2 are you still working on this? If yes, do you need some help? Can we collaborate on it?

[2020-11-16 12:26] neeraj-2 commented on #781
thanks @RinkiyaKeDad ,yes i am on it.I am almost done.But if I need help i will definitely discuss it with u.

[2020-11-16 17:57] #786 closed

[2020-11-16 20:46] #642 closed

[2020-11-17 05:29] obulat commented on #718
This issue is closed by #758

[2020-11-17 05:29] #718 closed

[2020-11-17 05:30] obulat commented on #728
All the linked issues have been solved!

[2020-11-17 05:30] #728 closed

[2020-11-17 06:35] obulat opened #790 "[Vue] Icon component"
## Problem

Vocabulary has moved away from icon fonts to using SVG icons. Now, to use a Vocabulary SVG icon in a Vue project, we need  an Icon component to apply the correct size and layout to it.

## Description

This component can also take care of importing the icon:
`<VIcon name="cc-heart" size="small">`
 It could also be just a wrapper for the icon component:
`<VIcon size="smaller"><CCHeart /

[2020-11-17 06:51] obulat opened #791 "[Vue] Input component"
## Description

Input component is essential for any form. The designs for inputs are in [Figma Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=10244%3A140).

Here is my proposed input API:

### Big input with label and description
![image](https://user-images.githubusercontent.com/15233243/99355547-53ec5980-285d-11eb-8e94-52a3d8756c24.png)
`<VInput v-model

[2020-11-17 07:28] zackkrida commented on #791
I like the api design for each component, I think you're good to start on this.

[2020-11-17 07:31] zackkrida commented on #790
I think we _always_ want the icons wrapped in the `<VIcon>`, so I prefer the first approach. The sizes you listed seem like a good starting point too.

Lastly, might as well have a `color` prop too.

[2020-11-17 13:04] shobhi1310 commented on #759
@panchovm Can I work on this issue ?

[2020-11-17 14:43] panchovm commented on #759
Wait for @dhruvkb or any other team member that is managing these tasks to assign you.

[2020-11-17 14:45] dhruvkb commented on #759
Sure @shobhi1310, you can work on this.

[2020-11-17 15:02] panchovm commented on #790
I checked all components that have icons and here are the sizes:
## Header
- Buttons: `10px`
- Main nav: `15px`

## Components
- Button and text link: `15px`
- Input: `20px` desktop; `15px` mobile
- (*) Select: `17px`
- Donate: `30px`

(*) We can discuss this one since I picked this size because it looks better in Figma, but might not be the same once developed.

[2020-11-20 06:04] zackkrida opened #795 "[vocabulary] New header locale style regression"
## Description

There is a font size issue and an icon issue in the locale chooser in the new header. This bug wasn't seen in development, so I'm surprised by it. Tagging @chidexebere for visibility; with your expertise of this component you might have a quick fix.

## Reproduction

1. Visit https://cc-vocabulary.netlify.app/?path=/story/patterns-header--default-story
2. Observe ugly locale choose

[2020-11-20 16:58] #795 closed

[2020-11-20 18:37] zackkrida opened #799 "New default button behavior breaks `.tag` buttons"
The new default tomato buttons break the `.tag` style buttons, which inherit the default coloring:

<img width="1116" alt="Screen Shot 2020-11-20 at 8 36 59 AM" src="https://user-images.githubusercontent.com/6351754/99837435-aa7ebf80-2b0b-11eb-8548-3f3d55e81577.png">

[2020-11-20 18:46] neeraj-2 commented on #799
Can I work on it?

[2020-11-20 18:48] #781 closed

[2020-11-21 05:53] nimishbongale commented on #735
@zackkrida @dhruvkb

Just to reiterate over this issue:

I did consider having this would be a great addition for us, but I now understand that the use cases would be rather limited. I've used [vue-markdown](https://github.com/miaolz123/vue-markdown), and I also overrode it with our own custom styles. It seems to work great!

Here's a screenshot:

![Screenshot 2020-11-21 112124](https://user-image

[2020-11-21 11:08] obulat opened #801 "[Vue] Impossible to use the library"
## Description

The way that vue vocabulary is built makes it impossible to use it in projects.

## Reproduction

1. Create a Vue app, or use an existing app.  I used [chooser](https://github.com/creativecommons/chooser).
2. Install Vue vocabulary in your Vue app: `npm install @creativecommons/vue-vocabulary`. The library installs without any errors.
3. Use a component from Vue vocabulary in your

[2020-11-22 04:58] shobhi1310 commented on #759
I have an issue, I have forked the repo and am setting it up locally, on running the `npm run watch` command, in the end I am being prompted this error and it exits the process.
![image](https://user-images.githubusercontent.com/42507632/99895088-4bf14700-2cad-11eb-90bb-f60066a0b782.png)

How to fix it?
I have already run `npm install`, so all dependencies should have been installed apart from tha

[2020-11-22 05:11] shobhi1310 commented on #759
I am new to open-source and I do not want to make mistakes and am learning constantly.
So, I just wanted to confirm. These need to be added right?
![image](https://user-images.githubusercontent.com/42507632/99895638-28c79700-2caf-11eb-90a7-2e9547e67203.png)
![image](https://user-images.githubusercontent.com/42507632/99895657-354bef80-2caf-11eb-82f4-6a4500854844.png)

[2020-11-22 06:28] nimishbongale commented on #759
@obulat just tagging you here

I think it points to the earlier issue we had, although I'm not entirely sure.

In the meantime, @shobhi1310, please try setting up only the `vocabulary` storybook this way:

[code]

[2020-11-22 06:46] obulat commented on #759
This error happens because of our new SVG icons, I will try to find a fix and a workaround later today.

[2020-11-22 10:36] obulat commented on #759
I see that you have an older version of vocabulary: 2020.11.1, and the current one is 2020.11.3. Could you please update and try again. If you have any more errors, don't hesitate to ask again!

[2020-11-22 14:36] neeraj-2 commented on #799
When I run it locally , the style is not broken, but when I opened the deployed application It seems it is broken, wondered why?

On localhost:

![image](https://user-images.githubusercontent.com/56186425/99906597-05780880-2cfe-11eb-8adb-f4580ebc0b85.png)

Deployed app:

![image](https://user-images.githubusercontent.com/56186425/99906579-ea0cfd80-2cfd-11eb-8df9-4273cb8e71b5.png)

[2020-11-22 15:43] dhruvkb opened #804 "Please forgive this issue, it will be gone in a bit"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2020-11-22 15:49] #804 closed

[2020-11-23 04:26] zackkrida commented on #799
The background isn't supposed to be orange, that's the 'broken' bit.

[2020-11-23 07:45] zackkrida opened #805 "[vocabulary] Header width, padding, and sizing issues"
## Description

Currently, the new header has an arbitrary padding value of `0 5.75rem 1.5rem 3.75rem` on desktop. Instead, the header should have two options:

- A default state using a bulma `.container`, so header width always matches the width of the other containers on the page. This is the style most of the sites use.
- An `.is-full` state, that makes the header 100% wide (as seen on http://

[2020-11-23 10:39] shobhi1310 commented on #759
I actually forked the repository and then further ran commands which were provided in setting up locally. FOr updating which command should I run ?

[2020-11-23 11:03] shobhi1310 commented on #759
@panchovm
sir, can you once again describe what needs to be done exactly?

Do I have to change the vocabulary page in the Typography section as shown here:
![image](https://user-images.githubusercontent.com/42507632/99955024-a96abe00-2da9-11eb-8a03-f2f3aef0f9ea.png)

[2020-11-23 14:43] panchovm commented on #759
@shobhi1310 we need to add the Heading 6B and small caption styles. If you see the `Docs` tab, all styles are displayed there.

[2020-11-24 07:06] nimishbongale opened #807 "Add a maintained with lerna badge to README.md"
## Description
We use [Lerna](https://lerna.js.org) to maintain our monorepo. Lerna being a wonderful tool that it is, we could probably have a badge saying `maintained with lerna` in our README.md.

## Additional context
- https://github.com/lerna/lerna#readme-badge

## Implementation

- [ ] I would be interested in implementing this feature.

[2020-11-24 07:21] RinkiyaKeDad commented on #807
Hey @nimishbongale! Can I work on this? Thanks.

[2020-11-25 03:24] zackkrida opened #810 "[vocabulary] Content improvements to Overview page"
The [Overview Vocabulary page](https://cc-vocabulary.netlify.app/?path=/story/vocabulary-overview--page) has some irrelevant and verbose information. Please remove the https://cc-vocabulary.netlify.app/?path=/story/vocabulary-overview--page#roles-and-responsibilities and https://cc-vocabulary.netlify.app/?path=/story/vocabulary-overview--page#workflows sections.

Additional improvements are welcom

[2020-11-25 03:25] nimishbongale commented on #810
On it!

[2020-11-25 03:30] #807 closed

[2020-11-27 13:32] nimishbongale commented on #810
@zackkrida

Should I remove it completely or would a simplified version do?

Issue #510 seems to point to the fact that it needs to be present?

[2020-11-27 15:16] zackkrida commented on #810
I think you could just remove the sections I mentioned, we don't have to delete the entire page.

[2020-11-28 22:08] tichnas commented on #759
@shobhi1310 Are you still working on this issue?

[2020-11-30 19:48] chidexebere commented on #805
Bulma's `.container` class has a `max-width of 960px` at @Desktop viewport.
An example with one of cc websites showing this problem, will better help solve this.

[2020-12-02 01:59] #510 closed

[2020-12-02 01:59] #735 closed

[2020-12-02 01:59] #810 closed

[2020-12-02 02:01] #801 closed

[2020-12-02 02:07] #799 closed

[2020-12-02 02:29] #619 closed

[2020-12-02 09:58] #699 closed

[2020-12-07 11:56] kshitij86 commented on #805
@zackkrida @kgodey I've worked with Bulma before, so I think I can contribute here. Can I get assigned to work on this issue?

[2020-12-07 19:06] dhruvkb commented on #762
All code is tech debt so it makes sense to delete code that doesn't add value.

[2020-12-07 20:08] zackkrida opened #823 "Remive i18n logic from vue-vocabulary"
## Description

Currently `vue-vocabulary` maintains its own `vue-18n` instance. This is undesired behavior. Most apps implementing internationalization will have their _own_ instance of an i18n plugin, or their own bespoke approach, and we don't want to force them to use our instance.

Instead, our components should be a naive as possible, and implement something like the following api:

[code]

[2020-12-07 20:09] zackkrida commented on #762
Fixed via #817.

[2020-12-07 20:09] #762 closed

[2020-12-08 10:04] dhruvkb commented on #805
Sure @kshitij86 feel free to take it up.

[2020-12-09 05:43] kshitij86 commented on #805
Sure, I'll look into this issue.

[2020-12-09 05:47] kshitij86 commented on #805
@dhruvkb I cam across the following error when trying to build `vocabulary`:

[2020-12-09 06:09] obulat commented on #805
@kshitij86 , did you try running `npm rebuild node-sass` to download the node-sass binding for your current environment?
There seem to be two problems: one with Node Sass and the other with PostCSS. We have added a PostCSS config to `packages\vocabulary` yesterday, it might be the reason for this message. But do run the `npm rebuild node-sass` first.

[2020-12-11 13:41] akshayprabhu200 commented on #759
Is this issue open to take? This would be my first commit, had a question if so - the way I understand this issue based on @dhruvkb's comment is that someone needs to update the `typography.scss` file to add the two tags based on specifications from Figma. Is this correct?

[2020-12-11 13:58] dhruvkb commented on #759
@akshayprabhu200 you can take it up. And yes, the goal is to have `typography.scss` provide the all the font styles needed for the new types of headings and captions.

[2020-12-12 04:18] akshayprabhu200 commented on #759
I have added two styles `h6` and `small-caption` to the `typography,scss` file. Also updated the docs to reflect the changes, do I need to write any tests for these (and if so where) and run any linter before a PR?

[2020-12-12 06:10] nimishbongale commented on #759
The linter we have configured is a husky pre-commit linter. It will run automatically when you start your commit. You can go ahead and raise a relevant PR linking to this issue for now (perhaps even a draft PR). The rest will be taken care of during a code review.

[2020-12-12 14:52] darkshredder opened #828 "Bug: Dropdown and Items not visible in storybook"
## Description
In Getting started page example and in Header Compact Dropdown and items are invisible and become visible only when hovered

## Expectation
Dropdown and items should be visible like in Header default

## Screenshots
Issue
![Screenshot from 2020-12-12 20-24-06](https://user-images.githubusercontent.com/52625656/101987118-2954bb80-3cb8-11eb-9f8c-14844321c97b.png)
![Screenshot from 202

[2020-12-14 07:02] obulat opened #832 "[Vue] Locale component"
To make the sites accessible to a wide multilingual audience, we need to have a way to select the language of the site. This is what the locale chooser component is for. There is currently a stub for locale chooser, which needs to be changed to actually allow the selection of a language from a dropdown.

## Additional context

[Locale component in the Storybook](https://cc-vocabulary.netlify.app/?

[2020-12-14 11:20] neeraj-2 opened #834 "Improvement in "PostVideoLarge" Canvas in our Cards section"
## Problem

The `PostVideoLarge` Canvas does not look good in mobile views.

## Reproduction

1. Either open the website on mobile or click on inspect element on desktop
2. Go to the `Sidebar` section and then click on the `Cards` section
3. Click on the `PostVideoLarge` tab and see the view in the `Canvas` section

## Alternatives

It would be better if we can improvise this `PostVideoLarge` canv

[2020-12-15 06:57] Cronus1007 commented on #769
@Dhruvi16  Just a thought why we are not using any tooltip library like `react-tooltip` for having a tooltip. And if you are currently not working on this issue so shall I take over this issue.

[2020-12-17 08:19] nimishbongale commented on #834
@neeraj-2

How do you plan on resolving this issue? All our large cards have a certain width, and are meant to be used on larger screens if I'm not mistaken.

[2020-12-17 11:42] nimishbongale opened #836 "Switch JSFiddle live code snippet to CodePen"
## Description
As discussed with @dhruvkb, The [live demo preview](https://cc-vocabulary.netlify.app/?path=/story/vocabulary-getting-started--page#step-5---logically-structuring-the-site) hosted on JSFiddle:

- Does not enable code editing
- Is not logically owned by CC (as it falls under my account on JSFiddle)
- Does not enable dynamic code reload/preview
- Is subject to breaking changes as the

[2021-01-01 12:40] Manas502 commented on #805
Can I take up the issue, if possible?

[2021-01-01 12:49] nimishbongale commented on #805
You can @Manas502. 👍

Just pinging @kshitij86; have you got to resolving this issue yet?

[2021-01-01 13:30] kshitij86 commented on #805
@nimishbongale Yes I have been working on it. @Manas502 do you want to work on this together?

[2021-01-01 13:47] Manas502 commented on #805
Sure I'd love to! How do we plan on proceeding?

[2021-01-01 14:08] kshitij86 commented on #805
@Manas502 Cool, do you wanna collaborate on Discord?

[2021-01-01 14:17] nimishbongale commented on #805
@kshitij86

Anything that needs be to discussed can be done here itself. While we don't necessarily say no to discussing and coding the solution out, but we would certainly like to keep everyone in the loop! It would also be easier for anyone who has a fair idea about the issue to put in their comments/suggestions.

[2021-01-01 14:32] kshitij86 commented on #805
@nimishbongale Okay. I just thought this isn't the best place for real time communication. But I get your point.

[2021-01-02 05:26] kshitij86 commented on #805
@Manas502 Have you got the project running successfully locally? I have been surfing the source code, but the while setting up I still seem to have this error:

[code]
@nimishbongale Any advice on how to fix this?

[2021-01-02 06:33] nimishbongale commented on #805
Can you let me know your node & npm version?  This may be an issue to do with npm v7, but I'm not entirely certain.

[2021-01-02 06:49] kshitij86 commented on #805
`node - v12.0.0`
`npm - 7.3.0`

[2021-01-02 12:01] Manas502 commented on #805
@kshitij86 Did it run for you locally?

[2021-01-02 12:35] kshitij86 commented on #805
@Manas502 No, did it for you?

[2021-01-02 15:20] nimishbongale commented on #805
@kshitij86 @Manas502

Can confirm the setup is broken for the npm+node versions you mention. I tried setting the repo up [on this repl](https://repl.it/@nimishbongale/vocabulary) using node `v12.0.0` and npm `v7.3.0`. It gave the same error that you pointed out earlier.

While I'm pondering over a potential fix, I would recommend stepping down your npm version to `6.x.x`. It's not exactly an _idea

[2021-01-02 17:11] kshitij86 commented on #805
@nimishbongale Downgrading the `npm` version worked. Will get started on the issue now.

[2021-01-03 05:02] Manas502 commented on #805
@kshitij86 can you let me know your npm and node versions now? Need to confirm if I'm on the same.

[2021-01-03 05:05] kshitij86 commented on #805
@Manas502 The `npm` that ships with `node v10.23.0`

[2021-01-04 05:27] kshitij86 commented on #805
@nimishbongale The header styling needs to be fixed for the `global-header` right?

[2021-01-04 13:07] mmkm10 commented on #759
is this issue still open to take? If yes, then could I take it?

[2021-01-04 13:16] akshayprabhu200 commented on #759
@mmkm10 I've submitted a PR, waiting for review

[2021-01-06 08:08] manpoffc commented on #834
Hi, I wanted to ask if you want to change the PostVideoLarge dynamically when the size of the window changes?

[2021-01-06 09:08] neeraj-2 commented on #834
I was thinking of something we can do, like if we have a mobile screen then we can show a minimized view of the same canvas. Not pretty sure about this. Any suggestion @nimishbongale?

[2021-01-06 14:20] nimishbongale commented on #834
I'm not entirely certain what needs to be done here.

The width isn't exactly _fixed_ for the component. It occupies a little less than the width of the viewport. We already have viewports configured to view the components at different resolutions. Here's how:

![issue](https://user-images.githubusercontent.com/43414361/103777847-7af22b00-5057-11eb-9fa7-7d2234aa5f14.png)

While the component _may

[2021-01-06 15:31] panchovm opened #841 "Update of tomato color"
## Problem
The current `$color-tomato` rgb(209, 69, 0) does not meet the AA level when is over a `$color-lighter-gray` background.

## Description
We need to adjust the `$color-tomato` by changing it to hex `#C74200` or rgb(199, 66, 0) to meet the AA level.

⚠️  This change is truly important since it is related to accessibility and affects all CC sites.

[2021-01-06 15:33] panchovm commented on #841
Thanks @obulat for bringing this.

[2021-01-06 15:52] Mansibisen commented on #841
@obulat  can I work on this issue ?

[2021-01-06 15:56] obulat commented on #841
Sure, go ahead,  @Mansibisen

[2021-01-06 19:06] Mansibisen commented on #841
@obulat  I created the PR request , please check it , and guide me if something is wrong

[2021-01-07 14:26] Mansibisen commented on #655
@zackkrida  I will like to take over this issue.

[2021-01-07 14:53] nimishbongale commented on #655
I suggest we wait until zack's return before we proceed. I'm sure he has something in his mind to do with this issue!

You can however go ahead and raise a relevant PR if you wish.

[2021-01-07 15:38] Mansibisen commented on #655
@nimishbongale Okay , then I will wait for  Zack . So that things are cleared and then I will start my work .

[2021-01-09 03:30] emmanuelhashy commented on #791
Hi, @zackkrida I'd like to work on this issue if it's still available.

[2021-01-09 05:21] obulat commented on #791
@emmanuelhashy , I have started the work on this issue and am waiting for a review, so it's not available. You can look at other available issues in the [issue finder](https://opensource.creativecommons.org/contributing-code/issue-finder/)

[2021-01-13 11:07] obulat opened #843 "Text button are not mobile friendly due to height"
## Description

Currently, the text button doesn't have padding, so its height becomes too small for tapping and fails mobile-friendliness criteria in Chrome Lighthouse.

## Reproduction

1. Stack several text buttons vertically.
2. Run generate Lighthouse report in Google Chrome.
3. Look at the 'Tap targets are not sized properly' section.
4. See error.

## Expectation

Tap targets should have a

[2021-01-13 15:50] Mansibisen commented on #655
@zackkrida  What is your status sir , How should I proceed with the PR ? Or I can go ahead with my Ideas?

[2021-01-13 16:00] dhruvkb commented on #655
@Mansibisen it might be a while until Zack is back from vacation. Please feel free to work on a different issue in the meantime.

[2021-01-13 16:03] Mansibisen commented on #655
@dhruvkb  Okay , Thanks a lot .

[2021-01-15 02:16] #841 closed

[2021-01-18 17:03] abhijeetk698 commented on #759
is this issue open ?? I want to work on it.

[2021-01-18 17:40] obulat commented on #759
No, @abhijeetk698 , the PR that will close this issue has been submitted.

[2021-01-19 17:16] joshxyzhimself commented on #805
on: `PostCSS received undefined instead of CSS string`

in my experience if you are using webpack, and trying to use `sass-loader`, also add `sass`

[code]

[code]

[2021-01-23 01:39] #823 closed

[2021-01-23 01:45] #836 closed

[2021-01-23 01:46] #843 closed

[2021-01-23 07:26] Cronus1007 commented on #805
@zackkrida Let me take over this issue.

[2021-01-23 07:27] zackkrida commented on #805
@Cronus1007 sure

[2021-01-23 10:21] kshitij86 commented on #805
@zackkrida Looks like the header has changed a bit and I can't find exactly where this occurs. Is this a component issue with `vocabulary`?

[2021-01-27 18:49] Cronus1007 commented on #667
@zackkrida For dark mode we can make a toggle switch type thing and I will like to implement this issue.

[2021-01-27 18:51] zackkrida commented on #667
Hi @Cronus1007  the dark mode issue in the PR was about adding dark mode to our storybooks for vocabulary, not to vocabulary itself. That would need to be styled and designed by our designer before you could code it.

[2021-01-27 18:53] Cronus1007 commented on #616
@zackkrida  Since the color transition has been made. So I will like to implement this issue.

[2021-01-27 18:58] Cronus1007 commented on #667
@zackkrida  Okk.

[2021-01-28 07:59] ashu54-aseem commented on #689
Is this issue still up for grabs?

If so, I'd be interested in helping with it.

[2021-01-28 15:07] nimishbongale commented on #689
Sure! Go for it @ashu54-aseem!

[2021-01-30 14:26] Cronus1007 commented on #616
@nimishbongale I think that this link https://cc-vocabulary.netlify.app/?path=/story/elements-buttons--button-info reflects that stories are missing for the `info-button`.

[2021-01-31 14:01] testMrinal commented on #769
Is this issue still open, I want to work on this issue?

[2021-02-01 14:35] nimishbongale commented on #616
The info button existed as a separate story then @Cronus1007. Now the info button is a part of this story [https://cc-vocabulary.netlify.app/?path=/story/elements-buttons--button-feedback-types](https://cc-vocabulary.netlify.app/?path=/story/elements-buttons--button-feedback-types).

[2021-02-01 15:12] Cronus1007 commented on #616
@nimishbongale I think that this issue has been fixed since button with the class `.is-info` button already have a hover-color. So we can close this issue.

[2021-02-05 17:01] Cronus1007 commented on #828
@dhruvkb Shall I implement this issue?

[2021-02-05 17:06] nimishbongale commented on #828
@Cronus1007

This issue already has a PR linked to it (#829) so you may want to head over there and give in your inputs,

Thank you!

[2021-02-05 17:16] hitesh-coder commented on #659
@zackkrida  i would like to work on this issue. can i proceed?

[2021-02-05 17:30] nimishbongale commented on #659
Go ahead @hitesh-coder!

[2021-02-05 17:56] Cronus1007 commented on #330
@dhruvkb Shall I implement this one?

[2021-02-05 18:33] dhruvkb commented on #330
@Cronus1007 we are currently not enabling visual regression testing on our apps because of large dev overhead.

[2021-02-05 18:36] Cronus1007 commented on #330
@dhruvkb  So shall I close this PR #847

[2021-02-08 04:28] neelesh17 commented on #689
Hey @nimishbongale is this issue still open?

[2021-02-08 04:47] nimishbongale commented on #689
@neelesh17

Thanks for your interest! I think the issue already has a PR(#710) linked to it, so you may head over to it and give in your suggestions.

[2021-02-08 15:13] hitesh-coder commented on #659
@zackkrida @nimishbongale as i see here the text already wrap and doesn't overflow out of box in mobile view also. If there is something i am missing out please help me.

[2021-02-17 05:16] CapriciousRebel commented on #689
hello @nimishbongale is this issue still open, I am interested in working on it. Kindly let me know

[2021-02-17 05:23] CapriciousRebel commented on #659
Hello @nimishbongale is this issue still open, I don't see any PRs on it yet and no activity since last 9 days as well, please let me know if I can try working on it

[2021-02-17 07:35] ashu54-aseem commented on #689
@nimishbongale I have raised the aforementioned PR for this issue. Please review it, and if there are any suggestions, please let me know.

[2021-02-17 07:50] abhi14nexu opened #849 "Copy to clipboard button should copy links individually for UNPKG and JSDELIVR block"
## Problem
Copy button in `UNPKG` and `JSDELIVR` block copies both the latest URL link and v2020.11.1 version link at the same time, so it would be really nice if we can copy each link individually.
## Description
![Screenshot from 2021-02-17 13-08-30](https://user-images.githubusercontent.com/56607134/108172086-63ac6000-7122-11eb-9967-e1ccb5db9ea2.png)

## Implementation

- [x] I would be interes

[2021-02-17 14:49] nimishbongale commented on #659
@hitesh-coder @CapriciousRebel

I think the issue here isn't really pertaining to whether the text in our tables is overflowing or not, but more so to do with the specific use case of CC Search, where the additional style causes causes stuff to break.

Just tagging @zackkrida here to make sure this is a non-issue.

[2021-02-17 14:53] nimishbongale commented on #689
@CapriciousRebel @ashu54-aseem

There's already a fairly complete PR(#710) linked to this issue. It will be merged shortly!

[2021-02-17 15:06] nimishbongale commented on #849
@abhi14nexu seems like a fair point, how do you aim to resolve it?

Oh and also, can you update the jsdeliver "specific version" link to something more recent? Say v2020.11.1?

Thanks!

[2021-02-17 16:58] abhi14nexu commented on #849
sure

[2021-02-17 16:59] abhi14nexu commented on #849
Sure!

[2021-02-17 17:08] abhi14nexu commented on #849
@nimishbongale I was thinking of putting the v2020.11.1 link and the latest version link in different blocks.
####  Something like in the picture below:-

![Screenshot from 2021-02-17 22-23-32](https://user-images.githubusercontent.com/56607134/108239401-e0196000-716f-11eb-8b08-1c3b5c1d3911.png)

Please let me know if this approach is correct and any suggestion/improvement is appreciated.
Thanks!

[2021-02-18 03:44] nimishbongale commented on #849
It's a good start! 👍

If you are splitting it into multiple blocks, then could you perhaps do away with the comments in each of them? Also is there a better way to title the blocks (and not repeat JSDELIVR & UNPKG in the heading everywhere)?

[2021-02-18 09:01] abhi14nexu commented on #849
@nimishbongale We can put both the version links inside JSDELIVR & UNPKG block, like in the picture shown below.
This will avoid repetition.

![Screenshot from 2021-02-18 14-21-56](https://user-images.githubusercontent.com/56607134/108331821-282e9600-71f5-11eb-9303-66bb261f3a1b.png)

Do let me know if any other improvements are required? :)

[2021-02-18 13:11] nimishbongale commented on #849
Thanks for this @abhi14nexu!

This looks good, please raise a relevant PR linking to this issue.

[2021-02-18 18:10] abhi14nexu commented on #849
@nimishbongale I have raised the PR as #851 .Do let me know if it requires any changes or improvements.

[2021-02-18 20:26] frappelatte28 commented on #834
Hi @nimishbongale I am not able to reproduce it in my local environment, can you tell me why so?
I would like to work on this issue.

[2021-02-19 02:29] nimishbongale commented on #834
@frappelatte28

Are you not able to run the whole repository or this specific page? Tagging @zackkrida here to confirm if this is a non-issue?

[2021-02-19 06:47] frappelatte28 commented on #834
@nimishbongale I am able to see some of the features only have I done any mistake in the installation process?
![CC](https://user-images.githubusercontent.com/64382399/108468212-62a73a00-72ac-11eb-8d78-4fa23e7cc1e1.png)

[2021-02-19 07:36] nimishbongale commented on #834
@frappelatte28 PostVideoLarge is a part of Vocabulary and not Vue Vocabulary; so you may have to open `localhost:8081` instead.

[2021-02-19 08:30] frappelatte28 commented on #834
oh okay! my bad.

[2021-02-19 19:09] zackkrida commented on #834
Hi all, the large post video component should stack on mobile, like so:

<img width="462" alt="2021-02-19-147" src="https://user-images.githubusercontent.com/6351754/108550110-31217500-7292-11eb-8ab9-634c8c6f7b6d.png">

If anyone wants to work on this, just let me know! Thanks.

[2021-02-19 21:58] zackkrida commented on #659
Hi @CapriciousRebel @hitesh-coder this is primarily a bug in cc search, which has some custom css, but it _also_ prompted an idea to make sure our table supports two styles on mobile.

We should change the `<div class="responsive"></div>` table wrapper to be a `<div class="table-wrapper"></div>` class with an `is-responsive` modifier class. The `is-responsive` class will have the current responsiv

[2021-02-20 00:23] CapriciousRebel commented on #659
@zackkrida I'd like to give it a shot.

[2021-02-20 04:09] frappelatte28 commented on #834
Yes, @zackkrida I do want to work on this issue. And can we use "srcset" for the same? we can provide browser 3 different URLs and width of each image via srcset attribute then the brower will be able to choose the best image based on the actual viewport width.
[Here](https://blog.imagekit.io/how-to-deliver-responsive-images-to-browsers-across-multiple-devices-30cfae17390e) is the blog for the sam

[2021-02-21 15:10] darkshredder opened #852 "Bug: Height of docs story in Patterns > Locale > Modal is small and Modal is getting hidden"
## Description
Height of docs story in Patterns > Locale > Modal is small and the Modal is getting hidden

## Reproduction
1. Go to the following url [Modal](https://cc-vocabulary.netlify.app/?path=/docs/patterns-modal--modal)
2.You can see modal is not clearly shown in docs page

## Expectation
![Screenshot from 2021-02-21 20-38-09](https://user-images.githubusercontent.com/52625656/108629201-dc9

[2021-02-21 15:19] Yashs911 commented on #852
@darkshredder On Chrome:
![image](https://user-images.githubusercontent.com/64412143/108629512-3c3cf680-7486-11eb-9e78-f69975a8959a.png)

[2021-02-21 15:25] nimishbongale commented on #852
@darkshredder interesting observation! On firefox, it does seem to act funny. Any idea how you'd go about solving this?

[2021-02-21 15:29] darkshredder commented on #852
I tried on chrome its showing as in @Yashs911 image now. With the changes done by me now its showing as per expectation image posted by me on both chrome and firefox.
Chrome Now
![Screenshot from 2021-02-21 20-58-43](https://user-images.githubusercontent.com/52625656/108629808-aa35ed80-7487-11eb-88cc-1e1bf1f87230.png)
Firefox Now
![Screenshot from 2021-02-21 20-38-09](https://user-images.githubuse